<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="{{ eccube_config.locale }}">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="eccube-csrf-token" content="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
    <meta name="format-detection" content="telephone=no">

    <title>{% if app.request.locale == "ja" %}マリタイム{% else %}{{ BaseInfo.shop_name }}{% endif %} ｜ {{'日本製のCBDオイルとCBDウォーター'|trans}}{% if subtitle is defined and subtitle is not empty %} ｜ {{ subtitle }}{% elseif title is defined and title is not empty %} ｜ {{ title }}{% endif %}</title>

    {% if Page.author is not empty %}
        <meta name="author" content="{{ Page.author }}">
    {% endif %}
    {% if Page.description is not empty %}
        <meta name="description" content="{{ Page.description }}">
    {% endif %}
    {% if Page.keyword is not empty %}
        <meta name="keywords" content="{{ Page.keyword }}">
    {% endif %}
    {% if Page.meta_robots is not empty %}
        <meta name="robots" content="{{ Page.meta_robots }}">
    {% endif %}
    {% if Page.meta_tags is not empty %}
        {{ include(template_from_string(Page.meta_tags)) }}
    {% endif %}

    {% if app.request.pathInfo == '/blog' %}
        <meta name="author" content="MARITIME">
        <meta name="description" content="{{ 'マリタイムのCBD逸品を紹介するブログ'|trans }}">
        <meta name="keywords" content="{{ 'ブログ,CBDブログ,CBDオイル ブログ,CBDウォーター ブログ,CBDとは,CBD記事'|trans }}">
    {% endif %}
    {% if app.request.pathInfo == '/news' %}
        <meta name="author" content="MARITIME">
        <meta name="description" content="{{ 'マリタイムのCBD逸品をお知らせ'|trans }}">
        <meta name="keywords" content="{{ 'お知らせ,新着情報,CBDお知らせ,CBDオイル お知らせ,CBDウォーター お知らせ,CBDとは,CBD記事,CBD新着情報'|trans }}">
    {% endif %}

    {#  <link rel="manifest" href="{{ asset('assets/manifest.json') }}">  #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon_package/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon_package/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon_package/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon_package/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="{{ asset('assets/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />

    {#<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
    <style>
        /* inline Material Icons loading */
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
        }
        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }
    </style>
    {#<link href="//fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700&display=swap" rel="stylesheet">#}

    {# コメントアウト インライン記述用
    <link rel="stylesheet" href="{{ asset('assets/css/common_style.min.css') }}">
    <style></style>
     #}

    <link rel="stylesheet" href="{{ asset('assets/css/default_style.min.css') }}" media="all">

    {% block stylesheet %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/bundle.js') }}" defer></script>
    <script src="{{ asset('assets/js/main.js') }}" defer></script>
    <script src="{{ asset('assets/js/parallax.js-1.5.0/parallax.min.js', 'user_data') }}"></script>

    <script>
        $(function() {
            $.ajaxSetup({
                'headers': {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content')
                }
            });
        });
    </script>

    {# Layout: HEAD #}
    {% if Layout.Head %}
        {{ include('block.twig', {'Blocks': Layout.Head}) }}
    {% endif %}

    {# プラグイン用styleseetやmetatagなど #}
    {% if plugin_assets is defined %}{{ include('@admin/snippet.twig', { snippets: plugin_assets }) }}{% endif %}

    {% if app.request.pathinfo == '/shopping/complete' %}
        <!-- Google Tag Manager : MARITIME.SHOURAI.IO : Ecommerce tag -->
        <script>
            var transaction_products = [];
            {% for OrderItem in Order.MergedProductOrderItems %}
            transaction_products.push({
                sku: '{{ OrderItem.product_code ? OrderItem.product_code : OrderItem.product.id }}',
                name: '{{ OrderItem.product_name }}',
                price: '{{ OrderItem.price_inc_tax }}',
                quantity: '{{ OrderItem.quantity }}',
            });
            {% endfor %}
            window.dataLayer = window.dataLayer || []
            dataLayer.push({
                'transactionId': '{{ Order.order_no ? Order.order_no : Order.id }}',
                'transactionTotal': {{ Order.payment_total }},
                'transactionProducts': transaction_products
            });
        </script>
    {% endif %}

{#
    <!-- Hotjar Tracking -->
    <script rel=preconnect>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1872965,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
#}
    <!-- Google Tag Manager : MARITIME.SHOURAI.IO -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WQVWR3K');</script>
    <!-- End Google Tag Manager -->
{#
    <!-- Global site tag (ytag.js) - Yahoo Analytics -->
    <script rel=preconnect async src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
        window.yjDataLayer = window.yjDataLayer || [];
        function ytag() { yjDataLayer.push(arguments); }
        ytag({"type":"ycl_cookie"});
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '366123081847865');
        fbq('track', 'PageView');
    </script>
    <noscript><img loading=lazy height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=366123081847865&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
#}
</head>
<body id="page_{{ app.request.get('_route') }}" class="{{ body_class|default('other_page') }}">
<div class="c-loading" id="js-loading"></div>
<!-- Google Tag Manager : MARITIME.SHOURAI.IO (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQVWR3K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{# Layout: BODY_AFTER #}
{% if Layout.BodyAfter %}
    {{ include('block.twig', {'Blocks': Layout.BodyAfter}) }}
{% endif %}

<div class="l-layout">

    {# Layout: HEADER #}
    {% if Layout.Header %}
        <header class="l-header header">
            {{ include('block.twig', {'Blocks': Layout.Header}) }}
        </header>
    {% endif %}

    <main class="l-main">

        {# Layout: CONTENTS_TOP #}
        {% if Layout.ContentsTop %}
            <div class="l-main__top">
                {{ include('block.twig', {'Blocks': Layout.ContentsTop}) }}
            </div>
        {% endif %}

        <div class="l-main__middle">

            {# Layout: SIDE_LEFT #}
            {% if Layout.SideLeft %}
                <div class="l-main__middle-sub">
                    {{ include('block.twig', {'Blocks': Layout.SideLeft}) }}
                </div>
            {% endif %}

            {% set layoutRoleMain = 'l-main__middle-main' %}
            {% if Layout.ColumnNum == 2 %}
                {% set layoutRoleMain = 'l-main__middle-main is-2column' %}
            {% elseif Layout.ColumnNum == 3 %}
                {% set layoutRoleMain = 'l-main__middle-main is-3column' %}
            {% endif %}

            <div class="{{ layoutRoleMain }}">
                {# Layout: MAIN_TOP #}
                {% if Layout.MainTop %}
                    <div class="l-main__middle-main-top">
                        {{ include('block.twig', {'Blocks': Layout.MainTop}) }}
                    </div>
                {% endif %}

                {# MAIN AREA #}
                {% block main %}{% endblock %}

                {# Layout: MAIN_Bottom #}
                {% if Layout.MainBottom %}
                    <div class="l-main__middle-main-bottom">
                        {{ include('block.twig', {'Blocks': Layout.MainBottom}) }}
                    </div>
                {% endif %}
            </div>

            {# Layout: SIDE_RIGHT #}
            {% if Layout.SideRight %}
                <div class="l-main__middle-sub">
                    {{ include('block.twig', {'Blocks': Layout.SideRight}) }}
                </div>
            {% endif %}

        </div>

        {# Layout: CONTENTS_BOTTOM #}
        {% if Layout.ContentsBottom %}
            <div class="l-main__bottom">
                {{ include('block.twig', {'Blocks': Layout.ContentsBottom}) }}
            </div>
        {% endif %}

    </main>

    {# Layout: CONTENTS_FOOTER #}
    {% if Layout.Footer %}
        <footer class="l-footer">

            {{ include('block.twig', {'Blocks': Layout.Footer}) }}

            <div class="c-scroll-to-top is-hide" id="js-scroll-to-top">
                <div class="c-scroll-to-top__contents">
                    <span class="c-scroll-to-top__text">{{'トップへもどる'|trans}}</span>
                </div>
            </div>

        </footer>
    {% endif %}

</div>

{% if Layout.Drawer %}
    {# Layout: DRAWER #}
    <div class="l-drawer mobile-menu">

        <div class="l-drawer__overlay" id="js-drawer__overlay"></div>
        <aside class="l-drawer__body" id="js-drawer__body">
            <div class="l-drawer__heading">
                <p class="l-drawer__logo">
                    <a class="l-drawer__logo-link" href="{{ url('homepage') }}">
                        <img loading=lazy src="{{ asset('assets/img/maritime-logo-gold-leaf.png', 'user_data') }}" alt="{{ 'MARITIMEのロゴ'|trans }}" />
                    </a>
                </p>
                <div class="l-drawer__button">
                    <div class="l-drawer__button--close" id="js-drawer__button--close">
                        <i class="l-drawer__button--close-icon material-icons">chevron_left</i>
                    </div>
                </div>
            </div>
            <div class="l-drawer__contents">
                {{ include('block.twig', {'Blocks': Layout.Drawer}) }}
            </div>
        </aside>

    </div>
{% endif %}

{% include('@common/lang.twig') %}

{% block javascript %}{% endblock %}

{# Layout: CLOSE_BODY_BEFORE #}
{% if Layout.CloseBodyBefore %}
    {{ include('block.twig', {'Blocks': Layout.CloseBodyBefore}) }}
{% endif %}

{# プラグイン用Snippet #}
{% if plugin_snippets is defined %}
    {{ include('snippet.twig', { snippets: plugin_snippets }) }}
{% endif %}
<script src="{{ asset('assets/js/customize.min.js', 'user_data') }}"></script>
<link rel="stylesheet" href="{{ asset('assets/css/customize.min.css', 'user_data') }}">
</body>
</html>
