<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="{{ eccube_config.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ error_title }}</title>

    <link rel="manifest" href="{{ asset('assets/manifest.json') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon_package/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon_package/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon_package/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon_package/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="{{ asset('assets/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ asset('assets/css/default_style.min.css') }}">

    <script src="{{ asset('assets/js/bundle.js') }}" defer></script>
{#
    <!-- Hotjar Tracking -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1872965,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KQ4WVGM');
    </script>
    <!-- Global site tag (ytag.js) - Yahoo Analytics -->
    <script async src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
        window.yjDataLayer = window.yjDataLayer || [];
        function ytag() { yjDataLayer.push(arguments); }
        ytag({"type":"ycl_cookie"});
    </script>
#}
</head>
<body>
    <div class="p-error">
        <div class="p-error__contents">
            <dl class="p-error__message">
                <dt class="p-error__message-label">{{ error_title }}</dt>
                <dd class="p-error__message-detail">
                    <p class="p-error__message-mark">
                        <i class="p-error__message-mark-icon material-icons">warning</i>
                    </p>
                    <p class="p-error__message-description">{{ error_message }}</p>
                </dd>
            </dl>
            <div class="p-error__actions">
                <div class="p-error__actions-item">
                    <a class="p-error__button c-button is-primary c-button--outlined mdc-button mdc-button--outlined" href="{{ url('homepage') }}">
                        <span class="c-button__label mdc-button__label">{{ 'トップページへ'|trans }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
