{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block stylesheet %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" media="all">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-grid.min.css" media="all">
    {# <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" media="all"> #}
{% endblock %}

{% block javascript %}
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" integrity="sha256-DHF4zGyjT7GOMPBwpeehwoey18z8uiz98G4PRu2lV0A=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            {# index #}
            $('#js-top__main-visual-slick').slick({
                //prevArrow: '<button class="p-top__main-visual-arrow--prev" type="button" data-role="none" aria-label="Previous" role="button"><i class="p-top__main-visual-arrow-icon material-icons">chevron_left</i><span class="p-top__main-visual-arrow-text">PREV</span></button>',
                //nextArrow: '<button class="p-top__main-visual-arrow--next" type="button" data-role="none" aria-label="Next" role="button"><span class="p-top__main-visual-arrow-text">NEXT</span><i class="p-top__main-visual-arrow-icon material-icons">chevron_right</i></button>',
                dots: true,
                arrows: false,
                dotsClass: 'p-top__main-visual-dots slick-dots',
                autoplay: true,
                speed: 2000,
                autoplaySpeed: 6000,
                adaptiveHeight: true,
                //pauseOnHover: false,
                responsive: [{
                    breakpoint: 479,
                    settings: {
                        arrows: false,
                        swipeToSlide: true
                    }
                }]
            }).on('setPosition', function(){
                if(!$(this).hasClass('is-loaded')) {
                    $(this).addClass('is-loaded');
                }
            });


            {# cdb oil products slide #}
            {# #js-products__visual-slick #}
            $('.p-products__main-visual-slick').slick({
                prevArrow: '<button class="b-new-item__slide-arrow--prev" type="button" data-role="none" aria-label="Previous" role="button"><i class="b-new-item__slide-arrow-icon material-icons">arrow_left</i></button>',
                nextArrow: '<button class="b-new-item__slide-arrow--next" type="button" data-role="none" aria-label="Next" role="button"><i class="b-new-item__slide-arrow-icon material-icons">arrow_right</i></button>',
                autoplay: true,
                autoplaySpeed: 5000,
                speed: 700,
                variableWidth: true,
                responsive: [
                    {
                    breakpoint: 479,
                    settings: {
                        swipeToSlide: true
                    }
                },
                {
                    breakpoint: 769,
                    settings: {
                        swipeToSlide: true
                    }
                }]
            });

            {# products review slide #}
            $('#js-products-review__visual-slick').slick({
                prevArrow: '<button class="b-new-item__slide-arrow--prev" type="button" data-role="none" aria-label="Previous" role="button"><i class="b-new-item__slide-arrow-icon material-icons">arrow_left</i></button>',
                nextArrow: '<button class="b-new-item__slide-arrow--next" type="button" data-role="none" aria-label="Next" role="button"><i class="b-new-item__slide-arrow-icon material-icons">arrow_right</i></button>',
                autoplay: true,
                autoplaySpeed: 5000,
                speed: 700,
                adaptiveHeight: true,
                responsive: [
                    {
                    breakpoint: 479,
                    settings: {
                        swipeToSlide: true
                    }
                },
                {
                    breakpoint: 769,
                    settings: {
                        swipeToSlide: true
                    }
                }]
            });

            {# new_item #}
            {#
            $('#js-new-item__slide').slick({
                prevArrow: '<button class="b-new-item__slide-arrow--prev" type="button" data-role="none" aria-label="Previous" role="button"><i class="b-new-item__slide-arrow-icon material-icons">chevron_left</i><span class="b-new-item__slide-arrow-text">PREV</span></button>',
                nextArrow: '<button class="b-new-item__slide-arrow--next" type="button" data-role="none" aria-label="Next" role="button"><span class="b-new-item__slide-arrow-text">NEXT</span><i class="b-new-item__slide-arrow-icon material-icons">chevron_right</i></button>',
                dots: false,
                autoplay: false,
                speed: 300,
                centerMode: true,
                variableWidth: true,
                slidesToShow: 3
            });
            #}

            {# news #}
            {#
            $('#js-news__contents').each(function() {
                var listLength = $(this).find('.js-news__post').length;
                if (listLength > 5) {
                    $(this).find('.js-news__post:gt(4)').each(function() {
                        $(this).hide();
                    });
                    var dispNum = 5;
                    $(this).find('#js-news-button').click(function() {
                        dispNum += 5;
                        $(this).parents('#js-news__contents').find('.js-news__post:lt(' + dispNum + ')').fadeIn();
                        if (dispNum >= listLength) {
                            $(this).parents('#js-news__actions').hide();
                        }
                    })
                }
            });
            $('.js-news__post-heading').on('click', function() {
                $newsPost = $(this).parent('.js-news__post');
                $newsDescription = $newsPost.children('.js-news__post-contents');
                if ($newsDescription.css('display') == 'none') {
                    $newsPost.addClass('is-active');
                    $newsDescription.slideDown(300);
                } else {
                    $newsPost.removeClass('is-active');
                    $newsDescription.slideUp(300);
                }
            });
            #}
        });
        var shownBeforeUnload = false;

        $(function() {
            {% if is_granted('ROLE_USER') == false %}
            if ($('#js-newsletter-link')) {
                var newsletterDismissed = localStorage.getItem('newsletter_dismissed');
                var newsletterRegistered = localStorage.getItem('newsletter_registered');
                var showModal = function() {
                  $('#js-newsletter-link').modaal({
                    custom_class: 'c-modaal',
                    start_open: true,
                    overlay_opacity: 0.5,
                    before_close: function() {
                      localStorage.setItem('newsletter_dismissed', new Date().getTime());
                    },
                    after_open: function() {
                      $('#mb-embedded-subscribe').on('click', function() {
                        localStorage.setItem('newsletter_registered', new Date().getTime());
                      });
                    },
                  });
                };
                if ((!newsletterRegistered && (!newsletterDismissed || ((new Date().getTime()) - newsletterDismissed) >= 24*3600*1000)) || (newsletterRegistered && (new Date().getTime() - newsletterRegistered >= 3*30*24*3600*1000))) {
                  if (window.matchMedia("only screen and (max-width: 760px)").matches) {
                    setTimeout(showModal, 60*1000);
                  } else {
                    setTimeout(showModal, 30*1000);
                    /*window.addEventListener('beforeunload', function(e) {
                      if (shownBeforeUnload) return;
                      shownBeforeUnload = true;
                      showModal();
                      e.returnValue = '{{'10%割引オファー'|trans}}';
                      return '{{'10%割引オファー'|trans}}';
                    });*/
                  }
                }
            }
            {% endif %}
        });

        window.addEventListener('load',function() {
            window.mdcAutoInit();
        }, false);
    </script>
{% endblock javascript %}

{% block main %}
    {# top page slider #}
    <div class="p-top__main-visual parallax-container" id="js-top__main-visual" data-parallax="scroll" data-image-src="{{ asset('assets/img/slider/featured-image.jpg', 'user_data') }}" data-natural-width="1927" data-natural-height="1080">
        <div class="p-top__main-visual-slick homepage-top-carousel" id="js-top__main-visual-slick">
            {# Promotional Slide #}
            <div class="p-top__main-visual-slick-slide is-1nd">
                <div class="p-top__main-visual-bg">
                    <div class="p-top__main-visual-body">
                        <div class="maritime-featured-text">
                            <img src="{{ asset('assets/img/oil_all.png', 'user_data') }}" alt="{{'MARITIMEの全商品'|trans}}" />
                            <p></p>
                            <h2>{{ '新価格でお買い求めやすくなりました！<br>ぜひお試しください！'|trans|raw }}</h2>
                            <p></p>
                            <div class="cbd_slide_btn"><a href="{{ url('product_list') }}">{{'全商品一覧はこちら'|trans}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {# Promotional Slide : END #}
            <div class="p-top__main-visual-slick-slide">
                <div class="p-top__main-visual-bg is-2nd">
                    <div class="p-top__main-visual-body">
                        <div class="maritime-featured-text">
                            {#<img src="{{ asset('assets/img/cbd-gold-logo.png', 'user_data') }}" alt="{{'Maritimeのゴルドリーフロゴ'|trans}}" class="featured_logo" />#}
                            {#
                            <h4>{{ 'MARITIMEは9月29日〜10月1日に<br>インテックス大阪で行われる国際化粧品展2021に出展します！'|trans|raw }}</h4>
                            <p><a href="/news/cosme-osaka-2021">{{'もっと読む'|trans}}</a></p>
                            <br>
                            #}
                            <img loading=lazy src="{{ asset('assets/img/magic-of-cbd-subtitle.png', 'user_data') }}" alt="{{'Magic Of CBD'|trans}}" class="featured_logo" />
                            <p>{{'メイド・イン・ジャパンの品質、エクストラバージンオリーブオイルのすっきりとした味わいとフレッシュな香り'|trans}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-top__main-visual-slick-slide is-3nd">
                <div class="p-top__main-visual-bg background-filter">
                    <div class="p-top__main-visual-body">
                        <div class="maritime-featured-text">
                            <img loading=lazy src="{{ asset('assets/img/cbd-gold-logo-small.png', 'user_data') }}" alt="{{'ゴールドのCBDロゴ'|trans}}" />
                            <h2>{{'CBDとは？'|trans}}</h2>
                            <p>{{ '大麻草やヘンプに含まれる成分カンナビノイド(Cannabinoids)少なくとも113以上の成分の中の一つでCBD(Cannabidiol)カンナビジオールです。'|trans }}{{ 'CBDが注目され出したのは2012年頃でその10年以上前からCBDが持つ可能性に期待が集まりました。'|trans }}</p>
                            <div class="cbd_slide_btn"><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"})}}">{{'もっと読む'|trans}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-top__main-visual-slick-slide is-4th">
                <div class="p-top__main-visual-bg background-filter">
                    <div class="p-top__main-visual-body">
                        <div class="maritime-featured-text">
                            <img loading=lazy src="{{ asset('assets/img/cbd-gold-logo-small.png', 'user_data') }}" alt="{{'ゴールドのCBDロゴ'|trans}}" />
                            <h2>{{'代理店募集'|trans}}</h2>
                            <p>{{'MARITIMEは日本の法律を遵守し厳選した原材料を使った日本製CBDブランドです。'|trans }}{{ '卸売パッケージをご用意しておりますので、お気軽にお問い合わせください。'|trans}}</p>
                            <div class="cbd_slide_btn"><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "partner"})}}">{{'もっと読む'|trans}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-top__scroll-down scroll-down">
            <span>{{ '下へスクロール'|trans }}</span>
        </div>
    </div>
{% endblock %}