{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}
{% import _self as stars %}

{# 星テキスト生成用マクロ #}
{% macro stars(positive, negative) %}
    {% set positive_stars = ["", "★", "★★", "★★★", "★★★★", "★★★★★"] %}
    {% set negative_stars = ["", "☆", "☆☆", "☆☆☆", "☆☆☆☆", "☆☆☆☆☆"] %}
    {{- positive_stars[positive] -}}{{- negative_stars[negative] -}}
{% endmacro %}

{% block main %}
<script>
$(function () {
  $('.translate_reviews').on('click', function(e) {
    e.preventDefault();

    $('#product_review_area').html('{{ 'Loading...'|trans }}<i class="material-icons">cached</i>');
    $.ajax({
      url: '{{ url('product_review_list_translate') }}',
      success: function(html) {
        $('.p-help').html($(html).find('.p-help').html());
      },
    });
  });
});
</script>

<div class="p-help">
    <div class="p-help__heading">
      <h1 class="c-page-title">
          <span class="c-page-title__text">{{ 'お客様の声'|trans }}</span>
      </h1>
    </div>
    {% if app.request.locale == "en" %}
        {% set language = 'English' %}
    {% elseif app.request.locale == "ko"%}
        {% set language = '한국어' %}
    {% elseif app.request.locale == "zh"%}
        {% set language = '中文' %}
    {% else %}
        {% set language = 'English' %}
    {% endif %}
    <!--▼レビューエリア-->
    <div id="product_review_area" class="p-help__contents">
        <div class="ec-role">
            {% if translated is not defined and app.request.locale != "ja" %}
            <a href="#" class="translate_reviews">{{ 'Translate all reviews to %language%'|trans({'%language%': language}) }}</a>
            {% endif %}
            {% spaceless %}
            {% if ProductReviews %}
              {% for Product in ProductReviews %}
                {% set positive_avg_star = Product.Avg %}
                {% set nagative_avg_star = 5 - positive_avg_star %}
                <div class="ec-rectHeading is_active">
                    <h4>
                      <a href="{{ url('product_detail', { id: Product.Product.id }) }}" alt="{{ Product.Product.name|trans }}">{{ Product.Product.name|trans }}</a>
                      <span class="recommend_average">{{- stars.stars(positive_avg_star, nagative_avg_star) -}}</span>
                      <span>({{ Product.Count }})</span>
                      <span class="chevron pull-right">
                          <i class="fas fa-angle-up fa-lg"></i>
                      </span>
                  </h4>
                </div>
                <div id="reviewContent-{{ Product.Product.id }}">
                    <ul class="review_list">
                        {% for ProductReview in Product.Reviews %}
                            <li>
                                <p class="review_date">
                                    {{- ProductReview.create_date|date_day -}}
                                    <span class="recommend_name">
                                        {% if ProductReview.reviewer_url %}
                                            <a href="{{ ProductReview.reviewer_url }}"
                                               target="_blank">{{ 'product_review.front.product_detail.name'|trans({ '%name%': ProductReview.reviewer_name }) }}</a>
                                        {% else %}
                                            {{ 'product_review.front.product_detail.name'|trans({ '%name%': ProductReview.reviewer_name }) }}
                                        {% endif %}
                                    </span>
                                    {% set positive_star = ProductReview.recommend_level %}
                                    {% set nagative_star = 5 - positive_star %}
                                    <span class="recommend_level">{{- stars.stars(positive_star, nagative_star) -}}</span>
                                </p>
                                <strong>{{ ProductReview.title|trans }}</strong>
                                <p>{{ ProductReview.comment|nl2br }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <br><hr/><br>
              {% endfor %}
            {% else %}
                <p>{{ 'product_review.front.product_detail.no_review'|trans }}</p>
            {% endif %}
            <div class="c-form__actions">
                <div class="c-form__actions-item">
                    <a class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url("product_list")}}">
                        <span class="c-button__label mdc-button__label">{{ '全商品一覧はこちら'|trans }}</span>
                    </a>
                </div>
            </div>
            {% endspaceless %}
        </div>
    </div>
    <!-- ▲レビューエリア -->
    </div>
{% endblock %}
