<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
{% for route in routes %}
<url>
<loc>{{ route.url }}</loc>
<xhtml:link rel="alternate" hreflang="ja" href="{{ route.url }}"/>
{% if route.locales is defined %}
{% for locale, url in route.locales %}
<xhtml:link rel="alternate" hreflang="{{ locale }}" href="{{ url }}"/>
{% endfor %}
{% endif %}
</url>
{% endfor %}
</urlset>