@charset "UTF-8";
/* CSS Document */
/*------------------------------------*
    $ CONTENTS
 *------------------------------------*/
/**
 * CONTENTS .........目次
 * Mixin ............ミックスイン
 * Variable .........変数
 * Reset ............デフォルトの設定
 * Elements .........クラス名の無いエレメント群
 * Objects ..........汎用的なデザインのパターン
 * Components .......オブジェクトで構成された部品群
 * Override .........cssプラグインのオーバーライド
 * Style trumps .....エラー状態など
 */
/*------------------------------------*
    $ Mixin
 *------------------------------------*/
/*------------------------------------*
    $ Variable
 *------------------------------------*/
/*------------------------------------*
    $ Reset
 *------------------------------------*/
body {
  font-family: "メイリオ", "Meiryo", "Lucida Grande", Arial, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 14px;
  color: #111;
  margin: 0px;
  padding: 64px 0 0;
  background: #fff;
  z-index: -100;
  height: 1px;
  -webkit-text-size-adjust: 100%;
}
body * {
  box-sizing: border-box;
}

input,
button {
  font-family: "メイリオ", "Meiryo", "Lucida Grande", Arial, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", sans-serif;
  border-radius: 0;
  -webkit-appearance: none;
}

h1, h2, h3, h4 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

div, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  border: none;
}

input {
  border: none;
  background: none;
  box-shadow: none;
}

/*------------------------------------*
    $ Elements
 *------------------------------------*/
.section {
  position: relative;
  z-index: -1;
}

.section h2 {
  font-size: 16px;
  background: #EF91C4;
  font-weight: bold;
  padding: 8px;
  margin: 16px 0;
}

.nav-section h2 {
  border-bottom: 1px soid;
}

input[type="text"] {
  font-size: 16px;
  line-height: 16px;
  padding: 16px 8px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 2px 0 rgba(85, 85, 85, 0.1) inset;
}
input[type="text"]::-webkit-input-placeholder {
  font-size: 12px;
}

/*------------------------------------*
    $ Objects
*------------------------------------*/
.section {
  overflow: hidden;
}
.section:after, .section:before {
  content: "";
  display: table;
}

.caption {
  font-size: 12px;
}

.text-size-micro {
  font-size: 8px;
  display: block;
  margin: 0 auto;
  -webkit-transform: scale(0.9);
  -webkit-transform-origin: 0 0;
}

.flex, #event .event_bannerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.link_pageCenter {
  display: block;
  width: 60%;
  margin: 16px auto 24px;
  text-align: center;
  color: #fff;
  background: #E4007F;
  padding: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.link_pageCenter:before {
  content: "\f067";
  font-family: fontawesome;
  vertical-align: middle;
  margin-right: 16px;
}

.ranking_item a {
  display: block;
  width: 100%;
}
.ranking_item .item_thum {
  display: table;
  table-layout: fixed;
  width: 100%;
  background: #EF91C4;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.ranking_item .item_thum img {
  display: block;
  margin: 0 auto;
}
.ranking_item .item_name {
  font-size: 11px;
  margin-bottom: 4px;
  line-height: 1.2em;
}
.ranking_item .item_price {
  font-size: 14px;
  font-weight: bold;
  color: #E4007F;
  letter-spacing: .5px;
}
.ranking_item .item_layoutLeft {
  width: 40%;
  max-width: 300px;
  margin-right: 12px;
}
.ranking_item .item_layoutRight {
  width: 60%;
  max-width: 300px;
  padding: 8px 0;
}

/*------------------------------------*
    $ Components
 *------------------------------------*/
/* ヘッダーナビ
--------------------------------------*/
#headNav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .2s;
  box-shadow: 0 1px 1px rgba(85, 85, 85, 0.1);
  background: #fff;
  font-size: 16px;
}
#headNav .drawer-toggle {
  background: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 2px;
  margin: 8px;
}
#headNav .drawer-toggle .fa {
  display: block;
  font-size: 18px;
}
#headNav ul {
  margin: 8px 8px 0;
}
#headNav ul li {
  display: inline-block;
  padding: 0 6px;
}
#headNav ul a {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 18px;
}
#headNav ul li .fa {
  width: 24px;
  height: 24px;
  text-align: center;
}
#headNav ul li.headNav_rakuten span.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: -2px;
  margin-bottom: 3px;
  background: url("../img/icon_rakuten.png");
  background-size: 100%;
}

/* 看板画像
--------------------------------------*/
h1 {
  width: 100%;
  text-align: center;
}
h1 img {
  max-width: 100%;
}

/* 臨時休業日
--------------------------------------*/
#schedule {
  background: #bf0000;
  padding: 8px;
  color: #fff;
}
#schedule .caption {
  margin-top: 16px;
}

/* テーマ
--------------------------------------*/
#theme {
  padding: 8px;
  margin: 8px 8px;
  background: #EF91C4;
}
#theme img {
  width: 100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
#theme .caption {
  color: rgba(17, 17, 17, 0.5);
  font-size: 10px;
  text-align: center;
}
#theme .caption:before {
  content: "\f133";
  font-family: fontawesome;
  vertical-align: middle;
}

/* 売れ筋トップ3
--------------------------------------*/
#itemRanking3 {
  padding: 8px;
  margin-bottom: 16px;
}
#itemRanking3 .ranking_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
#itemRanking3 .ranking_item {
  width: calc(100% / 3);
  max-width: calc(100% / 3);
}
#itemRanking3 .ranking_item:not(:last-child) {
  margin-right: 8px;
}
#itemRanking3 .item_rank {
  font-size: 16px;
  font-weight: bold;
  color: #E3BB1B;
}
#itemRanking3 .item_rank:before {
  content: url(../img/icon_ranking.png);
  margin-right: 4px;
  width: 32px;
}
#itemRanking3 .item_rank:after {
  content: "位";
  font-size: 12px;
  margin-left: 4px;
}
#itemRanking3 .item_thum {
  margin-bottom: 4px;
}

/* 検索まど (メインコンテンツ部のみ)
--------------------------------------*/
#searchBox.section {
  background: #EF91C4;
  padding: 8px;
  margin: 24px 0;
}
#searchBox.section .searchBox_input {
  margin-bottom: 8px;
}
#searchBox.section .searchBox_input form {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
}
#searchBox.section .searchBox_input input[type=text] {
  width: 80%;
}
#searchBox.section .searchBox_input .search-button {
  width: 20%;
  height: 100%;
}
#searchBox.section .searchBox_input .search-button input[type="submit"] {
  width: 100%;
  height: 100%;
  font-weight: bold;
}
#searchBox.section .searchBox_keyword {
  margin: 0 -2px;
}
#searchBox.section .searchBox_keyword li {
  display: inline-block;
  margin: 4px 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#searchBox.section .searchBox_keyword li a {
  display: block;
  padding: 6px 8px;
}

/* 売れ筋ランキング
--------------------------------------*/
#itemRanking .ranking_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#itemRanking .ranking_item {
  width: 100%;
  max-width: 100%;
}
#itemRanking .ranking_item {
  position: relative;
}
#itemRanking .ranking_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 8px 12px;
  width: initial;
}
#itemRanking .item_rank {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 4px;
  left: 4px;
  background: #E4007F;
  color: #fff;
}
#itemRanking .item_name {
  font-size: 16px;
}
#itemRanking .item_name:before {
  content: url(../img/icon_ranking.png);
  margin-right: 4px;
}
#itemRanking .item_rank {
  margin-bottom: 16px;
}
#itemRanking .item_price {
  font-size: 16px;
  text-align: right;
}

/* おすすめ商品
--------------------------------------*/
#itemRecommend .ranking_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#itemRecommend .ranking_item {
  width: 50%;
  max-width: 50%;
}
#itemRecommend .ranking_item {
  padding: 8px;
}
#itemRecommend .item_thum {
  margin-bottom: 4px;
}
#itemRecommend .item_price {
  font-size: 16px;
}
#itemRecommend .ranking_wrapper {
  padding: 8px;
}

/* フリースペース
--------------------------------------*/
#freespace {
  margin: 16px 0;
}
#freespace *:not(iframe) {
  height: auto !important;
}

/* イベント・特集情報
--------------------------------------*/
#event .event_slideBanner {
  padding: 0 8px;
}
#event .event_bannerWrapper li {
  margin: 8px;
}
#event .event_bannerWrapper .header,
#event .event_bannerWrapper .shop_top {
  width: 100%;
}
#event .event_bannerWrapper .left_navi {
  width: calc(50% - 16px);
}
#event .event_bannerWrapper a {
  display: block;
}

/* カテゴリーから探す
--------------------------------------*/
#category .category_itemWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: initial;
  align-items: initial;
  margin-right: -1px;
  margin-top: -16px;
}
#category .category_item {
  font-size: 14px;
  width: 100%;
  position: relative;
}
#category .category_item a {
  width: 100%;
  height: 100%;
  padding: 16px;
  padding-right: 40px;
  position: relative;
}
#category .node1 {
  border-bottom: 1px solid #cccccc;
}
#category .node1.parent a:after {
  content: "\f107";
  font-family: fontawesome;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  transition: all .2s ease;
  text-align: center;
  position: absolute;
  right: 16px;
  top: 50%;
  bottom: 50%;
  margin: auto;
}
#category .node1.active a:after {
  transform: rotateX(180deg);
  color: #E4007F;
}
#category .node2 {
  display: none;
  background: #EF91C4;
  border-bottom: 1px solid #e964ac;
}
#category .node2 a:before {
  font-size: 18px;
  display: inline-block;
  margin: 0 8px 0 12px;
  font-weight: bold;
  color: #ccc;
}
#category .node2.parent a:after {
  content: "\f107";
  font-family: fontawesome;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  transition: all .2s ease;
  text-align: center;
  position: absolute;
  right: 16px;
  top: 50%;
  bottom: 50%;
  margin: auto;
}
#category .node2.active a:after {
  transform: rotateX(180deg);
  color: #E4007F;
}
#category .node3 {
  display: none;
  width: 50%;
  max-width: 50%;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  background: #fff;
  margin-top: -1px;
}
#category .node3 a {
  padding-right: 16px;
}

/* お買い物ガイド
--------------------------------------*/
#shoppingGuide {
  background: #EF91C4;
  padding-bottom: 16px;
}
#shoppingGuide .shoppingGuide_doroyo {
  margin: 8px;
  background: #E4007F;
}
#shoppingGuide li {
  margin: 8px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fff;
  padding: 16px;
}
#shoppingGuide li:before {
  font-size: 20px;
  margin-right: 16px;
}
#shoppingGuide li.shoppingGuide_mail:before {
  content: "\f003";
  font-family: fontawesome;
  vertical-align: middle;
}
#shoppingGuide li.shoppingGuide_tell {
  letter-spacing: 2px;
}
#shoppingGuide li.shoppingGuide_tell:before {
  content: "\f095";
  font-family: fontawesome;
  vertical-align: middle;
}
#shoppingGuide li.shoppingGuide_open {
  padding-left: 45px !important;
  text-indent: -29px;
}
#shoppingGuide li.shoppingGuide_open:before {
  content: "\f133";
  font-family: fontawesome;
  vertical-align: middle;
}
#shoppingGuide li.shoppingGuide_delivery:before {
  content: "\f0d1";
  font-family: fontawesome;
  vertical-align: middle;
}
#shoppingGuide li.shoppingGuide_pay:before {
  content: "\f157";
  font-family: fontawesome;
  vertical-align: middle;
}
#shoppingGuide li.shoppingGuide_shopInfo:before {
  content: "\f129";
  font-family: fontawesome;
  vertical-align: middle;
}
#shoppingGuide .shoppingGuide_info {
  margin: 16px 8px;
}
#shoppingGuide .shoppingGuide_info h4 {
  margin-bottom: 4px;
}
#shoppingGuide .shoppingGuide_info h4:before {
  content: "\f27b";
  font-family: fontawesome;
  vertical-align: middle;
  margin-right: 4px;
  font-size: 16px;
}

/* フッター
--------------------------------------*/
#footer {
  padding: 16px 0;
  text-align: center;
}
#footer p {
  margin: 8px 0;
}
#footer .caption {
  font-size: 10px;
  color: rgba(17, 17, 17, 0.5);
}
#footer a {
  text-decoration: underline;
}
#footer a:first-child:after {
  content: "┃";
  display: inline-block;
  padding: 0 8px;
}

/* ドロワーナビゲーション
--------------------------------------*/
.drawer-nav .drawer-nav_wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: auto !important;
  overflow-x: hidden;
}
.drawer-nav h1 {
  margin: 8px;
  text-align: center;
}
.drawer-nav h2 {
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  margin: 32px 8px 4px;
}
.drawer-nav #searchBox {
  padding: 0 8px;
  position: relative;
}
.drawer-nav #searchBox input[type="text"] {
  width: 100%;
  height: 48px;
  padding-right: 16px;
}
.drawer-nav #searchBox .search-button {
  position: absolute;
  top: 10px;
  right: 8px;
}
.drawer-nav #searchBox .search-button input[type="submit"] {
  background: none;
}
.drawer-nav #searchBox .search-button:before {
  content: "\f002";
  font-family: fontawesome;
  vertical-align: middle;
  font-size: 20px;
  color: #ddd;
}
.drawer-nav #category .category_itemWrapper {
  margin-top: 0;
}
.drawer-nav #category .category_item.node3 {
  font-size: 12px;
}
.drawer-nav #shoppingGuide {
  padding-bottom: 80px;
}

/* 「上へ」ナビゲーション
--------------------------------------*/
.anchor_top {
  position: fixed;
  bottom: 8px;
  right: 8px;
}
.anchor_top a {
  width: 44px;
  height: 44px;
  font-size: 10px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.anchor_top a:before {
  content: "\f106";
  font-family: fontawesome;
  vertical-align: middle;
  font-size: 24px;
  display: block;
  margin: 8px auto;
}

/*------------------------------------*
    $ Override
 *------------------------------------*/
/*------------------------------------*
    $ Style trumps
 *------------------------------------*/
/* CSS Document */
/*------------------------------------*
    $ CONTENTS
 *------------------------------------*/
/**
 * CONTENTS .........目次
 * Mixin ............ミックスイン
 * Variable .........変数
 * Reset ............デフォルトの設定
 * Elements .........クラス名の無いエレメント群
 * Objects ..........汎用的なデザインのパターン
 * Components .......オブジェクトで構成された部品群
 * Override .........cssプラグインのオーバーライド
 * Style trumps .....エラー状態など
 */
/*------------------------------------*
    $ Mixin
 *------------------------------------*/
/*------------------------------------*
    $ Variable
 *------------------------------------*/
/*------------------------------------*
    $ Reset
 *------------------------------------*/
/*------------------------------------*
    $ Elements
 *------------------------------------*/
input {
  border: 1px solid #E4007F;
}

.section h2 {
  color: #fff;
  font-weight: normal;
  margin: 16px 1px;
  border: 2px solid #E4007F;
  background: #EF91C4;
  text-align: center;
  position: relative;
}
.section h2:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid rgba(228, 0, 127, 0.4);
}

/*------------------------------------*
    $ Objects
*------------------------------------*/
.link_pageCenter {
  background: #13d0ca;
  color: #fff;
}

/*------------------------------------*
    $ Components
 *------------------------------------*/
/* ヘッダーナビ
--------------------------------------*/
#headNav .drawer-toggle {
  box-shadow: none;
}

/* 売れ筋トップ3
--------------------------------------*/
#itemRanking3 .item_price {
  color: #111;
}

/* 検索まど
--------------------------------------*/
#searchBox.section {
  background: none;
}
#searchBox.section .searchBox_input form input[type="submit"] {
  background: #E4007F;
  border: none;
  color: #fff;
}
#searchBox.section .searchBox_keyword li {
  font-size: 12px;
  background: rgba(19, 208, 202, 0.2);
  color: #0a736f;
}
#searchBox.section .searchBox_keyword li:hover {
  background: #13d0ca;
  color: #fff;
}

/* ランキング
--------------------------------------*/
#itemRanking .ranking_item a {
  margin: 2px 4px;
  padding: 4px;
}
#itemRanking .item_rank {
  color: #fff;
}

/* イベント・特集情報
--------------------------------------*/
.event_bannerWrapper {
  margin: 16px 0;
}

/* カテゴリーから探す
--------------------------------------*/
#category {
  margin-bottom: 16px;
}
#category .node1 {
  background: rgba(19, 208, 202, 0.2);
  color: #0a736f;
  border-bottom: #0a736f;
}
#category .node2,
#category .node3 {
  background: #fff;
  border-color: rgba(0, 0, 0, 0.1) !important;
  color: #111;
}
#category .node2 a,
#category .node3 a {
  padding: 12px;
}
#category .node2 a:before {
  content: none;
}
#category .node2 a:after {
  content: "\f107";
  font-family: fontawesome;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  transition: all .2s ease;
  text-align: center;
  position: absolute;
  right: 16px;
  top: 50%;
  bottom: 50%;
  margin: auto;
}

/* カレンダー
--------------------------------------*/
#Calendar iframe {
  background: #fff;
}

/* お買い物ガイド
--------------------------------------*/
#shoppingGuide {
  background: #fff;
}
#shoppingGuide li {
  border: none;
  padding: 0 16px;
}
#shoppingGuide li:before {
  font-size: 14px;
  color: rgba(228, 0, 127, 0.5) !important;
}
#shoppingGuide .shoppingGuide_info {
  margin: 16px;
  background: #EF91C4;
  padding: 8px;
}
#shoppingGuide .shoppingGuide_info .caption {
  color: rgba(228, 0, 127, 0.8);
}

/* ドロワーナビゲーション
--------------------------------------*/
.drawer-nav #shoppingGuide {
  background: none;
}
.drawer-nav #shoppingGuide li {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(239, 145, 196, 0.1);
  padding: 12px;
  border-radius: 0;
}
.drawer-nav #shoppingGuide li:before {
  color: #fff !important;
}
.drawer-nav #searchBox .search-button input[type="submit"] {
  border: none !important;
}

/*------------------------------------*
    $ Override
 *------------------------------------*/
/*------------------------------------*
    $ Style trumps
 *------------------------------------*/
