{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-contact">

        <div class="p-contact__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'お問い合わせ(完了)'|trans }}</span>
            </h1>
        </div>

        <div class="p-contact__contents">

            <div class="p-contact__complete">
                <dl class="p-contact__complete-message">
                    <dt class="p-contact__complete-message-label">{{ 'お問い合わせ内容の送信が<br class="u-break--pc-hidden">完了いたしました'|trans|raw }}</dt>
                    <dd class="p-contact__complete-message-detail">
                        <p class="p-contact__complete-description">{{ '万一、ご確認メールが届かない場合は、トラブルの可能性もありますので大変お手数ではございますがもう一度お問い合わせいただくか、お電話にてお問い合わせくださいませ。'|trans }}</p>
                    </dd>
                </dl>
            </div>
            <div class="p-contact__actions">
                <div class="p-contact__actions-item">
                    <a class="p-contact__button c-button is-primary c-button--outlined mdc-button mdc-button--outlined" href="{{ url('homepage') }}">
                        <span class="c-button__label mdc-button__label">{{'トップページへ'|trans}}</span>
                    </a>
                </div>
            </div>

        </div>

    </section>

{% endblock %}
