.b-goemon_slider_49{width:1020px !important;height:907px !important;border: 0px;overflow: hidden;position: relative;}.ectoolwrapper {width:1020px;overflow: hidden;}.b-goemon_slider_49 iframe {position: absolute;top: 0;left: 0;right: 0;}

