{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
{% if isAvailableCardEdit %}
<script>
    $(function () {
        // ナビ最下部に移動
        $('#gmo_payment_gateway_card_edit_navi').appendTo($('#js-mypage__navi-list'));
    });
</script>
<li id="gmo_payment_gateway_card_edit_navi" class="p-mypage__navi-list-item {% if mypageno|default('') == 'gmo_card_edit' %}is-active{% endif %}">
    <a class="p-mypage__navi-button c-button c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('gmo_mypage_card_edit') }}">
        <span class="c-button__label mdc-button__label">{{ 'gmo_payment_gateway.mypage.card_edit.sub_title'|trans }}</span>
    </a>
</li>
{% endif %}
