@charset "UTF-8";
/* CSS Document */
/*------------------------------------*
    $ CONTENTS
 *------------------------------------*/
/**
 * CONTENTS .........目次
 * Mixin ............ミックスイン
 * Variable .........変数
 * Reset ............デフォルトの設定
 * Elements .........クラス名の無いエレメント群
 * Objects ..........汎用的なデザインのパターン
 * Components .......オブジェクトで構成された部品群
 * Override .........cssプラグインのオーバーライド
 */
/*------------------------------------*
    $ Mixin
 *------------------------------------*/
/*------------------------------------*
    $ Variable
 *------------------------------------*/
/*------------------------------------*
    $ Reset
 *------------------------------------*/
body {
  font-family: "メイリオ", "Meiryo", "Lucida Grande", Arial, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 14px;
  color: #111;
  margin: 0px;
  padding: 0;
  background: transparent;
  z-index: -100;
  height: 1px;
  -webkit-text-size-adjust: 100%;
}
body * {
  box-sizing: border-box;
  position: relative;
  transition: all .2s ease;
}

h1, h2, h3, h4 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

div, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  border: none;
}

input {
  border: none;
  box-shadow: none;
}

iframe {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

/*------------------------------------*
    $ Elements
 *------------------------------------*/
a:hover, a:focus {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}
a img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha( opacity=80 )";
  transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
}

ul {
  width: 100%;
  height: 100%;
}

input {
  height: 32px;
  line-height: 32px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  box-shadow: 2px 2px 2px #eee inset;
  padding: 4px;
}

/*------------------------------------*
    $ Objects
 *------------------------------------*/
#header > div,
#left > div,
#footer > div,
#shoptop > div,
#item-bottom > div {
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
}

.kikaku-box {
  width: 100%;
  height: 160px;
  font-weight: bold;
  color: #fff;
}
.kikaku-box #start,
.kikaku-box #wave,
.kikaku-box #end {
  position: absolute;
}

div.free_space {
  font-family: initial;
  letter-spacing: initial;
  line-height: 1.4em;
}
div.free_space div, div.free_space p, div.free_space ul, div.free_space li, div.free_space h1, div.free_space h2, div.free_space h3, div.free_space h4, div.free_space h5 {
  margin: initial;
  padding: initial;
}
div.free_space a {
  display: initial;
  text-decoration: initial;
  color: initial;
}

.search-box .search-area {
  padding-top: 0 !important;
  font-size: 12px;
}
.search-box .icon {
  display: inline-block;
  float: left;
  margin: 8px 0;
}
.search-box .yen {
  width: 50px;
  margin-right: 4px;
}
.search-box form p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.search-box .searchBtn,
.search-box input[value="検索"] {
  border: none;
  cursor: pointer;
  z-index: 1;
  padding: 0;
  vertical-align: middle;
}
.search-box.nav-search input[name="sitem"] {
  width: 260px;
}

.banners {
  height: auto;
  text-align: center;
}
.banners a {
  display: block;
  width: 100%;
}
.banners iframe {
  width: 468px;
}
.banners .banner-box img {
  max-height: 100%;
  vertical-align: top;
}

.titleImg {
  width: 200px;
  height: 45px;
}

/*------------------------------------*
    $ Components
 *------------------------------------*/
/* ヘッダー ----------------------------*/
#header {
  width: 960px;
  max-width: 960px;
  margin: 0 20px 0 0;
  /*ナビ(小)*/
  /*カテゴリ(大)*/
}
#header .kikaku-box {
  font-size: 20px;
}
#header .kikaku-box #start {
  width: 230px;
  right: 230px;
  bottom: 1px;
}
#header .kikaku-box #wave {
  width: 50px;
  right: 197px;
  bottom: 1px;
}
#header .kikaku-box #end {
  width: 230px;
  right: -10px;
  bottom: 1px;
}
#header .kanban-large {
  text-align: center;
}
#header .kanban-small {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
#header .kanban-small .bnr-wrap {
  max-width: 480px;
  max-height: 64px;
}
#header .kanban-small .bnr-wrap img {
  max-width: 480px;
  max-height: 64px;
}
#header .kanban-small .text-wrap {
  font-size: 12px;
  text-align: center;
}
#header .kanban-small .text-wrap span {
  display: inline-block;
  padding: 1px 4px;
  margin: 0 4px 0 8px;
}
#header .shopname-area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  height: 56px;
}
#header .shopname-area .shopname {
  font-size: 16px;
  margin-right: 16px;
}
#header .shopname-area .eigyou {
  font-size: 12px;
  padding: 16px 0 0;
}
#header .shopname-area .eigyou span {
  display: inline-block;
  padding: 1px 4px;
  margin: 0 4px 0 8px;
}
#header .nav-big {
  height: 64px;
}
#header .nav-big ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
#header .nav-big li {
  width: calc(100% / 6);
  height: 100%;
}
#header .nav-big li a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  word-break: break-all;
  height: 100%;
}
#header .nav-middle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 64px;
}
#header .nav-middle .left {
  width: 65%;
  height: 100%;
}
#header .nav-middle .left .inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  word-break: break-all;
  height: 100%;
}
#header .nav-middle .left .inner ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}
#header .nav-middle .left .inner a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  word-break: break-all;
  height: 100%;
  padding: 0 8px;
}
#header .nav-middle .left .inner a:before {
  margin-right: 2px;
}
#header .nav-middle .right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  word-break: break-all;
  height: 100%;
  width: 35%;
  height: 100%;
}
#header .nav-middle .right iframe {
  height: 32px;
}
#header .nav-small .nav {
  height: 24px;
}
#header .nav-small .nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#header .nav-small .nav li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  word-break: break-all;
  height: 100%;
  height: 24px;
  padding: 0;
}
#header .nav-small .nav li img {
  width: 14px;
  height: 14px;
  margin: 0 4px;
  display: block;
  float: left;
}
#header .nav-small .nav li a {
  line-height: 24px;
  font-size: 12px;
}
#header .nav-small .nav li a:before {
  margin-right: 8px;
}
#header .nav-small .search-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
}
#header .nav-small .search-box .search-area {
  font-size: 12px;
  width: 45%;
}
#header .nav-small .search-box .search-area iframe {
  height: 32px;
}
#header .nav-small .search-box .souryo {
  width: 55%;
  text-align: right;
  font-size: 12px;
}
#header .nav-small .search-box .souryo p.icon {
  display: none;
}
#header .nav-small .search-box .souryo b {
  font-size: 14px;
  color: #E4007F;
}
#header .category-big ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
#header .category-big li {
  width: calc(100% / 3);
  height: 64px;
  overflow: hidden;
}
#header .category-big li a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  word-break: break-all;
  height: 100%;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
#header .category-big li a:after {
  display: inline-block;
  position: absolute;
  right: 8px;
}
#header .category-small {
  height: 64px;
}
#header .category-small ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  word-break: break-all;
  height: 100%;
  justify-content: flex-start;
}
#header .category-small li {
  max-height: 64px;
  overflow: hidden;
}
#header .category-small li a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  word-break: break-all;
  height: 100%;
  font-size: 12px;
}
#header .banners {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
#header .banners > div {
  width: 474px;
  height: 120px;
  margin-bottom: 6px;
}
#header .banners .slidebanner {
  padding-right: 16px;
}
#header .banners .banner-box {
  text-align: center;
}
#header .banners .banner-box p,
#header .banners .banner-box a {
  height: 100%;
}
#header .item-box {
  height: 310px;
}

#left {
  width: 200px;
  margin: 0 12px 0 0;
}
#left .koushin {
  height: 40px;
}
#left .item-box {
  height: 570px;
}
#left .search-box .search-table {
  margin: 8px 0 0;
}
#left .search-box .search-table iframe {
  height: 36px;
}
#left .search-box .search-table .input-form {
  width: 140px;
}
#left .price-search-box h3 {
  text-align: center;
  margin-bottom: 16px;
}
#left .price-search-box .price-table li {
  text-align: left;
  padding: 4px 0;
}
#left .price-search-box .price-table li a {
  font-size: 12px;
  font-weight: bold;
  padding-left: 24px;
}
#left .price-search-box .price-table li a span {
  font-size: 10px;
  letter-spacing: -0.5px;
}
#left .price-search-box .price-table li a:hover {
  text-decoration: underline;
}
#left .category-box {
  padding-bottom: 16px;
}
#left .category-box li {
  font-size: 14px;
  line-height: 1em;
}
#left .category-box li a {
  display: block;
  width: 100%;
}
#left .category-box li.large-category a {
  color: #E4007F;
}
#left .category-box li.medium-category a {
  background-position: 2px 50%;
  background-repeat: no-repeat;
}
#left .category-box li.small-category a {
  background-position: 30px 50%;
  background-repeat: no-repeat;
}
#left .banner-box a, #left .banner-box img {
  max-width: 100%;
  max-height: 200px;
  vertical-align: top;
}
#left .doroyo-box {
  padding-bottom: 16px;
}
#left .doroyo-box hr {
  display: none;
}
#left .doroyo-box .icon {
  text-align: center;
  margin-bottom: 8px;
}
#left .doroyo-box .info-box {
  font-size: 12px;
  margin: 8px 0;
}
#left .doroyo-box .info-box h3 {
  color: #E4007F;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}
#left .doroyo-box .info-box p {
  font-size: 11px;
  line-height: 1.6em;
  padding-top: 4px;
}
#left .calender-box {
  margin-bottom: 0;
}
#left .calender-box iframe {
  margin: 8px 8px 0;
  width: 184px;
}

#footer {
  width: 960px;
}
#footer .info-box {
  overflow: visible;
}
#footer .info-box h2 {
  width: 100%;
  height: 45px;
}
#footer .info-box .info-cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
#footer .info-box .info-cont li {
  width: calc(100% / 3);
}
#footer .info-box .info-cont li.last {
  width: calc(100% / 3 * 2);
}
#footer .info-box .info-cont li h3 {
  margin: 0 0 16px 0;
}
#footer .info-box .info-cont li h3 img {
  width: 16px;
  height: 16px;
  float: left;
  margin: -2px 8px 0 0;
}
#footer .info-box .info-cont li h4 {
  line-height: 1.3em;
  margin: 0 0 8px 0;
}
#footer .info-box .info-cont li h4 img {
  margin: 0 8px -4px 8px;
}
#footer .info-box .info-cont li h5 {
  margin: 24px 0 4px;
}
#footer .info-box .info-cont li p {
  margin: 8px 0 12px;
  line-height: 140%;
  font-size: 12px;
}
#footer .info-box .info-cont li p b {
  color: #E4007F;
}
#footer .info-box .info-cont li p.kome {
  color: rgba(17, 17, 17, 0.6);
  margin: 8px 0;
}
#footer .info-box .info-cont li p.haisou-text {
  margin-bottom: 16px;
}
#footer .info-box .info-cont li p.link {
  font-size: 14px;
  float: right;
  display: inline-block;
  margin: 16px 0 0 0;
}
#footer .info-box .info-cont li img.inline {
  margin-right: 4px;
}
#footer .info-box .info-cont li .doroyo-box {
  text-align: center;
}
#footer .info-box .info-cont li .doroyo-box iframe {
  width: 200px;
}
#footer .draginfo-box {
  width: 960px;
}
#footer .draginfo-box .draginfo-cont {
  padding: 24px;
  clear: both;
}
#footer .draginfo-box .draginfo-cont .right {
  font-size: 13px;
  vertical-align: top;
  display: table-cell;
  width: 696px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  /* CSS3草案 */
  -webkit-border-radius: 2px;
  /* Safari,Google Chrome用 */
  -moz-border-radius: 2px;
  /* Firefox用 */
  padding: 16px;
}
#footer .draginfo-box .draginfo-cont .left {
  display: table-cell;
  width: 200px;
  padding-right: 32px;
}
#footer .draginfo-box .draginfo-cont .left li {
  list-style: none;
  margin-bottom: 8px;
}
#footer .draginfo-box .draginfo-cont .left li img {
  width: 100%;
}

#shoptop {
  width: 728px;
  margin: 0 20px 0 0;
}
#shoptop .waigaya-box {
  height: 470px;
}
#shoptop .item-box {
  padding-bottom: 16px;
  margin-bottom: 0;
}
#shoptop .search-box {
  padding: 15px 0;
  text-align: center;
}
#shoptop .search-box iframe {
  height: 62px;
}
#shoptop .search-box .search-area {
  display: inline-block;
}
#shoptop .banner-box {
  height: auto;
  text-align: center;
}
#shoptop .banner-box a {
  display: block;
}
#shoptop .banner-box a, #shoptop .banner-box img {
  max-width: 100%;
  max-height: 280px;
  vertical-align: top;
}

/* 全ページ共通説明文(大) ---------------*/
#item-bottom {
  width: 728px;
  max-width: 728px;
  overflow: hidden;
  margin: 0 20px 0 0;
}
#item-bottom .flow-box {
  height: 152px;
}
#item-bottom .flow-box img {
  width: 100%;
}
#item-bottom .item-box {
  height: 240px;
}
#item-bottom .banner-box {
  width: 468px;
  height: 120px;
  margin: 0 auto;
}
#item-bottom .kikaku-box {
  font-size: 18px;
}
#item-bottom .kikaku-box #start {
  width: 200px;
  right: 240px;
  bottom: 3px;
}
#item-bottom .kikaku-box #wave {
  width: 40px;
  right: 200px;
  bottom: 3px;
}
#item-bottom .kikaku-box #end {
  width: 200px;
  right: 10px;
  bottom: 3px;
}

/*---------------------------------------------
  Override
----------------------------------------------*/
td.lossleader_item_name {
  word-break: break-all;
}

/*---------------------------------------------
  base
----------------------------------------------*/
/* variant */
/*------------------------------------*
    $ Elements
 *------------------------------------*/
input {
  border: 1px solid #E4007F;
}

/*------------------------------------*
    $ Objects
 *------------------------------------*/
.search-box .search-area .icon {
  display: none;
}

/*---------------------------------------------
  Components
----------------------------------------------*/
/* ヘッダー ----------------------------*/
#header {
  /*看板画像(大)*/
  /*看板画像(小)*/
  /*看板画像(画像無し)*/
  /*ナビ(大)*/
  /*ナビ(中)*/
  /*ナビ(小)*/
  /*カテゴリ(大)*/
  /*カテゴリ(小)*/
  /*売れ筋ランキング*/
}
#header .kanban-small .text-wrap span {
  background: #E4007F;
  color: #fff;
}
#header .shopname-area .eigyou {
  color: #E4007F;
}
#header .shopname-area .eigyou span {
  background: #E4007F;
  color: #fff;
}
#header .nav-big {
  background: url(../img/summer/header/header-back2.png);
  border: 2px solid #E4007F;
}
#header .nav-big ul {
  border: 4px solid rgba(228, 0, 127, 0.2);
}
#header .nav-big li a {
  color: #fff;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  padding-bottom: 18px;
  /*
  &:before {
    font-size: 12px;
    font-family: Garamond;
    color: rgba($subColor,.6);
    display: block;
    margin-bottom: 4px;
  }
  &#top:before {
    content: "Shop Top";
  }
  &#itemlist:before {
    content: "Item List";
  }
  &#company:before {
    content: "Company";
  }
  &#payment:before {
    content: "Payment";
  }
  &#rakutentop:before {
    content: "Rakuten Top";
  }
  &#cart:before {
    content: "Cart";
  }
  */
}
#header .nav-middle {
  background: url(../img/summer/header/header-back.png);
  border: 2px solid #E4007F;
}
#header .nav-middle .left {
  border: 4px solid rgba(228, 0, 127, 0.2);
  border-right: none;
}
#header .nav-middle .left .inner a {
  font-size: 13px;
  color: #fff;
  padding: 4px 8px;
}
#header .nav-middle .left .inner a:hover {
  background: rgba(228, 0, 127, 0.2);
}
#header .nav-middle .left .inner a:before {
  content: url(../img/summer/common/arrow.png);
}
#header .nav-middle .right {
  border: 4px solid rgba(228, 0, 127, 0.2);
  border-left: none;
}
#header .nav-small .nav ul {
  background: #E4007F;
}
#header .nav-small .nav li img {
  display: none;
}
#header .nav-small .nav li a {
  padding: 0 16px;
  color: #fff;
}
#header .nav-small .nav li a:hover {
  background: rgba(255, 245, 244, 0.2);
}
#header .nav-small .nav li a:before {
  content: url(../img/summer/common/arrow2.png);
}
#header .nav-small .search-box {
  background: rgba(228, 0, 127, 0.1);
}
#header .nav-small .search-box .search-area {
  padding-left: 16px;
}
#header .nav-small .search-box .souryo p {
  display: inline-block;
  margin-right: 2px;
}
#header .category-big li {
  width: calc((100% / 3) - 3px) !important;
  border: 2px solid #13d0ca;
  margin: 0 0 4px 0;
}
#header .category-big li a {
  color: #0fa19d;
  font-size: 15px;
  border: 4px solid rgba(19, 208, 202, 0.2);
  padding: 0 16px;
}
#header .category-big li a:after {
  content: url(../img/summer/common/arrow4.png);
}
#header .category-big li a:hover {
  background: rgba(19, 208, 202, 0.2);
}
#header .category-small {
  background: url(../img/summer/header/header-back3.png) top no-repeat;
}
#header .category-small ul {
  padding-left: 110px;
}
#header .category-small a {
  padding: 0 8px;
}
#header .category-small a:hover {
  text-decoration: underline;
}
#header .category-small a:before {
  content: url(../img/summer/common/arrow.png);
}
#header .item-box {
  background: url(../img/summer/header/itemranking_top15_bg.png);
}

/* レフトナビ --------------------------*/
#left {
  /*売れ筋トップ3*/
  /*検索窓*/
  /*価格帯検索*/
  /*カテゴリ*/
  /*お届けについて*/
  /*カレンダー*/
}
#left .item-box {
  background: #F3F2E9;
}
#left .search-box .titleImg {
  background: url("../img/summer/left/search-title.png");
}
#left .search-box hr {
  display: none;
}
#left .price-search-box {
  border: 2px solid #13d0ca;
}
#left .price-search-box > p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
#left .price-search-box .price-table {
  border: 4px solid rgba(19, 208, 202, 0.2);
  background: #fff;
}
#left .price-search-box .price-table ul {
  padding: 24px 0 8px;
}
#left .price-search-box .price-table li a {
  color: #0fa19d;
  padding-left: 8px;
}
#left .price-search-box .price-table li a:before {
  content: url("../img/summer/common/arrow3.png");
}
#left .category-box {
  width: calc(100% - 10px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 5px 5px 16px;
}
#left .category-box .titleImg {
  background: url("../img/summer/left/category.png");
}
#left .category-box ul {
  padding: 0 8px;
  margin: 0 0 16px;
}
#left .category-box li {
  padding: 0;
}
#left .category-box li.large-category a {
  text-align: center;
  font-size: 13px;
  border-bottom: 2px solid #E4007F;
  padding: 24px 0 6px 0;
}
#left .category-box li.medium-category a {
  color: #111;
  font-size: 12px;
  background-image: url("../img/summer/common/arrow.png") !important;
  border-bottom: 1px solid rgba(228, 0, 127, 0.2);
  padding: 16px 4px 8px 16px;
}
#left .category-box li.small-category a {
  color: #111;
  font-size: 12px;
  background-image: url("../img/summer/common/arrow3.png") !important;
  border-bottom: 1px solid rgba(228, 0, 127, 0.2);
  padding: 12px 4px 12px 48px;
}
#left .doroyo-box {
  background: rgba(230, 0, 128, 0.05);
}
#left .doroyo-box .titleImg {
  background: url("../img/summer/left/info-title.png");
}
#left .doroyo-box .info-box {
  padding: 16px;
}
#left .doroyo-box > .icon {
  background: url("../img/summer/left/clock-icon.png");
  margin-bottom: 0;
  width: 200px;
  height: 66px;
}
#left .calender-box {
  background: #F3F2E9;
}
#left .calender-box .titleImg {
  background: url("../img/summer/left/calender.png");
}

/*---------------------------------------------
  footer
----------------------------------------------*/
#footer {
  color: #111;
  /*お買物ガイド*/
}
#footer .info-box h2 {
  background: url("../img/summer/footer/title.png");
}
#footer .info-box .info-cont {
  padding: 0 10px;
}
#footer .info-box .info-cont li {
  width: 310px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px 16px 0 0;
}
#footer .info-box .info-cont li.last {
  width: 633px;
}
#footer .info-box .info-cont h3 {
  border-bottom: 2px solid #13d0ca;
  padding: 2px;
}
#footer .info-box .info-cont h4 {
  background: #F3FBFF;
  padding: 8px 12px;
  color: rgba(6, 68, 66, 0.8);
}
#footer .info-box .info-cont p {
  font-size: 12px;
}
#footer .info-box .info-cont p.link a {
  color: #fff;
  background: #13d0ca;
  border: 1px solid #13d0ca;
  padding: 4px 16px;
}
#footer .info-box .info-cont p.link a:hover {
  background: #fff;
  color: #13d0ca;
}

/*---------------------------------------------
  shoptop
----------------------------------------------*/
#shoptop .item-box {
  background: #F6F2E9;
}
#shoptop .search-box {
  color: #111;
}

/*---------------------------------------------
  item-bottom
----------------------------------------------*/
#item-bottom {
  /*オススメ商品*/
  /*スライドバナー*/
}
#item-bottom .item-box {
  background: #F3F2E9;
  border-radius: 2px;
}
#item-bottom .banner-box .slidebanner {
  background: none;
}
#item-bottom .banner-box .slidebanner iframe {
  width: 468px;
}
