<section class="p-help p-article">
    <div class="p-help__contents">
        <div class="article-summary">
            <p class="article-summary--title">{{'記事一覧'|trans}}</p>
            <div class="article-h2">{{'CBDについて'|trans}}</div>
            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd"}) }}"><div class="article-h3">{{'CBDとは'|trans}}</div></a>
            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd-oil"}) }}"><div class="article-h3">{{'CBDオイルとは'|trans}}</div></a>
            {#<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd-water"}) }}"><div class="article-h3">{{'CBDウォーターとは'|trans}}</div></a>#}
            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "how-to-use-cbd"}) }}"><div class="article-h3">{{'CBDオイル＆CBDウォーターの使い方'|trans}}</div></a>
            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "cbd-law-in-japan"}) }}"><div class="article-h3">{{'CBDに関する法律'|trans}}</div></a>
            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"}) }}"><div class="article-h3">{{'よくある質問'|trans}}</div></a>
            <div class="article-h2">{{'MARITIMEについて'|trans}}</div>
            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "maritime"}) }}"><div class="article-h3">{{'MARITIMEとは'|trans}}</div></a>
            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "cbd_intake"}) }}"><div class="article-h3">{{'CBD摂取量'|trans}}</div></a>
            {# <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "analysis"}) }}"><div class="article-h3">{{'成分分析表'|trans}}</div></a> #}
            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "partner"})}}"><div class="article-h3">{{'代理店'|trans}}</div></a>
            <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "safety"})}}"><div class="article-h3">{{'安全性について'|trans}}</div></a>
        </div>
        <br>
        <br>
        <dl class="p-help__guide-parts u-dl-sanitize" id="store_info">
            <dd class="p-help__guide-parts-detail">
                <div class="p-help__guide-box">
                    <div class="p-help__guide-box-item">
                        <hr>
                        <h3>{{'取り扱い店舗'|trans}}</h3>
                        <br>
                        <div class="dairiten_gallery">
                            <img loading=lazy src="{{ asset('assets/img/articles/maritime-store-display.jpg', 'user_data') }}" alt="{{ 'MARITIME - 代理店'|trans }}" />
                            <img loading=lazy src="{{ asset('assets/img/articles/maritime-banner-sign.jpg', 'user_data') }}" alt="{{ 'MARITIME -  店舗バナー'|trans }}" />
                            <img loading=lazy src="{{ asset('assets/img/articles/maritime-inside-goemon-shop.jpg', 'user_data') }}" alt="{{ 'MARITIME - ブランドショップGOEMON'|trans }}" />
                            <img loading=lazy src="{{ asset('assets/img/articles/maritime-inside-goemon-shop2.jpg', 'user_data') }}" alt="{{ 'MARITIME - ブランドショップGOEMON'|trans }}" />
                            <img loading=lazy src="{{ asset('assets/img/articles/maritime-store-display-2.jpg', 'user_data') }}" alt="{{ 'MARITIME - 代理店'|trans }}" />
                            <img loading=lazy src="{{ asset('assets/img/articles/maritime-store-display-3.jpg', 'user_data') }}" alt="{{ 'MARITIME - 箱'|trans }}" />
                        </div>
                        <p>{{ 'front.dealer_stores_text'|trans({ '%contactURL%' : url("contact"), '%storesURL%' : url(eccube_config.eccube_user_data_route, {"route": "store-locator"}) })|raw|nl2br }}</p>
                    </div>
                </div>
            </dd>
        </dl>
    </div>
</section>