{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="b-category">
    <div class="b-category__body">
        <div class="b-category__contents">
            <section class="b-category__item is-1st">
                <a class="b-category__item-link" href="{{ url('product_list') }}?category_id=3">
                    <h2 class="b-category__item-title">{{ 'CBDオイル'|trans }}</h2>
                    <p class="b-category__item-description">{{ 'MARITIMEの確かな品質をCBD1%のオイルでお試しください。'|trans }}</p>
                    <div class="b-category__item-bg"></div>
                </a>
            </section>
            <section class="b-category__item is-2nd">
                <a class="b-category__item-link" href="{{ url('product_list') }}?category_id=7">
                    <h2 class="b-category__item-title">{{ 'CBDウォーター'|trans }}</h2>
                    <p class="b-category__item-description">{{ '甘味料ゼロ、香料ゼロ、カロリーゼロで、CBDそのものが味わえる清涼飲料水です。'|trans }}</p>
                    <div class="b-category__item-bg"></div>
                </a>
            </section>
            {#
            <section class="b-category__item is-3rd">
                <a class="b-category__item-link" href="{{ url('product_list') }}?category_id=2">
                    <h2 class="b-category__item-title">{{ 'その他'|trans }}</h2>
                    <p class="b-category__item-description">{{ 'その他の商品'|trans }}</p>
                    <div class="b-category__item-bg"></div>
                </a>
            </section>
            #}
        </div>
    </div>
</div>

{# 各背景画像はindex.twigに記載 #}
