{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

{% macro tree(Category) %}
    {% from _self import tree %}
    {% if Category.children|length > 0 %}
        <div class="b-category-nav-sp__contents">
            <div class="b-category-nav-sp__heading js-category-nav-sp__heading">
                <div class="b-category-nav-sp__heading-contents">
                    <span class="b-category-nav-sp__name">{{ Category.name|trans }}</span>
                    <i class="b-category-nav-sp__icon c-animation--rotate-forward material-icons">expand_more</i>
                </div>
            </div>
            <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
                <li class="b-category-nav-sp__list-item">
                    <a href="{{ url('product_list') }}?category_id={{ Category.id }}" class="b-category-nav-sp__link js-category-nav-sp__link">
                        <span class="b-category-nav-sp__name">{{ Category.name|trans }}{{'front.list_literal'|trans}}</span>
                    </a>
                </li>
                {% for ChildCategory in Category.children %}
                    <li class="b-category-nav-sp__list-item">
                        {{ tree(ChildCategory) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <a class="b-category-nav-sp__link" href="{{ url('product_list') }}?category_id={{ Category.id }}">
            <span class="b-category-nav-sp__name">{{ Category.name|trans }}</span>
        </a>
    {% endif %}
{% endmacro %}

{# @see https://github.com/bolt/bolt/pull/2388 #}
{% from _self import tree %}

<nav class="b-category-nav-sp">
    <div class="b-category-nav-sp__heading">
        <div class="b-category-nav-sp__title">
            <i class="b-category-nav-sp__title-icon material-icons">list</i>
            <h2 class="b-category-nav-sp__title-text">{{ 'メニュー'|trans }}</h2>
        </div>
    </div>
    <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
        {% for Category in Categories %}
            <li class="b-category-nav-sp__list-item">
                {{ tree(Category) }}
            </li>
        {% endfor %}
    </ul>
    <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
        <li class="b-category-nav-sp__list-item">
            <div class="b-category-nav-sp__contents">
                <div class="b-category-nav-sp__heading js-category-nav-sp__heading">
                    <div class="b-category-nav-sp__heading-contents">
                        <span class="b-category-nav-sp__name">{{ 'よくある質問'|trans }}</span>
                        <i class="b-category-nav-sp__icon c-animation--rotate-forward material-icons">expand_more</i>
                    </div>
                </div>
                <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
                    <li class="b-category-nav-sp__list-item">
                        <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"})}}" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'CBDとは？'|trans}}</span>
                        </a>
                    </li>
                    <li class="b-category-nav-sp__list-item">
                        <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"})}}#cbd_use" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'使用方法'|trans}}</span>
                        </a>
                    </li>
                    <li class="b-category-nav-sp__list-item">
                        <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"})}}#cbd_safety" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'CBDって大丈夫なの？'|trans}}</span>
                        </a>
                    </li>
                    <li class="b-category-nav-sp__list-item">
                        <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"})}}#cbd_percentage" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'濃度(％)の違いは？'|trans}}</span>
                        </a>
                    </li>
                    <li class="b-category-nav-sp__list-item">
                        <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"})}}#cbd_oliveoil" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'なぜ、エクストラバージンオリーブオイルですか？'|trans}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
        <li class="b-category-nav-sp__list-item">
            <div class="b-category-nav-sp__contents">
                <div class="b-category-nav-sp__heading js-category-nav-sp__heading">
                    <div class="b-category-nav-sp__heading-contents">
                        <span class="b-category-nav-sp__name">{{ '新着情報'|trans }}</span>
                        <i class="b-category-nav-sp__icon c-animation--rotate-forward material-icons">expand_more</i>
                    </div>
                </div>
                <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
                    <li class="b-category-nav-sp__list-item">
                        <a href="/news" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'新着情報一覧'|trans}}</span>
                        </a>
                    </li>
                    <li class="b-category-nav-sp__list-item">
                        <a href="/news?category_id=1" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'重要なお知らせ'|trans}}</span>
                        </a>
                    </li>
                    <li class="b-category-nav-sp__list-item">
                        <a href="/news?category_id=2" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'システムメンテナンス'|trans}}</span>
                        </a>
                    </li>
                    <li class="b-category-nav-sp__list-item">
                        <a href="/news?category_id=3" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'お知らせ'|trans}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
        <li class="b-category-nav-sp__list-item">
            <div class="b-category-nav-sp__contents">
                <div class="b-category-nav-sp__heading js-category-nav-sp__heading">
                    <div class="b-category-nav-sp__heading-contents">
                        <span class="b-category-nav-sp__name">{{ 'ブログ'|trans }}</span>
                        <i class="b-category-nav-sp__icon c-animation--rotate-forward material-icons">expand_more</i>
                    </div>
                </div>
                <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
                    <li class="b-category-nav-sp__list-item">
                        <a href="/blog" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'ブログ一覧'|trans}}</span>
                        </a>
                    </li>
                    <li class="b-category-nav-sp__list-item">
                        <a href="/blog?category_id=4" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'コラム'|trans}}</span>
                        </a>
                    </li>
                    <li class="b-category-nav-sp__list-item">
                        <a href="/blog?category_id=5" class="b-category-nav-sp__link js-category-nav-sp__link">
                            <span class="b-category-nav-sp__name">{{'ショップニュース'|trans}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
        <li class="b-category-nav-sp__list-item">
            <a class="b-category-nav-sp__link" href="{{ url(eccube_config.eccube_user_data_route, {"route": "partner"}) }}">
                <span class="b-category-nav-sp__name">{{ '代理店'|trans }}</span>
            </a>
        </li>
    </ul>
    <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
        <li class="b-category-nav-sp__list-item">
            <a class="b-category-nav-sp__link" href="{{ url('product_review_list') }}">
                <span class="b-category-nav-sp__name">{{ 'お客様の声'|trans }}</span>
            </a>
        </li>
    </ul>
    <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
        <li class="b-category-nav-sp__list-item">
            <a class="b-category-nav-sp__link" href="{{ url(eccube_config.eccube_user_data_route, {"route": "cbd_intake"})}}">
                <span class="b-category-nav-sp__name">{{ 'CBD摂取量'|trans }}</span>
            </a>
        </li>
    </ul>
    {#
    <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
        <li class="b-category-nav-sp__list-item">
            <a class="b-category-nav-sp__link" href="{{ url(eccube_config.eccube_user_data_route, {"route": "analysis"})}}">
                <span class="b-category-nav-sp__name">{{ '成分分析表'|trans }}</span>
            </a>
        </li>
    </ul>
    #}
    {% if is_granted('ROLE_USER') %}
        <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
            <li class="b-category-nav-sp__list-item">
                <a class="b-category-nav-sp__link" href="{{ url('mypage') }}">
                    <span class="b-category-nav-sp__name">{{ 'マイページ'|trans }}</span>
                </a>
            </li>
        </ul>
        <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
            <li class="b-category-nav-sp__list-item">
                <a class="b-category-nav-sp__link" href="{{ url('logout') }}">
                    <span class="b-category-nav-sp__name">{{ 'ログアウト'|trans }}</span>
                </a>
            </li>
        </ul>
    {% else %}
        <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
            <li class="b-category-nav-sp__list-item">
                <a class="b-category-nav-sp__link" href="{{ url('entry') }}">
                    <span class="b-category-nav-sp__name">{{ '新規会員登録'|trans }}</span>
                </a>
            </li>
        </ul>
        <ul class="b-category-nav-sp__list u-list-sanitize js-category-nav-sp__list">
            <li class="b-category-nav-sp__list-item">
                <a class="b-category-nav-sp__link" href="{{ url('mypage_login') }}">
                    <span class="b-category-nav-sp__name">{{ 'ログイン'|trans }}</span>
                </a>
            </li>
        </ul>
    {% endif %}
</nav>
