{% import _self as stars %}
{% macro stars(positive, negative) %}
    {% set positive_stars = ["", "★", "★★", "★★★", "★★★★", "★★★★★"] %}
    {% set negative_stars = ["", "☆", "☆☆", "☆☆☆", "☆☆☆☆", "☆☆☆☆☆"] %}
    {{- positive_stars[positive] -}}{{- negative_stars[negative] -}}
{% endmacro %}

<div class="p-product__contents">
    {% set result = get_recommended_products(Product) %}
    {% set recommended_products = result.products %}
    {% set reviews = result.reviews %}
    
    {% if recommended_products['products'] %}
    <h4>{{'おすすめ商品'|trans}}</h4>
    
    <ul class="p-product__list u-list-sanitize p-product__contents">
        {% for Product in recommended_products['products'] %}
            <li class="p-product__list-item">
                <div class="c-list-product">
                    <a class="c-list-product__link" href="{{ url('product_detail', {'id': Product.id}) }}">
                        <div class="c-list-product__image js-list-product__image">
                            <div class="c-list-product__image-contents">
                                <img loading=lazy class="c-list-product__image-pic" src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name|trans }}">
                            </div>
                        </div>
                        <p class="c-list-product__name js-list-product__name">{{ Product.name|trans }}</p>
                        {% set positive_avg_star = reviews[Product.id].avg %}
                        {% set nagative_avg_star = 5 - positive_avg_star %}
                        <div class="product_review_area">
                          <div class="c-list-product__link" {#href="{{ url('product_detail', {'id': Product.id}) }}" #}>
                            <span class="recommend_average">{{ stars.stars(positive_avg_star, nagative_avg_star) }}</span>
                            <span>({{ reviews[Product.id].count }})</span>
                          </div>
                        </div>
                        <p class="c-list-product__price">
                            <span class="price1-default-normal">
                                {% if Product.hasProductClass -%}
                                    {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin != Product.getPrice02IncTaxMin %}
                                        {{ Product.getPrice01IncTaxMin|price }}
                                    {% endif %}
                                {% endif %}
                            </span>
                            <span class="price02-default {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin != Product.getPrice02IncTaxMin %}salesprice{%  endif %}">
                                {% if Product.hasProductClass %}
                                    {% if Product.getPrice02Min == Product.getPrice02Max %}
                                        {{ Product.getPrice02IncTaxMin|price }}
                                    {% else %}
                                        {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                                    {% endif %}
                                {% else %}
                                    {{ Product.getPrice02IncTaxMin|price }}
                                {% endif %}
                            </span>
                            <span>{{ '（税込）'|trans }}</span>
                        </p>
                    </a>
                    {% if Product.stock_find %}
                        {% set form = recommended_products['forms'][Product.id] %}
                        <form name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">
                            <div class="c-list-product__form">
                                {% if form.classcategory_id1 is defined %}
                                    <div class="c-list-product__form-box">
                                        <div class="c-list-product__form-box-item">
                                            <div class="c-select mdc-select mdc-select--outlined{{ has_errors(form.classcategory_id1) ? ' mdc-select--invalid' }}">
                                                <i class="mdc-select__dropdown-icon"></i>
                                                <label class="c-select__label" for="{{ form.children.classcategory_id1.vars.id }}">{{ form.children.classcategory_id1.vars.label }}</label>
                                                {{ form_widget(form.classcategory_id1, { 'attr': {'class': 'mdc-select__native-control' }}) }}
                                                <div class="mdc-notched-outline">
                                                    <div class="mdc-notched-outline__leading"></div>
                                                    <div class="mdc-notched-outline__notch"></div>
                                                    <div class="mdc-notched-outline__trailing"></div>
                                                </div>
                                            </div>
                                            {{ form_errors(form.classcategory_id1, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                        </div>
                                    </div>
                                    <script>
                                    $(function() {
                                      eccube.productsClassCategories = eccube.productsClassCategories || {};
                                      eccube.productsClassCategories[{{ Product.id }}] = {{ class_categories_as_json(Product)|raw }};
                                      $('.product-code-default').removeClass('product-code-default').addClass('product-code-default-backup');
                                      eccube.checkStock($('#productForm{{ Product.id }}'), {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
                                      $('.product-code-default-backup').removeClass('product-code-default-backup').addClass('product-code-default');
                                    });
                                    </script>
                                    {% if form.classcategory_id2 is defined %}
                                        <div class="c-list-product__form-box">
                                            <div class="c-list-product__form-box-item">
                                                <div class="c-select mdc-select mdc-select--outlined{{ has_errors(form.classcategory_id2) ? ' mdc-select--invalid' }}">
                                                    <i class="mdc-select__dropdown-icon"></i>
                                                    <label class="c-select__label" for="{{ form.children.classcategory_id2.vars.id }}">{{ form.children.classcategory_id2.vars.label }}</label>
                                                    {{ form_widget(form.classcategory_id2, { 'attr': {'class': 'mdc-select__native-control' }}) }}
                                                    <div class="mdc-notched-outline">
                                                        <div class="mdc-notched-outline__leading"></div>
                                                        <div class="mdc-notched-outline__notch"></div>
                                                        <div class="mdc-notched-outline__trailing"></div>
                                                    </div>
                                                </div>
                                                {{ form_errors(form.classcategory_id2, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="c-list-product__form-box">
                                    <div class="c-list-product__form-box-item">
                                        <div class="c-text-field mdc-text-field mdc-text-field--outlined">
                                            {{ form_widget(form.quantity, {'attr': {'class': 'c-text-field__input mdc-text-field__input quantity' }}) }}
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label class="c-floating-label mdc-floating-label" for="quantity{{ Product.id }}">{{ '数量'|trans }}</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>
                                        {{ form_errors(form.quantity) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </form>
                        <div class="c-list-product__actions">
                            <div class="c-list-product__actions-item">
                                <button class="c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated add-cart-list" type="submit" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                                    <span class="c-button__label mdc-button__label">{{ 'カートに入れる'|trans }}</span>
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="c-list-product__actions">
                            <div class="c-list-product__actions-item">
                                <button class="c-button c-button--unelevated mdc-button mdc-button--unelevated" type="button" disabled="disabled">
                                    <span class="c-button__label mdc-button__label">{{ 'SOLD OUT'|trans }}</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
