{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="b-eyecatch">
    <div class="b-eyecatch__body">
        <div class="b-eyecatch__contents">
            <ul class="b-eyecatch__list">
                <li class="b-eyecatch__list-item">
                    <section class="b-eyecatch__product">
                        <div class="b-eyecatch__product-category">
                            <ul class="b-eyecatch__product-category-list">
                                <li class="b-eyecatch__product-category-list-item">
                                    <a class="b-eyecatch__product-category-link" href="{{ url('product_list') }}?category_id=2">{{ '#RUNNING'|trans }}</a>
                                </li>
                                <li class="b-eyecatch__product-category-list-item">
                                    <a class="b-eyecatch__product-category-link" href="{{ url('product_list') }}?category_id=2">{{ '#SHOES'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                        <h2 class="b-eyecatch__product-title">{{ '優れたパフォーマンスを発揮するハイエンドモデル'|trans }}</h2>
                        <div class="b-eyecatch__product-actions">
                            <div class="b-eyecatch__product-actions-item">
                                <a class="c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated mdc-ripple-upgraded" href="{{ url('product_detail', {'id': '1'}) }}">
                                    <span class="c-button__label mdc-button__label">{{ '詳細'|trans }}</span>
                                </a>
                            </div>
                        </div>
                        <figure class="b-eyecatch__product-image c-animation-image js-animation-image">
                            <picture>
                                <source media="(max-width: 479px)" srcset="{{ asset('assets/img/top/img_eyecatch_sp01.jpg') }}">
                                <img loading=lazy class="b-eyecatch__product-image-pic c-animation-image-pic" src="{{ asset('assets/img/top/img_eyecatch_pc01.jpg') }}" alt="{{ '優れたパフォーマンスを発揮するハイエンドモデル'|trans }}">
                            </picture>
                        </figure>
                        <div class="b-eyecatch__product-layout">
                            <div class="b-eyecatch__product-layout-item">
                                <p class="b-eyecatch__product-name">{{ '商品名が入ります'|trans }}</p>
                            </div>
                            <div class="b-eyecatch__product-layout-item">
                                <p class="b-eyecatch__product-price">{{ '￥19,800（税込）'|trans }}</p>
                            </div>
                        </div>
                        <p class="b-eyecatch__product-text">{{ 'あのイーハトーヴォのすきとおった風。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。'|trans }}</p>
                    </section>
                </li>
                <li class="b-eyecatch__list-item">
                    <section class="b-eyecatch__product">
                        <ul class="b-eyecatch__product-category-list">
                            <li class="b-eyecatch__product-category-list-item">
                                <a class="b-eyecatch__product-category-link" href="{{ url('product_list') }}?category_id=2">{{ '#TRAIL RUN'|trans }}</a>
                            </li>
                            <li class="b-eyecatch__product-category-list-item">
                                <a class="b-eyecatch__product-category-link" href="{{ url('product_list') }}?category_id=2">{{ '#SHOES'|trans }}</a>
                            </li>
                        </ul>
                        <h2 class="b-eyecatch__product-title">{{ 'その日の気分でカラーが変えられるマルチバンド'|trans }}</h2>
                        <div class="b-eyecatch__product-actions">
                            <div class="b-eyecatch__product-actions-item">
                                <a class="c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated mdc-ripple-upgraded" href="{{ url('product_detail', {'id': '1'}) }}">
                                    <span class="c-button__label mdc-button__label">{{ '詳細'|trans }}</span>
                                </a>
                            </div>
                        </div>
                        <figure class="b-eyecatch__product-image c-animation-image js-animation-image">
                            <picture>
                                <source media="(max-width: 479px)" srcset="{{ asset('assets/img/top/img_eyecatch_sp02.jpg') }}">
                                <img loading=lazy class="b-eyecatch__product-image-pic c-animation-image-pic" src="{{ asset('assets/img/top/img_eyecatch_pc02.jpg') }}" alt="{{ 'その日の気分でカラーが変えられるマルチバンド'|trans }}">
                            </picture>
                        </figure>
                        <div class="b-eyecatch__product-layout">
                            <div class="b-eyecatch__product-layout-item">
                                <p class="b-eyecatch__product-name">{{ '商品名が入ります'|trans }}</p>
                            </div>
                            <div class="b-eyecatch__product-layout-item">
                                <p class="b-eyecatch__product-price">{{ '￥49,800（税込）'|trans }}</p>
                            </div>
                        </div>
                        <p class="b-eyecatch__product-text">{{ 'あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。'|trans }}</p>
                    </section>
                </li>
            </ul>
        </div>
    </div>
</div>
