{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="b-footer">

    <div class="footer-bottom-menu-cont">
        <div class="footer-menu">
            <ul>
                <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd"})}}">{{'CBDとは'|trans}}</a></li>
                <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd-oil"})}}">{{'CBDオイルとは'|trans}}</a></li>
                {#<li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd-water"})}}">{{'CBDウォーターとは'|trans}}</a></li>#}
                <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "maritime"})}}">{{'MARITIMEとは'|trans}}</a></li>
            </ul>
            <ul>
                <li><a href="{{ url('help_about') }}">{{'会社概要'|trans}}</a></li>
                <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "partner"})}}">{{'代理店'|trans}}</a></li>
                <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "store-locator"})}}">{{'取り扱い店舗一覧'|trans}}</a></li>
                <li><a href="{{ url('contact') }}">{{'お問い合わせ'|trans}}</a></li>
            </ul>
            <ul>
                <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"}) }}">{{'FAQ'|trans}}</a></li>
                <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "cbd_intake"})}}">{{'CBD摂取量'|trans}}</a></li>
                {#<li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "analysis"})}}">{{'成分分析表'|trans}}</a></li>#}
                <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "safety"})}}">{{'安全性について'|trans}}</a></li>
            </ul>
        </div>
    </div>

    <div class="b-footer__bottom">

        <div class="b-footer__bottom-contents">

            <div class="b-footer__logo">
                <a class="b-footer__logo-link" href="{{ url('homepage') }}">
                    <img loading=lazy src="{{ asset('assets/img/100_THC_free_logo.png', 'user_data') }}" alt="{{ '100% THC Free'|trans }}" >
                </a>
            </div>

            <div class="footer_details">
                <div>
                    <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "maritime"})}}"><img loading=lazy src="{{ asset('assets/img/maritime-logo-small.png', 'user_data') }}" alt="{{ 'MARITIMEのロゴ'|trans }}" /></a>
                </div>
                <p>{{'front.footer_logo_subtitle'|trans|nl2br}}</p>
            </div>
            {#
            <div class="b-footer__logo shops_logos">
                <a class="b-footer__logo-link" href="https://item.rakuten.co.jp/b-goemon/c/0000000332/#side" target="_blank">
                    <img loading=lazy src="{{ asset('assets/img/rakuten_logo.png', 'user_data') }}" alt="{{ '楽天'|trans }}" >
                </a>
                <a class="b-footer__logo-link" href="https://www.amazon.co.jp/s?me=A3CZRCIVT3BD2F&marketplaceID=A1VC38T7YXB528" target="_blank">
                    <img loading=lazy src="{{ asset('assets/img/amazon_logo.png', 'user_data') }}" alt="{{ 'アマゾン'|trans }}" >
                </a>
                <a class="b-footer__logo-link" href="https://store.shopping.yahoo.co.jp/b-goemon/maritimecb.html" target="_blank">
                    <img loading=lazy src="{{ asset('assets/img/yahoo_shopping_logo.png', 'user_data') }}" alt="{{ 'Yahoo!ショッピング'|trans }}" >
                </a>
            </div>

            <div class="footer_details footer_details_goemon">
                <a href="https://b-goemon.com/" alt="{{ 'ブランドショップGOEMON'|trans }}" target="_blank">
                    <h4>{{ 'front.footer_goemon'|trans|nl2br }}</h4>
                </a>
            </div>
            #}

            <div class="b-footer__sns">
                <ul class="b-footer__sns-list">
                    <li class="b-footer__sns-list-item">
                        <a class="b-footer__sns-link is-instagram" target="_blank" href="https://www.instagram.com/cbdmaritime/">Instagram</a>
                    </li>
                    <li class="b-footer__sns-list-item">
                        <a class="b-footer__sns-link is-facebook" target="_blank" href="https://www.facebook.com/maritime.cbd.73">Facebook</a>
                    </li>
                    <li class="b-footer__sns-list-item">
                        <a class="b-footer__sns-link is-twitter" target="_blank" href="https://twitter.com/cbdmaritime">Twitter</a>
                    </li>
                </ul>
                {#
                <ul class="b-footer__sns-list" style="margin-bottom: 0;">
                    <li class="b-footer__sns-list-item">
                        <a href="{{ app.request.pathInfo }}?hl=ja"><figure class="flag flag-ja"></figure></a>
                    </li>
                    <li class="b-footer__sns-list-item">
                        <a href="/en{{ app.request.pathInfo }}?hl=en"><figure class="flag flag-us"></figure></a>
                    </li>
                    <li class="b-footer__sns-list-item">
                        <a href="/ko{{ app.request.pathInfo }}?hl=ko"><figure class="flag flag-ko"></figure></a>
                    </li>
                    <li class="b-footer__sns-list-item">
                        <a href="/zh{{ app.request.pathInfo }}?hl=zh"><figure class="flag flag-cn"></figure></a>
                    </li>
                </ul>
                #}
            </div>
        </div>
        <p class="b-footer__bottom-contents b-footer__copy">
            <small class="b-footer__copy-text">copyright (c) {{ BaseInfo.shop_name }}, Inc. all rights reserved.</small>
            ・<small class="b-footer__copy-text"><a href="{{ url('help_privacy') }}">{{'プライバシーポリシー'|trans}}</a></small>・
            <small class="b-footer__copy-text"><a href="{{ url('help_tradelaw') }}">{{'特定商取引法に基づく表記'|trans}}</a></small>
        </p>
    </div>
</div>
