{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="c-top-app-bar mdc-top-app-bar is-show wrapper-header" id="js-top-app-bar">
    <div class="c-top-app-bar__row mdc-top-app-bar__row">
        <div class="b-header">

            <div class="b-header__logo-container">
                <h2 class="b-header__logo">
                    <a class="b-header__logo-link" href="{{ url('homepage') }}">
                        <img src="{{ asset('assets/img/maritime-logo-gold-leaf.png', 'user_data') }}" alt="{{'MARITIMEのロゴ'|trans}}" class="featured_logo" />
                        <span class="b-header__logo-text">{{ BaseInfo.shop_name }}</span>
                    </a>
                </h2>
            </div>

            <span class="b-header__spacer"></span>

            {# sphex - header top right #}
            <div class="b-header__utility">
                {#
                <div class="b-header__utility-search">
                    <a class="b-header__utility-search-link" href="{{ url('homepage') }}" id="js-header__utility-home-link">
                        <i class="b-header__utility-search-icon material-icons">home</i>
                    </a>
                </div>
                #}
                <div class="b-header__utility-search">
                    <a class="b-header__navi-link" href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd"})}}">{{ 'CBDとは'|trans }}</a>
                </div>
                <div class="b-header__utility-search">
                    <a class="b-header__navi-link" href="{{ url(eccube_config.eccube_user_data_route, {"route": "maritime"})}}">{{ 'MARITIMEとは'|trans }}</a>
                </div>
                <div class="b-header__utility-search">
                    <a class="b-header__navi-link" href="{{ url('product_list') }}">{{ '商品一覧'|trans }}</a>
                </div>
                <div class="b-header__utility-search">
                    <a class="b-header__navi-link" href="{{ url(eccube_config.eccube_user_data_route, {"route": "partner"})}}">{{ '代理店'|trans }}</a>
                </div>
                <div class="b-header__utility-search">
                    <a class="b-header__navi-link" href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"})}}">{{ 'FAQ'|trans }}</a>
                </div>
                <div class="b-header__utility-search">
                    <a class="b-header__navi-link" href="{{ url('help_about') }}">{{ '会社概要'|trans }}</a>
                </div>
                {#
                <div class="b-header__utility-navi">
                    {{ include('Block/login.twig') }}
                </div>
                #}
                <div class="b-header__utility-search">
                    <a class="b-header__utility-search-link" href="#js-search-product" id="js-header__utility-search-link">
                        <i class="b-header__utility-search-icon material-icons">search</i>
                    </a>
                </div>
                <div class="b-header__utility-cart" id="js-header__utility-cart">
                    {{ include('Block/cart.twig') }}
                </div>
            </div>

            <div class="b-header__button">
                {{ include('Block/nav_sp.twig') }}
            </div>

            <nav class="b-header__navi">
                <ul class="b-header__navi-list u-list-sanitize">
                    {#
                    <li class="b-header__navi-list-item">
                        <a class="b-header__navi-link" href="{{ url('help_about') }}">{{ '会社概要'|trans }}</a>
                    </li>
                    #}
                    <li class="b-header__navi-list-item">
                        {# <a class="b-header__navi-link" href="{{ url('product_list') }}">{{ 'PRODUCTS'|trans }}</a> #}
                        <div class="mdc-menu-surface--anchor">
                            <button class="b-header__navi-icon mdc-icon-button material-icons" id="js-header__navi-icon">list</button>
                            <div class="b-header__category mdc-menu mdc-menu-surface" id="js-header__category">
                                {{ include('Block/category_nav_sp.twig') }}
                                {#
                                <nav class="b-category-nav-sp">
                                    <ul class="b-header__category-list mdc-list" role="menu">
                                       <li class="b-header__category-list-item" role="menuitem">
                                           <a class="b-header__category-link mdc-ripple-surface" href="{{ url(eccube_config.eccube_user_data_route, {"route": "partner"})}}">{{ '代理店'|trans }}</a>
                                       </li>
                                   </ul>

                                   <ul class="b-header__category-list mdc-list" role="menu">
                                       <li class="b-header__category-list-item b-header__language-list" role="menuitem">
                                           <a href="{{ app.request.pathInfo }}?hl=ja"><figure class="flag flag-ja"></figure></a>
                                           <a href="/en{{ app.request.pathInfo }}?hl=en"><figure class="flag flag-us"></figure></a>
                                           <a href="/ko{{ app.request.pathInfo }}?hl=ko"><figure class="flag flag-ko"></figure></a>
                                           <a href="/zh{{ app.request.pathInfo }}?hl=zh"><figure class="flag flag-cn"></figure></a>
                                       </li>
                                   </ul>
                                </nav>
                                #}
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>

            {# only enable JP / KR translation for now #}
            <ul class="b-header__language mdc-list" role="menu">
                <li class="b-header__category-list-item b-header__language-list" role="menuitem">
                    {% if app.request.locale == "ja" %}
                        <figure class="flag flag-ja"></figure>
                    {% elseif app.request.locale == "en" %}
                        <figure class="flag flag-us"></figure>
                    {% elseif app.request.locale == "ko" %}
                        <figure class="flag flag-ko"></figure>
                    {% elseif app.request.locale == "zh" %}
                        <figure class="flag flag-cn"></figure>
                    {% else %}
                        <a href="{{ app.request.pathInfo }}?hl=ja"><figure class="flag flag-ja"></figure></a>
                    {% endif %}
                    <ul class="dropdown">
                        {% if app.request.locale != "en" %}
                            <li><a href="/en{{ app.request.pathInfo }}?hl=en"><figure class="flag flag-us"></figure></a></li>
                        {% endif %}
                        {% if app.request.locale != "ja" %}
                            <li><a href="{{ app.request.pathInfo }}?hl=ja"><figure class="flag flag-ja"></figure></a></li>
                        {% endif %}
                        {% if app.request.locale != "ko" %}
                            <li><a href="/ko{{ app.request.pathInfo }}?hl=ko"><figure class="flag flag-ko"></figure></a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <span class="c-top-app-bar__bg"></span>
</div>
