<div class="cbd_slides cbd_work_section">
    <div class="cmn-container">
        <h2 class="cbd_work_title">{{'CBDの特徴と作用について'|trans}}</h2>
        <div class="p-howitworks__main-visual-slick" id="js-howitworks__visual-slick">
            <div class="p-products__main-visual-slick-slide">
                <div class="cmn-container" style="padding-bottom: 10px;">
                    <div class="cbd_slides_inside">
                        <div class="cbd_slide_half cbd_img">
                            <video autoplay loop muted playsinline>
                                <source src="{{ asset('assets/img/animation/Maritime-Animation-1.webm', 'user_data') }}" type="video/webm">
                                <source src="{{ asset('assets/img/animation/Maritime-Animation-1.mp4', 'user_data') }}" type="video/mp4">
                            </video>
                            {#<img loading=lazy src="{{ asset('assets/img/animation/Maritime-Animation-1.gif', 'user_data') }}" alt="{{  '瓶を軽く振ってから、CBDオイルを舌の裏側に数滴垂らし、90秒ほどそのままにした上で飲み込んでください。<br><br>メイド・イン・ジャパンの品質、エクストラバージンオリーブオイルのすっきりとした味わいとフレッシュな香りが楽しめます。'|trans|raw|replace({'"':'\''}) }}" />#}
                            {#<div class="c-animation" id="lottie"></div>#}
                        </div>
                        <div class="cbd_slide_half cbd_text">
                            <div class="cbd_text_inside">
                                <p class="sub_text">{{  '瓶を軽く振ってから、CBDオイルを舌の裏側に数滴垂らし、90秒ほどそのままにした上で飲み込んでください。<br><br>メイド・イン・ジャパンの品質、エクストラバージンオリーブオイルのすっきりとした味わいとフレッシュな香りが楽しめます。'|trans|raw }}</p>
                                <br>
                                <p class="sub_text"><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "how-to-use-cbd"}) }}">{{'使い方の詳細はこちら'|trans}}</a></p>
                            </div>
                        </div>
                        <div class="clear_b"></div>
                    </div>
                </div>
            </div>

            <div class="p-products__main-visual-slick-slide">
                <div class="cmn-container" style="padding-bottom: 10px;">
                    <div class="cbd_slides_inside">
                        <div class="cbd_slide_half cbd_img">
                            <video autoplay loop muted playsinline>
                                <source src="{{ asset('assets/img/animation/Maritime-Animation-2.webm', 'user_data') }}" type="video/webm">
                                <source src="{{ asset('assets/img/animation/Maritime-Animation-2.mp4', 'user_data') }}" type="video/mp4">
                            </video>
                            {#<img loading=lazy src="{{ asset('assets/img/animation/Maritime-Animation-2.gif', 'user_data') }}" alt="{{  '植物の麻に含まれるカンナビジオール成分が、人間のからだに備わっている身体調節機能の働きを、正常に戻そうとします。カンナビノイド成分が、リラックス効果をお手伝いします。<br><br>カンナビノイド受容体に届いて、鎮静した状態になります。前向きに、若々しく送ることができるサプリメントです。'|trans|raw|replace({'"':'\''}) }}" />#}
                            {#<div class="c-animation" id="lottie2"></div>#}
                        </div>
                        <div class="cbd_slide_half cbd_text">
                            <div class="cbd_text_inside">
                                <p class="sub_text">{{  '植物の麻に含まれるカンナビジオール（CBD）だけを抽出したアイソレートを使用。<br><br>MARITIMEは前向きに若々しい生活を送りたいあなたを応援します。'|trans|raw }}</p>
                                <br>
                                <p class="sub_text"><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd"}) }}">{{'CBDの詳細はこちら'|trans}}</a></p>
                            </div>
                        </div>
                        <div class="clear_b"></div>
                    </div>
                </div>
            </div>

            <div class="p-products__main-visual-slick-slide">
                <div class="cmn-container" style="padding-bottom: 10px;">
                    <div class="cbd_slides_inside">
                        <div class="cbd_slide_half cbd_img">
                            <video autoplay loop muted playsinline>
                                <source src="{{ asset('assets/img/animation/Maritime-Animation-3.webm', 'user_data') }}" type="video/webm">
                                <source src="{{ asset('assets/img/animation/Maritime-Animation-3.mp4', 'user_data') }}" type="video/mp4">
                            </video>
                            {#<img loading=lazy src="{{ asset('assets/img/animation/Maritime-Animation-3.gif', 'user_data') }}" alt="{{  '高品質で本物の天然由来CBDオイルをお届けしたい。<br><br>安心、安全、そして続けて飲みやすいものをご提供するために、最高級スペイン産エクストラバージンオリーブオイルとCBD成分を混ぜています。<br><br>日本の製造ルールに沿って製造されている、正真正銘メイド・イン・ジャパンのCBDオイルです。'|trans|raw }}" />#}
                            {#<div class="c-animation" id="lottie3"></div>#}
                        </div>
                        <div class="cbd_slide_half cbd_text">
                            <div class="cbd_text_inside">
                                <p class="sub_text">{{  '高品質で本物の天然由来CBDオイルをお届けしたい。<br><br>安心、安全、そして続けて飲みやすいものをご提供するために、最高級スペイン産エクストラバージンオリーブオイルとCBD成分を混ぜています。<br><br>日本の製造ルールに沿って製造されている、正真正銘メイド・イン・ジャパンのCBDオイルです。'|trans|raw }}</p>
                                <br>
                                <p class="sub_text"><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd-oil"}) }}">{{'CBDオイルの詳細はこちら'|trans}}</a></p>
                            </div>
                        </div>
                        <div class="clear_b"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .c-animation{
        background-color:#fff;
        width:100%;
        height:100%;
        display:block;
        /*overflow: hidden;*/
        transform: translate3d(0,0,0);
        text-align: center;
        opacity: 1;
    }
    .c-animation *{
        overflow: visible;
    }
</style>