<div class="we_are_maritime">
    <div class="cmn-container">
        <div class="we_are_inside">
            <img loading=lazy src="{{ asset('assets/img/cbd-gold-logo-small.png', 'user_data') }}" alt="{{'100種類のCBDオイルを飲み比べ、辿り着いたこの味。'|trans}}" />
            <p>{{'100種類のCBDオイルを飲み比べ、辿り着いたこの味。'|trans}}</p>
            <p>{{'メイド・イン・ジャパンの品質、エクストラバージンオリーブオイルを使った天然由来CBDオイル'|trans}}</p>
        </div>
    </div>
</div>