<div id="mc_embed_signup" class="join_our_club_section parallax-container" data-parallax="scroll" data-image-src="{{ asset('assets/img/newsletter-bg.jpg', 'user_data') }}" data-natural-width="1977" data-natural-height="1208">
	<form action="https://shourai.us18.list-manage.com/subscribe/post?u=d39165ff13ed1ae3765dfc156&amp;id=3233ec4748" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div class="cmn-container">
			<div class="join_our_club_form">
				<h3>{{'今すぐメールマガジンに登録またはLINE友達追加をして初回10％割引オファーをゲット'|trans}}</h3>
				<div class="newsletter_input">
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="info@medyfine.co.jp">
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d39165ff13ed1ae3765dfc156_3233ec4748" tabindex="-1" value=""></div>
				<div class="newsletter_submit clear">
					<input type="submit" value="{{'メルマガに登録'|trans}}" name="subscribe" id="mc-embedded-subscribe" class="button"/>
				</div>
				<div class="newsletter_submit clear">
					<p>- {{'または'|trans}} -</p>
					<a href="https://lin.ee/KgZ9nei"><img loading=lazy height="36" border="0" src="https://scdn.line-apps.com/n/line_add_friends/btn/{% if app.request.locale == "ja" %}ja{% else %}en{% endif %}.png" alt="{{ 'LINE Add Friends' }}"></a>
				</div>
			</div>
		</div>
	</form>
</div>