{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="b-login-sp">
    <ul class="b-login-sp__list u-list-sanitize">
        <li class="b-login-sp__list-item">
            <a class="b-login-sp__link" href="{{ url('cart') }}">
                <span class="b-login-sp__text">{{ 'カートを見る'|trans }}</span>
            </a>
        </li>
        {% if is_granted('ROLE_USER') %}
            <li class="b-login-sp__list-item">
                <a class="b-login-sp__link" href="{{ url('mypage') }}">
                    <span class="b-login-sp__text">{{ 'マイページ'|trans }}</span>
                </a>
            </li>
            <li class="b-login-sp__list-item">
                <a class="b-login-sp__link" href="{{ url('logout') }}">
                    <span class="b-login-sp__text">{{ 'ログアウト'|trans }}</span>
                </a>
            </li>
        {% else %}
            <li class="b-login-sp__list-item">
                <a class="b-login-sp__link" href="{{ url('entry') }}">
                    <span class="b-login-sp__text">{{ '新規会員登録'|trans }}</span>
                </a>
            </li>
            <li class="b-login-sp__list-item">
                <a class="b-login-sp__link" href="{{ url('mypage_login') }}">
                    <span class="b-login-sp__text">{{ 'ログイン'|trans }}</span>
                </a>
            </li>
        {% endif %}
        <li class="b-login-sp__list-item">
            <a class="b-login-sp__link" href="{{ url('homepage') }}">
                <span class="b-login-sp__text">{{ 'ホームに戻る'|trans }}</span>
            </a>
        </li>
        {# only enable JP / KR translation for now #}
        <li class="b-login-sp__list-item b-header__language-list" role="menuitem">
            {% if app.request.locale != "ja" %}
            <a class="b-login-sp__link" href="{{ app.request.pathInfo }}?hl=ja"><figure class="flag flag-ja"></figure></a>
            {% endif %}
            {% if app.request.locale != "en" %}
            <a class="b-login-sp__link" href="/en{{ app.request.pathInfo }}?hl=en"><figure class="flag flag-us"></figure></a>
            {% endif %}
            {% if app.request.locale != "ko" %}
            <a class="b-login-sp__link" href="/ko{{ app.request.pathInfo }}?hl=ko"><figure class="flag flag-ko"></figure></a>
            {% endif %}
            {#<a href="/zh{{ app.request.pathInfo }}?hl=zh"><figure class="flag flag-cn"></figure></a>#}
        </li>
    </ul>
</div>
