{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="b-login">
    <ul class="b-login__list u-list-sanitize">
        {% if is_granted('ROLE_USER') %}
            <li class="b-login__list-item">
                <a class="b-login__link" href="{{ url('mypage') }}">
                    <span class="b-login__text is-kana">{{ 'マイページ'|trans }}</span>
                </a>
            </li>
            <li class="b-login__list-item">
                <a class="b-login__link" href="{{ url('logout') }}">
                    <span class="b-login__text is-kana">{{ 'ログアウト'|trans }}</span>
                </a>
            </li>
        {% else %}
            <li class="b-login__list-item">
                <a class="b-login__link" href="{{ url('entry') }}">
                    <span class="b-login__text">{{ '新規会員登録'|trans }}</span>
                </a>
            </li>
            <li class="b-login__list-item">
                <a class="b-login__link" href="{{ url('mypage_login') }}">
                    <span class="b-login__text is-kana">{{ 'ログイン'|trans }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>