{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="b-logo">
    <h1 class="b-logo__text">
        <a class="b-logo__link" href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}</a>
    </h1>
</div>
