{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="b-nav-sp__button--open" id="js-nav-sp__button--open">
    <i class="b-nav-sp__button-icon material-icons">menu</i>
</div>
