{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{#
<section class="b-new-item">
    <div class="b-new-item__body">
        <div class="b-new-item__heading">
            <h2 class="b-new-item__title">{{ '新着商品'|trans }}</h2>
            <p class="b-new-item__description">{{ 'ワークアウトのための最新コレクション'|trans }}</p>
        </div>
        <div class="b-new-item__contents" id="js-new-item__contents">
            <div class="b-new-item__slide" id="js-new-item__slide">
                <div class="b-new-item__slide-item slick-slide">
                    <section class="b-new-item__product">
                        <a class="b-new-item__product-link" href="{{ url('product_detail', {'id': '1'}) }}">
                            <figure class="b-new-item__product-image c-animation-image">
                                <img loading=lazy class="b-new-item__product-image-pic c-animation-image-pic" src="{{ asset('assets/img/top/img_new-item_01.jpg') }}" width="275" height="275" alt="{{ 'Fitness Tracker ピンク'|trans }}">
                            </figure>
                            <h3 class="b-new-item__product-name">{{ 'Fitness Tracker ピンク'|trans }}</h3>
                            <p class="b-new-item__product-price">{{ '￥19,800(税込)'|trans }}</p>
                        </a>
                    </section>
                </div>
                <div class="b-new-item__slide-item slick-slide">
                    <section class="b-new-item__product">
                        <a class="b-new-item__product-link" href="{{ url('product_detail', {'id': '1'}) }}">
                            <figure class="b-new-item__product-image c-animation-image">
                                <img loading=lazy class="b-new-item__product-image-pic c-animation-image-pic" src="{{ asset('assets/img/top/img_new-item_02.jpg') }}" width="275" height="275" alt="{{ 'Fitness Tracker ブラック'|trans }}">
                            </figure>
                            <h3 class="b-new-item__product-name">{{ 'Fitness Tracker ブラック'|trans }}</h3>
                            <p class="b-new-item__product-price">{{ '￥9,800(税込)'|trans }}</p>
                        </a>
                    </section>
                </div>
                <div class="b-new-item__slide-item slick-slide">
                    <section class="b-new-item__product">
                        <a class="b-new-item__product-link" href="{{ url('product_detail', {'id': '1'}) }}">
                            <figure class="b-new-item__product-image c-animation-image">
                                <img loading=lazy class="b-new-item__product-image-pic c-animation-image-pic" src="{{ asset('assets/img/top/img_new-item_03.jpg') }}" width="275" height="275" alt="{{ 'Fitness Tracker パープル'|trans }}">
                            </figure>
                            <h3 class="b-new-item__product-name">{{ 'Fitness Tracker パープル'|trans }}</h3>
                            <p class="b-new-item__product-price">{{ '￥12,400(税込)'|trans }}</p>
                        </a>
                    </section>
                </div>
                <div class="b-new-item__slide-item slick-slide">
                    <section class="b-new-item__product">
                        <a class="b-new-item__product-link" href="{{ url('product_detail', {'id': '1'}) }}">
                            <figure class="b-new-item__product-image c-animation-image">
                                <img loading=lazy class="b-new-item__product-image-pic c-animation-image-pic" src="{{ asset('assets/img/top/img_new-item_04.jpg') }}" width="275" height="275" alt="{{ 'Fitness Tracker ライトグリーン'|trans }}">
                            </figure>
                            <h3 class="b-new-item__product-name">{{ 'Fitness Tracker ライトグリーン'|trans }}</h3>
                            <p class="b-new-item__product-price">{{ '￥19,800(税込)'|trans }}</p>
                        </a>
                    </section>
                </div>
                <div class="b-new-item__slide-item slick-slide">
                    <section class="b-new-item__product">
                        <a class="b-new-item__product-link" href="{{ url('product_detail', {'id': '1'}) }}">
                            <figure class="b-new-item__product-image c-animation-image">
                                <img loading=lazy class="b-new-item__product-image-pic c-animation-image-pic" src="{{ asset('assets/img/top/img_new-item_05.jpg') }}" width="275" height="275" alt="{{ 'Fitness Tracker ライトブルー'|trans }}">
                            </figure>
                            <h3 class="b-new-item__product-name">{{ 'Fitness Tracker ライトブルー'|trans }}</h3>
                            <p class="b-new-item__product-price">{{ '￥9,800(税込)'|trans }}</p>
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
#}
{# スライダーに必要なscriptはindex.twigに記載 #}
