{# newsletter Popup on home page #}
<section class="b-search-product" id="js-newsletter">
    <h2 class="b-search-product__title">
        <i class="b-search-product__title-icon material-icons">redeem</i>
        <span class="b-search-product__title-text">{{'初回10％割引オファー'|trans}}</span>
    </h2>
    <form action="https://shourai.us18.list-manage.com/subscribe/post?u=d39165ff13ed1ae3765dfc156&amp;id=3233ec4748" method="post" class="searchform validate" id="js-newsletter-subscribe-form" target="_blank" novalidate>
        <div class="b-search-product__contents">
            <div class="c-form__box">
                <div class="c-form__box-item" style="text-align: center;">
                    <h5 style="margin:0">{{'今すぐメールマガジンに登録またはLINE友達追加をして初回10％割引オファーをゲット'|trans}}</h5>
                </div>
            </div>
            <div class="c-form__box">
                <div class="c-form__box-item">
                    <div class="c-text-field mdc-text-field mdc-text-field--outlined">
                        <input id="mce-EMAIL" class="c-text-field__input mdc-text-field__input" type="text" name="EMAIL" placeholder="">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label class="c-floating-label mdc-floating-label" for="name">{{'info@medyfine.co.jp'|trans}}</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d39165ff13ed1ae3765dfc156_3233ec4748" tabindex="-1" value=""></div>
        </div>
        <div class="b-search-product__actions">
            <div class="b-search-product__actions-item">
                <button class="b-search-product__button c-button is-secondary c-button--outlined mdc-button mdc-button--outlined" type="submit" id="js-newsletter-subscribe">
                    <span class="c-button__label mdc-button__label">{{ '登録'|trans }}</span>
                </button>
            </div>
            <div style="text-align: center;">
                <p>- {{'または'|trans}} -</p>
                <a href="https://lin.ee/KgZ9nei"><img loading=lazy style="max-height:36px" border="0" src="https://scdn.line-apps.com/n/line_add_friends/btn/{% if app.request.locale == "ja" %}ja{% else %}en{% endif %}.png"></a>
            </div>
        </div>
    </form>
</section>
<a href="#js-newsletter" style="display: none" id="js-newsletter-link"></a>
