<div class="we_are_maritime most_effective">
    <div class="cmn-container">
        <div class="we_are_inside">
            <img loading=lazy src="{{ asset('assets/img/cbd-gold-logo-small.png', 'user_data') }}" alt="{{'ゴールドのCBDロゴ'|trans}}" />
            <p>{{'front.owner_message'|trans|raw|nl2br}}</p>
        </div>
    </div>
</div>