{# promotion bar / banner for coupons / campaigns #}
<div id="promotion_section_container" class="cmn-container">
    <div id="promotion_section">
        <p>{{ '新価格でお買い求めやすくなりました！<br>ぜひお試しください！'|trans|raw }}</p>
        {# <span>{{'ご注文内容の確認ページに、%discount%％割引のクーポンコード<bold>「%coupon_code%」</bold>をご利用ください！'|trans({'%discount%': '30', '%coupon_code%': 'SALE30'})|raw}}</span> #}
    </div>
</div>