{% set reviews = get_reviews() %}
{% import _self as stars %}

{# 星テキスト生成用マクロ #}
{% macro stars(positive, negative) %}
    {% set positive_stars = ["", "★", "★★", "★★★", "★★★★", "★★★★★"] %}
    {% set negative_stars = ["", "☆", "☆☆", "☆☆☆", "☆☆☆☆", "☆☆☆☆☆"] %}
    {{- positive_stars[positive] -}}{{- negative_stars[negative] -}}
{% endmacro %}

<div class="cbd_slides cbd_slides_oils review_slides">
    <div class="cmn-container">
        <div class="p-products-reviews__main-visual-slick product-carousel" id="js-products-review__visual-slick">
            {% for Review in reviews %}
            <div class="p-products-reviews__main-visual-slick-slide">
                <div class="cmn-container wrapper-carousel-item" style="padding-bottom: 10px; color: #fff">
                    <div class="cbd_slides_inside review_slides_inside text-center">
                        <div class="review_slide">
                            <p class="review_date">
                                {% set positive_star = Review.recommend_level %}
                                {% set nagative_star = 5 - positive_star %}
                                <span class="recommend_level">{{- stars.stars(positive_star, nagative_star) -}}</span>
                            </p>
                            <h4><q><strong>{{ Review.title|trans }}</strong></q></h4>
                            <p class="recommend_comment"><q>{{ Review.comment|nl2br }}</q></p>
                            {% spaceless %}
                            <span class="recommend_name">-
                            {% if Review.reviewer_url %}
                                <a href="{{ Review.reviewer_url }}"
                                   target="_blank">{{ 'product_review.front.product_detail.name'|trans({ '%name%': Review.reviewer_name }) }}</a>
                            {% else %}
                                {{ 'product_review.front.product_detail.name'|trans({ '%name%': Review.reviewer_name }) }}
                            {% endif %}
                            </span>
                            {% endspaceless %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="sq_btn">
            <a href="{{ url('product_review_list') }}">{{'お客様の声はこちら'|trans}}</a>
        </div>
    </div>
</div>
