{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% form_theme form 'Form/form_div_layout.twig' %}
<section class="b-search-product" id="js-search-product">
    <h2 class="b-search-product__title">
        <i class="b-search-product__title-icon material-icons">search</i>
        <span class="b-search-product__title-text">{{'商品検索'|trans}}</span>
    </h2>
    <form method="get" class="searchform" action="{{ path('product_list') }}">
        <div class="b-search-product__contents">
            <div class="c-form__box">
                <div class="c-form__box-item">
                    <div class="c-select mdc-select mdc-select--outlined">
                        <i class="mdc-select__dropdown-icon"></i>
                        {{ form_widget(form.category_id, {'attr': { 'class': 'mdc-select__native-control' }, 'choice_translation_domain': 'messages'}) }}
                        <label class="c-select__label" for="category_id">{{'カテゴリー'|trans}}</label>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-form__box">
                <div class="c-form__box-item">
                    <div class="c-text-field mdc-text-field mdc-text-field--outlined">
                        {{ form_widget(form.name, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label class="c-floating-label mdc-floating-label" for="name">{{'検索ワード'|trans}}</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-search-product__actions">
            <div class="b-search-product__actions-item">
                <button class="b-search-product__button c-button is-secondary c-button--outlined mdc-button mdc-button--outlined" type="submit">
                    <span class="c-button__label mdc-button__label">{{ '検索'|trans }}</span>
                </button>
            </div>
        </div>
    </form>
</section>
