<div class="cmn-container store_locator_block">
    <h2>{{'取り扱い店舗'|trans}}</h2>
    <iframe loading=lazy src="https://www.google.com/maps/d/embed?mid=1udDPNWM0f2Hj8_BNtgY0rlskNaGHZ_uw" width="100%" height="480"></iframe>
    <div class="sq_btn"><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "store-locator"})}}">{{'取り扱い店舗一覧'|trans}}</a></div>
</div>