{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{#
<section class="b-topic">
    <div class="b-topic__body">
        <div class="b-topic__heading">
            <h2 class="b-topic__title">
                <span class="b-topic__title--main">{{ '#TOPIC'|trans }}</span>
                <span class="b-topic__title--sub">{{ '特集'|trans }}</span>
            </h2>
        </div>
        <div class="b-topic__contents">
            <section class="b-topic__item is-odd">
                <figure class="b-topic__item-image c-animation-image js-animation-image">
                    <picture>
                        <source media="(max-width: 479px)" srcset="{{ asset('assets/img/top/img_topic_sp01.jpg') }}">
                        <img loading=lazy class="b-topic__item-image-pic c-animation-image-pic" src="{{ asset('assets/img/top/img_topic_pc01.jpg') }}" alt="{{ '#RUNNING'|trans }}">
                    </picture>
                </figure>
                <div class="b-topic__item-contents">
                    <h3 class="b-topic__item-name">{{ '#YOGA'|trans }}</h3>
                    <p class="b-topic__item-description">{{ 'マット/ラグ/ブロック/フォームローラー'|trans }}</p>
                    <p class="b-topic__item-text">{{ 'あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。'|trans }}</p>
                    <div class="b-topic__item-actions">
                        <div class="b-topic__item-actions-item">
                            <a class="c-button is-secondary c-button--outlined mdc-button mdc-button--outlined" href="{{ url('product_list') }}?category_id=1">
                                <span class="c-button__label mdc-button__label">{{ 'YOGAカテゴリーへ'|trans }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="b-topic__item is-even">
                <figure class="b-topic__item-image c-animation-image js-animation-image">
                    <picture>
                        <source media="(max-width: 479px)" srcset="{{ asset('assets/img/top/img_topic_sp02.jpg') }}">
                        <img loading=lazy class="b-topic__item-image-pic c-animation-image-pic" src="{{ asset('assets/img/top/img_topic_pc02.jpg') }}" alt="{{ '#TRAIL RUN'|trans }}">
                    </picture>
                </figure>
                <div class="b-topic__item-contents">
                    <h3 class="b-topic__item-name">{{ '#RUNNING'|trans }}</h3>
                    <p class="b-topic__item-description">{{ '時計/シューズ/ウェア'|trans }}</p>
                    <p class="b-topic__item-text">{{ 'あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。'|trans }}</p>
                    <div class="b-topic__item-actions">
                        <div class="b-topic__item-actions-item">
                            <a class="c-button is-secondary c-button--outlined mdc-button mdc-button--outlined" href="{{ url('product_list') }}?category_id=1">
                                <span class="c-button__label mdc-button__label">{{ 'RUNNINGカテゴリーへ'|trans }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
#}