<div class="stress_sleep_energy parallax-container" data-parallax="scroll" data-image-src="{{ asset('assets/img/brown-image-bg.jpg', 'user_data') }}" data-natural-width="1974" data-natural-height="650">
    <div class="cmn-container">
		<h2>{{ '現代人の抱える悩みや思い'|trans }}</h2>
    	<div class="sse_box">
    		<div class="sse_img"><img loading=lazy src="{{ asset('assets/img/stress.png', 'user_data') }}" alt="{{ 'ストレスを解消したい'|trans }}" class="featured_logo" /></div>
    		<h3>{{'仕事や家庭でのストレス'|trans}}</h3>
    		<p>{{'front.stress_description'|trans|nl2br}}</p>
			<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd"})}}" class="cbd_info__button">{{'CBDとは？'|trans}}</a>
    	</div>
    	<div class="sse_box">
    		<div class="sse_img"><img loading=lazy src="{{ asset('assets/img/sleep.png', 'user_data') }}" alt="{{ '十分な睡眠を取りたい'|trans }}" class="featured_logo" /></div>
    		<h3>{{'睡眠の量や質の問題'|trans}}</h3>
    		<p>{{'front.sleep_description'|trans|nl2br}}</p>
			<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd-oil"})}}" class="cbd_info__button">{{'CBDオイルとは？'|trans}}</a>
    	</div>
    	<div class="sse_box">
    		<div class="sse_img"><img loading=lazy src="{{ asset('assets/img/energy.png', 'user_data') }}" alt="{{ 'エネルギッシュに生活したい'|trans }}" class="featured_logo" /></div>
    		<h3>{{'ずっと元気に楽しみたい'|trans}}</h3>
    		<p>{{'front.energy_description'|trans|nl2br}}</p>
			<a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"})}}" class="cbd_info__button">{{'よくある質問'|trans}}</a>
    	</div>
    	<div class="clear_b"></div>
    </div>
</div>