<div class="youtube-container">
    <div class="cmn-container">
        <div class="we_are_inside youtube-player" data-id="RDHsJRZZ4YM"></div>
    </div>
</div>
<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', function() {
	    var v = document.getElementsByClassName("youtube-player");
	    for (var n = 0; n < v.length; n++) {
	        var p = document.createElement("div");
	        p.innerHTML = labnolThumb(v[n].dataset.id);
	        p.onclick = labnolIframe;
	        v[n].appendChild(p);
	    }
	});
	 
	function labnolThumb(id) {
	    return '<img loading=lazy class="youtube-thumb" src="{{ asset('assets/img/maritime_video_introduction_thumbnail.jpg', 'user_data') }}" alt="{{ 'MARITIME CBD Video Introduction'|trans }}"><div class="play-button"></div>';
	}
	 
	function labnolIframe() {
	    var iframe = document.createElement("iframe");
	    iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=0&showinfo=0");
	    iframe.setAttribute("frameborder", "0");
	    iframe.setAttribute("allow", "autoplay; encrypted-media");
	    iframe.setAttribute("id", "youtube-iframe");
	    this.parentNode.replaceChild(iframe, this);
	}
</script>