{% set water_products = get_category_products(7) %}

<div class="cbd_slides cbd_slides_water parallax-container section-cbd-water" data-parallax="scroll" data-image-src="{{ asset('assets/img/landscape-bg.jpg', 'user_data') }}" data-natural-width="1920" data-natural-height="882">
    <div class="cmn-container">

        <div class="p-products__main-visual-slick product-carousel" id="js-water-products__visual-slick">
            {% for Product in water_products %}
            <div class="p-products__main-visual-slick-slide">
                <div class="cmn-container wrapper-carousel-item" style="padding-bottom: 10px;">
                    <div class="cbd_slides_inside">
                        <div class="cbd_slide_half cbd_text">
                            <div class="cbd_text_inside">
                                <h3>{{  Product.name|trans }}</h3>
                                <img loading=lazy src="{{  asset(Product.mainFileName|no_image_product, "save_image")}}"class="product-img" alt="{{  Product.name|trans }}" />
                                <p class="sub_text">{{  Product.description_list|trans|raw }}</p>
                                <div class="cbd_slide_btn main-button">
                                    <a href="{{ url('product_detail', {'id': Product.id}) }}">{{'健康な明日に乾杯'|trans}}</a>
                                    <img loading=lazy class="cbd_slide_thc" src="{{ asset('assets/img/100_THC_free_logo_black_small.png', 'user_data') }}" alt="{{ '100% THC Free'|trans }}" >
                                </div>
                            </div>
                        </div>
                        <div class="cbd_slide_half cbd_img_water">
                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                <img loading=lazy src="{{  asset(Product.mainFileName|no_image_product, "save_image")}}" alt="{{  Product.name|trans }}" />
                            </a>
                        </div>
                        <div class="clear_b"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="sq_btn">
            <a href="{{ url('product_list') }}">{{'全商品一覧はこちら'|trans}}</a>
        </div>
    </div>
</div>