.p-cart {
    @include page-margin();
    &__heading {
        @include container;
    }
    &__contents {
        @include container;
    }
    &__progress {
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
        @include contents-margin(true, false);
        &-list {
            display: flex;
            justify-content: center;
            margin-left: -5px;
            margin-right: -5px;
            @include mq() {
                position: relative;
            }
            &-item {
                width: 20%;
                position: relative;
                z-index: 1;
                padding: 0 5px;
                box-sizing: border-box;
                &:before,
                &:after {
                    content: "";
                    display: block;
                    width: 50%;
                    height: 1px;
                    background: $color-primary;
                    position: absolute;
                    top: 15px;
                    z-index: -1;
                    transform: translateY(-50%);
                    @include mq() {
                        top: 10px;
                    }
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
                &:first-child:before,
                &:last-child:after {
                    display: none;
                }
            }
        }
        &-number {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-on-primary;
            font-family: $font-family-en;
            font-weight: $font-weight-medium;
            letter-spacing: 0;
            width: 30px;
            height: 30px;
            background: $color-primary;
            border-radius: 50%;
            margin: 0 auto;
            .is-active & {
                color: $color-on-secondary;
                background: $color-secondary;
            }
            @include mq() {
                font-size: 10px;
                width: 20px;
                height: 20px;
            }
        }
        &-label {
            display: block;
            color: rgba($font-color-base,.60);
            font-weight: $font-weight-bold;
            font-size: 0.75rem;
            line-height: 1.5;
            text-align: center;
            margin: 5px 0 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            .is-active & {
                color: $color-secondary;
                @include mq() {
                    display: block;
                }
            }
            @include mq() {
                font-size: 10px;
                line-height: 1.3;
                white-space: normal;
                text-overflow: inherit;
            }
        }
    }

    &__error {
        display: flex;
        justify-content: center;
        @include container-inner($width-thin);
        padding: 10px;
        box-sizing: border-box;
        background: rgba($color-error, 1.00);
        @include mq() {
            padding: 8px;
        }
        &-icon {
            color: #fff;
            @include em-mr(0.25);
        }
        &-text {
            color: #fff;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include contents-margin(true, false);
        &-message {
            color: rgba($font-color-base,.84);
            margin: 0;
            @include mq() {
                font-size: 0.75rem;
                line-height: 1.3;
            }
            &-price {
                @include font(1, false);
                color: rgba($font-color-base,1.00);
            }
        }
    }

    //parts
    &__table {
        @include container-inner($width-thin);
        @include contents-margin();
        &-heading {
            background-color: $bg-color;
            @include mq(tb) {
                display: none;
            }
            &-list {
                display: flex;
                &-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-weight: $font-weight-bold;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    box-sizing: border-box;
                    &:nth-child(1) {
                        width: 15%;
                    }
                    &:nth-child(2) {
                        width: 45%;
                    }
                    &:nth-child(3) {
                        width: 20%;
                        text-align: center;
                        flex-grow: 1;
                    }
                    &:nth-child(4) {
                        width: 20%;
                        text-align: right;
                    }
                }
            }
        }
        &-body {
            padding-top: 10px;
            @include mq(tb) {
                padding-top: 0px;
            }
            &-list {
                @extend .p-cart__table-heading-list;
                border-bottom: solid 1px rgba(0,0,0,0.12);
                .is-buy-later & {
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
                @include mq(tb) {
                    flex-wrap: wrap;
                    padding: 5px 0;
                    .is-cart & {
                        &:first-of-type {
                            border-top: dotted 1px rgba(0,0,0,0.12);
                        }
                    }
                }
                &-item {
                    @extend .p-cart__table-heading-list-item;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-weight: $font-weight-normal;
                    @include mq(tb) {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        &:nth-child(1) {
                            width: initial;
                        }
                        &:nth-child(2) {
                            width: calc(100% - 150px);
                            flex-grow: 1;
                        }
                        &:nth-child(3) {
                            width: initial;
                        }
                        &:nth-child(4) {
                            width: 100%;
                        }
                    }
                    @include mq() {
                        padding-left: 0;
                        padding-right: 0;
                        &:nth-child(2) {
                            width: calc(100% - 20px);
                        }
                        &:nth-child(3) {
                            width: 100%;
                        }
                    }
                    &:nth-child(3) {
                        @include mq() {
                            margin-top: 5px;
                            padding-top: 10px;
                            border-top: dotted 1px rgba(0,0,0,0.12);
                        }
                    }
                }
            }
        }
    }
    &__delete {
        margin: 0 -10px;
        &-button {

            $button-size: 40px;

            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-primary;
            text-decoration: none;
            width: $button-size;
            height: $button-size;
            border-radius: 50%;
        }
    }
    &__product {
        display: flex;
        @include mq() {
            padding-left: 16px;
        }
        &-image {
            align-self: center;
            width: 100px;
            flex-shrink: 0;
            @include mq(tb) {
                width: 75px;
            }
            @include mq() {
                width: 60px;
            }
        }
        &-summary {
            flex-grow: 1;
            box-sizing: border-box;
            @include em-pl(1);
        }

        &-name {
            margin: 0 0 5px;
            @include mq() {
                font-size: 0.875rem;
                line-height: 1.3;
            }
        }
        &-class-category {
            margin: 0;
            color: rgba($font-color-base,.8);
            font-size: 0.75rem;
            @include mq() {
                font-size: 10px;
            }
        }
        &-unit-price {
            font-size: 0.75rem;
            line-height: 1.5;
            margin: 8px 0 0;
            @include mq() {
                line-height: 1.3;
                margin: 6px 0 0;
            }
        }
    }
    &__quantity {
        display: flex;
        flex-direction: column;
        width: 70px;
        margin: 0 auto;
        @include mq() {
            flex-direction: row;
            align-items: center;
            width: initial;
            margin-right: 0;
        }
        &-item {}
    }
    &__amount {
        text-align: center;
        margin: 0 0 5px;
        @include mq() {
            margin: 0 10px 0 0;
        }
        &-label {
            display: none;
            @include mq(tb) {
                display: inline-block;
            }
        }
    }
    &__calculator {
        display: flex;
        align-items: center;
        margin: 0 -5px;
        &-item {
            margin: 0 5px;
        }
        &-button {

            $button-size: 30px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $color-primary;
            font-size: 0.875rem;
            letter-spacing: 0;
            width: $button-size;
            height: $button-size;
            border: solid 2px rgba($color-primary, 0.36);
            border-radius: 50%;
            text-decoration: none;
            box-sizing: border-box;
            cursor: pointer;

            &.is-disabled,
            &:disabled {
                color: graytext;
                border: solid 2px rgba($color-primary, 0.24);

            }

            &-icon {
                .is-disabled & {
                    color: rgba($color-primary, 0.36);
                }
            }
        }
    }
    &__subtotal {
        &-label {
            display: none;
            @include mq(tb) {
                display: inline-block;
            }
        }
    }
    &__buy-later {
        margin: 10px 0;
        @include mq() {
            margin: 15px 0 10px;
        }
    }
    &__after-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 -5px;
        &-item {
            margin: 0 5px;
        }
    }
    &__add-favorite {
        &-text {
            font-size: 0.875em;
            font-weight: $font-weight-bold;
            color: rgba($font-color-base, 0.6);
            margin: 0;
        }
    }
    &__total {
        @extend .p-cart__table;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 15px;
        box-sizing: border-box;
        @include mq() {
            padding: 0;
        }
        &-label {
            margin-right: 5px;
        }
        &-price {
            @include font(1, false);
            color: $color-secondary;
            font-weight: $font-weight-bold;
        }
    }
    &__birth-point,
    &__add-point {
        @include container-inner($width-thin);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 15px;
        box-sizing: border-box;
        @include mq() {
            padding: 0;
        }
        &-label {
            font-size: 0.875em;
            margin-right: 5px;
        }
        &-detail {
            font-size: 0.875em;
            color: $color-secondary;
            font-weight: $font-weight-bold;
        }
    }
    &__shipping {
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        &-text {
            font-size: 0.875em;
            margin: 0;
            &--em {
                color: $color-secondary;
            }
        }
    }
    &__actions {
        @include contents-margin();
        @include btn-container(row, center);
        flex-direction: row-reverse;
        @include mq() {
            flex-direction: column;
        }
        &-item {
            @include btn-container__item();
        }
    }
    &__button {
        @include mq() {
            display: flex;
            width: 100%;
            max-width: 240px;
            margin: 0 auto;
        }
    }

}
