.p-contact {
    @include page-margin();
    &__heading {
        @include container;
    }
    &__contents {
        @include container;
    }
    &__description {
        margin-top: $line-height-base + em;
        @include mq() {
            margin-top: $line-height-base-sp / 2 + em;
        }
    }

    &__complete {
        &-message {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            &-label {
                @include font(4, false);
                color: rgba($font-color-base, 0.8);
                font-weight: $font-weight-bold;
                text-align: center;
            }
            &-detail {
                margin-left: 0;
            }
        }
        &-description {
            margin-bottom: 0;
        }
    }
    &__company {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $line-height-base * 1 + em;
        @include mq() {
            margin-bottom: $line-height-base-sp * 1 + em;
        }
        &-name {}
        &-item {
            &-label {
                color: rgba($font-color-base,0.8);
                font-size: 0.875em;
            }
            &-detail {}
        }
    }

    &__actions {
        @include contents-margin();
        @include btn-container(row, center);
        flex-direction: row-reverse;
        @include mq() {
            flex-direction: column;
        }
        &-item {
            @include btn-container__item();
        }
    }
    &__button {
        @include mq() {
            display: flex;
            width: 100%;
            max-width: 240px;
            margin: 0 auto;
        }
    }
}
