.p-entry {
    @include page-margin();
    &__heading {
        @include container;
    }
    &__contents {
        @include container;
    }
    &__description {
        margin-top: $line-height-base + em;
        margin-bottom: $line-height-base + em;
        @include mq() {
            margin-top: $line-height-base-sp + em;
            margin-bottom: $line-height-base-sp + em;
        }
        &-label {
            font-weight: $font-weight-bold;
            color: rgba($font-color-base,0.8);
        }
        &-detail {
            margin: 0;
            @include mq() {
                margin-top: 4px;
            }
        }
        &-text {
            margin: 0;
            
        }
    }
    
    &__kiyaku {
        @include container-inner($width-thin);
        @include contents-margin();
        &-textfield {
            appearance: none;
            width: 100%;
            height: $line-height-base * 15 + em;
            border: rgba(0,0,0,0.12) solid 1px;
            box-sizing: border-box;
            padding: 1 + $letter-spacing-base;
            background: $bg-color;
            @include mq() {
                height: $line-height-base-sp * 10 + em;
                padding: 1 + $letter-spacing-base-sp;
                font-size: 0.875em;
            }
        }
        &-anti {
            &-title {
                @include font(1.5, false, false);
                color: rgba($font-color-base, 0.9);
                font-weight: $font-weight-bold;
                margin-bottom: 0;
            }
            &-description {}
            &-list-layout {
                display: flex;
                &-icon {
                    width: 30px;
                    flex-shrink: 0;
                    @include mq() {
                        width: 30px;
                    }
                }
                &-text {
                    margin: 0;
                }
            }
        }
    }
    &__check {
        width: 100%;
        max-width: 420px;
        margin: auto;
    }
    &__complete {
        &-message {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            &-label {
                @include font(4, false);
                color: rgba($font-color-base, 0.8);
                font-weight: $font-weight-bold; 
                text-align: center;
            }
            &-detail {
                margin-left: 0;
            }
        }
        &-description {
            margin-bottom: 0;
        }
        &-notes {
            margin: 0;
            color: $color-secondary;
        }

    }
    &__company {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $line-height-base * 1 + em;
        display: flex;
        justify-content: center;
        @include mq() {
            margin-bottom: $line-height-base-sp * 1 + em;
        }
        &-name {}
        &-item {
            &-label {
                color: rgba($font-color-base,0.8);
                font-size: 0.875em;
            }
            &-detail {}
        }
    }
    &__actions {
        @include contents-margin();
        @include btn-container(row, center);
        flex-direction: row-reverse;
        @include mq() {
            flex-direction: column;
        } 
        &-item {
            @include btn-container__item();
        }
    }
    &__button {
        &.is-disabled {
            opacity: 0.6;
            pointer-events: none;
        }
    }
    
}