.p-error {
    display: flex;
    align-items: center;
    justify-content: center;
    @include contents-margin();
    min-height: 90vh;
    &__heading {
        @include container;
    }
    &__contents {
        @include container;
    }
    &__message {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        &-label {
            @include font(4, false);
            color: rgba($font-color-base, 0.8);
            font-weight: $font-weight-bold;
            text-align: center;
        }
        &-detail {
            margin-left: 0;
        }
        &-mark {
            display: block;
            text-align: center;
            &-icon {
                color: $color-secondary;
                font-size: 60px;
            }
        }
        &-description {
            margin-bottom: 0;
        }
    }
    &__actions {
        @include contents-margin();
        @include btn-container(row, center);
        flex-direction: row-reverse;
        @include mq() {
            flex-direction: column;
        }
        &-item {
            @include btn-container__item();
        }
    }
    &__button {
        @include mq() {
            display: flex;
            width: 100%;
            max-width: 240px;
            margin: 0 auto;
        }
    }

}
