.p-forgot {
    @include page-margin();
    &__heading {
        @include container;
    }
    &__contents {
        @include container;
    }
    &__description {
    }
    
    &__complete {
        &-message {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            &-label {
                @include font(4, false);
                color: rgba($font-color-base, 0.8);
                font-weight: $font-weight-bold; 
                text-align: center;
            }
            &-detail {
                margin-left: 0;
            }
        }
        &-description {
            margin-bottom: 0;
        }
    }
    
}