.p-help {
    @include page-margin();
    &__heading {
        @include container;
    }
    &__contents {
        @include container;
    }

    &__description {
        margin-top: $line-height-base + em;
        @include mq() {
            margin-top: $line-height-base-sp / 2 + em;
        }
    }

    //about & tradelaw
    &__about,
    &__tradelaw {
        @include contents-margin();
        &-parts {
            display: flex;
            padding: 10px 0;
            border-bottom: dotted 1px rgba(0,0,0,0.12);
            @include mq(tb) {
                flex-direction: column;
            }
            @include mq() {
                padding: 8px 0;
            }
            &-label {
                display: flex;
                align-items: flex-start;
                margin-right: 1 + $letter-spacing-base * 1;
                min-width: 200px;
                padding: 10px 0;
                @include mq(tb) {
                    min-width: inherit;
                }
                @include mq(tb) {
                    padding: 4px 0;
                }
                &-text {
                    color: rgba($font-color-base,.7);
                    font-weight: $font-weight-bold;
                    @include mq(tb) {
                        font-size: 0.75rem;
                    }
                }
            }
            &-detail {
                flex-grow: 1;
            }
        }
        &-box {
            display: flex;
            margin: 0 -10px;
            @include mq() {
                margin: 0 -8px;
            }
            &-item {
                flex-grow: 1;
                padding: 10px 0;
                margin: 0 10px;
                @include mq() {
                    padding: 8px 0;
                    margin: 0 8px;
                }
            }
        }
        &-text {
            margin: 0;
        }
    }

    //privacy
    &__kiyaku,
    &__privacy {
        @include container-inner($width-thin);
        @include contents-margin();
        &-parts {
            padding: 10px 0;
            @include mq() {
                padding: 8px 0;
            }
            &-label {
                &-text {
                    color: rgba($font-color-base,.8);
                    font-weight: $font-weight-bold;
                    @include font(1.5, true, false);
                }
            }
            &-detail {}
        }
        &-box {
            display: flex;
            margin: 0 -10px;
            @include mq() {
                margin: 0 -8px;
            }
            &-item {
                flex-grow: 1;
                padding: 10px 0;
                margin: 0 10px;
                @include mq() {
                    padding: 8px 0;
                    margin: 0 8px;
                }
            }
        }
    }

    //agreement
    &__agreement {
        @include container-inner($width-thin);
        @include contents-margin();
        &-parts {
            padding: 10px 0;
            @include mq() {
                padding: 8px 0;
            }
            &-label {
                &-text {
                    color: rgba($font-color-base,.7);
                    font-weight: $font-weight-bold;
                    @include font(1.5, true, false);
                }
            }
            &-detail {}
        }
        &-box {
            display: flex;
            margin: 0 -10px;
            @include mq() {
                margin: 0 -8px;
            }
            &-item {
                flex-grow: 1;
                padding: 10px 0;
                margin: 0 10px;
                @include mq() {
                    padding: 8px 0;
                    margin: 0 8px;
                }
            }
        }
    }

    //guide
    &__guide {
        @include container-inner($width-thin);
        @include contents-margin();
        &-parts {
            padding: 10px 0;
            @include mq() {
                padding: 8px 0;
            }
            &-label {
                &-text {
                    color: rgba($font-color-base,.8);
                    font-weight: $font-weight-bold;
                    @include font(1.5, true, false);
                }
            }
            &-detail {}
        }
        &-box {
            display: flex;
            margin: 0 -10px;
            @include mq() {
                margin: 0 -8px;
            }
            &-item {
                flex-grow: 1;
                padding: 10px 0;
                margin: 0 10px;
                @include mq() {
                    padding: 8px 0;
                    margin: 0 8px;
                }
            }
        }
    }
}
