.p-mypage {
    @include page-margin();
    &__heading {
        @include container;
    }
    &__contents {
        @include container;
    }
    &__login {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        &-user {
            text-align: center;
            &-icon {
                color: rgba($font-color-base, 0.80);
                font-size: 60px;
            }
        }
        &-info {
            //border-top: dotted 1px rgba(0,0,0,0.12);
            border-bottom: dotted 1px rgba(0,0,0,0.12);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0 20px;
            @include mq() {
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
                padding: 8px 0 16px;
            }
            &-text {
                color: rgba($font-color-base, 0.70);
                font-size: 0.875rem;
                margin: 0;
                padding-right: 2 + $letter-spacing-base * 2;
                @include mq() {
                    padding-right: 0;
                }
            }
            &-button {
                flex-shrink: 0;
                @include mq() {
                    text-align: center;
                    margin-top: 16px;
                }
            }
        }
    }
    &__navi {
        &-list {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 0 -10px;
            @include mq(tb) {
                flex-wrap: wrap;
                margin: 0 -5px;
                padding: 10px 0 0;
            }
            @include mq() {
                margin: 0;
                padding: 8px 0 0;
            }
            &-item {
                flex-grow: 1;
                margin: 20px 0 0;
				padding: 0 10px;
				box-sizing: border-box;
				width: calc(100% / 6);
                @include mq(tb) {
                    margin: 10px 0 0;
					padding: 0 5px;
                    width: 50%;
                }
                @include mq() {
                    margin: 8px 0 0;
					padding: 0;
                    width: 100%;
                }
            }
        }
        &-button {
            width: 100%;
            .is-active & {
                opacity: 0.8;
            }
        }
    }
    &__welcome-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: solid 1px rgba(0, 0, 0, 0.12);
        &-text {}
    }

    &__page-message {
        &-text {}
        &-attention {
            color: $color-error;
        }
        &-list {
            padding: 0;
            &-item {
                list-style: none;
                display: flex;
                &:before {
                    content: "・";
                    display: block;
                    width: 1 + $letter-spacing-base;
                    @include mq() {
                        width: 1 + $letter-spacing-base;
                    }
                }
            }
        }
    }

    &__actions {
        @include contents-margin();
        @include btn-container(row, center);
        flex-direction: row-reverse;
        @include mq() {
            flex-direction: column;
        }
        &-item {
            @include btn-container__item();
        }
    }
    &__button {
        @include mq() {
            display: flex;
            width: 100%;
            max-width: 240px;
            margin: 0 auto;
        }
    }

    &__error {
        display: flex;
        justify-content: center;
        @include container-inner($width-thin);
        padding: 10px;
        box-sizing: border-box;
        background: rgba($color-error, 1.00);
        @include mq() {
            padding: 8px;
        }
        &-icon {
            color: #fff;
            @include em-mr(0.25);
        }
        &-text {
            color: #fff;
        }
    }

    //ご注文履歴
    &__history {
        &-list {
            &-item {
                display: flex;
                padding-top: $line-height-base / 2 + em;
                border-top: solid 1px rgba(0, 0, 0, 0.12);
                @include mq(tb) {
                    flex-direction: column;
                }
                @include mq() {
                    padding-top: $line-height-base-sp / 2 + em;
                }
            }
        }

        &-info {
            width: 280px;
            flex-shrink: 0;
            padding-right: 20px;
            margin-bottom: $line-height-base / 2 + em;
            box-sizing: border-box;
            @include mq(tb) {
                width: auto;
                padding-right: 0;
                padding-bottom: $line-height-base-sp / 2 + em;
                margin-bottom: $line-height-base-sp / 2 + em;
                border-bottom: dotted 1px rgba(0, 0, 0, 0.12);
            }
        }
        &-date {
            color: rgba($font-color-base, 0.8);
            font-size: 0.75rem;
            font-weight: $font-weight-bold;
            margin: 0 0 5px;
        }
        &-order-number,
        &-order-status {
            display: flex;
            align-items: center;
            &-label {
                color: rgba($font-color-base, 0.8);
                font-weight: $font-weight-bold;
            }
            &-detail {
                display: flex;
                align-items: center;
                &:before {
                    content: "：";
                    display: block;
                    width: 1 + $letter-spacing-base * 1;
                }
            }
        }
        &-actions {
            margin-top: $line-height-base / 2 + em;
            @include mq() {
                margin-top: $line-height-base-sp / 2 + em;
            }
            &-item {}
        }

        &-products {
            flex-grow: 1;
        }
        &-product {
            display: flex;
            align-items: center;
            padding-bottom: $line-height-base / 2 + em;
            @include mq() {
                padding-bottom: $line-height-base-sp / 2 + em;
                margin-bottom: $line-height-base-sp / 2 + em;
            }
            &-image {
                flex-basis: 120px;
                flex-shrink: 0;
                @include mq() {
                    flex-basis: 100px;
                }
            }
            &-detail {
                @include em-ml();
                flex-grow: 1;
            }
            &-name {
                margin: 0 0 5px;
                font-weight: $font-weight-bold;
            }
            &-class-category {
                margin: 0;
                color: rgba($font-color-base,.8);
                font-size: 0.75rem;
                @include mq() {
                    font-size: 10px;
                }
            }
            &-price {
                margin: 10px 0 0;
                display: flex;
                align-items: baseline;
                @include mq(tb) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                @include mq() {
                    margin: 8px 0 0;
                }
                &--sub {
                    font-size: 0.875rem;
                    @include em-mr();
                }
                &--main {
                    font-size: 0.875rem;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }

    //ご注文履歴詳細
    &__layout {
        display: flex;
        align-items: flex-start;
        @include mq() {
            flex-direction: column;
            align-items: stretch;
        }
        &--main {
            flex-grow: 1;
            box-sizing: border-box;
        }
        &--sub {
            width: 250px;
            padding-left: 30px;
            transition: mdc-animation-enter(margin-top, 175ms, 0ms);
            @include mq(tb) {
                width: 210px;
                padding-left: 20px;
            }
            @include mq() {
                width: auto;
                padding-left: 0;
            }
        }
    }

    &__account {
        @include contents-margin();
        &-heading {}
        &-contents {
            &-item {
                margin-top: $line-height-base / 2 + em;
                @include mq() {
                    margin-top: $line-height-base-sp / 2 + em;
                }
            }
        }
        &-name {
            margin: 0;
        }
        &-kana {
            margin: 0;
        }
        &-company-name {
            margin: 0;
        }
        &-postcode {
            margin: 0;
        }
        &-address {
            margin: 0;
        }
        &-phone-number {
            margin: 0;
        }
        &-email {
            margin: 0;
            word-break: break-all;
        }
    }
    &__deliv {
        @extend .p-mypage__account;
        &-heading {}
        &-contents {
            &-item {
                @extend .p-mypage__account-contents-item;
            }
        }
        &-change {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: $line-height-base / 2 + em;
            @include mq() {
                padding-bottom: $line-height-base-sp / 2 + em;
            }
            border-bottom: solid 1px rgba(0,0,0,0.12);
            &-label {
                @include font(0.5, false);
                color: rgba($font-color-base, 0.8);
                font-weight: $font-weight-bold;
                margin: 0;
            }
        }
        &-product {
            display: flex;
            align-items: center;
            padding-bottom: $line-height-base / 2 + em;
            margin-bottom: $line-height-base / 2 + em;
            @include mq() {
                padding-bottom: $line-height-base-sp / 2 + em;
                margin-bottom: $line-height-base-sp / 2 + em;
            }
            border-bottom: dotted 1px rgba(0,0,0,0.12);
            &-image {
                @extend .p-mypage__history-product-image;
            }
            &-detail {
                @extend .p-mypage__history-product-detail;
            }
            &-name {
                @extend .p-mypage__history-product-name;
            }
            &-class-category {
                @extend .p-mypage__history-product-class-category;
            }
            &-price {
                @extend .p-mypage__history-product-price;
                &--sub,
                &--main {
                    font-size: 0.875rem;
                }
                &--sub {
                    @extend .p-mypage__history-product-price--sub;
                }
                &--main {
                    @extend .p-mypage__history-product-price--main;
                }
            }
        }
        &-name {
            margin: 0;
            @include mq() {
                margin-bottom: 4px;
            }
        }
        &-address {
            margin: 0;
            &-postcode {
                @include mq() {
                    display: block;
                }
            }
            &-text {
                @include mq() {
                    display: block;
                }
            }
        }
        &-phone-number {
            margin: 0;
            @include mq() {
                margin-top: 4px;
            }
        }
        &-selects {
            display: flex;
            @include mq() {
                flex-direction: column;
            }
            &-item {
                margin-right: 2 + $letter-spacing-base * 2;
                margin-bottom: $line-height-base / 2 + em;
                @include mq() {
                    margin-right: 0;
                    margin-bottom: $line-height-base-sp / 2 + em;
                }
            }
        }
        &-method {
            display: flex;
            align-items: center;
            @include mq(tb) {
                flex-direction: column;
                align-items: stretch;
            }
            &-label {
                color: rgba($font-color-base,0.8);
                margin: 0;
                padding-right: 1 + $letter-spacing-base * 1;
                font-weight: $font-weight-bold;
                @include mq(tb) {
                    font-size: 0.875rem;
                    padding-right: 0;
                }
                @include mq() {
                    margin-bottom: 2px;
                }
            }
            &-select {
                .mdc-select {
                    width: 100%;
                }
            }
            &-result {
                margin: 0;
            }
        }
        &-date {
            @extend .p-mypage__deliv-method;
            &-label {
                @extend .p-mypage__deliv-method-label;
            }
            &-select {
                @extend .p-mypage__deliv-method-select;
            }
            &-result {
                @extend .p-mypage__deliv-method-result;
            }
        }
        &-time {
            @extend .p-mypage__deliv-method;
            &-label {
                @extend .p-mypage__deliv-method-label;
            }
            &-select {
                @extend .p-mypage__deliv-method-select;
            }
            &-result {
                @extend .p-mypage__deliv-method-result;
            }
        }
        &-add {
            display: flex;
            justify-content: flex-end;
            padding-top: $line-height-base / 2 + em;
            @include mq() {
                padding-top: $line-height-base-sp / 2 + em;
            }
            border-top: solid 1px rgba(0,0,0,0.12);
        }
    }
    &__seller {
        @extend .p-mypage__account;
        &-heading {}
        &-contents {
            &-item {
                @extend .p-mypage__account-contents-item;
            }
        }
        &-name {
            margin: 0;
            @include mq() {
                margin-bottom: 4px;
            }
        }
        &-address {
            margin: 0;
            &-postcode {
                @include mq() {
                    display: block;
                }
            }
            &-text {
                @include mq() {
                    display: block;
                }
            }
        }
        &-phone-number {
            margin: 0;
            @include mq() {
                margin-top: 4px;
            }
        }
    }
    &__payment {
        @extend .p-mypage__account;
        &-heading {}
        &-contents {
            &-item {
                @extend .p-mypage__account-contents-item;
            }
        }
        &-radios {
            display: flex;
            flex-wrap: wrap;
            &-item {
                @include em-mr();
            }
        }
        &-result {
            margin:  0;
        }
    }
    &__point {
        @extend .p-mypage__account;
        &-heading {}
        &-contents {
            &-item {
                @extend .p-mypage__account-contents-item;
            }
        }
        &-setting {
            display: flex;
            align-items: center;
            @include mq(tb) {
                flex-direction: column;
                align-items: stretch;
            }
            &-info {
                margin: 0;
                padding-top: $line-height-base / 2 + em;
                @include mq(tb) {
                    padding-top: 0;
                }
            }
            &-input {
                padding-top: $line-height-base / 2 + em;
                margin-left: 2 + $letter-spacing-base * 2;
                @include mq(tb) {
                    margin-left: 0;
                }
                @include mq() {
                    padding-top: $line-height-base-sp / 2 + em;
                    .mdc-text-field {
                        width: 100%;
                    }
                }
            }
        }
        &-result {
            @extend .p-mypage__payment-result;
        }
    }
    &__contact {
        @extend .p-mypage__account;
        &-heading {}
        &-contents {
            &-item {
                @extend .p-mypage__account-contents-item;
            }
        }
        &-input {
            padding-top: $line-height-base / 2 + em;
            @include mq() {
                padding-top: $line-height-base-sp / 2 + em;
            }
        }
        &-result {
            @extend .p-mypage__payment-result;
        }
    }
    &__order {
        @extend .p-mypage__account;
        &-deal {
            display: flex;
            border-bottom: dotted 1px rgba(0,0,0,.12);
            margin-bottom: $line-height-base-sp / 1 + em;
            padding-bottom: $line-height-base-sp / 1 + em;
            @include mq(tb) {
                margin-bottom: $line-height-base-sp / 2 + em;
                padding-bottom: $line-height-base-sp / 2 + em;
            }
            @include mq() {
                flex-direction: column;
            }
            &-actions {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: -5px -5px -5px 15px;
                @include mq() {
                    margin: 10px 0 0 0;
                }
                &-item {
                    padding: 5px;
                    box-sizing: border-box;
                }
            }
        }
        &-deal-status,
        &-date,
        &-number,
        &-status,
        &-use-point,
        &-add-point {
            display: flex;
            align-items: center;
            @include mq(tb) {
                flex-direction: column;
                align-items: stretch;
                margin-top: $line-height-base-sp / 2 + em;
            }
            &-label {
                color: rgba($font-color-base,0.8);
                font-weight: $font-weight-bold;
                width: 8 + $letter-spacing-base * 8;
                @include mq(tb) {
                    font-size: 0.875rem;
                }
                @include mq() {
                    margin-bottom: 2px;
                }
            }
            &-detail {
                flex-grow: 1;
                display: flex;
                align-items: center;
                &:before {
                    content: "：";
                    display: block;
                    width: 1 + $letter-spacing-base * 1;
                    @include mq(tb) {
                        display: none;
                    }
                }
            }
        }
        &-deal-status {
            @include mq(tb) {
                margin-top: 0;
            }
        }
    }
    &__mail {
        @extend .p-mypage__account;
        &-heading {}
        &-contents {
            &-item {
                @extend .p-mypage__account-contents-item;
                border-bottom: dotted 1px rgba(0,0,0,0.12);
                padding-bottom: $line-height-base / 2 + em;
                @include mq() {
                    padding-bottom: $line-height-base-sp / 2 + em;
                }
                &:nth-last-of-type(1) {
                    border-bottom: none;
                }
            }
        }
        &-detail {
            &-title {
                @include mq() {
                    margin-top: 4px;
                }
            }
            &-body {
                display: none;
            }
        }
    }
    &__message {
        @extend .p-mypage__account;
        &-heading {}
        &-contents {}
        &-input {
            margin-top: $line-height-base + em;
            @include mq() {
                margin-top: $line-height-base-sp + em;
            }
        }
        &-actions {
            @extend .p-mypage__message-input;
            &-item {
                text-align: center;
            }
        }
        &-result {
            margin-top: $line-height-base + em;
            @include mq() {
                margin-top: $line-height-base-sp + em;
            }
            &-item {
                padding: 20px 0;
                border-bottom: rgba(0,0,0,0.12) dotted 1px;
                &:nth-last-child(1) {
                    border-bottom: none;
                }
                &.is-own {
                    color: $color-secondary;
                }
                @include mq() {
                    padding: 16px 0;
                }
            }
            &-comment {
                display: flex;
                @include mq(tb) {
                    flex-direction: column;
                }
                &-detail {
                    flex-grow: 1;
                    &-text {
                        margin: 0;
                    }
                }
                &-date {
                    flex-shrink: 0;
                    color: rgba($font-color-base,.80);
                    margin: 0 0 0 20px;
                    @include mq(tb) {
                        font-size: 0.875em;
                        margin: 5px 0 0 0;
                    }
                }
            }
        }
    }

    &__summary {
        @include contents-margin();
        background-color: $bg-color;
        &-item {
            padding: 20px;
            border-bottom: solid 1px rgba(0, 0, 0, 0.12);
            &.is-border--none {
                border-bottom: none;
            }
            @include mq() {
                padding: 16px;
            }
        }
        &-actions {
            @include btn-container(column);
            padding: 15px 20px;
            @include mq() {
                padding: 12px 16px;
            }
            &-item {
                @include btn-container__item();
            }
        }
        & &-button {
            width: 100%;
            display: flex;
            @include mq() {
                max-width: 240px;
                margin: 0 auto;
            }
        }
        &-attention {
            font-size: 0.75em;
            margin: 0;
        }
    }

    &__subtotal,
    &__charge,
    &__fee,
    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-label {
            color: rgba($font-color-base, 0.6);
            font-weight: $font-weight-bold;
            @include em-mr(1);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @include mq(tb) {
                font-size: 0.75rem;
            }
        }
        &-detail {
            white-space: nowrap;
        }
    }

    &__subtotal {}
    &__charge {}
    &__fee {}
    &__total {
         &-detail {
             &--main {
                 color: $color-secondary;
                 font-weight: $font-weight-bold;
             }
             &--sub {
                 color: rgba($font-color-base, 0.8);
                 font-size: 0.75rem;
                 margin-left: 0.25em;
             }
        }
    }

    //お届け先一覧
    &__delivery {
        &-add {
            margin-bottom: $line-height-base / 2 + em;
            @include mq() {
                margin-bottom: $line-height-base-sp / 2 + em;
            }
        }
        &-list {
            &-item {
                display: flex;
                align-items: center;
                padding-top: $line-height-base / 2 + em;
                margin-bottom: $line-height-base / 2 + em;
                border-top: solid 1px rgba(0, 0, 0, 0.12);
                @include mq() {
                    flex-wrap: wrap;
                    padding-top: $line-height-base-sp / 2 + em;
                    margin-bottom: $line-height-base-sp / 2 + em;
                }
            }
        }
        &-delete {
            padding-right: 20px;
            @include mq() {
                padding-right: 16px;
            }
            box-sizing: border-box;
            &-button {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $font-color-base;
                text-decoration: none;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        &-address {
            flex-grow: 1;
            margin: 0;

            display: flex;
            flex-direction: column;
            @include mq() {
                width: calc(100% - 56px);
            }
            &-name {}
            &-detail {}
            &-tel {}
        }
        &-change {
            padding-left: 20px;
            box-sizing: border-box;
            @include mq() {
                width: 100%;
                padding-left: 0;
                margin-top: $line-height-base-sp / 2 + em;
                text-align: right;
            }
        }
    }

    //お気に入り一覧
    &__favorite {
        &-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
            @include mq() {
                margin: 0 -8px;
            }
            &-item {
                width: 20%;
                padding: 0 10px;
                box-sizing: border-box;
                position: relative;
                margin-bottom: $line-height-base * 1 + em;
                @include mq(tb) {
                    width: calc(100% / 3);
                }
                @include mq() {
                    width: 50%;
                    padding: 0 8px;
                    margin-bottom: $line-height-base-sp * 1 + em;
                }
            }
        }
        &-delete {
            display: block;
            color: #fff;
            position: absolute;
            top: -20px;
            right: -10px;
            z-index: 1;
            padding: 10px;
            line-height: 1;
            @include mq() {
                top: -5px;
                right: 3px;
            }
            &-icon {
                font-size: 30px;
                vertical-align: top;
                color: $color-primary;
                background: #ffffff;
                border-radius: 50%;
                @include mq(tb) {
                    font-size: 20px;
                }
            }
        }
    }

    //会員情報編集
    &__change {
        //完了
        &-complete {
            &-message {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                &-label {
                    @include font(4, false);
                    color: rgba($font-color-base, 0.8);
                    font-weight: $font-weight-bold;
                    text-align: center;
                }
                &-detail {
                    margin-left: 0;
                }
            }
            &-description {
                margin-bottom: 0;
            }
        }
    }

    //退会手続き
    &__withdraw {
        //確認
        &-confirm {
            &-message {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                &-label {
                    @include font(4, false);
                    color: rgba($font-color-base, 0.8);
                    font-weight: $font-weight-bold;
                    text-align: center;
                }
                &-detail {
                    margin-left: 0;
                }
            }
            &-mark {
                display: block;
                text-align: center;
                &-icon {
                    color: $color-secondary;
                    font-size: 60px;
                }
            }
            &-description {
                margin-bottom: 0;
            }
        }
        //完了
        &-complete {
            &-message {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                &-label {
                    @include font(4, false);
                    color: rgba($font-color-base, 0.8);
                    font-weight: $font-weight-bold;
                    text-align: center;
                }
                &-detail {
                    margin-left: 0;
                }
            }
            &-description {
                margin-bottom: 0;
            }
        }
    }

}
