.p-product {
    @include page-margin();
    &__contents {
        @include container;
    }
    &__search {
        @include contents-margin(false, true);
    }
    &__topicpath {
        &-list {
            display: flex;
            align-items: center;
            @include mq(tb) {
                flex-wrap: wrap;
            }
            &-item {
                display: flex;
                align-items: center;
                font-size: 0.875em;
                @include mq(tb) {
                    font-size: 0.75em;
                }
                &:after {
                    font-family: "Material Icons";
                    content: "chevron_right";
                    font-size: 12px;
                    width: (1 + $letter-spacing-base) * 1.25;
                    text-align: center;
                    @include mq() {
                        width: (1 + $letter-spacing-base-sp) * 1.25;
                    }
                }
                &:last-child:after {
                    display: none;
                }
                &.is-active {
                    font-weight: $font-weight-bold;
                    &:after {
                        display: none;
                    }
                }
                &.is-result {
                    margin-left: 20px;
                    &:after {
                        display: none;
                    }
                    @include mq(tb) {
                        width: 100%;
                        margin-left: 0;
                        margin-top: 8px;
                    }
                }
            }
        }
        &-link {
            text-decoration: none;
            color: rgba($font-color-base, 0.8);
            &:hover {
                @include mq(hover) {
                    color: rgba($font-color-base, 0.6);
                }
            }
            .is-active & {
                color: $font-color-base;
                &:hover {
                    @include mq(hover) {
                        color: rgba($font-color-base, 0.8);
                    }
                }
            }

        }
        &-result {
            margin: 0;
            font-size: inherit;
        }
    }
    &__controller {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        @include mq(tb) {
            flex-direction: column;
            align-items: stretch;
        }
        &-result {
            margin: 1.5em 0;
            @include mq(tb) {
                margin: 10px 0 0;
            }
        }
        &-actions {
            display: flex;
            margin: 0 -5px;
            @include mq() {
                flex-direction: column;
                padding-top: 5px;
            }
            &-item {
                padding: 10px 5px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include mq(tb) {
                    width: 50%;
                }
                @include mq() {
                    width: 100%;
                    padding: 5px;
                }
                .mdc-select {
                    @include mq(tb) {
                        width: 100%;
                    }
                }
            }
        }
    }
    &__orderby {
        display: flex;
        &-item {
            margin: 0 5px;
        }
    }
    &__modal {
        &-checkbox {
            display: none;
        }
        &-overlay {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -100;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.3s ease;
            transform: scale(1);
            background-color: rgba(0, 0, 0, 0.3);
            .p-product__modal-checkbox:checked ~ &,
            .is-checked ~ & {
                transform: scale(1);
                opacity: 1;
                z-index: 9997;
                overflow: auto;
            }
            &-close {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: -100;
            }
        }
        &-contents {
            width: 50%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid $color-primary;
            border-radius: 2px;
            transition: all 0.5s ease;
            align-self: center;
            box-sizing: border-box;
            position: relative;
            .is-checked ~ .p-product__modal-overlay & {
                transform: translateY(0);
                z-index: 9999;
            }
            @include mq(tb) {
                width: 70%;
            }
            @include mq() {
                width: 90%;
                margin: 16px auto;
                padding: 16px;
            }
        }
        &-close {
            position: absolute;
            top: 10px;
            right: 10px;
            line-height: 1;
            &-icon {
                color: $color-primary;
                font-size: 25px;
            }
        }
        &-header {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-message {}
        &-actions {
            @include btn-container(row, center);
            flex-direction: row-reverse;
            margin-bottom: $line-height-base + em;
            @include mq() {
                flex-direction: column;
                margin-bottom: $line-height-base-sp + em;
            }
            &-item {
                @include btn-container__item();
            }
        }
        &-button {
            @include mq() {
                display: flex;
                width: 100%;
                max-width: 240px;
                margin: 0 auto;
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        @include mq() {
            margin: 0 -7px;
        }
        &-item {
            display: flex;
            flex-direction: column;
            width: 25%;
            padding: 0 15px 15px;
            margin-top: 40px;
            box-sizing: border-box;
            position: relative;
            @include mq(tb) {
                width: calc(100% / 3);
            }
            @include mq() {
                padding: 0 7px 15px;
                margin-top: 20px;
                width: 50%;
            }
        }
    }
    &__detail {}
}
