.p-shopping {
    @include page-margin();
    &__heading {
        @include container;
    }
    &__contents {
        @include container;
    }

    &__progress {
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
        @include contents-margin(true, false);
        &-list {
            display: flex;
            justify-content: center;
            margin-left: -5px;
            margin-right: -5px;
            @include mq() {
                position: relative;
            }
            &-item {
                width: 20%;
                position: relative;
                z-index: 1;
                padding: 0 5px;
                box-sizing: border-box;
                &:before,
                &:after {
                    content: "";
                    display: block;
                    width: 50%;
                    height: 1px;
                    background: $color-primary;
                    position: absolute;
                    top: 15px;
                    z-index: -1;
                    transform: translateY(-50%);
                    @include mq() {
                        top: 10px;
                    }
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
                &:first-child:before,
                &:last-child:after {
                    display: none;
                }
            }
        }
        &-number {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-on-primary;
            font-family: $font-family-en;
            font-weight: $font-weight-medium;
            letter-spacing: 0;
            width: 30px;
            height: 30px;
            background: $color-primary;
            border-radius: 50%;
            margin: 0 auto;
            .is-active & {
                color: $color-on-secondary;
                background: $color-secondary;
            }
            @include mq() {
                font-size: 10px;
                width: 20px;
                height: 20px;
            }
        }
        &-label {
            display: block;
            color: rgba($font-color-base,.60);
            font-weight: $font-weight-bold;
            font-size: 0.75rem;
            line-height: 1.5;
            text-align: center;
            margin: 5px 0 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            .is-active & {
                color: $color-secondary;
                @include mq() {
                    display: block;
                }
            }
            @include mq() {
                font-size: 10px;
                line-height: 1.3;
                white-space: normal;
                text-overflow: inherit;
            }
        }
    }

    &__page-message {
        &-text {}
        &-attention {
            color: $color-error;
        }
    }

    &__error {
        display: flex;
        justify-content: center;
        @include container-inner($width-thin);
        padding: 10px;
        box-sizing: border-box;
        background: rgba($color-error, 1.00);
        @include mq() {
            padding: 8px;
        }
        &-icon {
            color: #fff;
            @include em-mr(0.25);
        }
        &-text {
            color: #fff;
        }
    }

    &__layout {
        display: flex;
        align-items: flex-start;
        @include mq() {
            flex-direction: column;
            align-items: stretch;
        }
        &--main {
            flex-grow: 1;
            box-sizing: border-box;
        }
        &--sub {
            flex-shrink: 0;
            width: 250px;
            padding-left: 30px;
            transition: mdc-animation-exit-permanent(margin-top, 175ms, 0ms);
            will-change: margin-top;
            transform: translate3d(0, 0, 0);
            @include mq(tb) {
                width: 210px;
                padding-left: 20px;
            }
            @include mq() {
                width: auto;
                padding-left: 0;
            }
        }
    }

    &__actions {
        @include contents-margin();
        @include btn-container(row, center);
        flex-direction: row-reverse;
        @include mq() {
            flex-direction: column;
        }
        &-item {
            @include btn-container__item();
        }
    }
    &__button {
        @include mq() {
            display: flex;
            width: 100%;
            max-width: 240px;
            margin: 0 auto;
        }
    }

    //ログイン
    &__login {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        &-user {
            text-align: center;
            &-icon {
                color: rgba($font-color-base, 0.80);
                font-size: 60px;
            }
        }
        &-info {
            //border-top: dotted 1px rgba(0,0,0,0.12);
            border-bottom: dotted 1px rgba(0,0,0,0.12);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0 20px;
            @include mq() {
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
                padding: 8px 0 16px;
            }
            &-text {
                color: rgba($font-color-base, 0.70);
                font-size: 0.875rem;
                margin: 0;
                padding-right: 2 + $letter-spacing-base * 2;
                @include mq() {
                    padding-right: 0;
                }
            }
            &-button {
                flex-shrink: 0;
                @include mq() {
                    text-align: center;
                    margin-top: 16px;
                }
            }
        }
    }
    &__guest {
        @include contents-margin(true, true);
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        border-top: rgba(0,0,0,0.12) solid 1px;
    }

    //非会員
    &__non-member {
        &-check {
            background: $bg-color;
            padding: 9px 9px 18px;
            margin-top: $line-height-base + em;
            @include mq() {
                margin-top: $line-height-base-sp + em;
            }
            &-attention {
                color: $mdc-theme-error;
                font-size: .75rem;
                line-height: normal;
                letter-spacing: .03333em;
                margin: 0;
                padding: 0 11px;
            }
        }
        &-text {
            text-align: center;
            font-weight: $font-weight-bold;
        }
    }

    //商品購入
    &__account {
        @include contents-margin();
        &-heading {}
        &-contents {
            &-item {
                margin-top: $line-height-base / 2 + em;
                @include mq() {
                    margin-top: $line-height-base-sp / 2 + em;
                }
            }
        }
        &-change {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: $line-height-base / 2 + em;
            @include mq() {
                padding-bottom: $line-height-base-sp / 2 + em;
            }
            border-bottom: solid 1px rgba(0,0,0,0.12);
        }
        &-name {
            margin: 0;
        }
        &-kana {
            margin: 0;
        }
        &-company-name {
            margin: 0;
        }
        &-postcode {
            margin: 0;
        }
        &-address {
            margin: 0;
        }
        &-phone-number {
            margin: 0;
        }
        &-email {
            margin: 0;
            word-break: break-all;
        }
        &-other {
            margin: 0;
        }
    }
    &__deliv {
        @extend .p-shopping__account;
        &-heading {}
        &-contents {
            &-item {
                @extend .p-shopping__account-contents-item;
            }
        }
        &-change {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: $line-height-base / 2 + em;
            @include mq() {
                padding-bottom: $line-height-base-sp / 2 + em;
            }
            border-bottom: solid 1px rgba(0,0,0,0.12);
            &-label {
                @include font(0.5, false);
                color: rgba($font-color-base, 0.72);
                font-weight: $font-weight-bold;
                margin: 0;
            }
        }
        &-product {
            display: flex;
            align-items: center;
            padding-bottom: $line-height-base / 2 + em;
            margin-bottom: $line-height-base / 2 + em;
            @include mq() {
                padding-bottom: $line-height-base-sp / 2 + em;
                margin-bottom: $line-height-base-sp / 2 + em;
            }
            border-bottom: dotted 1px rgba(0,0,0,0.12);
            &-image {
                flex-basis: 120px;
                flex-shrink: 0;
                @include mq() {
                    flex-basis: 100px;
                }
            }
            &-detail {
                @include em-ml();
                flex-grow: 1;
            }
            &-name {
                margin: 0 0 5px;
                font-weight: $font-weight-bold;
                display: flex;
                &-text {}
                &-mark {
                    font-size: 0.75em;
                    color: $color-error;
                    margin-left: 5px;
                }
            }
            &-class-category {
                margin: 0;
                color: rgba($font-color-base,.8);
                font-size: 0.75rem;
                @include mq() {
                    font-size: 10px;
                }
            }
            &-price {
                margin: 10px 0 0;
                display: flex;
                align-items: baseline;
                @include mq(tb) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                @include mq() {
                    margin: 8px 0 0;
                }
                &--sub {
                    font-size: 0.875rem;
                    @include em-mr();
                }
                &--main {
                    font-size: 0.875rem;
                    font-weight: $font-weight-bold;
                }
            }
        }
        &-notes {
            font-size: 0.75rem;
            color: $color-error;
            margin-top: 0;
            text-align: right;
        }
        &-name,
        &-company-name {
            margin: 0;
            @include mq() {
                margin-bottom: 4px;
            }
        }
        &-address {
            margin: 0;
            &-postcode {
                margin-right: 10px;
                @include mq() {
                    display: block;
                }
            }
            &-text {
                @include mq() {
                    display: block;
                }
            }
        }
        &-phone-number,
        &-fax-number{
            margin: 0;
            @include mq() {
                margin-top: 4px;
            }
        }
        &-selects {
            display: flex;
            @include mq() {
                flex-direction: column;
            }
            &-item {
                margin-right: 2 + $letter-spacing-base * 2;
                margin-bottom: $line-height-base / 2 + em;
                @include mq() {
                    margin-right: 0;
                    margin-bottom: $line-height-base-sp / 2 + em;
                }
            }
        }
        &-method {
            display: flex;
            align-items: center;
            @include mq(tb) {
                flex-direction: column;
                align-items: stretch;
            }
            &-label {
                color: rgba($font-color-base,0.8);
                margin: 0;
                padding-right: 1 + $letter-spacing-base * 1;
                font-weight: $font-weight-bold;
                @include mq(tb) {
                    font-size: 0.875rem;
                    padding-right: 0;
                }
                @include mq() {
                    margin-bottom: 2px;
                }
            }
            &-select {
                .mdc-select {
                    width: 100%;
                }
            }
            &-result {
                margin: 0;
            }
        }
        &-date {
            @extend .p-shopping__deliv-method;
            &-label {
                @extend .p-shopping__deliv-method-label;
            }
            &-select {
                @extend .p-shopping__deliv-method-select;
            }
            &-result {
                @extend .p-shopping__deliv-method-result;
            }
        }
        &-time {
            @extend .p-shopping__deliv-method;
            &-label {
                @extend .p-shopping__deliv-method-label;
            }
            &-select {
                @extend .p-shopping__deliv-method-select;
            }
            &-result {
                @extend .p-shopping__deliv-method-result;
            }
        }
        &-add {
            display: flex;
            justify-content: flex-end;
            padding-top: $line-height-base / 2 + em;
            @include mq() {
                padding-top: $line-height-base-sp / 2 + em;
            }
            border-top: solid 1px rgba(0,0,0,0.12);
        }
    }
    &__payment {
        @extend .p-shopping__account;
        &-heading {}
        &-contents {
            &-item {
                @extend .p-shopping__account-contents-item;
            }
        }
        &-change {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: $line-height-base / 2 + em;
            @include mq() {
                padding-bottom: $line-height-base-sp / 2 + em;
            }
            border-bottom: solid 1px rgba(0,0,0,0.12);
            &-label {
                @include font(0.5, false);
                color: rgba($font-color-base, 0.72);
                font-weight: $font-weight-bold;
                margin: 0;
            }
        }
        &-result {
            margin:  0;
        }
    }
    &__point {
        @extend .p-shopping__account;
        &-heading {}
        &-contents {
            &-item {
                @extend .p-shopping__account-contents-item;
            }
        }
        &-setting {
            display: flex;
            align-items: center;
            @include mq(tb) {
                flex-direction: column;
                align-items: stretch;
            }
            &-info {
                margin: 0;
                padding-top: $line-height-base / 2 + em;
                @include mq(tb) {
                    padding-top: 0;
                }
            }
            &-input {
                padding-top: $line-height-base / 2 + em;
                margin-left: 2 + $letter-spacing-base * 2;
                @include mq(tb) {
                    margin-left: 0;
                }
                @include mq() {
                    padding-top: $line-height-base-sp / 2 + em;
                    .mdc-text-field {
                        width: 100%;
                    }
                }
            }
        }
        &-result {
            @extend .p-shopping__payment-result;
        }
    }
    &__contact {
        @extend .p-shopping__account;
        &-heading {}
        &-contents {
            &-item {
                @extend .p-shopping__account-contents-item;
            }
        }
        &-input {
            padding-top: $line-height-base / 2 + em;
            @include mq() {
                padding-top: $line-height-base-sp / 2 + em;
            }
        }
        &-result {
            @extend .p-shopping__payment-result;
        }
    }

    &__summary {
        @include contents-margin();
        background-color: $bg-color;
        &-item {
            padding: 20px;
            border-bottom: solid 1px rgba(0, 0, 0, 0.12);
            @include mq() {
                padding: 16px;
            }
        }
        &-actions {
            @include btn-container(column);
            padding: 15px 20px;
            @include mq() {
                padding: 12px 16px;
            }
            &-item {
                @include btn-container__item();
            }
        }
        & &-button {
            width: 100%;
            display: flex;
            @include mq() {
                max-width: 240px;
                margin: 0 auto;
            }
        }
    }

    &__subtotal,
    &__charge,
    &__fee,
    &__discount,
    &__total,
    &__user-point,
    &__use-point,
    &__birth-point,
    &__add-point,
    &__total-point {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-label {
            color: rgba($font-color-base, 0.6);
            font-weight: $font-weight-bold;
            @include em-mr(1);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @include mq(tb) {
                font-size: 0.75em;
            }
        }
        &-detail {
            white-space: nowrap;
        }
    }

    &__subtotal {}
    &__charge {}
    &__fee {}
    &__discount {}
    &__total {
         &-detail {
             &--main {}
             &--sub {
                 color: rgba($font-color-base, 0.8);
                 font-size: 0.75em;
             }
        }
    }
    &__total-rate {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-label {
            color: rgba($font-color-base, 0.8);
            font-size: 0.6875em;
            margin-right: 10px;
        }
        &-detail {
            color: rgba($font-color-base, 0.8);
            font-size: 0.6875em;
        }
    }
    &__pay-total {
        display: flex;
        flex-direction: column;
        &-label {
            color: rgba($font-color-base, 0.6);
            font-weight: $font-weight-bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @include mq(tb) {
                font-size: 0.75em;
            }
        }
        &-detail {
            align-self: flex-end;
            white-space: nowrap;
            &--main {
                color: $color-secondary;
                font-size: 1.25em;
                font-weight: $font-weight-bold;
            }
            &--sub {
                color: rgba($font-color-base, 0.8);
                font-size: 0.75em;
            }
        }
    }
    &__use-point {}
    &__add-point {}

    //商品購入/ご注文確認
    &__complete {
        &-message {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            &-label {
                @include font(4, false);
                color: rgba($font-color-base, 0.8);
                font-weight: $font-weight-bold;
                text-align: center;
            }
            &-detail {
                margin-left: 0;
            }
        }
        &-description {
            margin-bottom: 0;
        }
        &-info {
            font-weight: $font-weight-bold;
            margin-bottom: 0;
        }
    }

    //商品購入/お届け先の複数指定
    &__shipping {
        &-heading {
            display: flex;
            flex-direction: column;
        }
        &-add-button {
            //align-self: flex-end;
            margin-top: $line-height-base + em;
            margin-bottom: $line-height-base + em;
            width: 100%;
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
            @include mq() {
                margin-top: $line-height-base-sp + em;
                margin-bottom: $line-height-base-sp + em;
            }
        }
        &-info {
            display: flex;
            align-items: center;
            &-icon {
                @include em-mr(0.5);
                color: $color-error;
            }
            &-text {
                color: $color-error;
            }
        }
        &-list {
            @include container-inner($width-thin);
            &-item {
                position: relative;
                margin-bottom: 20px;
                @include mq() {
                    margin-bottom: 16px;
                }
            }
        }
        &-address {
            padding: 20px;
            border: rgba(0,0,0,.12) solid 1px;
            border-radius: 4px;
            @include mq() {
                padding: 16px;
            }
            &-label {
                cursor: pointer;
                display: block;
            }
            &-actions {
                position: absolute;
                top: 15px;
                right: 15px;
                display: flex;
                margin: 0 -1px;
                @include mq() {
                    position: relative;
                    top: initial;
                    right: initial;
                    justify-content: flex-end;
                    margin-top: 2px;
                }
                &-item {
                    margin: 0 1px;
                }
            }
            &-button {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $font-color-base;
                text-decoration: none;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                &-icon {

                }
            }

            &-radio {
                display: none;
                &:checked + .p-shopping__shipping-address {
                    border: rgba($color-primary,1.0) solid 1px;
                    background: $bg-color;
                }
            }

            &-title {
                color: rgba($font-color-base, 0.8);
                font-weight: $font-weight-bold;
                margin: 0 0 5px;;
            }
            &-name {
                font-weight: bold;
                margin: 0;
                @include mq() {
                    margin-bottom: 4px;
                }
            }
            &-detail {
                margin: 0;
                &-postcode {
                    @include mq() {
                        display: block;
                    }
                }
                &-text {
                    @include mq() {
                        display: block;
                    }
                }
            }
            &-phone {
                margin: 0;
                @include mq() {
                    margin-top: 4px;
                }
            }
        }
        &-multiple {
            display: flex;
            justify-content: flex-end;
            margin-top: $line-height-base + em;
            margin-bottom: $line-height-base + em;
            width: 100%;
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
            @include mq() {
                margin-top: $line-height-base-sp + em;
                margin-bottom: $line-height-base-sp + em;
            }
        }
    }

    //商品購入/お届け先の複数指定
    &__add-address {
        &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include mq() {
                flex-direction: column;
            }
        }
        &-description {}
        &-change {
            margin-left: 1 + $letter-spacing-base * 1;
            margin-top: $line-height-base + em;
            margin-bottom: $line-height-base + em;
            @include mq() {
                margin-left: 0;
                margin-top: 0;
                margin-bottom: $line-height-base-sp + em;
            }
        }
        &-contents {
            &-item {}
        }
        &-product {
            display: flex;
            align-items: center;
            background: $bg-color;
            padding: 20px;
            @include mq() {
                padding: 16px;
            }
            &-image {
                @extend .p-shopping__deliv-product-image;
            }
            &-detail {
                @extend .p-shopping__deliv-product-detail;
            }
            &-name {
                @extend .p-shopping__deliv-product-name;
            }
            &-class-category {
                @extend .p-shopping__deliv-product-class-category;
            }
            &-box {
                display: flex;
                margin: 10px 0 0;
                @include mq() {
                    flex-direction: column;
                    margin: 8px 0 0;
                }
                &-item {
                    @include em-mr();
                }
            }
            &-price {
                margin: 0;
                @include mq() {
                    font-size: 0.875em;
                }
            }
            &-quantity {
                margin: 0;
                @include mq() {
                    font-size: 0.875em;
                }
            }
        }
        &-controllers {
            padding: 10px 0;
            @include mq() {
                padding: 0;
            }
        }
        &-controller {
            display: flex;
            align-items: center;
            margin: 0 -10px;
            @include mq() {
                flex-direction: column;
                align-items: stretch;
                margin: 0;
                padding: 0 0 16px;
                border-bottom: rgba(0,0,0,.12) dotted 1px;
            }
            &-item {
                margin: 10px;
                @include mq() {
                    margin: 8px 0 0;
                }
            }
            &-action {
                @include mq(tb) {
                    align-self: flex-end;
                }
                @include mq() {
                    align-self: flex-start;
                }
                .c-button {
                    margin: 10px;
                    @include mq() {
                        margin: 16px 0 0;
                    }
                }
            }
        }
        &-select {
            margin: 0;
            display: flex;
            align-items: center;
            @include mq(tb) {
                flex-direction: column;
                align-items: stretch;
            }
            &-label {
                @include em-mr();
                white-space: nowrap;
                color: rgba($font-color-base,.7);
                font-weight: $font-weight-bold;
                @include mq(tb) {
                    font-size: 0.75rem;
                    padding-bottom: 4px;
                }
            }
            &-detail {
                margin: 0;
            }
        }
        &-quantity {
            @extend .p-shopping__add-address-select;
            &-label {
                @extend .p-shopping__add-address-select-label;
            }
            &-detail {
                @extend .p-shopping__add-address-select-detail;
            }
        }
        &-actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 20px 0;
            border-top: rgba(0,0,0,.12) dotted 1px;
            @include mq() {
                padding: 16px 0;
                border-top: none;
            }
            &-item {}
        }
    }



}
