/* store locator page */
.store-locator {
    height: auto;
    overflow: hidden;
    width: 100%;
    max-width: 1280px;
    margin-top: 2.625em;
    margin-bottom: 1.75em;

    .storepoint-panel {
        position: relative;
        width: 40%;
        height:auto;
        overflow: hidden;
        float: left;
        box-sizing: border-box;

        .storepoint-location {
            display: block;
            box-sizing: border-box;
            margin-top: 1.2rem;
            margin-bottom: 0rem;
            padding: 1rem 0 1rem 0.5rem;
            border-bottom: 1px solid #ccc;
            font-size:0.8rem;
            a {
                text-decoration: none;
            }
            div {
                margin-bottom: 0.4rem;
            }
            .store-name {
                font-size: 1.0rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            .store-address{
                cursor:pointer;
            }
        }
    }
    .storepoint-panel::-webkit-scrollbar {
        width: 7px;
    }
    .storepoint-panel::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 3px;
    }
    .mapboxgl-map{
        width: 60%;
        float: right;
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        .mapboxgl-map iframe {
            width: 100% !important;
            top: 0;
            left: 0;
        }
    }    
}

@media screen and (max-width: 767px) {
    .store-locator {
        height: auto;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 1rem;
        .storepoint-panel {
            position: relative;
            width: 100%;
            height:auto;
            float: none;
        }
        .mapboxgl-map{
            width: 100%;
            float: left;
        }
    }
}