.p-top {
    &__main-visual {
        @include container($width-window);
        margin-bottom: 40px;
        position: relative;
        @include mq() {
            margin-bottom: 20px;
        }

        &-slick {
            @include container-item--full();
            visibility: hidden;
            &.is-loaded {
                visibility: visible;
            }
            &-slide {
                overflow: hidden;
                &.slick-slide {
                    height: 650px;
                    @include mq(tb) {
                        height: 550px;
                    }
                    @include mq() {
                        height: 450px;
                    }
                }
            }
        }
        &-bg {
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            transform: scale(1.1);
            display: flex;
            padding: 88px 0 54px;
            box-sizing: border-box;
            .is-loaded & {
                transition: mdc-animation-enter(transform, 900ms, 100ms);
                transform: scale(1);
            }
            @include mq(tb) {
                padding: 0 0 40px;
            }
            @include mq() {
                padding: 40px 0 0;
            }

        }
        &-body {
            width: 100%;
            max-width: 904px;
            margin: 0 auto;
            padding-left:  52px;
            padding-right: 52px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @include mq(tb) {
                padding-left: 20px;
                padding-right: 20px;
            }
            @include mq() {
                padding-left: 16px;
                padding-right: 16px;
                align-items: flex-end;
            }
        }
        &-contents {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            @include mq(tb) {
                margin-bottom: 0px;
            }
            @include mq() {
                margin-bottom: 16px;
                margin-bottom: 15px;
            }
        }
        &-catch {
            margin: 0;
            width: 100%;
            max-width: 380px;
            position: relative;
            @include mq(tb) {
                max-width: 345px;
            }
            @include mq() {
                max-width: none;
            }
            &-label {
                font-size: 6.0/1.6 + em;
                font-family: $font-family-en;
                font-weight: $font-weight-bold;
                line-height: 1.0;
                color: #000;
                letter-spacing: 0.1em;
                @include mq(tb) {
                    font-size: 4.5/1.6 + em;
                }
                @include mq() {
                    font-size: 2.5/1.6 + em;
                    line-height: 1.1;
                }
            }
            &-detail {
                margin: 0;
            }
            &-text {
                color: #000;
                font-size: 0.75em;
                margin: 10px 0 0;
                font-feature-settings: 'palt';
                letter-spacing: 0.125em;
                @include mq() {
                    font-size: 1.1/1.6 + em;
                    margin: 6px 0 0;
                }
            }
        }
        &-actions {
            display: flex;
            align-items: center;
            padding-top: 20px;
            margin: 0 -10px;
            @include mq() {
                padding-top: 12px;
            }
            &-item {
                margin: 0 10px;
            }
        }
        &-category {
            display: flex;
            align-items: center;
            margin: 0 -5px;
            &-item {
                margin: 0 5px;
            }
            &-link {
                display: block;
                text-decoration: none;
                font-family: $font-family-en;
                font-weight: $font-weight-medium;
                color: rgba(0,0,0,0.6);
                outline: none;
                @include mq() {
                    font-size: 1.2/1.6 + em;
                }
            }
        }
        &-arrow {
            &--prev,
            &--next {
                border: none;
                background: rgba(0,0,0,0);
                position: absolute;
                bottom: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                padding: 20px 10px;
                outline: none;
            }
            &--prev {
                left: 50%;
                transform: translateX(-100%);
            }
            &--next {
                right: 50%;
                transform: translateX(100%);
            }
            &-icon {
                font-size: 14px;
            }
            &-text {
                font-family: $font-family-en;
                font-size: 0.75em;
                letter-spacing: 0.125em;
                line-height: 14px;
                padding: 0 10px;
            }
        }
        &-dots {
            margin: 0;
            padding: 25px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            @include mq() {
                padding: 16px;
                bottom: auto;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            li {
                font-size: 0;
                list-style: none;
                margin: 0 2px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            button {
                position: relative;
                width: 20px;
                height: 0;
                padding: 4px 0 0;
                border: none;
                background: initial;
                cursor: pointer;
                outline: none;
                overflow: hidden;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: .25;
                    background-color: $font-color-base;
                }
                &:focus:before {
                    opacity: 1;
                }
                @include mq() {
                    width: 20px;
                    padding: 2px 0 0;
                }
                @include mq(hover) {
                    &:hover:before {
                        opacity: 1;
                    }
                }
            }
            .slick-active button:before {
                opacity: .75;
            }
        }
    }
}
