<div style="display: none">
  <div id="paypal">
    <p style="color: #003087;">{{'※ 注文するボタンから注文手続きを完了してください。'|trans}}</p>
  </div>
</div>

<script lang="js">
  $(function() {
    // 2重クリック対策
    $('#shopping-form button.p-shopping__summary-button').click(function (e) {
      $(this).css('pointer-events', 'none');
    });

    $('#shopping-form a.p-shopping__summary-button')
      .hide();

    $('#shopping-form div.p-shopping__summary')
      .first()
      .after($('#paypal'));
  });
</script>
