{#
  注文確認画面のPayPal(ショートカット)ボタン
  ・継続決済商品ありの場合
#}
<div class="d-none">
  <div id="paypal-container">
    <div id="paypal-button-container"></div>
  </div>
</div>

<script src="{{ PayPalCheckout.widget_url }}"></script>

<script lang="js">
  $(function() {
    $('#shopping-form button.p-shopping__summary-button')
      .first()
      .after($('#paypal-container'));
    $('#shopping-form button.p-shopping__summary-button').hide();

    window.paypal.Buttons({
      style: {
        layout: 'horizontal',
        fundingicons: 'false',
        tagline: false,
        height: 54
      },
      createBillingAgreement: function() {
        return new Promise(resolve => {
          $.ajax({
            type: 'POST',
            url: '{{ PayPalCheckout.api_url }}'
          }).then(function (data) {
            const { result } = data;
            resolve(result.id);
          }).catch(function (err) {
            throw new Error(err);
          });
        });
      },
      onApprove: function(data) {
        loadingOverlay();
        return new Promise(resolve => {
          resolve($('#shopping-form').submit());
        });
      },
      onCancel: function(data) {
        console.log(`onCancel ${data}`);
      },
      onError: function(data) {
        console.log(`onError ${data}`);
      }
    }).render('#paypal-button-container');
  });
</script>
