/* カスタマイズ用CSS */
* {
    box-sizing: border-box;
}

body {
    letter-spacing: 0;
}

a {
    color: inherit;
}

@font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../fonts/HelveticaNeueMed.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueMed.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/HelveticaNeueMed.otf") format("opentype"), /* Open Type Font */ url("../fonts/HelveticaNeueMed.svg") format("svg"), /* Legacy iOS */ url("../fonts/HelveticaNeueMed.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/HelveticaNeueMed.woff") format("woff"), /* Modern Browsers */ url("../fonts/HelveticaNeueMed.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueItalic";
    src: url("../fonts/HelveticaNeueIt.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueIt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/HelveticaNeueIt.otf") format("opentype"), /* Open Type Font */ url("../fonts/HelveticaNeueIt.svg") format("svg"), /* Legacy iOS */ url("../fonts/HelveticaNeueIt.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/HelveticaNeueIt.woff") format("woff"), /* Modern Browsers */ url("../fonts/HelveticaNeueIt.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/* Bootstrap classes */
.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.clear_b {
    clear: both;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

/* Bootstrap classess */
/*** Header ***/
.b-header {
    padding-top: 0px;
    padding-bottom: 0px;
}

body:not(#page_homepage) .b-header {
    /*background-color: #0B0E15;*/
    justify-content: space-between;
}

.l-header {
    padding-top: 92px; /* 70px *//* 88px */
}

.b-header__navi,
.b-header__navi-list-item {
    margin-left: 0;
}

#page_homepage .b-header__navi {
    /*width: 33.33%;*/
}

.b-header__navi-icon {
    font-size: 45px;
    width: 70px;
    height: 70px;
    color: #fff;
    margin-left: 0;
}

.is-hide .b-header__navi-icon {
    transform: translateX(100%); /* slide in/out menu from the right side */
}

.b-header__navi-link,
.b-header__utility-search-link,
.b-login__link {
    color: #fff;
}
.b-login{
    margin-right: 0;
}

.b-header__logo-link {
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#page_homepage .b-header__logo-link {
    /*width: auto;*/
}

.b-header__logo-container {
    /*width: 33.33%;*/
}

.b-header__spacer {
    width: 33.33%
}

.b-header__logo-container .b-header__logo {
    margin: 0 20px;
    /*width: 200px;*/
}

.b-header__language-list,
.b-header__language .dropdown {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0.5em;
}

.b-header__language .dropdown {
    display: block;
}

.b-header__language-list > a {
    /*margin: 0 5px;*/
}

ul.b-header__language li {
    display: block;
    transition-duration: 0.5s;
    position: relative;
}

ul.b-header__language li:hover {
    cursor: pointer;
}

ul.b-header__language li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
    left: 0;
    display: none;
}

ul.b-header__language li:hover > ul,
ul.b-header__language li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul.b-header__language li ul li {
    clear: both;
    width: 100%;
    padding: 4px 0;
}

.b-header__category-link {
    color: #000;
}

.c-top-app-bar {
    /* make menu transparent when scrolling up*/
    background: none;
    box-shadow: none;
    top: 0px !important; /* TODO: configure the is-show/is-hide JS in main.js*/
    color: #fff;
    background: #000;
    transition: background-color 0.4s ease;
}

.b-cart__menu-badge {
    background: #C5A540;
}

.b-cart__trigger .b-cart__menu-icon.material-icons {
    color: #fff;
}

.js-cart-target.is-active .b-cart__menu-icon {
    color: #000;
}

.b-category-nav-sp > .b-category-nav-sp__list:not(:last-child) {
    border-bottom: solid 1px rgba(0, 0, 0, .12);
}

.b-category-nav-sp__link {
    color: #000;
}

.b-category-nav-sp__list .b-category-nav-sp__list .b-category-nav-sp__list .b-category-nav-sp__list .b-category-nav-sp__link {
    padding-left: 4.1em;
}
.b-category-nav-sp__name{
    white-space: nowrap;
}
.l-drawer #js-newsletter {
    display: none;
}

/*** Header : end ***/
/*** Main banner/slider : index.twig ***/
.maritime-featured-text {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    color: #fff;
    font-size: 22px;
    text-align: center;
}

.maritime-featured-text img {
    align-self: center;
    -webkit-align-self: center;
    margin-bottom: 1.2rem;
}

.maritime-featured-text h1 {
    /*
    color: #C5A540;
    text-transform: uppercase;
    margin: 0;
    */
}

.maritime-featured-text h2 {
    margin-top: 0;
}

.maritime-featured-text p {
    margin-top: 0;
    font-size: 1rem;
}

.promotion_section .maritime-featured-text,
.promotion_section span {
    color: #c5a540;
}

.promotion_section span {
    font-size: 2.9rem;
}

.promotion_section2 .maritime-featured-text,
.promotion_section2 span {
    color: #fff;
    text-shadow: 2px 2px #000;
}

.promotion_section2 span {
    font-size: 2.9rem;
}

.mdc-icon-button:after, .mdc-icon-button:before {
    /*background-color: transparent;*/ /* hide round shadow on menu hover */
}

#js-top__main-visual {
    /*background: url('../img/slider/featured-image.jpg') no-repeat top center;
    background-size: cover;*/
    height: 100vh;
    margin-bottom: 0;
}

#js-top__main-visual-slick,
.background-filter {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.50);
}
.background-filter.promotion_section{
    background-color: rgba(0, 0, 0, 1);
}
.background-filter.promotion_section2{
    background-color: rgba(0, 0, 0, 0.20);
}

#js-top__main-visual .p-top__main-visual-body {
    justify-content: center;
    padding-left: 46px;
    padding-right: 46px;
}

#js-top__main-visual .p-top__main-visual-body .cbd_text_inside {
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    padding: 100px 0 0 170px;
}

.p-top__main-visual-slick-slide {
    display: none; /* hide until slider loads*/
}

#js-top__main-visual-slick .p-top__main-visual-slick-slide:first-child {
    display: block; /* show when slider loads*/
}

#js-top__main-visual-slick.slick-initialized .p-top__main-visual-slick-slide {
    display: block; /* show when slider loads*/
}

.p-top__main-visual-slick-slide.slick-slide {
    height: 100vh;
}

.p-top__main-visual-dots button:before {
    background-color: #fff;
}

.p-top__main-visual-dots button {
    padding: 8px 0 0;
}

.p-top__scroll-down {
    position: absolute;
    padding: 0px 40px 0px 20px;
    bottom: 60px; /* slider dots height */
    left: 0;
    color: #fff;
    line-height: 22px;
    font-size: 22px;
}

.p-top__scroll-down span:after {
    content: "";
    background: url('../img/arrow_down.png') no-repeat center center;
    background-size: cover;
    display: block;
    width: 30px;
    height: 12px;
    position: absolute;
    top: 5px;
    right: 0px;
}

.p-top__main-visual-slick-slide.is-2nd {
    background: url('../img/slider/2nd-slide-background.jpg') no-repeat top center;
    background-size: cover;
}

.p-top__main-visual-slick-slide.is-3rd {
    background: url('../img/slider/3rd-slide-background.jpg') no-repeat top center;
    background-size: cover;
}

/*** Main banner/slider : index.twig : END ***/
/*** Introduction block ***/
.cmn-container {
    width: auto;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.we_are_maritime {
    padding-bottom: 110px;
    padding-top: 80px;
}

.we_are_inside {
    /*max-width: 980px;*/
    margin: 0 auto;
    text-align: center;
}

.we_are_inside p {
    margin: 0;
    font-size: 2.1rem;
}

.we_are_inside p:first-of-type {
    margin-top: 60px;
}

/*** Introduction block : END ***/

/*** Youtube video block ***/
.youtube-container {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 100%;
}

.youtube-player {
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
    /*overflow: hidden;*/
    position: relative;
    width: 100%;
    height: 100%;
    cursor: hand;
    cursor: pointer;
    display: block;
}

#youtube-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

img.youtube-thumb {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    border: 1px solid #000;
}

div.play-button {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url(https://i.imgur.com/TxzC70f.png) no-repeat;
}

/*** Youtube video block : END ***/

/*** Recommended use block : Block/usage_recommendation.twig ***/
.sse_box {
    flex: 1;
    margin-right: 2%;
    padding: 30px 20px;
    background: #fff;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    text-align: center;
}

.sse_box h3 {
    font-size: 27px;
    margin: 0 0 25px;
    font-weight: bold;
}

.sse_box p {
    font-size: 22px;
    color: #000;
    margin: 0 0 25px;
}

.sse_box:nth-child(4) {
    margin-right: 0;
}

.stress_sleep_energy {
    padding: 40px 0 80px;
    /*
    background: url('../img/brown-image-bg.jpg') no-repeat center center;
    background-size: cover;
    */
}

.stress_sleep_energy h2,
.blog_list_block h2,
.news_list_block h2 {
    color: #fff;
    width: 100%;
    margin-top: 0;
    text-align: center;
}

.blog_list_block h2,
.news_list_block h2 {
    margin-top: 2em;
    color: inherit;
}

.tabacms_blog_list .tabacms_detail h2 {
    text-align: left;
}

.stress_sleep_energy .cmn-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*padding: 0;*/
}

.sse_img {
    text-align: center;
    margin: 0 0 30px;
}

a.cbd_info__button {
    font-weight: normal;
}

/*** Recommended use block : Block/usage_recommendation.twig : END ***/

/*** Product sliders block ***/

.cbd_slides {
    padding: 60px 0;
}

.cbd_slides_oils {
    background: url('../img/gradient-bg.jpg') no-repeat top center;
    background-size: cover;
}

.cbd_slides_water {
    /*background-image: url('../img/landscape-bg.jpg');*/
}

.cbd_slides_water .cbd_text_inside {
}

.cbd_slides_water .sq_btn a {
    background-color: #fff;
}

.cbd_slides_inside {
    padding: 0 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cbd_slide_half {
    /*flex: 0 0 50%;*/
    flex: 1;
}

.cbd_slide_half.cbd_img_water {
    padding-left: 0;
    padding-right: 0;
}

.cbd_slide_half.cbd_text {
    /*
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
     */
}

.cbd_text_inside {
    padding: 70px 50px;
    background: #fff;
    color: #000;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
}

.cbd_text_inside h3 {
    font-size: 37px;
    margin: 0 0 35px;
    line-height: 49px;
    font-weight: bold;
}

.cbd_text_inside h4 {
    font-size: 34px;
    line-height: 38px;
    margin: 0;
}

.cbd_text_inside p.sub_text {
    margin: 0 0 2rem;
    white-space: pre-wrap;
}

.cbd_text_inside p {
    font-size: 22px;
    margin: 0 0 35px;
    line-height: 1.9rem;
}

.cbd_slide_btn {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.cbd_slide_btn a,
a.cbd_info__button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #000;
    text-decoration: none;
    white-space: pre;
}

.maritime-featured-text .cbd_slide_btn a {
    border-color: #fff;
}

.promotion_section .maritime-featured-text .cbd_slide_btn a {
    border-color: #c5a540;
    font-weight: 300;
}

.promotion_section2 .maritime-featured-text .cbd_slide_btn a {
    font-weight: 300;
}

.p-products__main-visual-slick-slide .cmn-container {
    padding-bottom: 20px;
    padding-top: 20px;
}

.cbd_slides_oils .b-new-item__slide-arrow--next, .cbd_slides_oils .b-new-item__slide-arrow--prev,
.cbd_slides_water .b-new-item__slide-arrow--next, .cbd_slides_water .b-new-item__slide-arrow--prev {
    top: calc(50% - 50px);
}

.cbd_slides_oils .b-new-item__slide-arrow--prev,
.cbd_slides_water .b-new-item__slide-arrow--prev {
    left: 0;
}

.cbd_slides_oils .b-new-item__slide-arrow--next,
.cbd_slides_water .b-new-item__slide-arrow--next {
    right: 0;
}

.b-new-item__slide-arrow-icon.material-icons {
    font-size: 5rem;
    color: #fff;
}

.sq_btn {
    margin: 4rem 0 0;
    text-align: center;
}

.sq_btn a {
    max-width: 320px;
    margin: 0 auto;
    display: block;
    border: 1px solid #000;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 24px;
}

/*** Product sliders block : END ***/

/*** Review sliders block ***/
.review_slides {
    background: #000;
}
.review_slides .sq_btn a {
    color: #fff;
    border-color: #fff;
}

.review_slides_inside {
    justify-content: center;
}

.review_slide .recommend_level {
    color: #c5a540;
    font-size: 2em;
}
.review_slide h4 {
    margin-top: 1em;
}
.review_slide .recommend_name {
    font-style: italic;
}


/*** Product sliders block : END ***/

/*** How it works block ***/

.cbd_work_section {
    padding: 70px 0;
}

.cbd_work_section .cbd_text_inside {
    box-shadow: none;
}

.cbd_work_section .cbd_text_inside p.sub_text {
    margin: 0;
}

.cbd_work_section .p-products__main-visual-slick-slide:nth-of-type(2) .cbd_slides_inside {
    flex-direction: row-reverse;
}

h2.cbd_work_title {
    margin: 0 0 60px;
    text-align: center;
}

.most_effective {
    background: #000;
    padding-top: 150px;
    padding-bottom: 200px;
}

.most_effective p {
    color: #fff;
    font-size: 1.7rem;
    line-height: 3rem;
}

.most_effective .we_are_inside {
    max-width: 100%;
}

.cbd_work_section .b-new-item__slide-arrow-icon.material-icons {
    /*font-size: 5rem;*/
    color: #000;
}

.cbd_work_section .b-new-item__slide-arrow--next, .cbd_work_section .b-new-item__slide-arrow--prev {
    top: calc(50% - 50px);
}

.cbd_work_section .b-new-item__slide-arrow--prev {
    left: 0;
}

.cbd_work_section .b-new-item__slide-arrow--next {
    right: 0;
}

.cbd_work_section .p-top__main-visual-dots {
    left: calc(50% - 29px);
    bottom: -50px;
}

.cbd_work_section .p-top__main-visual-dots button:before,
.cbd_work_section .p-top__main-visual-dots .slick-active button:before {
    background-color: #333;
}

video {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

/*** How it works block : END ***/

/*** News widget block ***/
.news_list_block,
.blog_list_block {
    margin-bottom: 3.5em;
}

.tabacms_post_list {
    margin-bottom: 0.5em;
}

/*** News widget block : END ***/

/*** Newsletter Signup block ***/

.join_our_club_section {
    /*background: url('../img/newsletter-bg.jpg') no-repeat center center;
    background-size: cover;*/
    padding: 30vh 0 10vh;
}

.join_our_club_form {
    max-width: 50%;
    width: auto;
    margin: 0 auto;
}

.join_our_club_form h3 {
    text-align: center;
    font-size: 40px;
    line-height: 52px;
    margin: 0 0 40px;
    color: #000;
}

.newsletter_input input {
    width: 100%;
    height: 64px;
    font-size: 2rem;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
    border: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
}

.newsletter_submit {
    text-align: center;
    color: #fff;
}

.newsletter_submit input {
    padding: 20px 50px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    background: none;
}
/*** Newsletter Signup block : END ***/

/*** Products List Page : /products/list.twig ***/
/* Category block */
.b-category {
    padding-left: 10px;
    padding-right: 10px;
}

.b-category__item-title {
    z-index: 3;
}

.b-category__item-link {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
}

.b-category__item-link:after {
    background: rgba(0, 0, 0, 0.1);
}

.b-category__item {
    width: 50%; /*2 categories instead of 3*/
    padding: 0 10px;
}

#page_product_list .l-main__top {
    background: url(../img/gradient-bg.jpg) repeat-x top center;
    background-size: contain;
}

.is-1st .b-category__item-bg {
    background-image: url('../img/category/cbd_category_bg.jpg');
}

.is-2nd .b-category__item-bg {
    background-image: url('../img/category/water_category_bg.jpg');
}

.is-3rd .b-category__item-bg {
    background-image: url('../img/100_THC_free_logo_black.png');
    background-color: #fff;
}

/* Category block : END */

/* Product list template */
.c-list-product__image-pic {
    max-height: 100%;
}

.c-button--unelevated.is-primary,
.c-button--outlined.is-primary,
.c-button--outlined.is-secondary {
    border-radius: 2px;
}

.c-button--unelevated.is-primary,
.c-button--outlined.is-secondary {
    padding-left: 1em;
    padding-right: 1em;
}

.c-button--outlined.is-secondary {
    border-color: #C5A540;
    color: #C5A540;
}

.c-button--unelevated.is-secondary,
.c-button--unelevated.is-secondary:disabled {
    background-color: #C5A540;
    border-radius: 2px;
}

.p-product__topicpath-list-item {
    font-size: 1em;
}

.c-list-product__name {
    height: 42px;
}

.scarcity-items .material-icons,
.scarcity-items {
    color: #ee1111;
}

.scarcity-items:not(.scarcity-detail) {
    font-size: 0.75em;
    display: none;
}

.scarcity-items .material-icons {
    font-size: 1em;
}

#page_product_list .breadcrumb {
    background-color: #0B0E15;
    color: #fff;
}

.price1-default-normal {
    text-decoration: line-through;
}
.price02-default.salesprice,
.price02-default.salesprice + span{
    color: #aa0303;
}

/* Product list template : END */

/*** Products List Page : /products/list.twig : END ***/

/*** Product Detail Page : /products/detail.twig ***/

#page_product_detail .l-main {
    background: url(../img/gradient-bg.jpg) no-repeat top center;
    background-size: contain;
}

#page_product_detail .p-product {
    padding-top: 0em; /* 10em */
}

#page_product_detail .breadcrumb {
    background-color: #0B0E15;
    color: #fff;
}

#js-product__detail-image-slide {
    padding-bottom: 3em;
}

.c-detail-product__image-slide-item {
    padding-right: 16px; /* space for box-shadow on image */
}

.c-detail-product__image-pic {
    margin: 0 auto 15px;
    /*
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
     */
}

.c-detail-product__image-navi {
    margin: 0 -5px;
    padding-right: 16px; /* align right side with image */
}

.c-detail-product__image-thumb {
    display: flex;
    align-items: center;
    justify-items: center;
    border: 1px #d7d7d7 solid;
    margin: 5px;
    width: calc(25% - 10px); /* 10px margin */
}

.c-detail-product__title {
    color: #C5A540;
    font-size: 1.4em;
}

.c-detail-product__price-normal--number {
    text-decoration: line-through;
}
.c-detail-product__price-selling--number,
.c-detail-product__price-selling--tax {
    color: #aa0303;
}


/* Category Products List */
.p-product__list.p-product__contents {
    margin: 0 auto;
    padding: 0;
}

/* Category Products List : END */

/* Reviews : default/app/Plugin/ProductReview4/Resource/template/default/review.twig  */
#product_review_area {
    padding-top: 6em;
}

#product_review_area h4 {
    margin-top: 0;
}

#product_review_area .ec-rectHeading {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

#product_review_area .ec-rectHeading.is_active i {
    transform: rotate(180deg);
}

#product_review_area .review_list {
    padding-left: 25px;
}

#product_review_area .review_list li {
    margin-bottom: 16px;
}

#product_review_area .review_list .review_date {
    font-weight: bold;
}

#product_review_area .recommend_average {
    margin-left: 16px;
}

#product_review_area .recommend_average,
.product_review_area .recommend_average {
    color: #C5A540;
}

#product_review_area .review_list .recommend_level {
    margin-left: 16px;
    color: #C5A540;
}

#product_review_area .review_list .recommend_name {
    margin-left: 16px;
}

#product_review_area .material-icons {
    animation: spin-animation 1s infinite;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

#product_review_result {
    display: inline-flex;
    display: -webkit-inline-box;
}

#result_others_input {
    width: auto;
}

/* Reviews : End */

/*** Products Detail Page : /products/detail.twig : END ***/

/***  Cart Page : /cart.twig ***/
.p-cart__progress-label,
.p-shopping__progress-label {
    white-space: normal; /* support wrap for English*/
}

.is-active .p-cart__progress-label,
.is-active .p-shopping__progress-label {
    color: #C5A540;
}

.is-active .p-cart__progress-number,
.is-active .p-shopping__progress-number {
    background: #C5A540;
}

.p-cart__total-price {
    color: #C5A540;
}

.b-cart__button.scarcity-items {
    padding-bottom: 0;
}

#remaining_time_product_container,
#remaining_time_cart_container,
#remaining_time_shopping_container {
    display: none;
}

#remaining_time,
#remaining_time_product {
    color: #ee1111;
    display: inline;
}

/***  Cart Page : /cart.twig : END ***/

/***  Blog List Page : /list_blog.twig ***/

.tabacms_blog_list {
    display: flex;
    flex-wrap: wrap;
}

/***  Blog List Page : /list_blog.twig : END***/

/***  Blog Detail Page : /post.twig ***/
.tabacms_header {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: rgba(0, 0, 0, .20) solid 1px;
}

.tabacms_post header h1 {
    margin-top: 1em;
}

.tabacms_post header time {
    color: #525263;
    margin-bottom: 0;
}
.tabacms_post section p,
.tabacms_post section dl,
.tabacms_post section ol,
.tabacms_post section ul,
.tabacms_post section h3,
.tabacms_post section h4,
.tabacms_post section h5,
.tabacms_post section h6
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tabacms_blog_list article {
    margin-bottom: 2em;
}

/***  Blog Detail Page : /post.twig : END***/
/***  Partner Page : partner.twig ***/
.dairiten_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.dairiten_gallery > img {
    flex: 1;
    max-height: 400px;
}

.dairiten-apply a {
    height: auto;
}

.dairiten-apply .c-button__label {
    font-size: 2em;
}

/***  Partner Page : partner.twig : END***/
/***  Partner Page : partner.twig ***/
.analysis_gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/***  Partner Page : partner.twig : END***/
/***  Shopping Pages  ***/
.p-shopping {
    background-color: #fff;
    height: 100%;
}

.ec-rectHeading h1, .ec-rectHeading h2, .ec-rectHeading h3,
.ec-rectHeading h4, .ec-rectHeading h5, .ec-rectHeading h6 {
    background: #F3F3F3;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}
/***  Shopping Page : END***/
/***  Article Pages  ***/
.article-summary {
    display: table;
    padding: 15px 22px 22px !important;
    border: 1px solid #ccc;
    background: #efefef;
    margin: 0 auto 30px;
    line-height: 1.4;
    border-radius: 3px;
}
.article-summary--title {
    font-weight: bold;
    font-size: 120%;
    padding-top: 5px;
    border-bottom: 2px solid #ccc;
    text-align: center;
    margin: -13px -13px 0px;
}
.article-summary a {
    text-decoration: none!important;
}
.article-summary a, .article-summary a:link, .article-summary a:visited {
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.article-h1, .article-h2 {
    margin-top: 17px;
    padding-left: 1em;
    text-indent: -1.2em;
    margin-top: 17px;
    padding: 0 0 4px 1em;
    text-indent: -1.2em;
    border-bottom: 1px dotted #ccc;
}
.article-h1::before, .article-h2::before {
    content: "▼ ";
    font-size: 60%;
    vertical-align: baseline;
    display: inline-block;
    margin-left: 20px;
}
.article-h3 {
    text-indent: -1em;
    margin: 10px 0 0 2em;
    border-bottom: 1px dotted #ccc;
    padding: 0 0 5px 1.9em;
}
.article-h3::before {
    content: "● ";
    font-size: 60%;
    vertical-align: baseline;
    display: inline-block;
}
.article-summary p{
    margin-top: 0;
    margin-bottom: 0;
}
.p-article .u-dl-sanitize{
    padding-top: 0px;
    padding-bottom: 0px;
}
.p-article .u-dl-sanitize::before{
    content:"";
    display:block;
    height:60px; /* fixed header height*/
    margin:-60px 0 0; /* negative fixed header height */
}

.p-article .p-help__guide-parts-label-text{
    margin-bottom: 0.5em;
    background: #eaeaea;
    padding: 10px;
}
.p-article h3.p-help__guide-parts-label-text{
    background: none;
    font-size: 1.1rem;
}
.p-article h3.p-help__guide-parts-label-text::before{
    content: "● ";
    margin-right: 5px;
    font-size: 60%;
    vertical-align: text-top;
    display: inline-block;
}

.p-article .p-help__guide-box-item{
    padding: 0;
}

.p-article .c-page-title{
    margin: 16px 0;
    padding: 16px 0;
}

/* Responsive Table */
.p-article table,
.tabacms_body table
{
    width: 100%;
}
.p-article thead,
.tabacms_body thead{
    background-color: #ccc;
}
.p-article tr:nth-child(2n+1),
.tabacms_body tr:nth-child(2n+1)
{
    background: #eaeaea;
}
/* Responsive table : end */

.dairiten_gallery > img {
    flex: unset;
    max-height: 248px; /* smallest image */
}

/***  Article Page : END***/
/***  Store Locator Page & Block  ***/
.store-locator .storepoint-panel .storepoint-location{
    padding: 0 0 1rem 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.store-locator .storepoint-panel .storepoint-location a{
    text-decoration: underline;
}
.store-locator .storepoint-panel .storepoint-location div{
    font-size: 1rem;
}
.store-locator .storepoint-panel .storepoint-location i{
    font-size: 1rem;
    border: 1px solid black;
    background: black;
    color: gold;
}
/* Store Locator Map Block */
.store_locator_block{
    /*padding: 0;
    max-width: 100%;*/
}
.store_locator_block h2 {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    color: inherit;
}
.store_locator_block iframe{
    border: 1px solid black;
}
/***  Store Locator Page & Block : END***/
/***  Promotion section Block : BEGIN***/
#promotion_section_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}
#promotion_section,.promotion_section {
    text-align: center;
    color: #c5a540;
    border: 2px solid #c5a540;
    border-radius: 10px;
    padding: 20px;
    background-color: black;
}
#promotion_section{
    background-color: white !important;
}
#promotion_section p {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.75;
}
#promotion_section span{
    font-size: 1.2rem;
}
#promotion_section bold{
    font-weight: bold;
    font-size: 1.5rem;
}

/***  Store Locator Page & Block : END***/
/*** Footer : /Block.footer.twig ***/
.b-footer {
    margin-top: 0;
    border-top: none;
}

.b-footer__bottom {
    background: #0B0E15;
}

.footer-menu {
    text-align: center;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.footer-bottom-menu-cont {
    background: #0B0E15;
    padding: 22px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer-menu ul li {
    display: inline-block;
    padding: 8px;
    /*border-right: 1px solid #fff;*/
    line-height: 26px;
    font-size: 20px;
}

.footer-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-menu ul li:last-child {
    border-right: none;
}

.footer_details {
    padding: 30px;
    flex-grow: 1;
}

.footer_details p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    margin: 1rem 0 0 0;
}

.footer_details_goemon {
    background: url(../img/goemon-shop-bg.jpg) center center no-repeat;
    background-size: cover;
    padding: 0;
    flex: unset;
}

.footer_details_goemon a {
    background: rgb(0, 0, 0, .65);
    padding: 30px 20px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.footer_details_goemon h4 {
    margin: 0;
    text-align: center;
    font-family: "EB Garamond", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.b-footer__logo {
    overflow: visible;
}

.b-footer__logo.shops_logos {
    margin: 30px 20px 30px;
}

.b-footer__logo-link {
    width: 150px;
}

.shops_logos .b-footer__logo-link {
    padding: 10px 0;
}

.b-footer__sns {
    color: #fff;
}

.b-footer__sns-list {
    margin: 1rem -7px;
    justify-content: space-between;
    align-items: baseline;
}

.b-footer__sns-link {
    width: 44px;
    padding: 44px 0 0;
}

.b-footer__sns-link.is-twitter:before {
    background: url(../img/twitter-ico.png) no-repeat center center;
    background-size: contain;
    width: 44px;
    height: 44px;
}

.b-footer__sns-link.is-facebook:before {
    background: url(../img/facebook-ico.png) no-repeat center center;
    background-size: contain;
    width: 44px;
    height: 44px;
}

.b-footer__sns-link.is-instagram:before {
    background: url(../img/instagram-ico.png) no-repeat center center;
    background-size: contain;
    width: 44px;
    height: 44px;
}

.flag {
    background-repeat: no-repeat;
    background-size: 30px 30px;
    /*display: inline-block;*/
    width: 30px;
    height: 30px;
    background-image: url(../img/ja.png);
}

.flag-ja {
}

.flag-us {
    background-image: url(../img/en.png);
}

.flag-ko {
    background-image: url(../img/ko.png);
}

.flag-cn {
    background-image: url(../img/cn.png);
}

.b-footer__copy{
    margin: 20px auto;
    justify-content: center;
}

/*** Footer : /Block.footer.twig : END ***/

@media screen and (max-width: 1024px) {
    .p-products__main-visual-slick-slide .cmn-container {
        max-width: 100vw;
    }

    .sse_box {
        padding-left: 25px;
        padding-right: 25px;
    }

    .cbd_text_inside {
        padding: 35px 30px;
    }

    .cbd_slides_inside {
        padding: 0;
    }

    .cbd_text {
        /*flex: 0 0 55%;*/
        flex: 0 0 50%;
    }

    .cbd_img {
        flex: 0 0 45%;
    }
}

/** Ipad Size **/
@media screen and (min-width: 768px) and (max-width: 980px) {
    /*** Header ***/
    .b-header__language {
        display: none;
    }

    .c-top-app-bar.is-transparent {
        background: #000;
    }

    .c-top-app-bar .c-top-app-bar__row {
        height: 70px;
    }

    /*** Header : end ***/
    .product-carousel .product-img {
        width: 100%;
    }

    .cbd_slide_half.cbd_img_water {
        display: none;
    }

    .sse_box {
        flex: 1 0 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .cbd_text {
        flex: 0 0 100%;
    }

    .cbd_img {
        flex: 0 0 100%;
    }

    .cbd_slides_inside {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .product-carousel .cbd_slide_half {
        max-width: calc(100vw - 20px);
    }

    .product-carousel .cbd_text_inside {
        padding: 30px;
    }

    .product-carousel .cbd_text_inside h3 {
        font-size: 37px;
    }

    .cbd_slide_btn.main-button {
        width: 100%;
        flex-direction: unset;
        align-items: center !important;
    }

    .b-footer__sns-list-item {
        margin: 0;
    }

    .b-footer__bottom-contents {
        flex-direction: column;
        align-content: center;
        text-align: center;
        justify-content: center;
        -ms-flex-direction: column;
        -ms-flex-pack: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 15px 10px;
    }
}

@media screen and (max-width: 767px) {
    .b-header__language {
        display: none;
    }

    .we_are_inside p {
        font-size: 25px;
    }

    .p-top__main-visual-body {
        align-items: center;
    }

    .cbd_slide_half.cbd_img_water {
        display: none;
    }

    .sse_box {
        width: auto;
        margin: 0 auto 25px;
        max-width: 400px;
    }

    .sse_box.last {
        margin-right: auto;
    }

    .cbd_slides_inside {
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0 auto;
        padding: 0;
    }

    .cbd_text {
        flex: 0 0 100%;
    }

    .cbd_img_water,
    .cbd_img {
        flex: 0 0 100%;
        padding: 0 !important;
        text-align: center;
    }

    .cbd_img_water img,
    .cbd_img img {
        max-width: 250px;
    }

    .join_our_club_form h3 {
        font-size: 26px;
        line-height: 36px;
    }

    .newsletter_input input {
        height: 64px;
    }

    .footer-menu{
        flex-direction: column;
    }

    /* responsive tables for articles */
    .p-article thead { display: none; }
    .p-article tr {
        display: block;
        position: relative;
        padding: 1.2em 0; }
    .p-article tr:first-of-type { border-top: 1px solid #ccc; }
    .p-article td { display: table-row; }
    .p-article td:before {
        content: attr(data-label);
        display: table-cell;
        font-weight: bold;
        padding: 0.2em 0.6em 0.2em 0;
        text-align: right; }
    .p-article td:last-child:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1px solid #ccc; }
    /* responsive tables for articles : end */

    .b-footer__bottom-contents {
        text-align: center;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        -ms-flex-direction: column;
        -ms-flex-pack: center;
        -ms-flex-align: center;
        align-items: center;
    }

}

@media screen and (max-width: 479px) {
    /*** Header ***/
    #page_homepage .l-header {
        position: absolute; /* negates the content for this block so it merges with the slider */
    }

    .p-top__scroll-down {
        font-size: 16px;
    }

    /*** Header : END ***/
    /*** Product sliders block ***/
    .product-carousel .product-img {
        width: 100%;
    }

    .mdc-select--outlined .mdc-select__native-control {
        font-size: 0.8rem;
        padding-right: 32px;
    }

    /*** Product sliders block : end ***/
    /*** Product detail page ***/
    /* How it works block */
    .cmn-container .cmn-container,
    .cbd_work_section .cbd_text_inside {
        padding-left: 0;
        padding-right: 0;
    }

    .cbd_img_water img,
    .cbd_img img {
        max-width: 100%;
    }

    /* How it works block : END */
    /* Review */
    #product_review_area {
        padding-top: 4em;
    }

    /* Review : End */
    /*** Product detail page : END ***/
    /*** Newsletter block ***/
    .join_our_club_form {
        max-width: 100%;
    }

    /*** Newsletter block : END ***/
    /***  Partner Page : partner.twig ***/
    .dairiten_gallery {
        flex-wrap: wrap;
    }

    .dairiten_gallery > img {
        max-height: unset;
    }

    /***  Partner Page : partner.twig : END***/
    /*** Footer block ***/
    .footer-menu ul {
        display: flex;
        flex-direction: column;
    }

    .footer-menu ul li {
        padding: 0;
        border-right: none;
    }

    .footer-menu ul li a {
        padding: 10px 0;
        display: block;
    }

    .newsletter_input input {
        height: 48px;
        margin-bottom: 28px;
        font-size: 1rem;
    }

    .newsletter_submit input {
        padding: 10px 20px;
        white-space: normal;
    }

    /*** Footer block : END ***/
}