{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
{% if Order.Payment.getMethodClass matches '{Plugin\\\\GmoPaymentGateway4\\\\.*}' %}
  {% if Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CreditCard' %}
    {# クレジットカードフォーム #}
    {{ include('@GmoPaymentGateway4/payments/credit_confirm.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\Cvs' %}
    {# コンビニフォーム #}
    {{ include('@GmoPaymentGateway4/payments/cvs_confirm.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\PayEasyAtm' %}
    {# Pay-easy(銀行ATM) #}
    {{ include('@GmoPaymentGateway4/payments/payeasy_confirm.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\PayEasyNet' %}
    {# Pay-easy(ネットバンク) #}
    {{ include('@GmoPaymentGateway4/payments/payeasy_confirm.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CarAu' %}
    {# auかんたん決済 #}
    {{ include('@GmoPaymentGateway4/payments/carrier_au_confirm.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CarDocomo' %}
    {# ドコモケータイ払い #}
    {{ include('@GmoPaymentGateway4/payments/carrier_docomo_confirm.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CarSoftbank' %}
    {# ソフトバンクまとめて支払い #}
    {{ include('@GmoPaymentGateway4/payments/carrier_softbank_confirm.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\RakutenPay' %}
    {# 楽天ペイ #}
    {{ include('@GmoPaymentGateway4/payments/rakuten_pay_confirm.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\Ganb' %}
    {# 銀行振込（バーチャル口座 あおぞら） #}
    {{ include('@GmoPaymentGateway4/payments/ganb_confirm.twig', ignore_missing=true) }}
  {% endif %}
{% endif %}
