{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
{% if Order.Payment is not null and Order.Payment.getMethodClass matches '{Plugin\\\\GmoPaymentGateway4\\\\.*}' and Order.getGmoPaymentMethod and Order.Payment.getMethodClass == Order.getGmoPaymentMethod.memo03 %}
  {% if Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CreditCard' %}
    {# クレジットカードフォーム #}
    {{ include('@GmoPaymentGateway4/payments/credit.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\Cvs' %}
    {# コンビニフォーム #}
    {{ include('@GmoPaymentGateway4/payments/cvs.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\PayEasyAtm' %}
    {# Pay-easy(銀行ATM) #}
    {{ include('@GmoPaymentGateway4/payments/payeasy.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\PayEasyNet' %}
    {# Pay-easy(ネットバンク) #}
    {{ include('@GmoPaymentGateway4/payments/payeasy.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CarAu' %}
    {# auかんたん決済 #}
    {{ include('@GmoPaymentGateway4/payments/carrier_au.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CarDocomo' %}
    {# ドコモケータイ払い #}
    {{ include('@GmoPaymentGateway4/payments/carrier_docomo.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CarSoftbank' %}
    {# ソフトバンクまとめて支払い #}
    {{ include('@GmoPaymentGateway4/payments/carrier_softbank.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\RakutenPay' %}
    {# 楽天ペイ #}
    {{ include('@GmoPaymentGateway4/payments/rakuten_pay.twig', ignore_missing=true) }}
  {% elseif Order.Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\Ganb' %}
    {# 銀行振込（バーチャル口座 あおぞら） #}
    {{ include('@GmoPaymentGateway4/payments/ganb.twig', ignore_missing=true) }}
  {% endif %}
{% endif %}
