{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
<script>
  $(function () {
    // お問い合わせ欄の直前に追加
    $('#gmo_payment_gateway_cvs_form').insertBefore($('#shopping-form .p-shopping__contact'));
  });
</script>
<style type="text/css">
  #gmo_payment_gateway_cvs_form .dl_table {
    width: 100%;
    display: table;
  }
  #gmo_payment_gateway_cvs_form .dl_table dl {
    display: table-row;
  }
  #gmo_payment_gateway_cvs_form .dl_table dt,
  #gmo_payment_gateway_cvs_form .dl_table dd {
    display: table-cell;
    font-weight: normal;
  }
</style>
<div id="gmo_payment_gateway_cvs_form" class="ec-orderPayment">
  <div class="ec-rectHeading">
    <h2 class="c-contents-title">{{ 'gmo_payment_gateway.com.payname.cvs'|trans }}</h2>
  </div>
  <div class="dl_table p-shopping__payment-contents">
    <dl class="p-shopping__payment-contents-item">
      <dd>
        <div class="ec-radio">
          <p style="margin-bottom:5px;">{{ 'gmo_payment_gateway.shopping.cvs.col1.note1'|trans }}</p>
          {% for child in form.Convenience %}
          <div style="display: block;">
            {{ form_widget(child) }}
          </div>
          {% endfor %}
          {{ form_errors(form.Convenience) }}
        </div>
      </dd>
    </dl>
  </div>
</div>
