{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
<script>
  $(function () {
    // お問い合わせ欄の直前に追加
    $('#gmo_payment_gateway_cvs_confirm_form').insertBefore($('#shopping-form .p-shopping__contact'));
  });
</script>
<style type="text/css">
  #gmo_payment_gateway_cvs_confirm_form .dl_table {
    width: 100%;
    display: table;
  }
  #gmo_payment_gateway_cvs_confirm_form .dl_table dl {
    display: table-row;
    height: 30px;
  }
  #gmo_payment_gateway_cvs_confirm_form .dl_table dt {
    font-weight: normal;
  }
  #gmo_payment_gateway_cvs_confirm_form .dl_table dt,
  #gmo_payment_gateway_cvs_confirm_form .dl_table dd {
    display: table-cell;
  }
</style>
<div id="gmo_payment_gateway_cvs_confirm_form" class="ec-orderPayment">
  <div class="ec-rectHeading">
    <h2>{{ 'gmo_payment_gateway.shopping.cvs.col1'|trans }}</h2>
  </div>
  <div class="dl_table">
    <dl>
      <dd>
	<div>
	  {{ Order.getGmoPaymentInput.getConveniName }}
	</div>
      </dd>
    </dl>
  </div>
</div>
