{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
<script>
  $(function () {
    // お問い合わせ欄の直前に追加
    $('#gmo_payment_gateway_rakuten_pay_confirm_form').insertBefore($('#shopping-form .p-shopping__contact'));
    $('#shopping-form button.p-shopping__summary-button').html('<img src="https://checkout.rakuten.co.jp/p/common/img/btn_check_01.gif" />');
  });
</script>
<style type="text/css">
  .ec-blockBtn--action img {
    width: auto;
  }
</style>
<div id="gmo_payment_gateway_rakuten_pay_confirm_form" class="ec-orderPayment">
  <div class="ec-rectHeading">
  </div>
  <div class="dl_table">
  </div>
</div>
