{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'change' %}

{% set body_class = 'mypage' %}

{% block main %}

    <section class="p-mypage">

        <div class="p-mypage__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'マイページ'|trans }}/{{ '会員情報編集(完了)'|trans }}</span>
            </h1>
        </div>

        <div class="p-mypage__contents">

            {% include 'Mypage/navi.twig' %}

            <div class="p-mypage__change">
                <div class="p-mypage__change-complete">
                    <dl class="p-mypage__change-complete-message">
                        <dt class="p-mypage__change-complete-message-label">{{ '会員登録内容の変更が完了いたしました'|trans }}</dt>
                        <dd class="p-mypage__change-complete-message-detail">
                            <p class="p-mypage__change-complete-description">{{ 'それでは、引き続きショッピングをお楽しみください。'|trans }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="p-mypage__actions">
                    <div class="p-mypage__actions-item">
                        <a class="p-contact__button c-button c-button--outlined is-primary mdc-button mdc-button--outlined" href="{{ url('homepage') }}">
                            <span class="c-button__label mdc-button__label">{{ 'トップページへ'|trans }}</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </section>

{% endblock %}
