{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'delivery' %}

{% set body_class = 'mypage' %}

{% block main %}

    <section class="p-mypage">

        <div class="p-mypage__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'マイページ'|trans }}/{{ 'お届け先一覧'|trans }}</span>
            </h1>
        </div>

        <div class="p-mypage__contents">

            {{ include('Mypage/navi.twig') }}

            <div class="p-mypage__delivery">

                <div class="p-mypage__delivery-heading">
                    <div class="p-mypage__page-message">
                        {% if Customer.CustomerAddresses|length > 0 %}
                            <p class="p-mypage__page-message-text">{{ '%count%件のお届け先があります'|trans({'%count%':Customer.CustomerAddresses|length}) }}</p>
                        {% else %}
                            <p class="p-mypage__page-message-text">{{ 'お届け先は登録されていません。'|trans }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="p-mypage__delivery-contents">

                    <div class="p-mypage__delivery-add">
                        {% if Customer.CustomerAddresses|length < eccube_config.eccube_deliv_addr_max %}
                            <a class="c-button c-button--outlined is-quaternary mdc-button mdc-button--outlined" href="{{ url('mypage_delivery_new') }}">
                                <span class="c-button__label mdc-button__label">{{ '新規お届け先を追加する'|trans }}</span>
                            </a>
                        {% else %}
                            <p class="p-mypage__delivery-add-text">{{ 'お届け先登録の上限の%eccube_deliv_addr_max%件に達しています。お届け先を入力したい場合は、削除か変更を行ってください。'|trans({ '%count%': eccube_config.eccube_deliv_addr_max }) }}</p>
                        {% endif %}
                    </div>
                    {% if Customer.CustomerAddresses|length > 0 %}
                        <ul class="p-mypage__delivery-list u-list-sanitize">
                            {% for CustomerAddress in Customer.CustomerAddresses %}
                                <li class="p-mypage__delivery-list-item">
                                    <div class="p-mypage__delivery-delete">
                                        <a class="p-mypage__delivery-delete-button c-ripple-surface mdc-ripple-surface" href="{{ url('mypage_delivery_delete', { id : CustomerAddress.id }) }}" {{ csrf_token_for_anchor() }} data-method="delete">
                                            <i class="p-mypage__delivery-delete-button-icon material-icons">delete_forever</i>
                                        </a>
                                    </div>
                                    <p class="p-mypage__delivery-address">
                                        <span class="p-mypage__delivery-address-name">{{ CustomerAddress.name01 }}&nbsp;{{ CustomerAddress.name02 }}</span>
                                        <span class="p-mypage__delivery-address-detail">{{ '〒'|trans }}{{ CustomerAddress.postal_code }} {{ CustomerAddress.Pref|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ CustomerAddress.addr01 }}{{ CustomerAddress.addr02 }}</span>
                                        <span class="p-mypage__delivery-address-tel">{{ CustomerAddress.phone_number }}</span>
                                    </p>
                                    <div class="p-mypage__delivery-change">
                                        <a class="c-button c-button--outlined is-quaternary mdc-button mdc-button--outlined" href="{{ url('mypage_delivery_edit', { id : CustomerAddress.id }) }}">
                                            <span class="c-button__label mdc-button__label">{{ '変更'|trans }}</span>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>

            </div>

        </div>

    </section>

{% endblock %}
