{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'favorite' %}

{% set body_class = 'mypage' %}

{% block main %}

    <section class="p-mypage">

        <div class="p-mypage__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'マイページ'|trans }}/{{ 'お気に入り一覧'|trans }}</span>
            </h1>
        </div>

        <div class="p-mypage__contents">

            {% include 'Mypage/navi.twig' %}

            <div class="p-mypage__favorite">
                {% if pagination.totalItemCount > 0 %}
                    <div class="p-mypage__favorite-heading">
                        <div class="p-mypage__page-message">
                            <p class="p-mypage__page-message-text">{{ '%count%件のお気に入りがあります'|trans({'%count%':pagination.totalItemCount}) }}</p>
                        </div>
                    </div>
                    <div class="p-mypage__favorite-contents">
                        <ul class="p-mypage__favorite-list u-list-sanitize">
                            {% for FavoriteProduct in pagination %}
                                {% set Product = FavoriteProduct.Product %}
                                <li class="p-mypage__favorite-list-item">
                                    <a class="p-mypage__favorite-delete" href="{{ url('mypage_favorite_delete', { id : Product.id }) }}" {{ csrf_token_for_anchor() }} data-method="delete">
                                        <i class="p-mypage__favorite-delete-icon material-icons">cancel</i>
                                    </a>
                                    <div class="c-list-product">
                                        <a class="c-list-product__link" href="{{ url('product_detail', {'id': Product.id}) }}">
                                            <div class="c-list-product__image">
                                                <div class="c-list-product__image-contents">
                                                    <img loading=lazy src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name|trans }}">
                                                </div>
                                            </div>
                                            <p class="c-list-product__name">{{ Product.name|trans }}</p>
                                            <p class="c-list-product__price">
                                                {% if Product.price02_inc_tax_min == Product.price02_inc_tax_max %}
                                                    {{ Product.price02_inc_tax_min|price }}
                                                {% else %}
                                                    {{ Product.price02_inc_tax_min|price }}～{{ Product.price02_inc_tax_max|price }}
                                                {% endif %}
                                            </p>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% include "pager.twig" with {'pages': pagination.paginationData} %}
                {% else %}
                    <div class="p-mypage__favorite-heading">
                        <div class="p-mypage__page-message">
                            <p class="p-mypage__page-message-text">{{ 'お気に入りは登録されていません。'|trans }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>

    </section>

{% endblock %}
