{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}

    <section class="p-mypage">

        <div class="p-mypage__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'マイページ'|trans }}/{{ 'ご注文履歴詳細'|trans }}</span>
            </h1>
        </div>

        <div class="p-mypage__contents">

            {% include 'Mypage/navi.twig' %}

            {% set remessage = false %}

            <div class="p-mypage__layout">
                <div class="p-mypage__layout--main">
                    <div class="p-mypage__order">
                        <dl class="p-mypage__order-date u-dl-sanitize">
                            <dt class="p-mypage__order-date-label">{{ 'ご注文日時'|trans }}</dt>
                            <dd class="p-mypage__order-date-detail">{{ Order.create_date|date_sec }}</dd>
                        </dl>
                        <dl class="p-mypage__order-number u-dl-sanitize">
                            <dt class="p-mypage__order-number-label">{{ 'ご注文番号'|trans }}</dt>
                            <dd class="p-mypage__order-number-detail">{{ Order.order_no }}</dd>
                        </dl>
                        {% if BaseInfo.option_mypage_order_status_display %}
                            <dl class="p-mypage__order-status u-dl-sanitize">
                                <dt class="p-mypage__order-status-label">{{ 'ご注文状況'|trans }}</dt>
                                <dd class="p-mypage__order-status-detail">{{ Order.CustomerOrderStatus|trans }}</dd>
                            </dl>
                        {% endif %}
                        {% if BaseInfo.isOptionPoint %}
                            <dl class="p-mypage__order-use-point u-dl-sanitize">
                                <dt class="p-mypage__order-use-point-label">{{ 'ご利用ポイント'|trans }}</dt>
                                <dd class="p-mypage__order-use-point-detail">{{ Order.usePoint }} pt</dd>
                            </dl>
                            <dl class="p-mypage__order-add-point u-dl-sanitize">
                                <dt class="p-mypage__order-add-point-label">{{ '加算ポイント'|trans }}</dt>
                                <dd class="p-mypage__order-add-point-detail">{{ Order.addPoint }} pt</dd>
                            </dl>
                        {% endif %}
                    </div>
                    <section class="p-mypage__deliv">
                        <div class="p-mypage__deliv-heading">
                            <h2 class="c-contents-title">
                                <span class="c-contents-title__text">{{ '配送情報'|trans }}</span>
                            </h2>
                        </div>
                        {% for Shipping in Order.Shippings %}
                            <div class="p-mypage__deliv-contents">
                                <div class="p-mypage__deliv-contents-item">
                                    <div class="p-mypage__deliv-change">
                                        <p class="p-mypage__deliv-change-label">{{ 'お届け先'|trans }}{% if Order.multiple %}({{ loop.index }}){% endif %}</p>
                                    </div>
                                </div>
                                <div class="p-mypage__deliv-contents-item">
                                    {% for orderItem in Shipping.productOrderItems %}
                                        <div class="p-mypage__deliv-product">
                                            <div class="p-mypage__deliv-product-image">
                                                {% if orderItem.product is null %}
                                                    <img loading=lazy src="{{ asset(''|no_image_product, 'save_image') }}" alt="">
                                                {% else %}
                                                    <img loading=lazy src="{{ asset(orderItem.Product.MainListImage|no_image_product, 'save_image') }}"
                                                         alt="{{ orderItem.productName|trans }}" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="p-mypage__deliv-product-detail">
                                                <p class="p-mypage__deliv-product-name">
                                                    {% if orderItem.Product is not null and orderItem.Product.enable %}
                                                        <a href="{{ url('product_detail', {'id': orderItem.Product.id}) }}">
                                                            {{ orderItem.productName|trans }}
                                                        </a>
                                                    {% else %}
                                                        {{ orderItem.productName|trans }}
                                                    {% endif %}&nbsp;×&nbsp;{{ orderItem.quantity }}
                                                </p>
                                                {% if orderItem.ProductClass is not null %}
                                                    {% if orderItem.ProductClass.ClassCategory1 is not null %}
                                                        <p class="p-mypage__deliv-product-class-category">{{ orderItem.productClass.classCategory1.className.name|trans }}：{{ orderItem.productClass.classCategory1|trans }}</p>
                                                    {% endif %}
                                                    {% if orderItem.ProductClass.ClassCategory2 %}
                                                        <p class="p-mypage__deliv-product-class-category">{{ orderItem.productClass.classCategory2.className.name|trans }}：{{ orderItem.productClass.classCategory2|trans }}</p>
                                                    {% endif %}
                                                {% endif %}
                                                <p class="p-mypage__deliv-product-price">
                                                    <span class="p-mypage__deliv-product-price--sub">
                                                        {{ orderItem.price_inc_tax|price }} × {{ orderItem.quantity|number_format }}
                                                    </span>
                                                    {% if orderItem.product and orderItem.price_inc_tax != orderItem.productClass.price02IncTax %}
                                                        <span class="p-mypage__deliv-product-price--main">{{ '【現在価格】'|trans }}{{ orderItem.productClass.price02IncTax|price }}</span>
                                                        {% set remessage = true %}
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="p-mypage__deliv-contents-item">
                                    <p class="p-mypage__deliv-name">{{ Shipping.name01 }}&nbsp;{{ Shipping.name02 }}&nbsp;{% if app.request.locale == "ja" %}({{ Shipping.kana01 }}&nbsp;{{ Shipping.kana02 }}){% endif %}</p>
                                    <p class="p-mypage__deliv-address">
                                        <span class="p-mypage__deliv-address-postcode">{{ '〒'|trans }}{{ Shipping.postal_code }}</span>
                                        <span class="p-mypage__deliv-address-text">{{ Shipping.Pref|trans }}{{ Shipping.addr01 }}{{ Shipping.addr02 }}</span>
                                    </p>
                                    <p class="p-mypage__deliv-phone-number">{{ Shipping.phone_number }}</p>
                                </div>
                                <div class="p-mypage__deliv-contents-item">
                                    <div class="p-mypage__deliv-selects">
                                        <div class="p-mypage__deliv-selects-item">
                                            <div class="p-mypage__deliv-method">
                                                <p class="p-mypage__deliv-method-label">{{ '配送方法'|trans }}</p>
                                                <p class="p-mypage__deliv-method-result">{{ Shipping.shipping_delivery_name|trans }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-mypage__deliv-selects">
                                        <div class="p-mypage__deliv-selects-item">
                                            <div class="p-mypage__deliv-date">
                                                <p class="p-mypage__deliv-date-label">{{ 'お届け日'|trans }}</p>
                                                <p class="p-mypage__deliv-date-result">{{ Shipping.shipping_delivery_date|date_day_with_weekday|default('指定なし'|trans) }}</p>
                                            </div>
                                        </div>
                                        <div class="p-mypage__deliv-selects-item">
                                            <div class="p-mypage__deliv-time">
                                                <p class="p-mypage__deliv-time-label">{{ 'お届け時間'|trans }}</p>
                                                <p class="p-mypage__deliv-time-result">{{ Shipping.shipping_delivery_time|trans|default('指定なし'|trans) }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                    <section class="p-mypage__payment">
                        <div class="p-mypage__payment-heading">
                            <h2 class="c-contents-title">
                                <span class="c-contents-title__text">{{ 'お支払い情報'|trans }}</span>
                            </h2>
                        </div>
                        <div class="p-mypage__payment-contents">
                            <div class="p-mypage__payment-contents-item">
                                <p class="p-mypage__payment-result">{{ 'お支払い方法'|trans }} : {{ Order.PaymentMethod|trans }}</p>
                            </div>
                        </div>
                    </section>
                    <section class="p-mypage__contact">
                        <div class="p-mypage__contact-heading">
                            <h2 class="c-contents-title">
                                <span class="c-contents-title__text">{{ 'お問い合わせ'|trans }}</span>
                            </h2>
                        </div>
                        <div class="p-mypage__contact-contents">
                            <div class="p-mypage__contact-contents-item">
                                <p class="p-mypage__contact-result">{{ Order.message|nl2br|default('記載なし'|trans) }}</p>
                            </div>
                        </div>
                    </section>
                    <section class="p-mypage__mail">
                        <div class="p-mypage__mail-heading">
                            <h2 class="c-contents-title">
                                <span class="c-contents-title__text">{{ 'メール配信履歴一覧'|trans }}</span>
                            </h2>
                        </div>
                        <div class="p-mypage__mail-contents">
                            {% for MailHistory in Order.MailHistories %}
                                <div class="p-mypage__mail-contents-item">
                                    <div class="p-mypage__mail-detail js-mypage__mail-detail">
                                        <div class="p-mypage__mail-detail-date">{{ MailHistory.send_date|date_sec }}</div>
                                        <div class="p-mypage__mail-detail-title">
                                            <a class="p-mypage__mail-detail-title-link js-mypage__mail-detail-title-link" src="#">{{ MailHistory.mail_subject|trans }}</a>
                                        </div>
                                        <div class="p-mypage__mail-detail-body js-mypage__mail-detail-body">
                                            {{ MailHistory.mail_body|nl2br }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p>{{ 'メール履歴はありません。'|trans }}</p>
                            {% endfor %}
                        </div>
                        <div class="c-dialog mdc-dialog mdc-dialog--scrollable" role="alertdialog" aria-modal="true" aria-labelledby="mail-dialog-title" aria-describedby="mail-dialog-content">
                            <div class="mdc-dialog__container">
                                <div class="mdc-dialog__surface">
                                    <h2 class="mdc-dialog__title" id="mail-dialog-title"></h2>
                                    <div class="mdc-dialog__content" id="mail-dialog-content">
                                    </div>
                                    <footer class="mdc-dialog__actions">
                                        <button type="button" class="c-button mdc-button mdc-button--unelevated mdc-dialog__button" data-mdc-dialog-action="close">
                                            <span class="c-button__label mdc-button__label">{{ '閉じる'|trans }}</span>
                                        </button>
                                    </footer>
                                </div>
                            </div>
                            <div class="mdc-dialog__scrim"></div>
                        </div>
                    </section>
                </div>
                <div class="p-mypage__layout--sub">
                    <div class="p-mypage__summary">
                        <div class="p-mypage__summary-item">
                            <dl class="p-mypage__subtotal u-dl-sanitize">
                                <dt class="p-mypage__subtotal-label">{{ '小計'|trans }}</dt>
                                <dd class="p-mypage__subtotal-detail">{{ Order.subtotal|price }}</dd>
                            </dl>
                            <dl class="p-mypage__charge u-dl-sanitize">
                                <dt class="p-mypage__charge-label">{{ '手数料'|trans }}</dt>
                                <dd class="p-mypage__charge-detail">{{ Order.charge|price }}</dd>
                            </dl>
                            <dl class="p-mypage__fee u-dl-sanitize">
                                <dt class="p-mypage__fee-label">{{ '送料'|trans }}</dt>
                                <dd class="p-mypage__fee-detail">{{ Order.delivery_fee_total|price }}</dd>
                            </dl>
                            {% if Order.discount > 0 %}
                                <dl class="p-mypage__discount u-dl-sanitize">
                                    <dt class="p-mypage__discount-label">{{ '値引き'|trans }}</dt>
                                    <dd class="p-mypage__discount-detail">{{ (0 - Order.discount)|price }}</dd>
                                </dl>
                            {% endif %}
                        </div>
                        <div class="p-mypage__summary-item">
                            <dl class="p-mypage__total u-dl-sanitize">
                                <dt class="p-mypage__total-label">{{ '合計'|trans }}</dt>
                                <dd class="p-mypage__total-detail">
                                    <span class="p-mypage__total-detail--main">{{ Order.payment_total|price }}</span>
                                    <span class="p-mypage__total-detail--sub">{{ '税込'|trans }}</span>
                                </dd>
                            </dl>
                        </div>
                        {% if remessage %}
                            <div class="p-mypage__summary-item">
                                <p class="p-mypage__summary-attention">
                                    <strong>{{ '※金額が変更されている商品があるため、再注文時はご注意ください。'|trans }}</strong>
                                </p>
                            </div>
                        {% endif %}
                        {% if stockOrder %}
                            <div class="p-mypage__summary-actions">
                                <div class="p-mypage__summary-actions-item">
                                    <a class="p-mypage__summary-button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated js-load-overlay" href="{{ url('mypage_order', {'order_no': Order.order_no }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">
                                        <span class="c-button__label mdc-button__label">{{ '再注文する'|trans }}<span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="p-mypage__actions">
                <div class="p-mypage__actions-item">
                    <a class="p-mypage__button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" href="{{ url('mypage') }}">
                        <span class="c-button__label mdc-button__label">{{ '戻る'|trans }}</span>
                    </a>
                </div>
            </div>

        </div>

    </section>

{% endblock %}
