{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}

    <section class="p-mypage">

        <div class="p-mypage__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'マイページ'|trans }}/{{ 'ご注文履歴'|trans }}</span>
            </h1>
        </div>

        <div class="p-mypage__contents">

            {% include 'Mypage/navi.twig' %}

            <div class="p-mypage__history">
                {% if pagination.totalItemCount > 0 %}
                    <div class="p-mypage__history-heading">
                        <div class="p-mypage__page-message">
                            <p class="p-mypage__page-message-text">{{ '%count%件の履歴があります'|trans({'%count%':pagination.totalItemCount}) }}</p>
                        </div>
                    </div>
                    <div class="p-mypage__history-contents">
                        <ul class="p-mypage__history-list u-list-sanitize">
                            {% for Order in pagination %}
                                <li class="p-mypage__history-list-item">
                                    <div class="p-mypage__history-info">
                                        <p class="p-mypage__history-date">{{ Order.order_date|date_sec }}</p>
                                        <dl class="p-mypage__history-order-number u-dl-sanitize">
                                            <dt class="p-mypage__history-order-number-label">{{ 'ご注文番号'|trans }}</dt>
                                            <dd class="p-mypage__history-order-number-detail">{{ Order.order_no }}</dd>
                                        </dl>
                                        <dl class="p-mypage__history-order-status u-dl-sanitize">
                                            <dt class="p-mypage__history-order-status-label">{{ 'ご注文状況'|trans }}</dt>
                                            <dd class="p-mypage__history-order-status-detail">{{ Order.CustomerOrderStatus|trans }}</dd>
                                        </dl>
                                        <div class="p-mypage__history-actions">
                                            <div class="p-mypage__history-actions-item">
                                                <a class="p-mypage__history-button c-button c-button--outlined is-quaternary mdc-button mdc-button--outlined" href="{{ url('mypage_history', {'order_no': Order.order_no}) }}">
                                                    <span class="c-button__label mdc-button__label">{{ '詳細を見る'|trans }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-mypage__history-products">
                                        {% for OrderItem in Order.MergedProductOrderItems %}
                                            <div class="p-mypage__history-product">
                                                <div class="p-mypage__history-product-image">
                                                    {% if OrderItem.Product is null %}
                                                        <img loading=lazy src="{{ asset(''|no_image_product, 'save_image') }}" alt="{{ OrderItem.product_name|trans }}">
                                                    {% else %}
                                                        <img loading=lazy src="{{ asset(OrderItem.Product.MainListImage|no_image_product, 'save_image') }}" alt="{{ OrderItem.product_name|trans }}">
                                                    {% endif %}
                                                </div>
                                                <div class="p-mypage__history-product-detail">
                                                    <p class="p-mypage__history-product-name">{{ OrderItem.product_name|trans }}</p>
                                                    {% if OrderItem.class_category_name1 is not empty %}
                                                        <p class="p-mypage__history-product-class-category">{{ OrderItem.class_category_name1|trans }}</p>
                                                    {% endif %}
                                                    {% if OrderItem.class_category_name2 is not empty %}
                                                        <p class="p-mypage__history-product-class-category">{{ OrderItem.class_category_name2|trans }}</p>
                                                    {% endif %}
                                                    <p class="p-mypage__history-product-price">
                                                        <span class="p-mypage__history-product-price--sub">
                                                            {{ OrderItem.price_inc_tax|price }} × {{ OrderItem.quantity }}
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        {% include "pager.twig" with {'pages': pagination.paginationData} %}
                    </div>
                {% else %}
                    <p>{{ 'ご注文履歴はありません。'|trans }}</p>
                {% endif %}
            </div>

        </div>

    </section>

{% endblock %}
