{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="p-mypage__navi">
    <ul class="p-mypage__navi-list u-list-sanitize" id="js-mypage__navi-list">
        <li class="p-mypage__navi-list-item {% if mypageno|default('') == 'index' %}is-active{% endif %}">
            <a class="p-mypage__navi-button c-button c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('mypage') }}">
                <span class="c-button__label mdc-button__label">{{ 'ご注文履歴'|trans }}</span>
            </a>
        </li>
        {% if BaseInfo.option_favorite_product %}
            <li class="p-mypage__navi-list-item {% if mypageno|default('') == 'favorite' %}is-active{% endif %}">
                <a class="p-mypage__navi-button c-button c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('mypage_favorite') }}">
                    <span class="c-button__label mdc-button__label">{{ 'お気に入り一覧'|trans }}</span>
                </a>
            </li>
        {% endif %}
        <li class="p-mypage__navi-list-item {% if mypageno|default('') == 'change' %}is-active{% endif %}">
            <a class="p-mypage__navi-button c-button c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('mypage_change') }}">
                <span class="c-button__label mdc-button__label">{{ '会員情報編集'|trans }}</span>
            </a>
        </li>
        <li class="p-mypage__navi-list-item {% if mypageno|default('') == 'delivery' %}is-active{% endif %}">
            <a class="p-mypage__navi-button c-button c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('mypage_delivery') }}">
                <span class="c-button__label mdc-button__label">{{ 'お届け先一覧'|trans }}</span>
            </a>
        </li>
        <li class="p-mypage__navi-list-item {% if mypageno|default('') == 'withdraw' %}is-active{% endif %}">
            <a class="p-mypage__navi-button c-button c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('mypage_withdraw') }}">
                <span class="c-button__label mdc-button__label">{{ '退会手続き'|trans }}</span>
            </a>
        </li>
    </ul>
</div>
<div class="p-mypage__welcome-message">
    <p class="p-mypage__welcome-message-text">{{ 'ようこそ%last_name% %first_name%さん'|trans({ '%last_name%': app.user.name01, '%first_name%': app.user.name02 }) }}</p>
</div>
