{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block main %}
    <section class="p-mypage">

        <div class="p-mypage__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'マイページ'|trans }}/{{ '退会手続き'|trans }}</span>
            </h1>
        </div>

        <div class="p-mypage__contents">

            <div class="p-mypage__withdraw">

                <div class="p-mypage__withdraw-complete">
                    <dl class="p-mypage__withdraw-complete-message">
                        <dt class="p-mypage__withdraw-complete-message-label">{{ '退会が完了いたしました'|trans }}</dt>
                        <dd class="p-mypage__withdraw-complete-message-detail">
                            <p class="p-mypage__withdraw-complete-description">{{ 'ご利用いただき誠にありがとうございました。<br>またのご来店をお待ちしております。'|trans|raw }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="p-mypage__actions">
                    <div class="p-mypage__actions-item">
                        <a class="p-mypage__button c-button c-button--outlined is-primary mdc-button mdc-button--outlined" href="{{ url('homepage') }}">
                            <span class="c-button__label mdc-button__label">{{ 'トップページへ'|trans }}</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </section>

{% endblock %}
