{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block main %}

    <section class="p-mypage">

        <div class="p-mypage__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'マイページ'|trans }}/{{ '退会手続き'|trans }}</span>
            </h1>
        </div>

        <div class="p-mypage__contents">

            {{ include('Mypage/navi.twig') }}

            <div class="p-mypage__withdraw">
                <form method="post" action="{{ url('mypage_withdraw') }}">
                    {{ form_widget(form._token) }}
                    <div class="p-mypage__withdraw-confirm">
                        <dl class="p-mypage__withdraw-confirm-message">
                            <dt class="p-mypage__withdraw-confirm-message-label">{{ '退会手続きを実行しても<br>よろしいでしょうか？'|trans|raw }}</dt>
                            <dd class="p-mypage__withdraw-confirm-message-detail">
                                <p class="p-mypage__withdraw-confirm-mark">
                                    <i class="p-mypage__withdraw-confirm-mark-icon material-icons">warning</i>
                                </p>
                                <p class="p-mypage__withdraw-confirm-description">{{ '退会手続きが完了した時点で、現在保存されている購入履歴やお届け先等の情報は、すべて削除されますのでご注意ください。'|trans }}</p>
                            </dd>
                        </dl>
                    </div>
                    <div class="p-mypage__actions">
                        <div class="p-mypage__actions-item">
                            <button class="p-mypage__button c-button c-button--unelevated is-secondary mdc-button mdc-button--unelevated" type="submit" name="mode" value="complete">
                                <span class="c-button__label mdc-button__label">{{ 'はい、退会します'|trans }}</span>
                            </button>
                        </div>
                        <div class="p-mypage__actions-item">
                            <a class="p-mypage__button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" href="{{ url('mypage') }}">
                                <span class="c-button__label mdc-button__label">{{ 'いいえ、退会しません'|trans }}</span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </section>

{% endblock %}
