{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block main %}

     <section class="p-entry">

        <div class="p-entry__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ '新規会員登録(完了)'|trans }}</span>
            </h1>
        </div>

         <div class="p-entry__contents">

            <div class="p-entry__complete">
                <dl class="p-entry__complete-message">
                    <dt class="p-entry__complete-message-label">{{ '会員登録<br class="u-break--pc-hidden">ありがとうございます'|trans|raw }}</dt>
                    <dd class="p-entry__complete-message-detail">
                        <p class="p-entry__complete-description">{{ '会員登録が完了しました。<br>それでは、ショッピングをお楽しみください。'|trans|raw }}</p>
                    </dd>
                </dl>
            </div>
            <div class="p-entry__actions">
                {% if qtyInCart %}
                    <div class="p-entry__actions-item">
                        <a class="p-entry__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('cart') }}">
                            <span class="c-button__label mdc-button__label">{{ 'カートへ進む'|trans }}</span>
                        </a>
                    </div>
                {% endif %}
                <div class="p-entry__actions-item">
                    <a class="p-entry__button c-button is-primary c-button--outlined mdc-button mdc-button--outlined" href="{{ url('homepage') }}">
                        <span class="c-button__label mdc-button__label">{{ 'トップページへ'|trans }}</span>
                    </a>
                </div>
            </div>

        </div>

    </section>

{% endblock %}
