{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}

    <section class="p-entry">

        <div class="p-entry__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ '新規会員登録(確認)'|trans }}</span>
            </h1>
        </div>

        <div class="p-entry__contents">

            <form method="post" action="{{ url('entry') }}">
                {{ form_widget(form._token) }}
                <div class="p-entry__description">
                    <p class="p-entry__description-text">{{ '下記の内容で登録してもよろしいでしょうか？<br>よろしければ、一番下の「会員登録をする」ボタンをクリックしてください。'|trans|raw }}</p>
                </div>
                <div class="c-form is-confirm has-border">
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.name, 'お名前', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    {# form.vars.value = form.vars.data = Customer #}
                                    <p class="c-form__result">{{ form.name.name01.vars.data }} {{ form.name.name02.vars.data }}</p>
                                    {{ form_widget(form.name.name01, { type : 'hidden' }) }}
                                    {{ form_widget(form.name.name02, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.kana, 'お名前(カナ)', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.kana.kana01.vars.data }} {{ form.kana.kana02.vars.data }}</p>
                                    {{ form_widget(form.kana.kana01, { type : 'hidden' }) }}
                                    {{ form_widget(form.kana.kana02, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.company_name, '会社名', { 'label_attr': { 'class': 'c-form__parts-label-text'}}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.company_name.vars.data }}</p>
                                    {{ form_widget(form.company_name, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.address, '住所', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    {# 郵便番号 #}
                                    <p class="c-form__result">{{ '〒'|trans }} {{ form.postal_code.vars.data }}</p>
                                    {# 都道府県・住所 #}
                                    <p class="c-form__result">{{ form.address.pref.vars.data|trans }} {{ form.address.addr01.vars.data }} {{ form.address.addr02.vars.data }}</p>
                                    {{ form_widget(form.postal_code, { type : 'hidden' }) }}
                                    {{ form_widget(form.address.pref, { type : 'hidden' }) }}
                                    {{ form_widget(form.address.addr01, { type : 'hidden' }) }}
                                    {{ form_widget(form.address.addr02, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.phone_number, '電話番号', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.phone_number.vars.data }}</p>
                                    {{ form_widget(form.phone_number, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.email, 'メールアドレス', {'label_attr': {'class': 'c-form__parts-label-text'}}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.email.vars.data }}</p>
                                    {{ form_widget(form.email.first, { type : 'hidden' }) }}
                                    {{ form_widget(form.email.second, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.password, 'パスワード', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">********</p>
                                </div>
                            </div>
                            {{ form_widget(form.password.first, { type : 'hidden' }) }}
                            {{ form_widget(form.password.second, { type : 'hidden' }) }}
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.birth, '生年月日', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.birth.vars.data ? form.birth.vars.data|date_day() }}</p>
                                    {{ form_widget(form.birth.year, { type : 'hidden' }) }}
                                    {{ form_widget(form.birth.month, { type : 'hidden' }) }}
                                    {{ form_widget(form.birth.day, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.sex, '性別', {'label_attr': {'class': 'c-form__parts-label-text'}}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.sex.vars.data|trans }}</p>
                                    {{ form_widget(form.sex, { type: 'hidden'}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.job, '職業', {'label_attr': {'class': 'c-form__parts-label-text'}}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.job.vars.data|trans }}</p>
                                    {{ form_widget(form.job, { type: 'hidden'}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>

                    {{ form_widget(form.user_policy_check, { type: 'hidden'}) }}

                    {# エンティティ拡張の自動出力 #}
                    {% for f in form if f.vars.eccube_form_options.auto_render %}
                        {% if f.vars.eccube_form_options.form_theme %}
                            {% form_theme f f.vars.eccube_form_options.form_theme %}
                            {{ form_row(f) }}
                        {% else %}
                            <dl class="c-form__parts u-dl-sanitize">
                                <dt class="c-form__parts-label">
                                    {{ form_label(f) }}
                                </dt>
                                <dd class="c-form__parts-detail">
                                    <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                        {{ f.vars.data }}
                                        {{ form_widget(f, { type: 'hidden'}) }}
                                    </div>
                                </dd>
                            </dl>
                        {% endif %}
                    {% endfor %}

                    <div class="c-form__actions">
                        <div class="c-form__actions-item">
                            <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit" name="mode" value="complete">
                                <span class="c-button__label mdc-button__label">{{ '会員登録をする'|trans }}</span>
                            </button>
                        </div>
                        <div class="c-form__actions-item">
                            <button class="c-form__button c-button is-primary c-button--unelevated mdc-button mdc-button--unelevated" type="submit" name="mode" value="back">
                                <span class="c-button__label mdc-button__label">{{ '戻る'|trans }}</span>
                            </button>
                        </div>
                    </div>

                </div>
            </form>

        </div>

    </section>

{% endblock %}
