<!doctype html>
{#
Copyright(c) 2022 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
<html>
  <head>
    <meta http-equiv="refresh" content="0; URL={{ sendData.RedirectUrl }}" />
  </head>
</html>
