<!doctype html>
{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
<html lang="{{ eccube_config.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ BaseInfo.shop_name }}</title>
  <link rel="icon" href="{{ asset('assets/img/common/favicon.ico', 'user_data') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{{ asset('assets/js/function.js') }}"></script>
  <script src="{{ asset('assets/js/eccube.js') }}"></script>
  <script>
    $(function () {
      loadingOverlay();
      document.body.style.cursor = 'wait';
      setTimeout(function () {
        $('#form1').submit();
      }, 20 * 1000);
    });
  </script>
</head>
<body>
  <div style="margin: 50px 0; font-size: 110%;">
    <p>{{ 'gmo_payment_gateway.shopping.payeasy.net.note1'|trans }}</p>
    <span style="color:red;">{{ 'gmo_payment_gateway.shopping.payeasy.net.note2'|trans }}</span>
  </div>
  <form id="form1" name="form1" action="{{ sendData.PaymentURL }}" method="POST">
  </form>
</body>
</html>
