<script>
    $(function () {
        $('#form1 .c-detail-product__actions').filter(":last").after('<div class="ec-productRole__btn c-detail-product__actions">\n' +
            '           <div class="c-detail-product__actions-item">\n' +
            '            <button type="button" class="c-button is-primary c-button--unelevated mdc-button mdc-button--unelevated mdc-ripple-upgraded ec-blockBtn--cancel contact">{{ contact_button_label|trans }}</button>\n' +
            '           </div>\n' +
            '         </div>')
        
        $('body').on('click','.ec-productRole__btn .contact', function () {
            location.href = "{{ url('contact') }}?product={{ Product.id }}"
        })
    })
</script>