<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
<br>
<br>
<div align="center"><a href="{{ url('homepage') }}" style="font-family:Helvetica, Arial, sans-serif;font-size:30px;color:#333333;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
<!-- 100% background wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
    <tr>
        <td align="center" valign="top" bgcolor="#F0F0F0" style="background-color:#F0F0F0;border-collapse:collapse;">
            <br>
            <!-- 600px container (white background) -->
            <table id="html-mail-table1" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content" align="left" style="border-collapse:collapse;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff;">
                        <br>
                        <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;">{{ 'この度はご予約注文いただき誠にありがとうございます。'|trans }}：</div>
                        <br>
                        <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;">
                            {{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}<br/>
                            <br/>
                            {{'下記ご予約注文内容にお間違えがないかご確認下さい。'|trans}}<br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            　{{'ご請求金額'|trans}}<br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            {{'ご予約注文日時'|trans}}：{{ Order.create_date|date_sec }}<br/>
                            {{'ご予約注文番号'|trans}}：{{ Order.order_no }}<br/>
                            {{ 'お支払い合計'|trans }}：{{ Order.payment_total|price }}<br/>
                            {{ 'お支払い方法'|trans }}：{{ Order.payment_method|trans }}<br/>
                            {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                            {{ 'ご利用ポイント'|trans }}：{{ Order.usePoint }} pt<br/>
                            {% endif %}
                            {{ 'お問い合わせ内容'|trans }}：{{ Order.message }}<br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            　{{'ご予約注文商品明細'|trans}}<br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            {% for OrderItem in Order.MergedProductOrderItems %}
                                {{ '商品コード'|trans }}：{{ OrderItem.product_code }}<br/>
                                {{'商品名'|trans}}：{{ OrderItem.product_name|trans }}  {{ OrderItem.classcategory_name1|trans }}  {{ OrderItem.classcategory_name2|trans }}<br/>
                                {{ '単価'|trans }}：{{ OrderItem.total_price|price }}<br/>
                                {{ '数量'|trans }}：{{ OrderItem.quantity|number_format }}<br/>
                                <br/>
                            {% endfor %}
                            <hr style="border-top: 2px dashed #8c8b8b;">
                            {{ '小　計'|trans }}：{{ Order.subtotal|price }}{% if Order.tax > 0 %}({{ 'うち消費税'|trans }}： {{ Order.tax|price }}){% endif %}<br/>
                            <br/>
                            {{ '手数料'|trans }}：{{ Order.charge|price }}<br/>
                            {{ '送　料'|trans }}：{{ Order.delivery_fee_total|price }}<br/>
                            {% if Order.discount > 0 %}
                                {{ '値引き'|trans }}：{{ (0 - Order.discount)|price }}<br/>
                            {% endif %}
                            <hr style="border-top: 1px dotted #8c8b8b;">
                            {{ '合　計'|trans }}：{{ Order.payment_total|price }}<br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            {{'ご予約注文者情報'|trans}}<br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            {{ 'お名前'|trans }}：{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}<br/>
                            {{ 'お名前(カナ)'|trans }}：{{ Order.kana01 }} {{ Order.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}<br/>
                            {% if Order.company_name %}
                                {{ '会社名'|trans }}：{{ Order.company_name }}<br/>
                            {% endif %}
                            {{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Order.postal_code }}<br/>
                            {{ '住所'|trans }}：{{ Order.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Order.addr01 }}{{ Order.addr02 }}<br/>
                            {{ '電話番号'|trans }}：{{ Order.phone_number }}<br/>
                            {{ 'メールアドレス'|trans }}：{{ Order.email }}<br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            　{{ '配送情報'|trans }}<br/>
                            <hr style="border-top: 3px double #8c8b8b;">

                            {% for Shipping in Order.Shippings %}
                                ◎{{ 'お届け先'|trans }}{% if Order.multiple %}{{ loop.index }}{% endif %}<br/>
                                <br/>
                                {{ 'お名前'|trans }}：{{ Shipping.name01 }} {{ Shipping.name02 }} {% if app.request.locale == "ja" %}様{% endif %}<br/>
                                {{ 'お名前(カナ)'|trans }}：{{ Shipping.kana01 }} {{ Shipping.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}<br/>
                                {% if Shipping.company_name %}
                                    {{ '会社名'|trans }}：{{ Shipping.company_name }}<br/>
                                {% endif %}
                                {{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Shipping.postal_code }}<br/>
                                {{ '住所'|trans }}：{{ Shipping.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Shipping.addr01 }}{{ Shipping.addr02 }}<br/>
                                {{ '電話番号'|trans }}：{{ Shipping.phone_number }}<br/>
                                <br/>
                                {{ '配送方法'|trans }}：{{ Shipping.shipping_delivery_name|trans }}<br/>
                                {{ 'お届け日'|trans }}：{{ Shipping.shipping_delivery_date is empty ? '指定なし'|trans : Shipping.shipping_delivery_date|date_day }}<br/>
                                {{ 'お届け時間'|trans }}：{{ Shipping.shipping_delivery_time|trans|default('指定なし'|trans) }}<br/>
                                <br/>
                                {% for OrderItem in Shipping.productOrderItems %}
                                    {{ '商品コード'|trans }}：{{ OrderItem.product_code }}<br/>
                                    {{'商品名'|trans}}：{{ OrderItem.product_name|trans }}  {{ OrderItem.classcategory_name1|trans }}  {{ OrderItem.classcategory_name2|trans }}<br/>
                                    {{ '数量'|trans }}：{{ OrderItem.quantity|number_format }}<br/>
                                    {% if Reserve[OrderItem.Product.id] is defined %}
                                    {{ '発送予定日'|trans }}：{{ attribute(Reserve, OrderItem.Product.id).shipping_date }}<br/>
                                    {% else %}
                                    {{ '発送予定日'|trans }}：{{ ClassReserve[OrderItem.Product.id][OrderItem.ProductClass.id].shipping_date }}<br/>
                                    {% endif %}
                                    <br/>
                                {% endfor %}
                            {% endfor %}
                            {% if Order.complete_mail_message is not empty %}
                                {{ Order.complete_mail_message|nl2br }}<br/>
                            {% endif %}
                            <hr style="border-top: 2px dotted #8c8b8b;">
                            {{ 'front.mail_no_reply_text'|trans|nl2br }}<br/>
                        </div>
                    </td>
                </tr>
            </table>
            <!--/600px container -->
            <br>
            <br>
            <table id="html-mail-table2" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content footer-text" align="left" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff;">
                        {{'本メールは、%shop_name%より送信しております。'|trans({'%shop_name%':BaseInfo.shop_name})}}<br/>
                        {{'もしお心当たりが無い場合は、その旨 <a href="mailto:%email%" style="text-decoration:none;">%email%</a> までご連絡いただければ幸いです。'|trans({'%email%':BaseInfo.email02})|raw}}<br/>
                        <br/>
                        <div class="title" style="font-size:14px;font-family:Helvetica, Arial, sans-serif;font-weight:600;color:#374550;"><a href="{{ url('homepage') }}" style="color:#aaaaaa;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
                        <div>copyright &copy; {{ BaseInfo.shop_name }} all rights reserved.</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% background wrapper-->
<br>
<br>
</body>

</html>
