{% autoescape false %}
{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}

{{ 'お客さまがご予約注文された以下の商品の予約発送日が変更されました。'|trans }}：

************************************************
　{{'ご予約注文商品明細'|trans}}
************************************************

{{ '商品コード'|trans }}：{{ Product.product_code }}
{{'商品名'|trans}}：{{ Product.product_name }}  {{ Product.classcategory_name1 }}  {{ Product.classcategory_name2 }}
{{ '数量'|trans }}：{{ Product.quantity|number_format }}
{{ '発送予定日'|trans }}：{{ Reserve.shipping_date }}

============================================

************************************************
　{{'ご予約注文者情報'|trans}}
************************************************
{{ 'お名前'|trans }}：{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}
{{ 'お名前(カナ)'|trans }}：{{ Order.kana01 }} {{ Order.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}
{% if Order.company_name %}
{{ '会社名'|trans }}：{{ Order.company_name }}
{% endif %}
{{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Order.postal_code }}
{{ '住所'|trans }}：{{ Order.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Order.addr01 }}{{ Order.addr02 }}
{{ '電話番号'|trans }}：{{ Order.phone_number }}

************************************************
　{{ '配送情報'|trans }}
************************************************

{{ 'お名前'|trans }}：{{ Shipping.name01 }} {{ Shipping.name02 }} {% if app.request.locale == "ja" %}様{% endif %}
{{ 'お名前(カナ)'|trans }}：{{ Shipping.kana01 }} {{ Shipping.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}
{% if Shipping.company_name %}
{{ '会社名'|trans }}：{{ Shipping.company_name }}
{% endif %}
{{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Shipping.postal_code }}
{{ '住所'|trans }}：{{ Shipping.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Shipping.addr01 }}{{ Shipping.addr02 }}
{{ '電話番号'|trans }}：{{ Shipping.phone_number }}

{% endautoescape %}
