<div style="display: none;">
  <div id="paypal-credit-card"
       style="margin-left: 2rem; margin-top: 1.5rem; margin-bottom: 3rem;">
    <p style="line-height: 1.8; font-size: 1.5rem; margin-bottom: 1rem;">{{'カードでも銀行口座からでも、IDとパスワードでかんたん・安全にお支払い。新規登録は無料です。'|trans}}</p>
    <p style="line-height: 1.8; font-size: 1.5rem; margin-bottom: 2rem;">
      <a href="#about-paypal"
         style="color: #009cde; text-decoration: underline;"
         onclick="window.open('https://www.paypal.com/jp/webapps/mpp/lp/about-paypal','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=900, height=700');">
        {{'ペイパルについて'|trans}}
      </a>
    <table style="margin-left: 0;" border="0" cellpadding="10" cellspacing="0" align="center">
      <tr>
        <td align="center">
          <a href="#" onclick="window.open('https://www.paypal.com/jp/webapps/mpp/logo/about','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=900, height=700');">
            <img loading=lazy src="{{ PayPalCheckout.payment_banner_image_url }}" border="0" alt="ペイパル ｜VISA, Mastercard, JCB, American Express, Union Pay, 銀行">
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div id="paypal-bank-transfer"
       style="margin-left: 2rem; margin-top: 1.5rem">
    <p style="line-height: 1.8; font-size: 1.5rem;">{{'銀行口座からのお支払いでも、一度設定すれば素早くかんたん。新規登録・振込手数料も無料です。'|trans}}</p>
    <p style="line-height: 1.8; font-size: 1.5rem; margin-bottom: 1rem;">{{'※ご利用可能な銀行は、みずほ銀行、三井住友銀行、三菱UFJ銀行、ゆうちょ銀行、りそな銀行・埼玉りそな銀行です。'|trans}}</p>
    <p style="line-height: 1.8; font-size: 1.5rem; margin-bottom: 1rem;">
      <a href="#set-up-bank"
         style="color: #009cde; text-decoration: underline;"
         onclick="window.open('https://www.paypal.com/jp/webapps/mpp/lp/set-up-bank','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=900, height=700');">
        {{'銀行口座のご利用について'|trans}}
      </a>
  </div>
  <div id="paypal-credit-card-html">
    <img loading=lazy id="paypal-credit-card-image" style="width: auto; height: 2.5rem;" src="{{ PayPalCheckout.credit_card_appearance_base64 }}" alt="{{'PayPal決済'|trans}}">
  </div>
  <div id="paypal-bank-transfer-html">
    <span>{{'かんたん銀行決済'|trans}}</span>
    <img loading=lazy id="paypal-bank-transfer-image" style="width: auto; height: 2.5rem; margin-left: 1.5rem" src="{{ PayPalCheckout.credit_card_appearance_base64 }}" alt="{{'かんたん銀行決済'|trans}}">
  </div>
</div>

<script lang="js">
  $(function() {
    var creditCardId = "{{ PayPalCheckout.credit_card_id }}";
    var bankTransferId = "{{ PayPalCheckout.bank_transfer_id }}";

    $(creditCardId).parent().find("label")
      .empty()
      .append($('#paypal-credit-card-html').html())
      .after($('#paypal-credit-card'));

    $(bankTransferId).parent().find("label")
      .empty()
      .append($('#paypal-bank-transfer-html').html())
      .after($('#paypal-bank-transfer'));
  });
</script>
