.l-drawer {
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 20;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        transform: translateX(0);
        transition: all .3s;
        visibility: hidden;
        &.is-active {
            opacity: 1;
            visibility: visible;
            touch-action: none;
        }
    }
    &__body {
        background: $font-color-base;
        position: fixed;
        top: 0;
        left: 0;
        width: 260px;
        height: 100vh;
        z-index: 30;
        transform: translateX(-300px);
        transition: all .3s;
        &.is-active {
            transform: translateX(0);
        }
    }
    &__heading {
        @include  em-pl(1);
        @include  em-pr(1);
        position: relative;
        height: 48px;
        display: flex;
        align-items: center;
    }
    &__logo {
        overflow: hidden;
        font-size: 1px;
        line-height: 1;
        margin: 0;
        &-link {
            display: block;
            width: 80px;
            position: relative;
        }
        &-svg {
            width: 100%;
            height: auto;
            vertical-align: top;
            .st0 {
                fill: #fff;
            }
            .st1 {
                fill: #fff;
            }
        }
    }
    &__button {
        position: absolute;
        top: 0;
        right: 0;
        &--close {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            background: $font-color-base;
            border-left: solid rgba(#fff,0.12) 1px;
            &-icon {
                color: #fff;
            }
        }
    }
    &__contents {
        height: calc(100vh - 48px);
        padding-bottom: 80px;
        box-sizing: border-box;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
