.l-header {
    padding-top: 88px;
    #page_homepage & {
        padding-top: 0px;
    }
    @include mq(tb) {
        padding-top: 70px;
        #page_homepage & {
            padding-top: 70px;
        }
    }
    @include mq() {
        padding-top: 48px;
        #page_homepage & {
            padding-top: 48px;
        }
    }
}
