.l-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 1px;
    &__top {
        min-height: 1px;
    }
    &__middle {
        display: flex;
        flex-direction: row;
        min-height: 1px;
        @include mq(tb) {
            flex-direction: column;
        }
        &-main {
            width: 100%;
            &.is-2column {
                @include mq(tb) {
                    width: 100%;
                }
            }
            &.is-3column {
                @include mq(tb) {
                    width: 100%;
                }
            }

            &-top {}
            &-bottom {}
        }
        &__sub {
            @include mq(tb) {
                width: 100%;
            }
        }
    }
    &__bottom {
        min-height: 1px;
    }
}
