{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}

    <section class="p-contact">
        <div class="p-contact__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ '代理店のお問い合わせ'|trans }}</span>
            </h1>
        </div>
        <div class="p-contact__contents">
            <p class="p-contact__description">{{ '回答をさしあげるのにお時間をいただくこともございます。<br>また、休業日は翌営業日以降の対応となりますのでご了承ください。'|trans|raw }}</p>
            <form method="post" action="{{ url('partner_entry') }}" class="h-adr">
                {{ form_widget(form._token) }}
                <div class="c-form is-confirm has-border">
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.name, 'お名前', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.name.name01.vars.data }} {{ form.name.name02.vars.data }}</p>
                                    {{ form_widget(form.name.name01, { type : 'hidden' }) }}
                                    {{ form_widget(form.name.name02, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.company, '会社名', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.company.vars.data }}</p>
                                    {{ form_widget(form.company, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.address, '住所', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ '〒'|trans }} {{ form.postal_code.vars.data }}</p>
                                    {{ form_widget(form.postal_code, { type : 'hidden' }) }}
                                    <p class="c-form__result">{{ form.address.pref.vars.data|trans }} {{ form.address.addr01.vars.data }} {{ form.address.addr02.vars.data }}</p>
                                    {{ form_widget(form.address.pref, { type : 'hidden' }) }}
                                    {{ form_widget(form.address.addr01, { type : 'hidden' }) }}
                                    {{ form_widget(form.address.addr02, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.phone_number, '電話番号', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.phone_number.vars.data }}</p>
                                    {{ form_widget(form.phone_number, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.email, 'メールアドレス', {'label_attr': {'class': 'c-form__parts-label-text'}}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.email.vars.data }}</p>
                                    {{ form_widget(form.email, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.contents, 'お問い合わせ内容', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <p class="c-form__result">{{ form.contents.vars.data|nl2br }}</p>
                                    {{ form_widget(form.contents, { type : 'hidden' }) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    {# エンティティ拡張の自動出力 #}
                    {% for f in form if f.vars.eccube_form_options.auto_render %}
                        {% if f.vars.eccube_form_options.form_theme %}
                            {% form_theme f f.vars.eccube_form_options.form_theme %}
                            {{ form_row(f) }}
                        {% else %}
                            <dl class="c-form__parts u-dl-sanitize">
                                <dt class="c-form__parts-label">
                                    {{ form_label(f) }}
                                </dt>
                                <dd class="c-form__parts-detail">
                                    <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                        {{ f.vars.data }}
                                        {{ form_widget(f, { type: 'hidden'}) }}
                                    </div>
                                </dd>
                            </dl>
                        {% endif %}
                    {% endfor %}
                    <div class="c-form__actions">
                        <div class="c-form__actions-item">
                            <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit" name="mode" value="complete">
                                <span class="c-button__label mdc-button__label">{{ '送信する'|trans }}</span>
                            </button>
                        </div>
                        <div class="c-form__actions-item">
                            <button class="c-form__button c-button is-primary c-button--unelevated mdc-button mdc-button--unelevated" type="submit" name="mode" value="back">
                                <span class="c-button__label mdc-button__label">{{ '戻る'|trans }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
