{% if error_only is not defined %}
    {% set error_only = false %}
{% endif %}
{% for error in app.session.flashbag.get('eccube.front.error') %}
    <p class="p-shopping__error">
        <span class="p-shopping__error-icon">
            <i class="material-icons">error</i>
        </span>
        <span class="p-shopping__error-text">{{ error|trans|nl2br }}</span>
    </p>
{% endfor %}
{% if error_only == false %}
    {% for error in app.session.flashbag.get('eccube.front.warning') %}
        <p class="p-shopping__error">
            <span class="p-shopping__error-icon">
                <i class="material-icons">error</i>
            </span>
            <span class="p-shopping__error-text">{{ error|trans|nl2br }}</span>
        </p>
    {% endfor %}
{% endif %}
