{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}

    <section class="p-shopping">

        <div class="p-shopping__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'ご注文完了'|trans }}</span>
            </h1>
        </div>

        <div class="p-shopping__contents">

            <div class="p-shopping__progress">
                <ul class="p-shopping__progress-list u-list-sanitize">
                    {% set step = 1 %}
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'カートの<br class="u-break--sp-visible">商品'|trans|raw }}</div>
                    </li>
                    {% if is_granted('ROLE_USER') == false %}
                        <li class="p-shopping__progress-list-item">
                            <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                            <div class="p-shopping__progress-label">{{ 'お客様<br class="u-break--sp-visible">情報'|trans|raw }}</div>
                        </li>
                    {% endif %}
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'ご注文<br class="u-break--sp-visible">手続き'|trans|raw }}</div>
                    </li>
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'ご注文<br class="u-break--sp-visible">内容確認'|trans|raw }}</div>
                    </li>
                    <li class="p-shopping__progress-list-item is-active">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ '完了'|trans }}</div>
                    </li>
                </ul>
            </div>

            <div class="p-shopping__complete">
                <dl class="p-shopping__complete-message">
                    <dt class="p-shopping__complete-message-label">{{ 'ご注文<br class="u-break--sp-visible">ありがとうございました'|trans|raw }}</dt>
                    <dd class="p-shopping__complete-message-detail">
                        <p class="p-shopping__complete-description">{{ 'ただいま、ご注文の確認メールをお送りさせていただきました。<br>万一、ご確認メールが届かない場合は、トラブルの可能性もありますので大変お手数ではございますがお問い合わせくださいますようお願いいたします。'|trans|raw }}</p>
                        {% if Order.id %}
                            <p class="p-shopping__complete-info">{{ 'ご注文番号'|trans }} : {{ Order.orderNo }}</p>
                        {% endif %}
                        {% if Order.complete_message is not empty %}
                            {{ Order.complete_message|raw }}
                        {% endif %}
                    </dd>
                </dl>
            </div>
            <div class="p-shopping__actions">
                {% if hasNextCart %}
                    <div class="p-shopping__actions-item">
                        <a class="p-shopping__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('cart') }}">
                            <span class="c-button__label mdc-button__label">{{ '購入を続ける'|trans }}</span>
                        </a>
                    </div>
                 {% else %}
                    <div class="p-shopping__actions-item">
                        <a class="p-shopping__button c-button c-button--outlined is-primary mdc-button mdc-button--outlined" href="{{ url('homepage') }}">
                            <span class="c-button__label mdc-button__label">{{ 'トップページへ'|trans }}</span>
                        </a>
                    </div>
                 {% endif %}
            </div>

        </div>

    </section>
    {# Yahoo Conversion Tag
    <script async>
        ytag({
            "type": "yss_conversion",
            "config": {
                "yahoo_conversion_id": "1001134812",
                "yahoo_conversion_label": "YqANCP6V89wBEM--w6QC",
                "yahoo_conversion_value": "0"
            }
        });
    </script>
    #}
{% endblock %}
