{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
<script src="{{ asset('assets/js/sticky_summary.js') }}"></script>
{% endblock javascript %}

{% block main %}

    <section class="p-shopping">

        <div class="p-shopping__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'ご注文内容のご確認'|trans }}</span>
            </h1>
        </div>

        <div class="p-shopping__contents">

            <div class="p-shopping__progress">
                <ul class="p-shopping__progress-list u-list-sanitize">
                    {% set step = 1 %}
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'カートの<br class="u-break--sp-visible">商品'|trans|raw }}</div>
                    </li>
                    {% if is_granted('ROLE_USER') == false %}
                        <li class="p-shopping__progress-list-item">
                            <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                            <div class="p-shopping__progress-label">{{ 'お客様<br class="u-break--sp-visible">情報'|trans|raw }}</div>
                        </li>
                    {% endif %}
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'ご注文<br class="u-break--sp-visible">手続き'|trans|raw }}</div>
                    </li>
                    <li class="p-shopping__progress-list-item is-active">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'ご注文<br class="u-break--sp-visible">内容確認'|trans|raw }}</div>
                    </li>
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ '完了'|trans }}</div>
                    </li>
                </ul>
            </div>

            <form id="shopping-form" method="post" action="{{ url('shopping_checkout') }}">
                {{ form_widget(form._token) }}
                <div class="p-shopping__layout" id="js-shopping__layout">
                    <div class="p-shopping__layout--main shopping-main" id="js-shopping__layout--main">

                        <section class="p-shopping__account">
                            <div class="p-shopping__account-heading">
                                <h2 class="c-contents-title">
                                    <span class="c-contents-title__text">{{ 'お客様情報'|trans }}</span>
                                </h2>
                            </div>
                            <div class="p-shopping__account-contents">
                                <div class="p-shopping__account-contents-item">
                                    <p class="p-shopping__account-name">
                                        <span class="p-shopping__account-name-01">{{ Order.name01 }}</span>
                                        <span class="p-shopping__account-name-02">{{ Order.name02 }}</span>
                                    </p>
                                    <p class="p-shopping__account-kana">
                                        <span class="p-shopping__account-kana-01">{{ Order.kana01 }}</span>
                                        <span class="p-shopping__account-kana-02">{{ Order.kana02 }}</span>
                                    </p>
                                    <p class="p-shopping__account-company-name">{{ Order.companyName }}</p>
                                </div>
                                <div class="p-shopping__account-contents-item">
                                    <p class="p-shopping__account-postcode">
                                        <span class="p-shopping__account-postcode-mark">{{ '〒'|trans }}</span>
                                        <span class="p-shopping__account-postcode-number">{{ Order.postal_code }}</span>
                                    </p>
                                    <p class="p-shopping__account-address">
                                        <span class="p-shopping__account-address-pref">{{ Order.pref|trans }}</span>
                                        <span class="p-shopping__account-address-01">{{ Order.addr01 }}</span>
                                        <span class="p-shopping__account-address-02">{{ Order.addr02 }}</span>
                                    </p>
                                </div>
                                <div class="p-shopping__account-contents-item">
                                    <p class="p-shopping__account-phone-number">{{ Order.phone_number }}</p>
                                    <p class="p-shopping__account-email">{{ Order.email }}</p>
                                </div>
                            </div>
                        </section>

                        <section class="p-shopping__deliv">
                            <div class="p-shopping__deliv-heading">
                                <h2 class="c-contents-title">
                                    <span class="c-contents-title__text">{{ '配送情報'|trans }}</span>
                                </h2>
                            </div>
                            <div class="p-shopping__deliv-contents">
                                {% for shipping in Order.shippings %}
                                    {% set idx = loop.index0 %}
                                    <div class="p-shopping__deliv-contents-item">
                                        {% for orderItem in shipping.productOrderItems %}
                                            <div class="p-shopping__deliv-product">
                                                <div class="p-shopping__deliv-product-image">
                                                    <img loading=lazy src="{{ asset((orderItem.product is null ? null : orderItem.product.MainListImage)|no_image_product, 'save_image') }}" alt="{{ orderItem.productName|trans }}">
                                                </div>
                                                <div class="p-shopping__deliv-product-detail">
                                                    <p class="p-shopping__deliv-product-name">{{ orderItem.productName|trans }}</p>
                                                    {% if orderItem.productClass is not null and orderItem.productClass.classCategory1 %}
                                                        <p class="p-shopping__deliv-product-class-category">{{ orderItem.productClass.classCategory1.className.name|trans }}：{{ orderItem.productClass.classCategory1|trans }}</p>
                                                    {% endif %}
                                                    {% if orderItem.productClass is not null and orderItem.productClass.classCategory2 %}
                                                        <p class="p-shopping__deliv-product-class-category">{{ orderItem.productClass.classCategory2.className.name|trans }}：{{ orderItem.productClass.classCategory2|trans }}</p>
                                                    {% endif %}
                                                    <p class="p-shopping__deliv-product-price">
                                                        <span class="p-shopping__deliv-product-price--sub">{{ orderItem.priceIncTax|price }} × {{ orderItem.quantity|number_format }}</span>
                                                        <span class="p-shopping__deliv-product-price--main">{{ '小計：'|trans }}{{ orderItem.totalPrice|price }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="p-shopping__deliv-contents-item">
                                        <p class="p-shopping__deliv-name">{{ shipping.name01 }} {{ shipping.name02 }} ({{ shipping.kana01 }} {{ shipping.kana02 }}) {% if app.request.locale == "ja" %}様{% endif %}</p>
                                        <p class="p-shopping__deliv-address">
                                            <span class="p-shopping__deliv-address-postcode">{{ '〒'|trans }}{{ shipping.postal_code }}</span>
                                            <span class="p-shopping__deliv-address-text">{{ shipping.pref|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ shipping.addr01 }}{{ shipping.addr02 }}</span>
                                        </p>
                                        <p class="p-shopping__deliv-phone-number">{{ shipping.phone_number }}</p>
                                    </div>
                                    <div class="p-shopping__deliv-contents-item">
                                        <div class="p-shopping__deliv-selects">
                                            <label></label>
                                            <div class="p-shopping__deliv-selects-item">
                                                <div class="p-shopping__deliv-method">
                                                    <p class="p-shopping__deliv-method-label">{{ '配送方法'|trans }}</p>
                                                    {% set delivery_fee = 0 %}
                                                    {% for item in shipping.order_items if item.isDeliveryFee %}
                                                        {% set delivery_fee = item.total_price %}
                                                    {% endfor %}
                                                    <p class="p-shopping__deliv-method-result">{{ Order.Shippings[idx].Delivery|trans }}{% if app.request.locale != "ja" %} {% endif %}({{ delivery_fee|price }})</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-shopping__deliv-selects">
                                            <div class="p-shopping__deliv-selects-item">
                                                <div class="p-shopping__deliv-date">
                                                    <p class="p-shopping__deliv-date-label">{{ 'お届け日'|trans }}</p>
                                                    <p class="p-shopping__deliv-date-result">{{ Order.Shippings[idx].shipping_delivery_date ? Order.Shippings[idx].shipping_delivery_date|date_day_with_weekday : '指定なし'|trans }}</p>
                                                </div>
                                            </div>
                                            <div class="p-shopping__deliv-selects-item">
                                                <div class="p-shopping__deliv-date">
                                                    <p class="p-shopping__deliv-date-label">{{ 'お届け時間'|trans }}</p>
                                                    <p class="p-shopping__deliv-date-result">{{ Order.Shippings[idx].shipping_delivery_time|trans ?: '指定なし'|trans }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>

                        <section class="p-shopping__payment">
                            <div class="p-shopping__payment-heading">
                                <h2 class="c-contents-title">
                                    <span class="c-contents-title__text">{{ 'お支払方法'|trans }}</span>
                                </h2>
                            </div>
                            {% set charge = 0 %}
                            {% for item in Order.order_items if item.isCharge %}
                                {% set charge = item.total_price %}
                            {% endfor %}
                            <div class="p-shopping__payment-contents">
                                <div class="p-shopping__payment-contents-item">
                                    <p class="p-shopping__payment-result">{{ Order.Payment|trans }}{% if app.request.locale != "ja" %} {% endif %}({{ charge|price }})</p>
                                </div>
                            </div>
                        </section>

                        {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                            <section class="p-shopping__point">
                                <div class="p-shopping__point-heading">
                                    <h2 class="c-contents-title">
                                        <span class="c-contents-title__text">{{ 'ご利用ポイント'|trans }}</span>
                                    </h2>
                                </div>
                                <div class="p-shopping__point-contents">
                                    <div class="p-shopping__point-contents-item">
                                        <p  class="p-shopping__point-result">{{ Order.use_point|number_format }} pt</p>
                                    </div>
                                </div>
                            </section>
                        {% endif %}

                        <section class="p-shopping__contact">
                            <div class="p-shopping__contact-heading">
                                <h2 class="c-contents-title">
                                    <span class="c-contents-title__text">{{ 'お問い合わせ内容'|trans }}</span>
                                </h2>
                            </div>
                            <div class="p-shopping__contact-contents">
                                <div class="p-shopping__contact-contents-item">
                                    <p class="p-shopping__contact-result">{{ Order.message|nl2br }}</p>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="p-shopping__layout--sub summary" id="js-shopping__layout--sub">
                        <div class="p-shopping__summary">
                            <div class="p-shopping__summary-item">
                                <dl class="p-shopping__subtotal u-dl-sanitize">
                                    <dt class="p-shopping__subtotal-label">{{ '小計'|trans }}</dt>
                                    <dd class="p-shopping__subtotal-detail">{{ Order.subtotal|price }}</dd>
                                </dl>
                                <dl class="p-shopping__charge u-dl-sanitize">
                                    <dt class="p-shopping__charge-label">{{ '手数料'|trans }}</dt>
                                    <dd class="p-shopping__charge-detail">{{ Order.charge|price }}</dd>
                                </dl>
                                <dl class="p-shopping__fee u-dl-sanitize">
                                    <dt class="p-shopping__fee-label">{{ '送料'|trans }}</dt>
                                    <dd class="p-shopping__fee-detail">{{ Order.deliveryFeeTotal|price }}</dd>
                                </dl>
                                <dl class="p-shopping__discount u-dl-sanitize">
                                    <dt class="p-shopping__discount-label">{{ '値引き'|trans }}</dt>
                                    <dd class="p-shopping__discount-detail">{{ (0 - Order.discount)|price}}</dd>
                                </dl>
                            </div>
                            <div class="p-shopping__summary-item">
                                <dl class="p-shopping__total u-dl-sanitize">
                                    <dt class="p-shopping__total-label">{{ '合計'|trans }}</dt>
                                    <dd class="p-shopping__total-detail">
                                        <span class="p-shopping__total-detail--main">{{ Order.total|price }}</span>
                                        <span class="p-shopping__total-detail--sub">{{ '税込'|trans }}</span>
                                    </dd>
                                </dl>
                                {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                                    <dl class="p-shopping__use-point u-dl-sanitize">
                                        <dt class="p-shopping__use-point-label">{{ 'ご利用ポイント'|trans }}</dt>
                                        <dd class="p-shopping__use-point-detail">{{ Order.UsePoint|number_format }} pt</dd>
                                    </dl>
                                    <dl class="p-shopping__add-point u-dl-sanitize">
                                        <dt class="p-shopping__add-point-label">{{ '加算ポイント'|trans }}</dt>
                                        <dd class="p-shopping__add-point-detail">{{ Order.AddPoint|number_format }} pt</dd>
                                    </dl>
                                {% endif %}
                            </div>
                            <div class="p-shopping__summary-actions">
                                <div class="p-shopping__summary-actions-item">
                                    <button class="p-shopping__summary-button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit">
                                        <span class="c-button__label mdc-button__label" id="js-sms-confirm">{{ '注文する'|trans }}</span>
                                    </button>
                                </div>
                                <div class="p-shopping__summary-actions-item">
                                    <a class="p-shopping__summary-button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" href="{{ url('shopping') }}" href="{{ url('shopping') }}">
                                        <span class="c-button__label mdc-button__label">{{ 'ご注文手続きに戻る'|trans }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </section>

{% endblock %}
