{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    <script>
        $(function() {
            var $redirectCallback = function() {
                window.loadingOverlay();
                $('#shopping_order_redirect_to').val($(this).attr('data-path'));
                $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
            };
            $('[data-trigger]').each(function() {
                $(this).on($(this).attr('data-trigger'), $redirectCallback);
            });

            {% if is_granted('ROLE_USER') == false %}
            var edit = $('.customer-edit');
            var hidden = $('.customer-in');
            var form = $('.customer-form');

            $('#customer').click(function() {
                $(edit).each(function(index) {
                    var name = $(this).text();
                    var input = $('<input class="c-text-field__input mdc-text-field__input" id="edit' + index + '" type="text" />').val(name);
                    $(form[index]).children('input').remove();
                    $(form[index]).prepend(input);
                });

                $('.non-customer-display').hide();
                $('.non-customer-edit').show();
                $('.mod-button').show();

            });

            $('#customer-ok').click(function() {
                $(form).each(function(index) {
                    $(hidden[index]).val($(form[index]).children('input').val());
                });

                var postData = {};
                $(hidden).each(function() {
                    postData[$(this).attr('name')] = $(this).val();
                });

                window.loadingOverlay();

                $.ajax({
                    url: "{{ url('shopping_customer') }}",
                    type: 'POST',
                    data: postData,
                    dataType: 'json'
                }).done(function(data) {
                    if (data.status == 'OK') {
                        $(form).each(function(index) {
                            $(edit[index]).empty().text($(form[index]).children('input').val());
                            $(form[index]).children('input').remove();
                        });

                        // kana field
                        $(edit[2]).empty().text(data.kana01);
                        $(edit[3]).empty().text(data.kana02);
                        $('#customer-kana01').val(data.kana01);
                        $('#customer-kana02').val(data.kana02);
                    }
                }).fail(function() {
                    alert('更新に失敗しました。入力内容を確認してください。');
                }).always(function(data) {
                    // overlayを無効
                    loadingOverlay('hide');
                });

                $('.non-customer-display').show();
                $('.non-customer-edit').hide();
                $('.mod-button').hide();
            });

            $('#customer-cancel').click(function() {
                $('.non-customer-display').show();
                $('.non-customer-edit').hide();
                $('.mod-button').hide();
            });
            {% endif %}
        });
    </script>
    <script src="{{ asset('assets/js/sticky_summary.js') }}"></script>
{% endblock javascript %}

{% block main %}

    <section class="p-shopping">

        <div class="p-shopping__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'ご注文手続き'|trans }}</span>
            </h1>
        </div>

        <div class="p-shopping__contents">

            <div class="p-shopping__progress">
                <ul class="p-shopping__progress-list u-list-sanitize">
                    {% set step = 1 %}
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'カートの<br class="u-break--sp-visible">商品'|trans|raw }}</div>
                    </li>
                    {% if is_granted('ROLE_USER') == false %}
                        <li class="p-shopping__progress-list-item">
                            <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                            <div class="p-shopping__progress-label">{{ 'お客様<br class="u-break--sp-visible">情報'|trans|raw }}</div>
                        </li>
                    {% endif %}
                    <li class="p-shopping__progress-list-item is-active">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'ご注文<br class="u-break--sp-visible">手続き'|trans|raw }}</div>
                    </li>
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'ご注文<br class="u-break--sp-visible">内容確認'|trans|raw }}</div>
                    </li>
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ '完了'|trans }}</div>
                    </li>
                </ul>
            </div>

            <!-- アラートメッセージ -->
            {{ include('Shopping/alert.twig') }}

            <form id="shopping-form" method="post" action="{{ url('shopping_confirm') }}">
                {{ form_widget(form._token) }}
                {{ form_widget(form.redirect_to) }}
                <div class="p-shopping__layout" id="js-shopping__layout">

                    <div class="p-shopping__layout--main shopping-main" id="js-shopping__layout--main">

                        <section class="p-shopping__account">
                            <div class="p-shopping__account-heading">
                                <h2 class="c-contents-title">
                                    <span class="c-contents-title__text">{{ 'お客様情報'|trans }}</span>
                                </h2>
                            </div>
                            <div class="p-shopping__account-contents non-customer-display">
                                {% if is_granted('ROLE_USER') == false %}
                                    <div class="p-shopping__account-contents-item">
                                        <div class="p-shopping__account-change">
                                            <div class="p-shopping__account-change-button">
                                                <button class="c-button c-button--dense c-button--outlined is-quaternary mdc-button mdc-button--dense mdc-button--outlined" id="customer" type="button">
                                                    <span class="c-button__label mdc-button__label">{{ '変更'|trans }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="p-shopping__account-contents-item">
                                    <p class="p-shopping__account-name">
                                        <span class="p-shopping__account-name-01 customer-edit">{{ Order.name01 }}</span>
                                        <span class="p-shopping__account-name-02 customer-edit">{{ Order.name02 }}</span>
                                    </p>
                                     <p class="p-shopping__account-kana">
                                        <span class="p-shopping__account-kana-01 customer-edit">{{ Order.kana01 }}</span>
                                        <span class="p-shopping__account-kana-02 customer-edit">{{ Order.kana02 }}</span>
                                    </p>
                                    <p class="p-shopping__account-company-name">
                                        <span class="customer-edit">{{ Order.companyName }}</span>
                                    </p>
                                </div>
                                <div class="p-shopping__account-contents-item">
                                    <p class="p-shopping__account-postcode">
                                        <span class="p-shopping__account-postcode-mark">{{'〒'|trans}}</span>
                                        <span class="p-shopping__account-postcode-number customer-edit">{{ Order.postal_code }}</span>
                                    </p>
                                    <p class="p-shopping__account-address">
                                        <span class="p-shopping__account-address-pref customer-edit">{{ Order.pref|trans }}</span>
                                        <span class="p-shopping__account-address-01 customer-edit">{{ Order.addr01 }}</span>
                                        <span class="p-shopping__account-address-02 customer-edit">{{ Order.addr02 }}</span>
                                    </p>
                                </div>
                                <div class="p-shopping__account-contents-item">
                                    <p class="p-shopping__account-phone-number customer-edit">{{ Order.phone_number }}</p>
                                    <p class="p-shopping__account-email customer-edit">{{ Order.email }}</p>
                                </div>
                            </div>
                            {% if is_granted('ROLE_USER') == false %}
                                <div class="c-form is-input non-customer-edit" style="display:none;">
                                    <dl class="c-form__parts u-dl-sanitize">
                                        <dt class="c-form__parts-label">
                                            <span class="c-form__parts-label-text">{{ 'お名前'|trans }}</span>
                                            <span class="c-form__parts-label-required">{{ '必須'|trans }}</span>
                                        </dt>
                                        <dd class="c-form__parts-detail">
                                            <div class="c-form__box">
                                                <div class="c-form__box-item">
                                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined customer-form customer-name01">
                                                        <input class="mdc-text-field__input" type="text">
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="c-form__box-item">
                                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined customer-form customer-name02">
                                                        <input class="mdc-text-field__input" type="text">
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="c-form__parts u-dl-sanitize">
                                        <dt class="c-form__parts-label">
                                            <span class="c-form__parts-label-text">{{ 'お名前(カナ)'|trans }}</span>
                                            <span class="c-form__parts-label-required">{{ '必須'|trans }}</span>
                                        </dt>
                                        <dd class="c-form__parts-detail">
                                            <div class="c-form__box">
                                                <div class="c-form__box-item">
                                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined customer-form customer-kana01">
                                                        <input class="mdc-text-field__input" type="text">
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="c-form__box-item">
                                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined customer-form customer-kana02">
                                                        <input class="mdc-text-field__input" type="text">
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="c-form__parts u-dl-sanitize">
                                        <dt class="c-form__parts-label">
                                            <span class="c-form__parts-label-text">{{ '住所'|trans }}</span>
                                            <span class="c-form__parts-label-required">{{ '必須'|trans }}</span>
                                        </dt>
                                        <dd class="c-form__parts-detail">
                                            <div class="c-form__box">
                                                <div class="c-form__box-item">
                                                    <div class="c-form__postcode">
                                                        <div class="c-form__postcode-item">
                                                            <span class="c-form__postcode-mark">{{ '〒'|trans }}</span>
                                                            <div class="c-text-field mdc-text-field mdc-text-field--outlined customer-form customer-postal_code">
                                                                <input class="mdc-text-field__input" type="text">
                                                                <div class="mdc-notched-outline">
                                                                    <div class="mdc-notched-outline__leading"></div>
                                                                    <div class="mdc-notched-outline__notch"></div>
                                                                    <div class="mdc-notched-outline__trailing"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="c-form__postcode-item">
                                                            <a class="c-button mdc-button" href="http://www.post.japanpost.jp/zipcode/" target="_blank" rel="noopener">
                                                                <i class="c-button__icon mdc-button__icon material-icons">help</i>
                                                                <span class="c-button__label mdc-button__label">{{ '郵便番号検索'|trans }}</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-form__box">
                                                <div class="c-form__box-item">
                                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined customer-form customer-address_pref">
                                                        <input class="mdc-text-field__input" type="text">
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-form__box">
                                                <div class="c-form__box-item">
                                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined customer-form customer-address_addr01">
                                                        <input class="mdc-text-field__input" type="text">
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="c-form__box">
                                                <div class="c-form__box-item">
                                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined customer-form customer-address_addr02">
                                                        <input class="mdc-text-field__input" type="text">
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="c-form__parts u-dl-sanitize">
                                        <dt class="c-form__parts-label">
                                            <span class="c-form__parts-label-text">{{ '電話番号'|trans }}</span>
                                            <span class="c-form__parts-label-required">{{ '必須'|trans }}</span>
                                        </dt>
                                        <dd class="c-form__parts-detail">
                                            <div class="c-form__box">
                                                <div class="c-form__box-item">
                                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined customer-form customer-phone_number">
                                                        <input class="mdc-text-field__input" type="text">
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="c-form__parts u-dl-sanitize">
                                        <dt class="c-form__parts-label">
                                            <span class="c-form__parts-label-text">{{ 'メールアドレス'|trans }}</span>
                                            <span class="c-form__parts-label-required">{{ '必須'|trans }}</span>
                                        </dt>
                                        <dd class="c-form__parts-detail">
                                            <div class="c-form__box">
                                                <div class="c-form__box-item">
                                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined customer-form customer-email">
                                                        <input class="mdc-text-field__input" type="text">
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <div class="c-form__actions mod-button" style="display:none;">
                                        <div class="c-form__actions-item">
                                            <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" id="customer-ok" type="button">
                                                <span class="c-button__label mdc-button__label">{{ 'OK'|trans }}</span>
                                            </button>
                                        </div>
                                        <div class="c-form__actions-item">
                                            <button class="c-form__button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" id="customer-cancel" type="button">
                                                <span class="c-button__label mdc-button__label">{{ 'キャンセル'|trans }}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="customer-name01" class="customer-in" name="customer_name01" value="{{ Order.name01 }}">
                                <input type="hidden" id="customer-name02" class="customer-in" name="customer_name02" value="{{ Order.name02 }}">
                                <input type="hidden" id="customer-kana01" class="customer-in" name="customer_kana01" value="{{ Order.kana01 }}">
                                <input type="hidden" id="customer-kana02" class="customer-in" name="customer_kana02" value="{{ Order.kana02 }}">
                                <input type="hidden" id="customer-company-name" class="customer-in" name="customer_company_name" value="{{ Order.companyName }}">
                                <input type="hidden" id="customer-postal_code" class="customer-in" name="customer_postal_code" value="{{ Order.postal_code }}">
                                <input type="hidden" id="customer-pref" class="customer-in" name="customer_pref" value="{{ Order.pref }}">
                                <input type="hidden" id="customer-addr01" class="customer-in" name="customer_addr01" value="{{ Order.addr01 }}">
                                <input type="hidden" id="customer-addr02" class="customer-in" name="customer_addr02" value="{{ Order.addr02 }}">
                                <input type="hidden" id="customer-phone_number" class="customer-in" name="customer_phone_number" value="{{ Order.phone_number }}">
                                <input type="hidden" id="customer-email" class="customer-in" name="customer_email" value="{{ Order.email }}">
                            {% endif %}
                        </section>

                        <section class="p-shopping__deliv">
                            <div class="p-shopping__deliv-heading">
                                <h2 class="c-contents-title">
                                    <span class="c-contents-title__text">{{ '配送情報'|trans }}</span>
                                </h2>
                            </div>
                            {% for shipping in Order.shippings %}
                                {% set idx = loop.index0 %}
                                <div class="p-shopping__deliv-contents-item">
                                    <div class="p-shopping__deliv-change">
                                        <p class="p-shopping__deliv-change-label">{{ 'お届け先'|trans }}{% if Order.multiple %}({{ loop.index }}){% endif %}</p>
                                        <div class="p-shopping__deliv-change-button">
                                            {% if is_granted('ROLE_USER') %}
                                                <button class="c-button c-button--dense c-button--outlined is-quaternary mdc-button mdc-button--dense mdc-button--outlined" data-id="{{ shipping.id }}" data-trigger="click" data-path="{{ path('shopping_shipping', {'id': shipping.id}) }}">
                                                    <span class="c-button__label mdc-button__label">{{ '変更'|trans }}</span>
                                                </button>
                                            {% else %}
                                                <button class="c-button c-button--dense c-button--outlined is-quaternary mdc-button mdc-button--dense mdc-button--outlined" data-id="{{ shipping.id }}" data-trigger="click" data-path="{{ path('shopping_shipping_edit', {'id': shipping.id}) }}">
                                                    <span class="c-button__label mdc-button__label">{{ '変更'|trans }}</span>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="p-shopping__deliv-contents-item">
                                    {% for orderItem in shipping.productOrderItems %}
                                        <div class="p-shopping__deliv-product">
                                            <div class="p-shopping__deliv-product-image">
                                               <img loading=lazy src="{{ asset((orderItem.product is null ? null : orderItem.product.MainListImage)|no_image_product, 'save_image') }}" alt="{{ orderItem.productName|trans }}">
                                            </div>
                                            <div class="p-shopping__deliv-product-detail">
                                                <p class="p-shopping__deliv-product-name">
                                                    <span class="p-shopping__deliv-product-name-text">{{ orderItem.productName|trans }}</span>
                                                    <span class="p-shopping__deliv-product-name-mark">{{ is_reduced_tax_rate(orderItem) ? '※'|trans }}</span>
                                                </p>
                                                {% if orderItem.productClass is not null and orderItem.productClass.classCategory1 %}
                                                    <p class="p-shopping__deliv-product-class-category">{{ orderItem.productClass.classCategory1.className.name|trans }}：{{ orderItem.productClass.classCategory1|trans }}</p>
                                                {% endif %}
                                                {% if orderItem.productClass is not null and orderItem.productClass.classCategory2 %}
                                                    <p class="p-shopping__deliv-product-class-category">{{ orderItem.productClass.classCategory2.className.name|trans }}：{{ orderItem.productClass.classCategory2|trans }}</p>
                                                {% endif %}
                                                <p class="p-shopping__deliv-product-price">
                                                    <span class="p-shopping__deliv-product-price--sub">{{ orderItem.priceIncTax|price }} × {{ orderItem.quantity|number_format }}</span>
                                                    <span class="p-shopping__deliv-product-price--main">{{ '小計：'|trans }}{{ orderItem.totalPrice|price }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <p class="p-shopping__deliv-notes">{{ '※ は軽減税率対象商品です。'|trans }}</p>
                                </div>
                                <div class="p-shopping__deliv-contents-item">
                                    <p class="p-shopping__deliv-name">{{ shipping.name01 }} {{ shipping.name02 }} ({{ shipping.kana01 }} {{ shipping.kana02 }}) {% if app.request.locale != "ja" %}様{% endif %}</p>
                                    <p class="p-shopping__deliv-address">
                                        <span class="p-shopping__deliv-address-postcode">{{ '〒'|trans }}{{ shipping.postal_code }}</span>
                                        <span class="p-shopping__deliv-address-postcode">{{ shipping.pref|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ shipping.addr01 }}{{ shipping.addr02 }}</span>
                                    </p>
                                    <p class="p-shopping__deliv-phone-number">{{ shipping.phone_number }}</p>
                                </div>
                                <div class="p-shopping__deliv-contents-item">
                                    <div class="p-shopping__deliv-selects">
                                        <div class="p-shopping__deliv-selects-item">
                                            <div class="p-shopping__deliv-method">
                                                <p class="p-shopping__deliv-method-label">{{ '配送方法'|trans }}</p>
                                                <div class="p-shopping__deliv-method-select">
                                                    <div class="c-select mdc-select mdc-select--outlined{{ has_errors(form.Shippings[idx].Delivery) ? ' mdc-select--invalid' }}">
                                                        <i class="mdc-select__dropdown-icon"></i>
                                                        {{ form_widget(form.Shippings[idx].Delivery, { 'attr': { 'class': 'mdc-select__native-control', 'data-trigger': 'change' }, 'choice_translation_domain': 'messages'}) }}
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                    {{ form_errors(form.Shippings[idx].Delivery, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-shopping__deliv-selects">
                                        <div class="p-shopping__deliv-selects-item">
                                            <div class="p-shopping__deliv-method">
                                                <p class="p-shopping__deliv-method-label">{{ 'お届け日'|trans }}</p>
                                                <div class="p-shopping__deliv-method-select">
                                                    <div class="c-select mdc-select mdc-select--outlined{{ has_errors(form.Shippings[idx].shipping_delivery_date) ? ' mdc-select--invalid' }}">
                                                        <i class="mdc-select__dropdown-icon"></i>
                                                        {{ form_widget(form.Shippings[idx].shipping_delivery_date, { 'attr': { 'class': 'mdc-select__native-control' }, 'choice_translation_domain': 'messages'}) }}
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                    {{ form_errors(form.Shippings[idx].shipping_delivery_date, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-shopping__deliv-selects-item">
                                            <div class="p-shopping__deliv-method">
                                                <p class="p-shopping__deliv-method-label">{{ 'お届け時間'|trans }}</p>
                                                <div class="p-shopping__deliv-method-select">
                                                    <div class="c-select mdc-select mdc-select--outlined{{ has_errors(form.Shippings[idx].DeliveryTime) ? ' mdc-select--invalid' }}">
                                                        <i class="mdc-select__dropdown-icon"></i>
                                                        {{ form_widget(form.Shippings[idx].DeliveryTime, { 'attr': { 'class': 'mdc-select__native-control' }, 'choice_translation_domain': 'messages'}) }}
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch"></div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                    {{ form_errors(form.Shippings[idx].DeliveryTime, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="p-shopping__deliv-contents-item">
                                <div class="p-shopping__deliv-add">
                                    <div class="p-shopping__deliv-add-button">
                                        <button class="c-button c-button--dense c-button--outlined is-quaternary mdc-button mdc-button--dense mdc-button--outlined" type="button" data-trigger="click" data-path="{{ path('shopping_shipping_multiple') }}">
                                            <span class="c-button__label mdc-button__label">{{ 'お届け先を追加する'|trans }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="p-shopping__payment">
                            <div class="p-shopping__payment-heading">
                                <h2 class="c-contents-title">
                                    <span class="c-contents-title__text">{{ 'お支払方法'|trans }}</span>
                                </h2>
                            </div>
                            <div class="p-shopping__payment-contents">
                                <div class="p-shopping__payment-contents-item">
                                    <div class="c-form__radios">
                                        {% for key, child in form.Payment %}
                                            {% set Payment = form.Payment.vars.choices[key].data %}
                                            {{ form_widget(child, { 'attr': { 'data-trigger': 'change' }}) }}
                                        {% endfor %}
                                    </div>
                                    {{ form_errors(form.Payment, {'label_attr': {'class': 'c-form__error-text'}}) }}
                                </div>
                                {% for key, child in form.Payment %}
                                    {% set Payment = form.Payment.vars.choices[key].data %}
                                    {% if Payment.payment_image is not null %}
                                        {% if loop.first %}<div class="p-shopping__payment-contents-item">{% endif %}
                                            <p class="p-shopping__payment-image">
                                                <img loading=lazy class="p-shopping__payment-image-pic" src="{{ asset(Payment.payment_image, 'save_image') }}">
                                            </p>
                                        {% if loop.last %}</div>{% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </section>

                        {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                            <section class="p-shopping__point">
                                <div class="p-shopping__point-heading">
                                    <h2 class="c-contents-title">
                                        <span class="c-contents-title__text">{{ '利用ポイント'|trans }}</span>
                                    </h2>
                                </div>
                                <div class="p-shopping__point-contents">
                                    <div class="p-shopping__point-contents-item">
                                        <div  class="p-shopping__point-setting">
                                            <p class="p-shopping__point-setting-info">{{ '%point% pt が利用可能です。'|trans({ '%point%': Order.Customer.Point|number_format }) }}</p>
                                            <div class="p-shopping__point-setting-input">
                                                <div class="mdc-text-field  mdc-text-field--outlined{{ has_errors(form.use_point) ? ' mdc-text-field--invalid' }}">
                                                    {{ form_widget(form.use_point, { 'attr': { 'type': 'number', 'class': 'mdc-text-field__input', 'data-trigger': 'change' }}) }}
                                                    <div class="mdc-notched-outline">
                                                        <div class="mdc-notched-outline__leading"></div>
                                                        <div class="mdc-notched-outline__notch">
                                                            <label class="mdc-floating-label" for="shopping_order_use_point1">{{'ポイントを入力'|trans}}</label>
                                                        </div>
                                                        <div class="mdc-notched-outline__trailing"></div>
                                                    </div>
                                                </div>
                                                {{ form_errors(form.use_point, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                        <section class="p-shopping__contact">
                            <div class="p-shopping__contact-heading">
                                <h2 class="c-contents-title">
                                    <span class="c-contents-title__text">{{ 'お問い合わせ内容'|trans }}</span>
                                </h2>
                            </div>
                            <div class="p-shopping__contact-contents-item">
                                <div class="p-shopping__contact-input">
                                    <div class="mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth{{ has_errors(form.message) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.message, {'attr': {'class': 'mdc-text-field__input', 'placeholder': null, 'rows': '12'}}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label for="shopping_order_message" class="mdc-floating-label">{{'ご入力ください。(3000文字まで)'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.message, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="p-shopping__layout--sub summary" id="js-shopping__layout--sub">
                        <div class="p-shopping__summary">
                            <div class="p-shopping__summary-item">
                                <dl class="p-shopping__subtotal u-dl-sanitize">
                                    <dt class="p-shopping__subtotal-label">{{ '小計'|trans }}</dt>
                                    <dd class="p-shopping__subtotal-detail">{{ Order.subtotal|price }}</dd>
                                </dl>
                                <dl class="p-shopping__charge u-dl-sanitize">
                                    <dt class="p-shopping__charge-label">{{ '手数料'|trans }}</dt>
                                    <dd class="p-shopping__charge-detail">{{ Order.charge|price }}</dd>
                                </dl>
                                <dl class="p-shopping__fee u-dl-sanitize">
                                    <dt class="p-shopping__fee-label">{{ '送料'|trans }}</dt>
                                    <dd class="p-shopping__fee-detail">{{ Order.deliveryFeeTotal|price }}</dd>
                                </dl>
                                {% if Order.taxable_discount < 0 %}
                                    <dl class="p-shopping__discount u-dl-sanitize">
                                        <dt class="p-shopping__discount-label">{{ '値引き'|trans }}</dt>
                                        <dd class="p-shopping__discount-detail">{{ Order.taxable_discount|price }}</dd>
                                    </dl>
                                {% endif %}
                            </div>
                            <div class="p-shopping__summary-item">
                                <dl class="p-shopping__total u-dl-sanitize">
                                    <dt class="p-shopping__total-label">{{ '合計'|trans }}</dt>
                                    <dd class="p-shopping__total-detail">
                                        <span class="p-shopping__total-detail--main">{{ Order.taxable_total|price }}</span>
                                        <span class="p-shopping__total-detail--sub">{{ '税込'|trans }}</span>
                                    </dd>
                                </dl>
                                {% for rate, total in Order.taxable_total_by_tax_rate %}
                                    <dl class="p-shopping__total-rate u-dl-sanitize">
                                        <dt class="p-shopping__total-rate-label">{{ '税率 %rate% %対象'|trans({ '%rate%': rate }) }}</dt>
                                        <dd class="p-shopping__total-rate-detail">{{ total|price }}</dd>
                                    </dl>
                                {% endfor %}
                                {% for item in Order.tax_free_discount_items %}
                                    {% if loop.first %}
                                        <div class="ec-totalBox__total"></div>
                                    {% endif %}
                                    <dl class="ec-totalBox__spec">
                                        <dt>{{ item.product_name|trans }}</dt>
                                        <dd>{{ item.total_price|price }}</dd>
                                    </dl>
                                {% endfor %}
                            </div>
                            <div class="p-shopping__summary-item">
                                <dl class="p-shopping__pay-total u-dl-sanitize">
                                    <dt class="p-shopping__pay-total-label">{{ 'お支払い合計'|trans }}</dt>
                                    <dd class="p-shopping__pay-total-detail">
                                        <span class="p-shopping__pay-total-detail--main">{{ Order.payment_total|price }}</span>
                                        <span class="p-shopping__pay-total-detail--sub">{{ '税込'|trans }}</span>
                                    </dd>
                                </dl>
                            </div>
                            {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                                <div class="p-shopping__summary-item">
                                    <dl class="p-shopping__use-point u-dl-sanitize">
                                        <dt class="p-shopping__use-point-label">{{ 'ご利用ポイント'|trans }}</dt>
                                        <dd class="p-shopping__use-point-detail">{{ Order.UsePoint|number_format }} pt</dd>
                                    </dl>
                                    <dl class="p-shopping__add-point u-dl-sanitize">
                                        <dt class="p-shopping__add-point-label">{{ '加算ポイント'|trans }}</dt>
                                        <dd class="p-shopping__add-point-detail">{{ Order.AddPoint|number_format }} pt</dd>
                                    </dl>
                                </div>
                            {% endif %}
                            <div class="p-shopping__summary-actions">
                                <div class="p-shopping__summary-actions-item">
                                    <button class="p-shopping__summary-button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" id="js-kuroneko-token" type="submit">
                                        <span class="c-button__label mdc-button__label">{{ '確認する'|trans }}</span>
                                    </button>
                                </div>
                                <div class="p-shopping__summary-actions-item">
                                    <a class="p-shopping__summary-button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" href="{{ url("cart") }}">
                                        <span class="c-button__label mdc-button__label">{{ 'カートに戻る'|trans }}</span>
                                    </a>
                                <div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </section>

{% endblock %}
