{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}

    <section class="p-shopping">

        <div class="p-shopping__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'ログイン'|trans }}</span>
            </h1>
        </div>

        <div class="p-shopping__contents">

            <div class="p-shopping__login">
                <form name="shopping_login" id="shopping_login" method="post" action="{{ url('mypage_login') }}">
                    <input type="hidden" name="_target_path" value="shopping" />
                    <input type="hidden" name="_failure_path" value="shopping_login" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="c-form is-input">
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                <div class="p-shopping__login-user">
                                    <i class="p-shopping__login-user-icon material-icons">account_circle</i>
                                </div>
                            </div>
                        </div>
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                <div class="c-text-field mdc-text-field mdc-text-field--outlined">
                                    {{ form_widget(form.login_email, {'attr': {'class': 'c-text-field__input mdc-text-field__input', 'autofocus': true}}) }}
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label class="c-floating-label mdc-floating-label" for="login_email">{{'メールアドレス'|trans}}</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                <div class="c-text-field mdc-text-field mdc-text-field--outlined">
                                    {{ form_widget(form.login_pass,  {'attr': {'class': 'c-text-field__input mdc-text-field__input' }}) }}
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label class="c-floating-label mdc-floating-label" for="login_pass">{{'パスワード'|trans}}</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if BaseInfo.option_remember_me %}
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <input type="hidden" name="login_memory" value="1">
                                    {% else %}
                                        {{ form_widget(form.login_memory, { 'label': '次回から自動的にログインする'|trans }) }}
                                    {% endif %}
                                </div>
                            </div>
                            {% if error %}
                                <p>{{ error.messageKey|trans(error.messageData, 'validators')|nl2br }}</p>
                            {% endif %}
                        {% endif %}
                        <div class="p-mypage__login-info">
                            <p class="p-mypage__login-info-text">{{ 'ログイン情報をお忘れの場合、パスワードの再発行手続きを行ってください。'|trans }}</p>
                            <div class="p-mypage__login-info-button">
                                <a class="c-button c-button--dense c-button--outlined is-quaternary mdc-button mdc-button--dense mdc-button--outlined" href="{{ url('forgot') }}">
                                    <i class="c-button__icon mdc-button__icon material-icons">vpn_key</i>
                                    <span class="c-button__label mdc-button__label">{{ 'パスワードの再発行'|trans }}</span>
                                </a>
                            </div>
                        </div>
                        <div class="c-form__actions">
                            <div class="c-form__actions-item">
                                <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit">
                                    <span class="c-button__label mdc-button__label">{{ 'ログイン'|trans }}</span>
                                </button>
                            </div>
                            <div class="c-form__actions-item">
                                <a class="c-form__button c-button is-secondary c-button--outlined mdc-button mdc-button--outlined" href="{{ url('entry') }}">
                                    <span class="c-button__label mdc-button__label">{{ '新規会員登録'|trans }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                <div class="p-shopping__guest">
                    <p class="p-shopping__guest-discription">{{ '会員登録をせずに購入手続きをされたい方は、下記よりお進みください。'|trans }}</p>
                    <div class="p-shopping__actions">
                        <div class="p-shopping__actions-item">
                            <a class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('shopping_nonmember') }}">
                                <span class="c-button__label mdc-button__label">{{ 'ゲスト購入'|trans }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

    </section>

{% endblock %}
