{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}

    <section class="p-shopping">

        <div class="p-shopping__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'お客様情報の入力'|trans }}</span>
            </h1>
        </div>

        <div class="p-shopping__contents">

            <div class="p-shopping__progress">
                <ul class="p-shopping__progress-list u-list-sanitize">
                    {% set step = 1 %}
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'カートの<br class="u-break--sp-visible">商品'|trans|raw }}</div>
                    </li>
                    {% if is_granted('ROLE_USER') == false %}
                        <li class="p-shopping__progress-list-item is-active">
                            <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                            <div class="p-shopping__progress-label">{{ 'お客様<br class="u-break--sp-visible">情報'|trans|raw }}</div>
                        </li>
                    {% endif %}
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'ご注文<br class="u-break--sp-visible">手続き'|trans|raw }}</div>
                    </li>
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ 'ご注文<br class="u-break--sp-visible">内容確認'|trans|raw }}</div>
                    </li>
                    <li class="p-shopping__progress-list-item">
                        <div class="p-shopping__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-shopping__progress-label">{{ '完了'|trans }}</div>
                    </li>
                </ul>
            </div>

            <form method="post" action="{{ url('shopping_nonmember') }}" class="h-adr">
                <span class="p-country-name" style="display:none;">Japan</span>
                {{ form_widget(form._token) }}
                <div class="c-form is-input">
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.name, 'お名前', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.name.name01) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.name.name01, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="nonmember_name_name01">{{'姓'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.name.name01, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.name.name02) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.name.name02, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="nonmember_name_name02">{{'名'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.name.name02, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.kana, 'お名前(カナ)', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.kana.kana01) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.kana.kana01, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="nonmember_kana_kana01">{{'セイ'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.kana.kana01, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.kana.kana02) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.kana.kana02, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="nonmember_kana_kana02">{{'メイ'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.kana.kana02, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.email, 'メールアドレス', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.email.first) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.email.first, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="nonmember_email_first">info@medyfine.co.jp</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.email.first, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.email.second) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.email.second, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="nonmember_email_second">{{'確認のためもう一度入力してください'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.email.second, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <div id="continue-section" style="display: none">
                      <dl class="c-form__parts u-dl-sanitize">
                          <dt class="c-form__parts-label">
                              {{ form_label(form.address, '住所', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                          </dt>
                          <dd class="c-form__parts-detail">
                              <div class="c-form__box">
                                  <div class="c-form__box-item">
                                      <div class="c-form__postcode">
                                          <div class="c-form__postcode-item">
                                              <span class="c-form__postcode-mark">{{ '〒'|trans }}</span>
                                              <div class="c-form__postcode-input">
                                                  <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.postal_code) ? ' mdc-text-field--invalid' }}">
                                                      {{ form_widget(form.postal_code, {'attr': { 'class': 'c-text-field__input mdc-text-field__input p-postal-code', 'placeholder': null }}) }}
                                                      <div class="mdc-notched-outline">
                                                          <div class="mdc-notched-outline__leading"></div>
                                                          <div class="mdc-notched-outline__notch">
                                                              <label class="c-floating-label mdc-floating-label" for="nonmember_postal_code">{{'例'|trans}}：5530003</label>
                                                          </div>
                                                          <div class="mdc-notched-outline__trailing"></div>
                                                      </div>
                                                  </div>
                                                  {{ form_errors(form.postal_code, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                              </div>
                                          </div>
                                          <div class="c-form__postcode-item">
                                              <a class="c-button mdc-button" href="http://www.post.japanpost.jp/zipcode/" target="_blank" rel="noopener">
                                                  <i class="c-button__icon mdc-button__icon material-icons">help</i>
                                                  <span class="c-button__label mdc-button__label">{{ '郵便番号検索'|trans }}</span>
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="c-form__box">
                                  <div class="c-form__box-item">
                                      <div class="c-select mdc-select mdc-select--outlined{{ has_errors(form.address.pref) ? ' mdc-select--invalid' }}">
                                          <i class="mdc-select__dropdown-icon"></i>
                                          {{ form_widget(form.address.pref, {'attr': { 'class': 'mdc-select__native-control p-region-id' }, 'choice_translation_domain': 'messages'}) }}
                                          <div class="mdc-notched-outline">
                                              <div class="mdc-notched-outline__leading"></div>
                                              <div class="mdc-notched-outline__notch"></div>
                                              <div class="mdc-notched-outline__trailing"></div>
                                          </div>
                                      </div>
                                      {{ form_errors(form.address.pref, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                  </div>
                              </div>
                              <div class="c-form__box">
                                  <div class="c-form__box-item">
                                      <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.address.addr01) ? ' mdc-text-field--invalid' }}">
                                          {{ form_widget(form.address.addr01, {'attr': { 'class': 'c-text-field__input mdc-text-field__input p-locality p-street-address', 'placeholder': null }}) }}
                                          <div class="mdc-notched-outline">
                                              <div class="mdc-notched-outline__leading"></div>
                                              <div class="mdc-notched-outline__notch">
                                                  <label class="c-floating-label mdc-floating-label" for="nonmember_address_addr01">{{'市区町村名(例：大阪市福島区)'|trans}}</label>
                                              </div>
                                              <div class="mdc-notched-outline__trailing"></div>
                                          </div>
                                      </div>
                                      {{ form_errors(form.address.addr01, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                  </div>
                              </div>
                              <div class="c-form__box">
                                  <div class="c-form__box-item">
                                      <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.address.addr02) ? ' mdc-text-field--invalid' }}">
                                          {{ form_widget(form.address.addr02, {'attr': { 'class': 'c-text-field__input mdc-text-field__input p-extended-address', 'placeholder': null }}) }}
                                          <div class="mdc-notched-outline">
                                              <div class="mdc-notched-outline__leading"></div>
                                              <div class="mdc-notched-outline__notch">
                                                  <label class="c-floating-label mdc-floating-label" for="nonmember_address_addr02">{{'番地・ビル名(例：福島8丁目3-15)'|trans}}</label>
                                              </div>
                                              <div class="mdc-notched-outline__trailing"></div>
                                          </div>
                                      </div>
                                      {{ form_errors(form.address.addr02, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                  </div>
                              </div>
                          </dd>
                      </dl>
                      <dl class="c-form__parts u-dl-sanitize">
                          <dt class="c-form__parts-label">
                              {{ form_label(form.phone_number, '電話番号', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                          </dt>
                          <dd class="c-form__parts-detail">
                              <div class="c-form__box">
                                  <div class="c-form__box-item is-half">
                                      <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.phone_number) ? ' mdc-text-field--invalid' }}">
                                          {{ form_widget(form.phone_number, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                          <div class="mdc-notched-outline">
                                              <div class="mdc-notched-outline__leading"></div>
                                              <div class="mdc-notched-outline__notch">
                                                  <label class="c-floating-label mdc-floating-label" for="nonmember_phone_number">{{'例'|trans}}：11122223333</label>
                                              </div>
                                              <div class="mdc-notched-outline__trailing"></div>
                                          </div>
                                      </div>
                                      {{ form_errors(form.phone_number, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                  </div>
                              </div>
                          </dd>
                      </dl>
                    </div>
                </div>
                <div class="c-form__actions">
                    <div class="c-form__actions-item">
                        <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="button" id="continue-btn">
                            <span class="c-button__label mdc-button__label">{{ '続く'|trans }}</span>
                        </button>
                        <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit" id="submit-btn" style="display: none">
                            <span class="c-button__label mdc-button__label">{{ '次へ'|trans }}</span>
                        </button>
                    </div>
                    <div class="c-form__actions-item">
                        <a class="c-form__button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" href="{{ url('cart') }}">
                            <span class="c-button__label mdc-button__label">{{ '戻る'|trans }}</span>
                        </a>
                    </div>
                </div>
            </form>

        </div>

    </section>

<script>
$(function() {
  $('#continue-btn').on('click', function(e) {
    e.preventDefault();
    $('#continue-section').show();
    $('#continue-btn').hide();
    $('#submit-btn').show();
  });
});
</script>
{% endblock %}
