{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% set body_class = 'cart_page' %}
{# ログイン状態によって、表示内容を切替 #}
{% if is_granted('ROLE_USER') is empty %}
    {% set title = '商品購入/お届け先の変更'|trans %}
{% endif %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}

    <section class="p-shopping">

        <div class="p-shopping__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">
                    {% if is_granted('ROLE_USER') %}
                        {{ 'お届け先の追加'|trans }}
                    {% else %}
                        {{ 'お届け先の変更'|trans }}
                    {% endif %}
                </span>
            </h1>
        </div>

        <div class="p-shopping__contents">

            <form method="post" action="{{ url('shopping_shipping_edit', {'id': shippingId}) }}" class="h-adr">
                <span class="p-country-name" style="display:none;">Japan</span>
                {{ form_widget(form._token) }}
                <div class="c-form is-input">
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.name, 'お名前', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.name.name01) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.name.name01, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="shopping_shipping_name_name01">{{'姓'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.name.name01, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.name.name02) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.name.name02, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="shopping_shipping_name_name02">{{'名'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.name.name02, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.kana, 'お名前(カナ)', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.kana.kana01) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.kana.kana01, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="shopping_shipping_kana_kana01">{{'セイ'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.kana.kana01, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.kana.kana02) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.kana.kana02, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="shopping_shipping_kana_kana02">{{'メイ'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.kana.kana02, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.company_name, '会社名', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.company_name) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.company_name, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch"></div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.company_name, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.address, '住所', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-form__postcode">
                                        <div class="c-form__postcode-item">
                                            <span class="c-form__postcode-mark">{{ '〒'|trans }}</span>
                                            <div class="c-form__postcode-input">
                                                <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.postal_code) ? ' mdc-text-field--invalid' }}">
                                                    {{ form_widget(form.postal_code, {'attr': { 'class': 'c-text-field__input mdc-text-field__input p-postal-code', 'placeholder': null }}) }}
                                                    <div class="mdc-notched-outline">
                                                        <div class="mdc-notched-outline__leading"></div>
                                                        <div class="mdc-notched-outline__notch">
                                                            <label class="c-floating-label mdc-floating-label" for="shopping_shipping_postal_code">{{'例'|trans}}：5530003</label>
                                                        </div>
                                                        <div class="mdc-notched-outline__trailing"></div>
                                                    </div>
                                                </div>
                                                {{ form_errors(form.postal_code, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                            </div>
                                        </div>
                                        <div class="c-form__postcode-item">
                                            <a class="c-button mdc-button" href="http://www.post.japanpost.jp/zipcode/" target="_blank" rel="noopener">
                                                <i class="c-button__icon mdc-button__icon material-icons">help</i>
                                                <span class="c-button__label mdc-button__label">{{ '郵便番号検索'|trans }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-select mdc-select mdc-select--outlined{{ has_errors(form.address.pref) ? ' mdc-select--invalid' }}">
                                        <i class="mdc-select__dropdown-icon"></i>
                                        {{ form_widget(form.address.pref, {'attr': { 'class': 'mdc-select__native-control p-region-id' }, 'choice_translation_domain': 'messages'}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch"></div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.address.pref, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.address.addr01) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.address.addr01, {'attr': { 'class': 'c-text-field__input mdc-text-field__input p-locality p-street-address', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="shopping_shipping_address_addr01">{{'市区町村名(例：大阪市福島区)'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.address.addr01, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.address.addr02) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.address.addr02, {'attr': { 'class': 'c-text-field__input mdc-text-field__input p-extended-address', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="shopping_shipping_address_addr02">{{'番地・ビル名(例：福島8丁目3-15)'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.address.addr02, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.phone_number, '電話番号', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.phone_number) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.phone_number, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="shopping_shipping_phone_number">{{'例'|trans}}：11122223333</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.phone_number, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    {# エンティティ拡張の自動出力 #}
                    {% for f in form if f.vars.eccube_form_options.auto_render %}
                        {% if f.vars.eccube_form_options.form_theme %}
                            {% form_theme f f.vars.eccube_form_options.form_theme %}
                            {{ form_row(f) }}
                        {% else %}
                            <dl class="c-form__parts u-dl-sanitize">
                                <dt class="c-form__parts-label">
                                    {{ form_label(f) }}
                                </dt>
                                <dd class="c-form__parts-detail">
                                    <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                        {{ form_widget(f) }}
                                        {{ form_errors(f) }}
                                    </div>
                                </dd>
                            </dl>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="c-form__actions">
                    <div class="c-form__actions-item">
                        <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit">
                            <span class="c-button__label mdc-button__label">{{ '登録する'|trans }}</span>
                        </button>
                    </div>
                    <div class="c-form__actions-item">
                        {% if is_granted('ROLE_USER') %}
                            <a class="c-form__button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" href="{{ url('shopping_shipping', { 'id': shippingId }) }}">
                                <span class="c-button__label mdc-button__label">{{ '戻る'|trans }}</span>
                            </a>
                        {% else %}
                            <a class="c-form__button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" href="{{ url('shopping') }}">
                                <span class="c-button__label mdc-button__label">{{ '戻る'|trans }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </form>

        </div>

    </section>

{% endblock %}
