{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-shopping">

        <div class="p-shopping__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'お届け先の指定'|trans }}</span>
            </h1>
        </div>

        <div class="p-shopping__contents">

            <div class="p-shopping__shipping">

                <div class="p-shopping__shipping-heading">
                    {% if Customer.CustomerAddresses|length < eccube_config.eccube_deliv_addr_max %}
                        <div class="p-shopping__shipping-add-button">
                            <a class="c-button c-button--dense c-button--outlined is-quaternary mdc-button mdc-button--dense mdc-button--outlined" href="{{ url('shopping_shipping_edit', {'id': shippingId}) }}">{{ '新規お届け先を追加する'|trans }}</a>
                        </div>
                    {% else %}
                        <p class="p-shopping__shipping-info">
                            <span class="p-shopping__shipping-info-icon">
                                <i class="material-icons">error</i>
                            </span>
                            <span class="p-shopping__shipping-info-text">{{ 'お届け先登録の上限の%eccube_deliv_addr_max%件に達しています。お届け先を入力したい場合は、削除か変更を行ってください。'|trans({ '%count%': eccube_config.eccube_deliv_addr_max }) }}</span>
                        </p>
                    {% endif %}
                </div>

                <div class="p-shopping__shipping-contents">

                    {% if has_errors(form.addresses) %}
                        <p class="p-shopping__error">
                            <span class="p-shopping__error-icon">
                                <i class="material-icons">error</i>
                            </span>
                            <span class="p-shopping__error-text">{{ 'お届け先を指定してください'|trans }}</span>
                        </p>
                    {% endif %}

                    <form method="post" action="{{ url('shopping_shipping', {'id': shippingId}) }}">
                        {{ form_widget(form._token) }}

                        <ul class="p-shopping__shipping-list u-list-sanitize">
                            {% for choice in form.addresses.vars.choices %}
                                {% set Address = choice.data %}
                                <li class="p-shopping__shipping-list-item">
                                    {% set checked = choice is selectedchoice(form.addresses.vars.value) ? 'checked="checked"' : '' %}
                                    <label class="p-shopping__shipping-address-label mdc-ripple-surface" for="address{{ choice.value }}">
                                        <input class="p-shopping__shipping-address-radio" type="radio" id="address{{ choice.value }}" name="{{ form.addresses.vars.full_name }}" value="{{ choice.value }}" {{ checked }} />
                                        <div class="p-shopping__shipping-address">
                                            <p class="p-shopping__shipping-address-name">{{ Address.name01 }}&nbsp;{{ Address.name02 }}</p>
                                            <p class="p-shopping__shipping-address-detail">
                                                <span class="p-shopping__shipping-address-detail-postcode">{{ '〒'|trans }}{{ Address.postal_code }}</span>
                                                <span class="p-shopping__shipping-address-detail-text">{{ Address.Pref|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Address.addr01 }}{{ Address.addr02 }}</span>
                                            </p>
                                            <p class="p-shopping__shipping-address-phone">{{ Address.phone_number }}</p>
                                        </div>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="p-shopping__actions">
                            <div class="p-shopping__actions-item">
                                <button class="c-form__button c-button c-button--unelevated is-secondary mdc-button mdc-button--unelevated" type="submit">
                                    <span class="c-button__label mdc-button__label">{{ '選択したお届け先に送る'|trans }}</span>
                                </button>
                            </div>
                            <div class="p-shopping__actions-item">
                                <a class="c-form__button c-button c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('shopping') }}">
                                    <span class="c-button__label mdc-button__label">{{ '戻る'|trans }}</span>
                                </a>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </section>

{% endblock %}
