{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block javascript %}
<script>
$(function() {
    $('.add').click(function() {
        var data = $(this).data();
        var idx = data.idx;
        var itemIdx = 0;
        var item = $('#item' + idx);
        var row = $('#item' + idx + '-0');

        // 既存のお届け先のrowをコピーして雛形とする
        var addrow = $(row).clone();

        // 追加する要素のIndexを決定
        item.find('.shipping_item').each(function() {
            itemIdx = $(this).attr('data-itemidx');
        });
        itemIdx = 1 + parseInt(itemIdx);

        // 行のID設定
        addrow.attr('id', 'item' + idx + '-' + itemIdx);
        addrow.attr('data-itemidx', itemIdx);

        // お届け先セレクトボックスのIDとNAME設定
        addrow.find('select').attr('name', 'form[shipping_multiple][' + idx + '][shipping][' + itemIdx + '][customer_address]');
        addrow.find('select').attr('id', 'form_shipping_multiple_' + idx + '_shipping_' + itemIdx + '_customer_address');

        // 数量のINPUTのIDとNAME設定
        addrow.find('input').attr('name', 'form[shipping_multiple][' + idx + '][shipping][' + itemIdx + '][quantity]');
        addrow.find('input').attr('id', 'form_shipping_multiple_' + idx + '_shipping_' + itemIdx + '_quantity');

        // その他、divやbuttonのID設定
        addrow.find('[id*="multiple_list__shipping_address"]').attr('id', 'multiple_list__shipping_address--' + idx + '_' + itemIdx + '');
        addrow.find('[id*="multiple_list__shipping_quantity"]').attr('id', 'multiple_list__shipping_quantity--' + idx + '_' + itemIdx + '');
        addrow.find('button').each(function() {
            $(this).attr('id', 'button__delete--' + idx + '_' + itemIdx + '');
            $(this).attr('data-itemidx', idx + '-' + itemIdx);
            $(this).data('itemidx', idx + '-' + itemIdx);
            $(this).removeAttr('style');
        });

        $(item).append($(addrow));
    });

    $(document).on('click', '.delete', function() {
        var data = $(this).data();
        $('#item' + data.itemidx).remove();
    });

});
</script>
{% endblock javascript %}

{% block main %}

    <section class="p-shopping">

        <div class="p-shopping__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'お届け先の複数指定'|trans }}</span>
            </h1>
        </div>

        <div class="p-shopping__contents">

            <form id="shipping-multiple-form" method="post" action="{{ url('shopping_shipping_multiple') }}">
                {{ form_widget(form._token) }}

                <div class="p-shopping__add-address">

                    <div class="p-shopping__add-address-heading">
                        <p class="p-shopping__add-address-description">{{ '各商品のお届け先を選択してください。'|trans }}</p>
                        {% for error in errors %}
                            <div class="text-danger">{{ error.message }}</div>
                        {% endfor %}
                        <div class="p-shopping__add-address-change">
                            <a class="c-button c-button--dense c-button--outlined is-quaternary mdc-button mdc-button--dense mdc-button--outlined" href="{{ url('shopping_shipping_multiple_edit') }}">
                                <span class="c-button__label mdc-button__label">{{ '新規お届け先を追加する'|trans }}</span>
                            </a>
                        </div>
                    </div>

                    <div class="p-shopping__add-address-contents">
                        {% for orderItem in OrderItems %}
                            {% set idx = loop.index0 %}
                            {% set itemvalue = 0 %}
                            <div class="p-shopping__add-address-contents-item" id="multiple_list__item_box--{{ idx }}">
                                <div class="p-shopping__add-address-product">
                                    <div class="p-shopping__add-address-product-image">
                                        <img loading=lazy src="{{ asset(orderItem.product.MainListImage|no_image_product, 'save_image') }}">
                                    </div>
                                    <div class="p-shopping__add-address-product-detail">
                                        <p class="p-shopping__add-address-product-name">{{ orderItem.productName|trans }}</p>
                                        {% if orderItem.productClass.classCategory1 %}
                                            <p class="p-shopping__add-address-product-class-category">{{ orderItem.productClass.classCategory1|trans }}</p>
                                        {% endif %}
                                        {% if orderItem.productClass.classCategory2 %}
                                            <p class="p-shopping__add-address-product-class-category">{{ orderItem.productClass.classCategory2|trans }}</p>
                                        {% endif %}
                                        <div class="p-shopping__add-address-product-box">
                                            <div class="p-shopping__add-address-product-box-item">
                                                <p class="p-shopping__add-address-product-price">{{ '小計：'|trans }}{{ orderItem.totalPrice|price }}</p>
                                            </div>
                                            {% for key, value in compItemQuantities %}
                                                {% if orderItem.productClass.id == key %}
                                                    <div class="p-shopping__add-address-product-box-item">
                                                        <p class="p-shopping__add-address-product-quantity" id="multiple_list__value--{{ idx }}_{{ key }}">{{ '数量'|trans }}：{{ value }}</p>
                                                    {% set itemvalue = value %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="p-shopping__add-address-controllers" id="item{{ idx }}">
                                    {% for shipping in form.shipping_multiple[idx].shipping %}
                                        <div class="p-shopping__add-address-controller shipping_item item{{ idx }}" id="item{{ idx }}-{{ loop.index0 }}" data-itemidx="{{ loop.index0 }}">
                                            <div class="p-shopping__add-address-controller-item" id="multiple_list__shipping_address--{{ idx }}_{{ loop.index0 }}">
                                                <dl class="p-shopping__add-address-select">
                                                    <dt class="p-shopping__add-address-select-label">{{ 'お届け先'|trans }}</dt>
                                                    <dd class="p-shopping__add-address-select-detail">
                                                        <div class="c-select mdc-select mdc-select--outlined{{ has_errors(shipping.customer_address) ? ' mdc-select--invalid' }}">
                                                            <i class="mdc-select__dropdown-icon"></i>
                                                            {{ form_widget(shipping.customer_address, {'attr': { 'class': 'mdc-select__native-control shipping' }}) }}
                                                            <div class="mdc-notched-outline">
                                                                <div class="mdc-notched-outline__leading"></div>
                                                                <div class="mdc-notched-outline__notch"></div>
                                                                <div class="mdc-notched-outline__trailing"></div>
                                                            </div>
                                                        </div>
                                                        {{ form_errors(shipping.customer_address, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="p-shopping__add-address-controller-item" id="multiple_list__shipping_quantity--{{ idx }}_{{ loop.index0 }}">
                                                <dl class="p-shopping__add-address-quantity">
                                                    <dt class="p-shopping__add-address-quantity-label">{{ '数量'|trans }}</dt>
                                                    <dd class="p-shopping__add-address-quantity-detail">
                                                        {% for key, value in compItemQuantities %}
                                                            {% if orderItem.productClass.id == key %}
                                                                {% set quantity = shipping.quantity.vars.value ?: value %}
                                                                <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(shipping.quantity) ? ' mdc-text-field--invalid' }}">
                                                                    {{ form_widget(shipping.quantity, {'attr': { 'class': 'c-text-field__input mdc-text-field__input p-locality p-street-address quantity', 'placeholder': null }, 'value': quantity}) }}
                                                                    <div class="mdc-notched-outline">
                                                                        <div class="mdc-notched-outline__leading"></div>
                                                                        <div class="mdc-notched-outline__notch"></div>
                                                                        <div class="mdc-notched-outline__trailing"></div>
                                                                    </div>
                                                                </div>
                                                                {{ form_errors(shipping.quantity, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="p-shopping__add-address-controller-action">
                                                <button class="c-button c-button--dense c-button--outlined is-quaternary mdc-button mdc-button--dense mdc-button--outlined delete" id="button__delete--{{ idx }}_{{ loop.index0 }}" type="button" data-itemidx="{{ idx }}-{{ loop.index0 }}" {% if loop.index0 == 0 %}style="display:none;"{% endif %}>
                                                    <span class="c-button__label mdc-button__label">{{'削除'|trans}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="p-shopping__add-address-actions" id="multiple_list__add_button{{ idx }}">
                                    <div class="p-shopping__add-address-actions-item">
                                        <button class="c-button c-button--dense c-button--outlined is-quaternary mdc-button mdc-button--dense mdc-button--outlined add" id="button__add{{ idx }}" type="button" data-idx="{{ idx }}">
                                            <span class="c-button__label mdc-button__label">{{ 'お届け先追加'|trans }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="p-shopping__actions">
                        <div class="p-shopping__actions-item">
                            <button class="c-form__button c-button c-button--unelevated is-secondary mdc-button mdc-button--unelevated" type="submit">
                                <span class="c-button__label mdc-button__label">{{ '選択したお届け先に送る'|trans }}</span>
                            </button>
                        </div>
                        <div class="p-shopping__actions-item">
                            <a class="c-form__button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" href="{{ url('shopping') }}">
                                <span class="c-button__label mdc-button__label">{{ '戻る'|trans }}</span>
                            </a>
                        </div>
                    </div>

                </div>
            </form>

        </div>

    </section>

{% endblock %}
