{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}

<section class="p-shopping">

    <div class="p-shopping__heading">
        <h1 class="c-page-title">
            <span class="c-page-title__text">{{ '購入エラー'|trans }}</span>
        </h1>
    </div>
    
    <div class="p-shopping__contents">

        <!-- アラートメッセージ -->
        {{ include('Shopping/alert.twig', { 'error_only': true }) }}
        <div class="p-shopping__actions">
            <p>
                お問い合わせ： <a href="{{ url('contact') }}" target="_blank">フォーム</a><br>
                電話番号： <a href="tel:0787777000" target="_blank">078-777-7000</a><br>
                メール： <a href="mailto:info@medyfine.co.jp" target="_blank">info[at]medyfine.co.jp</a><br>
            </p>
        </div>
        <div class="p-shopping__actions">
            <div class="p-shopping__actions-item">
                <a class="p-shopping__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url('cart') }}">
                    <span class="c-button__label mdc-button__label">{{ 'カートに戻る'|trans }}</span>
                </a>
            </div>
        </div>

    </div>

<section>

{% endblock %}
