.cbd_slide_btn {
  &.main-button {
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: start !important;

      .cbd_slide_thc {
        padding-top: 10px;
      }
    }

    @media (max-width: 576px) {
      a {
        font-size: 21px;
      }
    }

    @media (max-width: 360px) {
      a {
        font-size: 18px;
        padding: 10px;
      }
    }
  }
}