.l-header {
  &.header {
    @media (max-width: 768px) {
      padding-top: 70px;
    }

    @media (max-width: 576px) {
      padding-top: 60px;
    }

    @media (max-width: 360px) {
      padding-top: 50px;
    }
  }
}
.wrapper-header {
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    max-height: 70px;
    height: 10%;
    background: #000000!important;
  }

  @media (max-width: 576px) {
    max-height: 60px;
  }

  .featured_logo {
    @media (max-width: 768px) {
      max-width: 160px;
      width: 100%;
    }
  }

  .b-header__logo {
    @media (max-width: 768px) {
      width: 100% !important;
    }
  }

  .b-header__button {
    @media (max-width: 768px) {
      z-index: 1;
    }
  }
}