.homepage-top-carousel {
  @media (max-width: 768px) {
    .cbd_text_inside {
      padding: 20px !important;
    }
  }

  .cbd_text_inside {
    p {
      @media (max-width: 768px) {
        margin: 0 0 15px;
      }
    }
  }

  .is-2nd {
    @media (max-width: 360px) {
      padding: 35px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        padding: 0 20px;
        font-size: 15px;
      }

      h3 {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 15px;
      }

      h4, .sub_text {
        font-size: 21px;
        margin-bottom: 15px;
      }
    }
  }
}

.scroll-down {
  @media (max-width: 768px) {
    bottom: 20px !important;
  }
}