.p-product__list.p-product__contents {
  padding: 0;

  .c-list-product__actions-item {
    .c-button {
      @media (max-width: 567px) {
        width: 100%;
      }
    }
  }
}

.p-product {
  .p-product__list {
    .c-list-product__price {
      @media (max-width: 576px) {
        height: 36px;
      }
    }
  }
}