.product-carousel {
  @media (max-width: 768px) {
    .cbd_img {
      display: none !important;
    }
  }

  .wrapper-carousel-item {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .cbd_text_inside {
    @media (max-width: 768px) {
      padding: 15px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 24px;
        line-height: 1.5;
      }
    }
  }

  .cbd_slide_half {
    @media (max-width: 375px) {
      max-width: 350px;
    }

    @media (max-width: 360px) {
      max-width: 300px!important;
    }
  }

  .sub_text {
    @media (max-width: 576px) {
     max-width: 300px;
    }
  }

  .product-img {
    display: none;
    width: 100px;
    object-fit: cover;
    margin: 10px 0;

    @media (max-width: 768px) {
      display: block;
    }
  }
}