.shopping-form {
  //width: 100%;

  input {
    display: flex !important;
    padding: 12px 16px 14px !important;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background-color: transparent !important;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: .00937em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: 0 0;

    @media (max-width: 576px) {
      width: 100% !important;
    }
  }

  .input-title {
    color: rgba(51, 51, 51, .8);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.75;

    @media (max-width: 576px) {
      width: 100% !important;
    }
  }

  .item {
    &:first-child {
      padding-top: 20px;
    }

    padding-bottom: 20px;
    border-bottom: dotted 1px rgba(0, 0, 0, .12);
    height: unset !important;
  }

  select {
    height: 48px;
  }

  .ec-input {
    @media (max-width: 576px) {
      width: 100% !important;
      margin-bottom: 15px !important;
    }
  }

}

#gmo_payment_gateway_credit_form .dl_table dl {
  display: flex !important;

  @media (max-width: 576px) {
    flex-direction: column;
  }

  dd {
    @media (max-width: 576px) {
      margin: 0 !important;
    }
  }
}