.shopping-main {
  max-width: 990px;
}

.summary {
  transition: margin-top .4s ease-in-out;

  @media (min-width: 480px) {
    &.sticky {
      margin-top: 20px!important;
      transition: margin-top .4s ease-in-out;
      position: fixed;

      .p-shopping__summary {
        margin-top: 0!important;
      }
    }
  }

}