<!--{
This file is part of the BreadcrumbList3-plugin package.

(c) Nobuhiko Kimoto All Rights Reserved.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
}-->

<style type="text/css">
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 24px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 2px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/ ";
}
.breadcrumb > .active {
  color: #777;
}
</style>

{% if PageLayout != '' %}
    {% for Breadcrumb in BreadcrumbList %}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ url('homepage') }}">
                <span itemprop="name">HOME</span>
            </a>
            <meta itemprop="position" content="1">
        </li>
        {% set position = 2 %}
        {% for i in Breadcrumb %}
        {% if i %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ url(i.url) }}{% if i.q is not null %}{{i.q}}{% endif %}">
                <span itemprop="name">{{i.category_name}}</span>
            </a>
            <meta itemprop="position" content="{{ position }}">
            {% set position = position + 1 %}
        </li>
        {% endif %}
        {% endfor %}

        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="name">
                {% if PageLayout.url == 'entry' %}
                新規会員登録
                {% elseif PageLayout.url == 'contact' %}
                お問い合わせ
                {% elseif PageLayout.url == 'cart' %}
                ショッピングカート
                {% else %}
                {{ PageLayout.name }}
                {% endif %}
            </span>
            <meta itemprop="position" content="{{ position }}">
        </li>
    </ol>
    {% endfor %}
{% endif %}
