{% extends 'default_frame.twig' %}

{% block main %}

	<section class="p-help">

		<div class="p-help__heading">
			<h1 class="c-page-title">
				<span class="c-page-title__text">{{ '成分分析表'|trans }}</span>
			</h1>
		</div>

		<div class="p-help__contents">
			{#<p class="p-help__description">{{ '成分分析表'|trans }}</p>#}
			<div class="p-help__guide">
				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">{{ 'MARITIME全ての成分分析表'|trans }}</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<div class="analysis_gallery">
									{% if app.request.locale == "ja" %}
									<a target="_blank" href="{{ asset('assets/img/analysis/maritime-CBD-Certificate-watermark.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/maritime-CBD-Certificate-watermark.jpg', 'user_data') }}" alt="{{ 'MARITIME全ての成分分析表'|trans }}" />
									</a>
									{% endif %}
									{#
									<a target="_blank" href="{{ asset('assets/img/analysis/maritime-CBD-Certificate-watermark-all.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/maritime-CBD-Certificate-watermark-all.jpg', 'user_data') }}" alt="{{ 'MARITIME全ての成分分析表'|trans }}" />
									</a>
									#}
									<a target="_blank" href="{{ asset('assets/img/analysis/100-10.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/100-10.jpg', 'user_data') }}" alt="{{ 'MARITIMEの成分分析表'|trans }}" />
									</a>
									<a target="_blank" href="{{ asset('assets/img/analysis/200-10.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/200-10.jpg', 'user_data') }}" alt="{{ 'MARITIMEの成分分析表'|trans }}" />
									</a>
									<a target="_blank" href="{{ asset('assets/img/analysis/300-10.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/300-10.jpg', 'user_data') }}" alt="{{ 'MARITIMEの成分分析表'|trans }}" />
									</a>
									<a target="_blank" href="{{ asset('assets/img/analysis/300-30.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/300-30.jpg', 'user_data') }}" alt="{{ 'MARITIMEの成分分析表'|trans }}" />
									</a>
									<a target="_blank" href="{{ asset('assets/img/analysis/500-10.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/500-10.jpg', 'user_data') }}" alt="{{ 'MARITIMEの成分分析表'|trans }}" />
									</a>
									<a target="_blank" href="{{ asset('assets/img/analysis/600-30.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/600-30.jpg', 'user_data') }}" alt="{{ 'MARITIMEの成分分析表'|trans }}" />
									</a>
									<a target="_blank" href="{{ asset('assets/img/analysis/900-30.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/900-30.jpg', 'user_data') }}" alt="{{ 'MARITIMEの成分分析表'|trans }}" />
									</a>
									<a target="_blank" href="{{ asset('assets/img/analysis/1000-10.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/1000-10.jpg', 'user_data') }}" alt="{{ 'MARITIMEの成分分析表'|trans }}" />
									</a>
									<a target="_blank" href="{{ asset('assets/img/analysis/1500-30.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/1500-30.jpg', 'user_data') }}" alt="{{ 'MARITIMEの成分分析表'|trans }}" />
									</a>
									<a target="_blank" href="{{ asset('assets/img/analysis/3000-30.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/analysis/3000-30.jpg', 'user_data') }}" alt="{{ 'MARITIMEの成分分析表'|trans }}" />
									</a>
								</div>
							</div>
						</div>
					</dd>
				</dl>
				<hr>
				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">{{ 'MATERIAL SAFETY DATA SHEET (MSDS・安全データシート)'|trans }}</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<div class="analysis_gallery">
									<a target="_blank" href="{{ asset('assets/img/analysis/MARITIME_B&D_MSDS_CBD.pdf', 'user_data') }}">{{ 'MARITIMEのMSDSファイル（PDF)'|trans }}</a>
								</div>
								<a target="_blank" href="{{ asset('assets/img/analysis/MSDS_1.png', 'user_data') }}">
									<img loading=lazy src="{{ asset('assets/img/analysis/MSDS_1.png', 'user_data') }}" alt="{{ 'MARITIMEのMSDS1'|trans }}" />
								</a>
								<a target="_blank" href="{{ asset('assets/img/analysis/MSDS_2.png', 'user_data') }}">
									<img loading=lazy src="{{ asset('assets/img/analysis/MSDS_2.png', 'user_data') }}" alt="{{ 'MARITIMEのMSDS2'|trans }}" />
								</a>
								<a target="_blank" href="{{ asset('assets/img/analysis/MSDS_3.png', 'user_data') }}">
									<img loading=lazy src="{{ asset('assets/img/analysis/MSDS_3.png', 'user_data') }}" alt="{{ 'MARITIMEのMSDS3'|trans }}" />
								</a>
								<a target="_blank" href="{{ asset('assets/img/analysis/MSDS_4.png', 'user_data') }}">
									<img loading=lazy src="{{ asset('assets/img/analysis/MSDS_4.png', 'user_data') }}" alt="{{ 'MARITIMEのMSDS4'|trans }}" />
								</a>
								<a target="_blank" href="{{ asset('assets/img/analysis/MSDS_5.png', 'user_data') }}">
									<img loading=lazy src="{{ asset('assets/img/analysis/MSDS_5.png', 'user_data') }}" alt="{{ 'MARITIMEのMSDS5'|trans }}" />
								</a>
								<a target="_blank" href="{{ asset('assets/img/analysis/MSDS_6.png', 'user_data') }}">
									<img loading=lazy src="{{ asset('assets/img/analysis/MSDS_6.png', 'user_data') }}" alt="{{ 'MARITIMEのMSDS6'|trans }}" />
								</a>
							</div>
						</div>
					</dd>
				</dl>
			</div>
		</div>

	</section>
	{#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}