{% extends 'default_frame.twig' %}

{% block main %}

	<section class="p-help">

		<div class="p-help__heading">
			<h1 class="c-page-title">
				<span class="c-page-title__text">{{ 'CBD摂取量'|trans }}</span>
			</h1>
		</div>

		<div class="p-help__contents">
			{#<p class="p-help__description">{{ 'CBD摂取量'|trans }}</p>#}
			<div class="p-help__guide">
				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">{{ 'MARITIME(CBDオイル)の摂取量目安'|trans }}</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<div class="analysis_gallery">
									{% if app.request.locale == "en" %}
									<a target="_blank" href="{{ asset('assets/img/intake/CBD_intake_en.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/intake/CBD_intake_en.jpg', 'user_data') }}" alt="{{ 'CBD摂取量'|trans }}" />
									</a>
									{%  else %}
									<a target="_blank" href="{{ asset('assets/img/intake/CBD_intake.jpg', 'user_data') }}">
										<img loading=lazy src="{{ asset('assets/img/intake/CBD_intake.jpg', 'user_data') }}" alt="{{ 'CBD摂取量'|trans }}" />
									</a>
									{% endif %}
								</div>
							</div>
						</div>
					</dd>
				</dl>
			</div>
		</div>

	</section>
	{#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}