{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-help p-article">

        <div class="p-help__heading">
            <img loading=lazy src="{{ asset('assets/img/articles/cbd-law-in-japan.jpg', 'user_data') }}" alt="{{ 'CBDに関する法律'|trans }}" />
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'CBDに関する法律を徹底解説｜日本では合法？違法？THCとの違いは？'|trans }}</span>
            </h1>
        </div>

        <div class="p-help__contents">
            <p class="p-help__description">{{ 'front.cbd_law_in_japan_text_1'|trans|nl2br }}</p>
            <div class="p-help__guide">

                <div class="article-summary">
                    <p class="article-summary--title">{{'目次'|trans}}</p>
                    <a href="#section1"><div class="article-h2">{{'CBDの原材料は大麻だが、大麻取締法では規制されていない成分'|trans}}</div></a>
                    <a href="#section2"><div class="article-h2">{{'CBDを摂取してもハイにならない？依存性や危険性は無い？'|trans}}</div></a>
                    <a href="#section3"><div class="article-h3">{{'THCとの違い'|trans}}</div></a>
                    <a href="#section4"><div class="article-h3">{{'海外では医療目的でも利用されている'|trans}}</div></a>
                    <a href="#section5"><div class="article-h2">{{'CBDを日本で購入・使用する時の注意点'|trans}}</div></a>
                    <a href="#section6"><div class="article-h3">{{'THCが含まれていないかチェック'|trans}}</div></a>
                    <a href="#section7"><div class="article-h3">{{'認可を受けた安全な製品を選びましょう'|trans}}</div></a>
                    <a href="#section8"><div class="article-h2">{{'CBDを使うときの注意点'|trans}}</div></a>
                </div>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section1">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDの原材料は大麻だが、大麻取締法では規制されていない成分'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/what-is-cbd.jpeg', 'user_data') }}" alt="{{ 'CBDの原材料は大麻だが、大麻取締法では規制されていない成分'|trans }}" />
                                <p>{{ 'front.cbd_law_in_japan_text_2'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section2">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDを摂取してもハイにならない？依存性や危険性は無い？'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/is-cbd-legal-in-japan.jpeg', 'user_data') }}" alt="{{ 'CBDを摂取してもハイにならない？依存性や危険性は無い？'|trans }}" />
                                <p>{{ 'front.cbd_law_in_japan_text_3'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section3">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'THCとの違い'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.cbd_law_in_japan_text_4'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section4">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '海外では医療目的でも利用されている'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.cbd_law_in_japan_text_5'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section5">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDを日本で購入・使用しても大丈夫？'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.cbd_law_in_japan_text_6'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section6">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'THCが含まれていないかチェック'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/cbd-vs-thc.jpeg', 'user_data') }}" alt="{{ 'CBDとTHCの違いとは'|trans }}" />
                                <p>{{ 'front.cbd_law_in_japan_text_7'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section7">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '認可を受けた安全な製品を選びましょう'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.cbd_law_in_japan_text_8'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section8">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDを使うときの注意点'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.cbd_law_in_japan_text_9'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </section>
    {#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}