{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-help">

        <div class="p-help__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'FAQ'|trans }}</span>
            </h1>
        </div>

        <div class="p-help__contents">
            <p class="p-help__description" id="cbd-faq">{{ 'CBDオイルのよくある質問'|trans }}</p>
            <div class="p-help__guide">
                <dl class="p-help__guide-parts u-dl-sanitize" id="cbd_use">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">{{ 'MARITIMEとは？'|trans }}</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.faq_what_is_maritime'|trans|nl2br }}</p>
                                <p><a href="{{ url('help_about') }}" class="c-button is-secondary c-button--unelevated mdc-button" >{{ '当サイトについて'|trans }}</a></p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="cbd_use">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">{{ 'CBDとは？'|trans }}</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.faq_what_is_cbd'|trans|nl2br }}</p>
                                <p><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd"})}}" class="c-button is-secondary c-button--unelevated mdc-button" >{{ '詳細はこちら'|trans }}</a></p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="cbd_safety">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">{{ '使用方法は？'|trans }}</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.faq_how_to_use'|trans }}</p>
                                <p><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "how-to-use-cbd"})}}" class="c-button is-secondary c-button--unelevated mdc-button" >{{ '詳細はこちら'|trans }}</a></p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="cbd_percentage">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">{{ 'CBDって大丈夫なの？'|trans }}</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.faq_is_cbd_safe'|trans }}</p>
                                <p><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd"})}}#section2" class="c-button is-secondary c-button--unelevated mdc-button" >{{ '詳細はこちら'|trans }}</a></p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="cbd_oliveoil">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">{{ '濃度(％)の違いは？'|trans }}</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.faq_cbd_concentration'|trans }}</p>
                                <p><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd-oil"})}}#section5" class="c-button is-secondary c-button--unelevated mdc-button" >{{ '詳細はこちら'|trans }}</a></p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">{{ 'なぜ、エクストラバージンオリーブオイルですか？'|trans }}</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.faq_why_olive_oil'|trans }}</p>
                                <p><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd-oil"})}}#section6" class="c-button is-secondary c-button--unelevated mdc-button" >{{ '詳細はこちら'|trans }}</a></p>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>

    </section>
    {#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}