{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-help p-article">

        <div class="p-help__heading">
            <img loading=lazy src="{{ asset('assets/img/articles/how-to-use-cbd.jpeg', 'user_data') }}" alt="{{ 'CBDオイル＆CBDウォーターの使い方'|trans }}" />
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'CBDオイル＆CBDウォーターの使い方'|trans }}</span>
            </h1>
        </div>

        <div class="p-help__contents">
            <p class="p-help__description">{{ 'front.how_to_use_cbd_text_1'|trans|nl2br }}</p>
            <div class="p-help__guide">

                <div class="article-summary">
                    <p class="article-summary--title">{{'目次'|trans}}</p>
                    <a href="#section1"><div class="article-h2">{{'CBDオイルの使い方'|trans}}</div></a>
                    <a href="#section2"><div class="article-h3">{{'舌下摂取は吸収が早い'|trans}}</div></a>
                    <a href="#section3"><div class="article-h3">{{'経口摂取は吸収率が低い'|trans}}</div></a>
                    <a href="#section4"><div class="article-h2">{{'CBDオイルの摂取方法'|trans}}</div></a>
                    <a href="#section5"><div class="article-h2">{{'CBDウォーターの使い方と摂取方法'|trans}}</div></a>
                </div>


                <dl class="p-help__guide-parts u-dl-sanitize" id="section1">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDオイルの使い方'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.how_to_use_cbd_text_2'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section2">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '舌下摂取は吸収が早い'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.how_to_use_cbd_text_3'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section3">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '経口摂取は吸収率が低い'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.how_to_use_cbd_text_4'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section4">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDオイルの摂取方法'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/sublingual-cbd-use.jpg', 'user_data') }}" alt="{{ 'CBDオイルの摂取方法'|trans }}" />
                                <p>{{ 'front.how_to_use_cbd_text_5'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section5">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDウォーターの使い方と摂取方法'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.how_to_use_cbd_text_6'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

            </div>
        </div>

    </section>
    {#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}