{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-help p-article">

        <div class="p-help__heading">
            <img loading=lazy src="{{ asset('assets/img/articles/maritime.jpg', 'user_data') }}" alt="{{ 'マリタイムとは'|trans }}" />
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ '国産CBDブランドのMARITIMEを解説｜誕生秘話から効果・口コミまで'|trans }}</span>
            </h1>
        </div>

        <div class="p-help__contents">
            <p class="p-help__description">{{ 'front.maritime_text_1'|trans|nl2br }}</p>
            <div class="p-help__guide">

                <div class="article-summary">
                    <p class="article-summary--title">{{'目次'|trans}}</p>
                    <a href="#section1"><div class="article-h2">{{'MARITIME（マリタイム）は日本産のCBDブランド'|trans}}</div></a>
                    <a href="#section2"><div class="article-h3">{{'MARITIME誕生のきっかけ'|trans}}</div></a>
                    <a href="#section3"><div class="article-h3">{{'MARITIMEはどこで買える？'|trans}}</div></a>
                    <a href="#section4"><div class="article-h2">{{'MARITIMEはCBDオイルとCBDウォーターを展開中'|trans}}</div></a>
                    <a href="#section5"><div class="article-h3">{{'CBDオイル'|trans}}</div></a>
                    {# <a href="#section6"><div class="article-h3">{{'CBDウォーター'|trans}}</div></a> #}
                    <a href="#section7"><div class="article-h2">{{'安心の純国産CBD製品'|trans}}</div></a>
                    <a href="#section8"><div class="article-h3">{{'日本の法律に遵守し安全'|trans}}</div></a>
                    <a href="#section9"><div class="article-h3">{{'日本製の高い品質で安心'|trans}}</div></a>
                    <a href="#section10"><div class="article-h3">{{'高純度の天然CBD'|trans}}</div></a>
                    <a href="#section11"><div class="article-h2">{{'MARITIMEは効果がある？口コミ・評判は？'|trans}}</div></a>
                    <a href="#section12"><div class="article-h3">{{'睡眠の質改善に繋がった'|trans}}</div></a>
                    <a href="#section13"><div class="article-h3">{{'日本製だから安心'|trans}}</div></a>
                    <a href="#section14"><div class="article-h3">{{'飲みやすいCBDウォーター'|trans}}</div></a>
                    <a href="#section15"><div class="article-h3">{{'効果の感じ方'|trans}}</div></a>
                </div>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section1">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'MARITIME（マリタイム）は日本産のCBDブランド'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/what-is-cbd.jpeg', 'user_data') }}" alt="{{ 'CBDの原材料は大麻だが、大麻取締法では規制されていない成分'|trans }}" />
                                <p>{{ 'front.maritime_text_2'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section2">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'MARITIME誕生のきっかけ'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_3'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section3">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'MARITIMEはどこで買える？'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_4'|trans|raw|nl2br }}</p>
                                <div class="dairiten_gallery">
                                    <img loading=lazy src="{{ asset('assets/img/articles/maritime_osaka_cosme.jpg', 'user_data') }}" alt="{{ 'MARITIME COSME OSAKA 2020'|trans }}" />
                                    <img loading=lazy src="{{ asset('assets/img/articles/maritime_osaka_cosme_2.jpg', 'user_data') }}" alt="{{ 'MARITIME COSME OSAKA 2020'|trans }}" />
                                    <img loading=lazy src="{{ asset('assets/img/articles/maritime_osaka_cosme_3.jpg', 'user_data') }}" alt="{{ 'MARITIME COSME OSAKA 2020'|trans }}" />
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section4">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'MARITIMEはCBDオイルとCBDウォーターを展開中'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_5'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section5">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'CBDオイル'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_6'|trans|nl2br }}</p>
                                <br>
                                <table>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-left">{{'CBD商品名'|trans}}</th>
                                        <th class="text-left">{{'CBD濃度'|trans}}&nbsp;</th>
                                        <th class="text-left">{{'CBD含有量'|trans}}&nbsp;</th>
                                        <th class="text-left">{{'価格（税込）'|trans}}</th>
                                        <th class="text-left">{{'おすすめポイント'|trans}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-100.png', 'user_data') }}" alt="{{ 'CBD 100 1%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 9}) }}">{{'MARITIME CBDオイル 10ml (1%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>1%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>100mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥3,240</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'はじめての方のCBD濃度1%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-200.png', 'user_data') }}" alt="{{ 'CBD 200 2%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 8}) }}">{{'MARITIME CBDオイル 10ml (2%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>2%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>200mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥4,860</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'はじめての方と薄めがいい方のCBD濃度2%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-300.png', 'user_data') }}" alt="{{ 'CBD 300 3%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 7}) }}">{{'MARITIME CBDオイル 10ml (3%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>3%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>300mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥6,800</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'一番人気のCBD濃度3%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-500.png', 'user_data') }}" alt="{{ 'CBD 500 5%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 6}) }}">{{'MARITIME CBDオイル 10ml (5%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>5%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>500mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥7,800</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'少し高めの濃度を試してみたい方向けのCBD濃度5%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-1000.png', 'user_data') }}" alt="{{ 'CBD 1000 10%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 5}) }}">{{'MARITIME CBDオイル 10ml (10%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>10%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>1000mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥9,801</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'高濃度をお求めの方のCBD濃度10%'|trans}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>
<p>{{ 'front.maritime_text_7'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
{#
                <dl class="p-help__guide-parts u-dl-sanitize" id="section6">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'CBDウォーター'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <br>
                                <table>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-left">{{'CBD商品名'|trans}}</th>
                                        <th class="text-left">{{'CBD含有量'|trans}}&nbsp;</th>
                                        <th class="text-left">{{'価格（税込）'|trans}}</th>
                                        <th class="text-left">{{'おすすめポイント'|trans}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-Water.png', 'user_data') }}" alt="{{ 'CBDウォーター'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 4}) }}">{{'MARITIME CBD ウォーター 500ml'|trans}}</a></td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>24mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥1,253</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'CBDを24mg配合の清涼飲料水'|trans}}</td>
                                    </tr>
                                    </tbody>
                                </table>
<p>{{ 'front.maritime_text_8'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
#}
                <dl class="p-help__guide-parts u-dl-sanitize" id="section7">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ '安心の純国産CBD製品'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_9'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section8">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '日本の法律に遵守し安全'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_10'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section9">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '日本製の高い品質で安心'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_11'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section10">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '高純度の天然CBD'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_12'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section11">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'MARITIMEは効果がある？口コミ・評判は？'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_13'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section12">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '睡眠の質改善に'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_14'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section13">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '日本製で安心'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_15'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section14">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '飲みやすいCBDウォーター'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_16'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section14">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '効果の感じ方'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.maritime_text_17'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>

    </section>
    {#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}