{% extends 'default_frame.twig' %}

{% block main %}

<a href="https://maritime-cbd.com/products/list?category_id=1" style="text-decoration: none;">
<table width="100%" border="0" cellpadding="0" align="centre">
  <tbody>
<link rel="stylesheet" href="https://www.rakuten.ne.jp/gold/b-goemon/ectool/all_style.css" media="all">
<div align="center"><div class="ectoolwrapper b-goemon_slider_49"><iframe loading=lazy src="https://www.rakuten.ne.jp/gold/b-goemon/ectool/slider/49/design.html" scrolling="no" frameborder="0" style="min-width: 100%;width: 1px;*width: 100%;height:100%;"></iframe></div></div>
	    <tr align="center">
      <td><img loading=lazy src="{{ asset('assets/img/landingpage/maritime-choice.jpg', 'user_data') }}" width="1020" height="662" alt="マリタイムCBDオイルの特徴 エクストラバージンオリーブオイルを使った天然由来CBDオイル" /></td>
    </tr>
	  	    <tr align="center">
      <td align="center"><img loading=lazy src="{{ asset('assets/img/landingpage/maritime-choice-02.jpg', 'user_data') }}" width="1020" height="352" alt="クーポンコードJAPANLPで10%の割引！" /></td>
    </tr>
    <tr align="center">
      <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/imgrc0086912006.jpg" width="1020" height="329" alt="マリタイムCBDオイルの特徴　エネルギッシュに生活したい" /></td>
    </tr>
    <tr align="center">
      <td align="center"><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/imgrc0086912005.jpg" width="1020" height="511" alt="マリタイムCBDオイルの特徴　十分な睡眠を取りたい" /></td>
    </tr>
    <tr align="center">
      <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/imgrc0086912004.jpg" width="1020" height="410" alt="マリタイムCBDオイルの特徴　ストレスを解消したい" /></td>
    </tr>
	     <tr align="center">
      <td align="center"><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/maritime-rakuten-00.jpg" width="1020" height="522" alt="マリタイムCBDオイルの特徴　高純度９９％以上のCBDを使用、THCフリーです" /></td>
    </tr>
	  <tr align="center">
   <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/maritime-rakuten-01.jpg" width="1020" height="623" alt="マリタイムCBDオイルの特徴　正真正銘メイドインジャパンのCBDオイルです" /></td>
    </tr>
	  	   <tr align="center">
         <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/imgrc0086912009.jpg" width="1020" height="842" alt="MARITIMEで取り扱っているすべての商品は、日本の法律に厳守し正式な許可を得て販売しています。" /></td>
    </tr>
	  	  	   <tr align="center">
	  	     <td align="center"><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/imgrc0087160320.jpg" width="1020" height="795" alt="MARITIMECBDは多くの方からご好評をいただいています" /></td>
    </tr>
	  	  	   <tr align="center">
	  	     <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/imgrc0087160322.jpg" width="1020" height="702" alt="MARITIMECBD摂取量の目安について" /></td>
	</tr></tbody></table>
<!----  FAQテーブルここから ---->
<table width="100%" border="0" cellpadding="5" align="center" cellspacing="1" bgcolor="#C5BBAF" style="font-size:1.2rem; line-height:1.6; max-width:1020px;">
  <tr>
    <td width="20" bgcolor="#FFFFFF">CBDオイルのよくある質問（FAQ）</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">CBDとは？</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">大麻草やヘンプに含まれる成分カンナビノイド(Cannabinoids)少なくとも113以上の成分の中の一つでCBD(Cannabidiol)カンナビジオールです。CBDが注目され出したのは2012年頃でその10年以上前からCBDが持つ可能性に期待が集まりました。法律で禁止されているTHC(TetrahydroCannabinol)テトラヒドロカンナビノールもその中の一つで「ハイ」になる成分として有名です。CBDは安全性が非常に高く、副作用がないと報告されています。<br>
      CBDが持つ可能性は非常に幅広く一つの化合物でありながら驚くほどさまざまなオプションを提供することが報告されています。</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">使用方法は？</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">CBDオイルの摂取方法は経口摂取になりますので口から飲みます。その際、舌（した）の裏側に垂らすことにより口腔内の粘膜より吸収されて毛細血管に直接浸透していきます。また、少しの間（90秒程度）「舌の裏側に留める」ことで摂取効率を高めることができます。</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">CBDって大丈夫なの？</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">当社のCBD製品(MARITIME)は安全です。日本の法律で禁止されているのは麻のTHCといわれる成分でCBDの成分自体に何の問題もなく、厚生労働省のすべての検査項目において許可を得て販売しています。</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">濃度(％)の違いは？</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">濃度が高いほうがより多くのCBDを含んでいます。効果を実感する濃度には個人差がありますので、摂取量は少量から始めて、徐々に増やしていくことをお勧めします。</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">なぜ、エクストラバージンオリーブオイルですか？</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><p>MARITIMEが使用するエキストラバージンオリーブオイルの主成分は不飽和脂肪酸のオレイン酸77.3%でポリフェノールも多く含み美容と健康に良いとされています。口に含んでみると爽やかに広がるオリーブの新鮮な香りと味は空気の澄んだ広大なオリーブ畑を連想させます多少の辛味苦味がありますがそれがポリフェノールです脂っぽさはありません。まさにオリーブのフレッシュジュースで私たちはそこにこだわりました。</p></td>
  </tr>
</table>
<!--  FAQテーブルここまで     -->
	<table width="100%" border="0" cellpadding="0" align="centre"><tbody>
    <tr align="center">
      <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/cbd-how-to-take-01.jpg" width="1020" height="607" alt="MARITIME飲み方。瓶を軽く振ってから、CBDオイルを舌の裏側に数滴垂らし、90秒ほどそのままにした上で飲み込んでください。" /></td>
    </tr>
    <tr align="center">
      <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/cbd-how-to-take-02.jpg" width="1020" height="444" alt="MARITIME飲み方。カンナビノイド受容体に届いて筋肉が緩み、鎮静した状態になります。前向きに、若々しく送ることができるサプリメントです。" /></td>
    </tr>
    <tr align="center">
      <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/cbd-how-to-take-03.jpg" width="1020" height="444" alt="MARITIME飲み方。安心、安全、そして続けて飲みやすいものをご提供するために、最高級スペイン産エクストラバージンオリーブオイルとCBD成分を混ぜています。" /></td>
			  	   <tr align="center">
      <td><img loading=lazy src="{{ asset('assets/img/landingpage/maritime-choice-02.jpg', 'user_data') }}" width="1020" height="352" alt="クーポンコードJAPANLPで10%の割引！" /></td>
    </tr>
    </tr>
 </tbody></table>
<!----  詳細テーブルここから ---->
<table width="100%" border="0" cellpadding="5" cellspacing="1" align="center" bgcolor="#C5BBAF" style="font-size:1.2rem; line-height:1.6; max-width:1020px;">
  <tr>
    <td bgcolor="#F3EFED">ブランド名</td>
    <td bgcolor="#FFFFFF"><p>MARITIME （マリタイム）</p></td>
  </tr>
  <tr>
    <td width="20%" bgcolor="#F3EFED">商品名</td>
    <td bgcolor="#FFFFFF">CBDオイル、CBDウォーター</td>
  </tr>
  <tr>
    <td width="20%" bgcolor="#F3EFED">内容量</td>
    <td bgcolor="#FFFFFF">CBDオイル （10ml または 30ml）、　CBDウォーター（500ml)</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">特徴</td>
    <td bgcolor="#FFFFFF">高純度99.5%以上のCBDを使用しています。国内生産にこだわった、「高品質」かつ「安心・信頼」の日本製CBDオイルをお届けしたいと願いを込めて作ったサプリメントです。THCは100％入っていません。<br>
    <br>
    <p>こんな方にMARITIMEをおススメします。</p>
    <p>Sleep 十分な睡眠を取りたい<br>
      CBDと睡眠の相性は良いとされ、CBDを摂取することによりカンナビノイド受容体に届いて筋肉が緩み、リラックスして鎮静した状態へと導かれます。そうすると導入部分から、質の高い睡眠へ導くことができます。精神の安定やリラックス効果もCBDによって得られると報告されています。</p>
    <p>Energetic　エネルギッシュに生活したい<br>
      CBDは日々の生活をエネルギッシュに、前向きに、若々しく送ることができるサプリメントです。</p>
    <p>Stress ストレスを解消したい<br>
    CBDに含まれる「カンナビノイド」という成分には、人間のシエ名を維持するのに必要不可欠な恒常性を維持する機能があり、これを「エンド・カンナビノイド・システム（ECS）」と呼びます。このECSがストレスによってたかぶった感情や精神を鎮めてくれ、心身ともに正常な状態となり（恒常性の維持）、結果的に「リラックス効果」が得られると報告されています。はじめての方から用途に合わせて５タイプの濃度からお選びください。常に健康に気を配りたい方へのサブスク（定期購買）システムにも対応しています。</p>
    <p>1% &#160;はじめての方に　<br>
    2% &#160;はじめての方と薄めがいい方　<br>
    3% &#160;一番人気があり MARITIMEお勧め商品です　<br>
    5% &#160;実感がなく少し物足りない方　　<br>
    10% 高濃度がほしい方</p></td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">保存方法</td>
    <td bgcolor="#FFFFFF">直射日光、高温多湿を避け必ず立てた状態で涼しいところで保存してください。</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">お召し上がり方</td>
    <td bgcolor="#FFFFFF">適量を付属スポイトで直接か、スプーン等に取りお召し上がりください。90秒程度口内に留めてから飲み込むことをおすすめいたします。使用する前に瓶を振ってください。</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">注意</td>
    <td bgcolor="#FFFFFF">処方薬を飲んでいる場合は、使用する前に、医師に相談してください。妊娠中または妊娠を考えている方、授乳中の方は医師に相談してください。お子様の手の届かない所に保管してください。<br>
      体調や体質に合わない場合は、使用をお控えください。<br>
    本品は、疾病の診断、治療、予防を目的としたものではありません。</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">原材料名</td>
    <td bgcolor="#FFFFFF">エクストラバージンオリーブオイル、CBDオイル</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">区分</td>
    <td bgcolor="#FFFFFF">食品</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">原産国</td>
    <td bgcolor="#FFFFFF">アメリカ　スペイン</td>
  </tr>
  <tr>
    <td bgcolor="#F3EFED">製造国</td>
    <td bgcolor="#FFFFFF">日本</td>
  </tr>
</table>
<!--  ここまで     -->
<table width="100%" border="0" cellpadding="0" align="centre"><tbody>
  	  <tr align="center">
      <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/rakuten-04.jpg" width="1020" height="834" alt="オーナーからMARITIME開発に至るまで" /></td>
    </tr>
    <tr align="center">
      <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/rakuten-06.jpg" width="1020" height="623" alt="マリタイムCBDオイルの特徴" /></td>
	  </tr>  	    
	 <tr align="center">
      <td><img loading=lazy src="{{ asset('assets/img/landingpage/maritime-choice-02.jpg', 'user_data') }}" width="1020" height="352" alt="クーポンコードJAPANLPで10%の割引！" /></td>
    </tr>
	      <tr align="center">
      <td><img loading=lazy src="https://image.rakuten.co.jp/b-goemon/cabinet/maritime/rakuten-footer.jpg" width="1020" height="171" alt="マリタイムCBDオイルの特徴" /></td>
    </tr>	
  </tbody>
</table></a>
    {#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}