{% extends 'default_frame.twig' %}

{% block main %}

	<section class="p-help">

		<div class="p-help__heading">
			<h1 class="c-page-title">
				<span class="c-page-title__text">{{ '代理店募集'|trans }}</span>
			</h1>
		</div>

		<div class="p-help__contents">
			{#<p class="p-help__description">{{ '代理店募集'|trans }}</p>#}
			<div class="p-help__guide">
				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">{{ '日本製　CBD製品「MARITIME マリタイム」'|trans }}</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<p>{{ 'front.partner_text_1'|trans|nl2br }}</p>
								<p>{{ 'front.partner_text_2'|trans|nl2br }}</p>
								<br>
								<div class="dairiten_gallery">
								<img loading=lazy src="{{ asset('assets/img/partner/maritime_all_products_case.jpeg', 'user_data') }}" alt="{{ 'MARITIMEの全商品'|trans }}" />
								{# <img loading=lazy src="{{ asset('assets/img/partner/maritime_water_product_case.jpeg', 'user_data') }}" alt="{{ 'MARITIMEのウォーター商品'|trans }}" /> #}
								<img loading=lazy src="{{ asset('assets/img/partner/maritime_all_oil_products.jpeg', 'user_data') }}" alt="{{ 'MARITIMEの全オイル商品'|trans }}" />
								</div>
								<p>{{ 'front.partner_text_4'|trans|nl2br }}</p>
								<p>{{ 'front.partner_text_5'|trans|nl2br }}</p>
								<img loading=lazy src="{{ asset('assets/img/partner/medyfine_logo_qr.png', 'user_data') }}" alt="{{ 'MedyFine Co.Ltd.'|trans }}" />
								<p>{{ 'front.partner_text_6'|trans|nl2br }}</p>
								<p>{{ 'front.partner_text_3'|trans|nl2br }}</p>
								<hr/>
								<div class="c-form__actions">
									<div class="c-form__actions-item dairiten-apply">
										<a class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url("partner_entry")}}">
											<span class="c-button__label mdc-button__label">{{ '代理店のお問い合わせ'|trans }}</span>
										</a>
									</div>
								</div>
								<hr/>
								<p>{{ 'front.partner_text_7'|trans|nl2br }}</p>
								<img loading=lazy src="{{ asset('assets/img/partner/cbd_market_projection.png', 'user_data') }}" alt="{{ 'CBD Market Projection'|trans }}" />
								<p>{{ 'front.partner_text_8'|trans|nl2br }}</p>
								<img loading=lazy src="{{ asset('assets/img/partner/cbdoil_trends.png', 'user_data') }}" alt="{{ 'CBD Market Projection'|trans }}" />
								<p>{{ 'front.partner_text_9'|trans|nl2br }}</p>
								<p>{{ 'front.partner_text_10'|trans|nl2br }}</p>
								{# <img loading=lazy src="{{ asset('assets/img/partner/water_oil.png', 'user_data') }}" alt="{{ 'MARITIMEの全商品'|trans }}" /> #}
								<p>{{ 'front.partner_text_11'|trans|nl2br }}</p>
								<p>{{ 'front.partner_text_12'|trans|nl2br }}</p>
								{# <img loading=lazy src="{{ asset('assets/img/partner/oil_water_all.png', 'user_data') }}" alt="{{ 'MARITIMEの全商品'|trans }}" /> #}
								<p>{{ 'front.partner_text_13'|trans|nl2br }}</p>
								<img loading=lazy src="{{ asset('assets/img/partner/cannabidiol.png', 'user_data') }}" alt="{{ 'CBD Cannabidiol'|trans }}" />
								<p>{{ 'front.partner_text_14'|trans|raw|nl2br }}</p>
								<div class="dairiten_gallery">
									<a class="" href="https://item.rakuten.co.jp/b-goemon/c/0000000332/" target="_blank">
										<img loading=lazy src="{{ asset('assets/img/rakuten_logo.png', 'user_data') }}" alt="{{ '楽天'|trans }}" >
									</a>
									{#
									<a class="" href="https://www.amazon.co.jp/s?me=A3CZRCIVT3BD2F&marketplaceID=A1VC38T7YXB528" target="_blank">
										<img loading=lazy src="{{ asset('assets/img/amazon_logo.png', 'user_data') }}" alt="{{ 'アマゾン'|trans }}" >
									</a>
									#}
									<a class="" href="https://store.shopping.yahoo.co.jp/b-goemon/maritimecb.html" target="_blank">
										<img loading=lazy src="{{ asset('assets/img/yahoo_shopping_logo.png', 'user_data') }}" alt="{{ 'Yahoo!ショッピング'|trans }}" >
									</a>
								</div>
								<p>{{ 'MARITIME商品の紹介と詳しい資料（PDF）はこちらからダウンロードください。'|trans }}</p>
								<p>→ <a href="{{ asset('assets/img/partner/Maritime-introduction.pdf', 'user_data') }}" target="_blank">{{ 'MARITIME商品の紹介(PDF)'|trans }}</a></p>
								<p>{{ '是非一度お問い合わせ下さい。お待ちしております。'|trans }}</p>
								<br>
								<p>{{ 'front.partner_text_3'|trans|nl2br }}</p>
								<hr/>
								<div class="c-form__actions">
									<div class="c-form__actions-item dairiten-apply">
										<a class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url("partner_entry")}}">
											<span class="c-button__label mdc-button__label">{{ '代理店のお問い合わせ'|trans }}</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</dd>
				</dl>
			</div>
		</div>

	</section>
	{#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}