{% extends 'default_frame.twig' %}

{% block main %}

<section class="p-help p-article">

    <div class="p-help__heading">
        <img loading=lazy src="{% if app.request.locale == "ja" %}{{ asset('assets/img/articles/maritime-safety.jpg', 'user_data') }}{% else %}{{ asset('assets/img/articles/maritime-safety-eng.jpg', 'user_data') }}{% endif %}" alt="{{ 'MARITIMEの安心・安全への取り組み'|trans }}" />
        <h1 class="c-page-title">
            <span class="c-page-title__text">{{ 'MARITIMEのCBD商品の安全性について'|trans }}</span>
        </h1>
    </div>

    <div class="p-help__contents">
        <p class="p-help__description">{{ 'front.safety_text_1'|trans|nl2br }}</p>

        <h2 class="p-help__guide-parts-label-text">{{ 'MARITIMEの製品は日本の法律に準拠し販売許可を受けています'|trans }}</h2>
        <p>{{ 'front.safety_text_2'|trans|nl2br }}</p>

        <h2 class="p-help__guide-parts-label-text">{{ '安全性と品質保証を確認する第三者機関の検査を受けています'|trans }}</h2>
        <img loading=lazy src="{{ asset('assets/img/analysis/isolate_COA.png', 'user_data') }}" width="595" height="842" alt="{{ 'MARITIMEのCBDアイソレート'|trans }}" />
        {#
        <img loading=lazy src="{{ asset('assets/img/analysis/3000-30.jpg', 'user_data') }}" width="595" height="842" alt="{{ 'MARITIMEのCBDオイルの成分分析表（THC0%）'|trans }}" />
        <img loading=lazy src="{{ asset('assets/img/analysis/100-10.jpg', 'user_data') }}" width="595" height="842" alt="{{ 'MARITIMEのCBDオイルの成分分析表（THC0%）'|trans }}" />
        #}
        <p>{{ 'front.safety_text_3'|trans|nl2br }}</p>
        <div class="c-form__actions">
            <div class="c-form__actions-item">
                <a class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" href="{{ url(eccube_config.eccube_user_data_route, {"route": "analysis"}) }}">
                    <span class="c-button__label mdc-button__label">{{ '詳細はこちら'|trans|nl2br }}</span>
                </a>
            </div>
        </div>
    </div>
 </section>
    {#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}