{% extends 'default_frame.twig' %}

{% block main %}
    <section class="p-help">
        <div class="p-help__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ '取り扱い店舗一覧'|trans }}</span>
            </h1>
        </div>
        <div class="p-help__contents">
            <div class="store-locator">
                <div class="storepoint-panel">
                    <div class="storepoint-location">
                        <div class="store-name">ブランドショップGOEMON</div>
                        <div>兵庫県神戸市中央区元町通4-1-13 ボンニー元町ビル102号 <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.731608886972!2d135.18175251523175!3d34.686722680438045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60008f03035151db%3A0x8a88725332b5d12f!2z44OW44Op44Oz44OJ44K344On44OD44OXR09FTU9O772c44Oe44Oq44K_44Kk44OgQ0JE6LKp5aOy5bqX!5e0!3m2!1sen!2sjp!4v1604302288609!5m2!1sen!2sjp">search</i></div>
                        <div><a href="tel:0783621144">TEL: 078-362-1144</a></div>
                    </div>
                    <div class="storepoint-location">
                        <div class="store-name">IKUKO新宿店</div>
                        <div>東京都新宿区富久町8-25 1F <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d810.1046532269493!2d139.71759422926158!3d35.69131498796972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ceee91db93d%3A0x87b5034872f5847b!2s1F%2C%208-25%20Tomihisach%C5%8D%2C%20Shinjuku%20City%2C%20Tokyo%20162-0067!5e0!3m2!1sen!2sjp!4v1604627953974!5m2!1sen!2sjp">search</i></div>
                        <div><a href="tel:0364278378">TEL: 03-6427-8378</a></div>
                    </div>
                    <div class="storepoint-location">
                        <div class="store-name">IKUKO府中店</div>
                        <div>東京都府中市宮町1-100 ル・シーニュ４F <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.208859066327!2d139.47727901585267!3d35.67185893809205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018e4fad70f7de3%3A0x949a11f063b72c7d!2zSUtVS08g5bqc5Lit5bqX!5e0!3m2!1sen!2sjp!4v1604628061273!5m2!1sen!2sjp">search</i></div>
                        <div><a href="tel:0423701337">TEL: 042-370-1337</a></div>
                    </div>
                    <div class="storepoint-location">
                        <div class="store-name">IKUKO横浜店＆岩盤痩身ROCHE店</div>
                        <div>神奈川県横浜市都筑区中川中央1-30-1 プレミアヨコハマ５F <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.947011038891!2d139.57705291585074!3d35.555010844490106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f638195edab5%3A0x9c56800f59abf444!2sIKUKO!5e0!3m2!1sen!2sjp!4v1604628305589!5m2!1sen!2sjp">search</i></div>
                        <div><a href="tel:0455329591">TEL: 045-532-9591</a></div>
                    </div>
                    <div class="storepoint-location">
                        <div class="store-name">IKUKO津田沼店</div>
                        <div>千葉県習志野市谷津7-7-1 Loharu津田沼 1F <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.443730146602!2d140.0161661158531!3d35.690696737059014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60187f8a05772437%3A0x18b6499b9a653bf0!2sLoharu%20Tsudanuma!5e0!3m2!1sen!2sjp!4v1604628970665!5m2!1sen!2sjph">search</i></div>
                        <div><a href="tel:0474052590">TEL: 047-405-2590</a></div>
                    </div>
                    <div class="storepoint-location">
                        <div class="store-name">IKUKO名古屋店</div>
                        <div>愛知県名古屋市中区丸の内2-15-20-302 <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.290455112989!2d136.8965756158448!3d35.17431256521156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600376d40e31f8fd%3A0x648983db76b6f7e9!2s2-ch%C5%8Dme-15-20%20Marunouchi%2C%20Naka%20Ward%2C%20Nagoya%2C%20Aichi%20460-0002!5e0!3m2!1sen!2sjp!4v1604629122181!5m2!1sen!2sjp">search</i></div>
                        <div><a href="tel:0528877027">TEL: 052-887-7027</a></div>
                    </div>
                    <div class="storepoint-location">
                        <div class="store-name">IKUKO武蔵小金井</div>
                        <div>東京都小金井市本町6-2-30 SOCOLA武蔵小金井クロス３F <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.0872093337293!2d139.50329431585308!3d35.69947148657761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018e5d2d47be483%3A0xa1dcf2b89b2ebe7!2sSocola%20Musashi-Koganei%20Cross!5e0!3m2!1sen!2sjp!4v1604629716003!5m2!1sen!2sjp">search</i></div>
                        <div><a href="tel:0424012234">TEL: 042-401-2234</a></div>
                    </div>
                    <div class="storepoint-location">
                        <div class="store-name">DERE-DIR face</div>
                        <div>兵庫県神戸市東灘区西岡本2丁目42-12 パークスクエア岡本アネックスプラザ <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.2260090323593!2d135.26351501583818!3d34.724697089439104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60008cf913c304b5%3A0x3a29336459a8c278!2zREVSRS1ESVIgZmFjZeOAjOODh-ODrOODh-OCo-ODvOODq-ODleOCoeOCueOAjQ!5e0!3m2!1sen!2sjp!4v1604629883177!5m2!1sen!2sjp">search</i></div>
                        <div><a href="tel:0784350961">TEL: 078-435-0961</a></div>
                    </div>
                    <div class="storepoint-location">
                        <div class="store-name">SWEET HEART BALLOON</div>
                        <div>京都府京都市上京区三芳町163-2 <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3267.0961169893117!2d135.76711531584283!3d35.02932527305321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60010867d82f0def%3A0x6def67eead88b590!2sSweet%20Heart%20Balloon!5e0!3m2!1sen!2sjp!4v1604630113367!5m2!1sen!2sjp">search</i></div>
                        <div><a href="tel:0757464717">TEL: 075-746-4717</a></div>
                    </div>
                    <div class="storepoint-location">
                        <div class="store-name">DERE-DIR marque</div>
                        <div>大阪府河内長野市錦町1-21 <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.988614315013!2d135.56545211583412!3d34.45243690398049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000d5cc1d158961%3A0x33eb7fe2b37fbbbf!2s1-21%20Nishikich%C5%8D%2C%20Kawachinagano%2C%20Osaka%20586-0031!5e0!3m2!1sen!2sjp!4v1604630292898!5m2!1sen!2sjp">search</i></div>
                        <div><a href="tel:0721707712">TEL: 072-170-7712</a></div>
                    </div>
                    <div class="storepoint-location">
                        <div class="store-name">Roots Auto</div>
                        <div>愛知県豊明市西川町笹原７―８ <i class="b-header__utility-search-icon material-icons store-address" data-map-uri="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3266.0040365481223!2d137.00941161524182!3d35.05663818034463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeff711a8b3cc247b!2z77yy772P772P772U772TIO-8oe-9le-9lO-9jyDjg6vjg7zjg4Tjgqrjg7zjg4g!5e0!3m2!1sen!2sjp!4v1617250167960!5m2!1sen!2sjp">search</i></div>
                        <div><a href="tel:00669702815">TEL: 0066-9702-8158</a></div>
                    </div>
                </div>
                <div id="mapboxgl-map" class="mapboxgl-map">
                    <!-- google map -->
                    <iframe loading=lazy src="https://www.google.com/maps/d/embed?mid=1udDPNWM0f2Hj8_BNtgY0rlskNaGHZ_uw" width="100%" height="700" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>
    <script>
        var nodelist = document.querySelectorAll('.store-address');
        var targetList = Array.prototype.slice.call(nodelist, 0);
        var map_div = document.querySelector('.mapboxgl-map');
        var map_iframe = map_div.getElementsByTagName("iframe");
        map_iframe = map_iframe[0];

        targetList.forEach(function (target) {
            target.addEventListener('click', function (e) {
                if(target.dataset.mapUri && target.dataset.mapUri.indexOf("www.google.com/maps") != -1){
                    var header_height = document.getElementById('js-top-app-bar').offsetHeight;
                    var map_y = document.getElementById('mapboxgl-map').getBoundingClientRect().top;
                    var list_y = document.querySelector('.storepoint-panel').getBoundingClientRect().top;
                    if(map_y != list_y) {
                        scrollTo(0,map_y + window.pageYOffset - header_height);
                    }
                    map_iframe.setAttribute('src', target.dataset.mapUri);
                }
            });
        });
    </script>
    {#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}