{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-help p-article">

        <div class="p-help__heading">
            <img loading=lazy src="{{ asset('assets/img/articles/what_is_cbd_oil.jpeg', 'user_data') }}" alt="{{ 'CBDとは'|trans }}" />
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'CBDオイルとは？'|trans }}</span>
            </h1>
        </div>

        <div class="p-help__contents">
            <p class="p-help__description">{{ 'front.what_is_cbd_oil_text_1'|trans|nl2br }}</p>
            <div class="p-help__guide">

                <div class="article-summary">
                    <p class="article-summary--title">{{'目次'|trans}}</p>
                    <a href="#section1"><div class="article-h2">{{'CBDオイルとは'|trans}}</div></a>
                    <a href="#section2"><div class="article-h2">{{'CBDオイルの摂取方法'|trans}}</div></a>
                    <a href="#section3"><div class="article-h2">{{'CBDオイルの種類'|trans}}</div></a>
                    <a href="#section4"><div class="article-h2">{{'MARITIME CBDオイルのラインナップと選び方'|trans}}</div></a>
                    <a href="#section5"><div class="article-h3">{{'MARITIME CBDオイルの特徴'|trans}}</div></a>
                    <a href="#section6"><div class="article-h2">{{'CBDオイルをこれから始める方へ'|trans}}</div></a>
                </div>


                <dl class="p-help__guide-parts u-dl-sanitize" id="section1">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDオイルとは'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/what-is-cbd-oil.jpeg', 'user_data') }}" alt="{{ 'CBDオイルとは'|trans }}" />
                                <p>{{ 'front.what_is_cbd_oil_text_2'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section2">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'CBDオイルの摂取方法'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_oil_text_4'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section3">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'CBDオイルの種類'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_oil_text_5'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section4">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'MARITIME CBDオイルのラインナップと選び方'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_oil_text_6'|trans|nl2br }}</p>
                                <br>
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="text-left"></th>
                                        <th class="text-left">{{'CBD商品名'|trans}}</th>
                                        <th class="text-left">{{'CBD濃度'|trans}}&nbsp;</th>
                                        <th class="text-left">{{'CBD含有量'|trans}}&nbsp;</th>
                                        <th class="text-left">{{'価格（税込）'|trans}}</th>
                                        <th class="text-left">{{'おすすめポイント'|trans}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-100.png', 'user_data') }}" alt="{{ 'CBD 100 1%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 9}) }}">{{'MARITIME CBDオイル 10ml (1%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>1%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>100mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥3,240</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'はじめての方のCBD濃度1%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-200.png', 'user_data') }}" alt="{{ 'CBD 200 2%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 8}) }}">{{'MARITIME CBDオイル 10ml (2%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>2%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>200mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥4,860</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'はじめての方と薄めがいい方のCBD濃度2%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-300.png', 'user_data') }}" alt="{{ 'CBD 300 3%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 7}) }}">{{'MARITIME CBDオイル 10ml (3%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>3%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>300mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥6,800</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'一番人気のCBD濃度3%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-500.png', 'user_data') }}" alt="{{ 'CBD 500 5%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 6}) }}">{{'MARITIME CBDオイル 10ml (5%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>5%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>500mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥7,800</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'少し高めの濃度を試してみたい方向けのCBD濃度5%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-1000.png', 'user_data') }}" alt="{{ 'CBD 1000 10%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 5}) }}">{{'MARITIME CBDオイル 10ml (10%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>10%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>1000mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥9,801</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'高濃度をお求めの方のCBD濃度10%'|trans}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>
                                <p>{{ 'front.what_is_cbd_oil_text_7'|trans({'%cbdintakeURL%': url(eccube_config.eccube_user_data_route, {"route": "cbd_intake"})})|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section5">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'MARITIME CBDオイルの特徴'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_oil_text_8'|trans({'%analysisURL%': url(eccube_config.eccube_user_data_route, {"route": "analysis"})})|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section6">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'CBDオイルをこれから始める方へ'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_oil_text_9'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

            </div>
        </div>

    </section>
    {#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}