{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-help p-article">

        <div class="p-help__heading">
            <img loading=lazy src="{{ asset('assets/img/articles/what-is-cbd-water.jpeg', 'user_data') }}" alt="{{ 'CBDウォーターとは'|trans }}" />
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'CBDウォーターとは｜日本で合法？効果や口コミを紹介'|trans }}</span>
            </h1>
        </div>

        <div class="p-help__contents">
            <p class="p-help__description">{{ 'front.what_is_cbd_water_text_1'|trans|nl2br }}</p>
            <div class="p-help__guide">

                <div class="article-summary">
                    <p class="article-summary--title">{{'目次'|trans}}</p>
                    <a href="#section1"><div class="article-h2">{{'CBDウォーターとは'|trans}}</div></a>
                    <a href="#section2"><div class="article-h3">{{'CBDとは'|trans}}</div></a>
                    <a href="#section3"><div class="article-h3">{{'CBDウォーターは合法？'|trans}}</div></a>
                    <a href="#section4"><div class="article-h2">{{'CBDウォーターに期待される効果'|trans}}</div></a>
                    <a href="#section5"><div class="article-h2">{{'CBDウォーターの口コミや評判'|trans}}</div></a>
                    <a href="#section6"><div class="article-h3">{{'ハワイでCBDウォーターが人気'|trans}}</div></a>
                    <a href="#section7"><div class="article-h2">{{'CBDウォーターの摂取目安量は？'|trans}}</div></a>
                    <a href="#section8"><div class="article-h2">{{'CBDウォーターが日本で購入できるショップ'|trans}}</div></a>
                </div>


                <dl class="p-help__guide-parts u-dl-sanitize" id="section1">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDウォーターとは'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/cbd-water-bottle-straw.jpeg', 'user_data') }}" alt="{{ 'CBDウォーター'|trans }}" />
                                <p>{{ 'front.what_is_cbd_water_text_2'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section2">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'CBDとは'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_water_text_3'|trans({'%cbdURL%': url(eccube_config.eccube_user_data_route, {"route": "what-is-cbd"})})|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section3">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'CBDウォーターは合法？'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/is-cbd-legal-in-japan.jpeg', 'user_data') }}" alt="{{ 'CBDは日本で合法?'|trans }}" />
                                <p>{{ 'front.what_is_cbd_water_text_4'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section4">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDウォーターに期待される効果'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_water_text_5'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section5">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDウォーターの口コミや評判'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_water_text_6'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section6">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ 'ハワイでCBDウォーターが人気'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_water_text_7'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section7">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDウォーターの摂取目安量は？'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_water_text_8'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section8">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDウォーターが日本で購入できるショップ'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_water_text_9'|trans({'%cbdwaterURL%': url('product_detail', {'id': 4}), '%cbdwatersetURL%' : url('product_detail', {'id': 15}) })|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

            </div>
        </div>

    </section>
    {#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}