{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-help p-article">

        <div class="p-help__heading">
            <img loading=lazy src="{{ asset('assets/img/articles/what_is_cbd.jpeg', 'user_data') }}" alt="{{ 'CBDとは'|trans }}" />
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'CBDとは？'|trans }}</span>
            </h1>
        </div>

        <div class="p-help__contents">
            <p class="p-help__description">{{ 'front.what_is_cbd_text_1'|trans|nl2br }}</p>
            <div class="p-help__guide">

                <div class="article-summary">
                    <p class="article-summary--title">{{'目次'|trans}}</p>
                    <a href="#section1"><div class="article-h2">{{'CBDとは'|trans}}</div></a>
                    <a href="#section2"><div class="article-h2">{{'CBDは日本で合法？'|trans}}</div></a>
                    <a href="#section3"><div class="article-h3">{{'日本の法律で違法になる大麻の定義'|trans}}</div></a>
                    <a href="#section4"><div class="article-h3">{{'日本で大麻は歴史的に利用されてきた'|trans}}</div></a>
                    <a href="#section5"><div class="article-h2">{{'CBDとTHCの違いとは'|trans}}</div></a>
                    <a href="#section6"><div class="article-h3">{{'麻、大麻草、ヘンプ、マリファナの違いは？'|trans}}</div></a>
                    <a href="#section7"><div class="article-h2">{{'CBDの副作用や依存性'|trans}}</div></a>
                    <a href="#section8"><div class="article-h2">{{'CBDに関する研究'|trans}}</div></a>
                    <a href="#section9"><div class="article-h2">{{'エンドカンナビノイドシステム(ECS)とは'|trans}}</div></a>
                    <a href="#section10"><div class="article-h2">{{'CBDオイル・ウォーター製品'|trans}}</div></a>
                    <a href="#section11"><div class="article-h2">{{'CBDを日本で購入する注意点'|trans}}</div></a>
                    <a href="#section12"><div class="article-h2">{{'海外での大麻・CBDの取り扱い'|trans}}</div></a>
                    <a href="#section13"><div class="article-h3">{{'医薬品として承認されているCBD'|trans}}</div></a>
                    <a href="#section14"><div class="article-h3">{{'日本でのCBDの扱い'|trans}}</div></a>
                    <a href="#section15"><div class="article-h2">{{'CBDオイル販売店MARITIMEの特徴'|trans}}</div></a>
                    <a href="#section16"><div class="article-h2">{{'参考文献'|trans}}</div></a>
                </div>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section1">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDとは'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/what-is-cbd.jpeg', 'user_data') }}" alt="{{ 'CBDとは'|trans }}" />
                                <p>{{ 'front.what_is_cbd_text_2'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section2">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDは日本で合法？'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/is-cbd-legal-in-japan.jpeg', 'user_data') }}" alt="{{ 'CBDは日本で合法?'|trans }}" />
                                <p>{{ 'front.what_is_cbd_text_3'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section3">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '日本の法律で違法になる大麻の定義'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_4'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section4">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '日本で大麻は歴史的に利用されてきた'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_5'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section5">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDとTHCの違いとは'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <img loading=lazy src="{{ asset('assets/img/articles/cbd-vs-thc.jpeg', 'user_data') }}" alt="{{ 'CBDとTHCの違いとは'|trans }}" />
                                <p>{{ 'front.what_is_cbd_text_7'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section6">
                    <dt class="p-help__guide-parts-label">
                        <h3 class="p-help__guide-parts-label-text">{{ '麻、大麻草、ヘンプ、マリファナの違いは？'|trans }}</h3>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_8'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section7">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDの副作用や依存性'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_9'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                
                <dl class="p-help__guide-parts u-dl-sanitize" id="section8">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDに関する研究'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_15'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                
                <dl class="p-help__guide-parts u-dl-sanitize" id="section9">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'エンドカンナビノイドシステム(ECS)とは'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_16'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section10">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDオイル・ウォーター製品'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
{#                              <img loading=lazy src="{{ asset('assets/img/partner/oil_water_all.png', 'user_data') }}" alt="{{ 'MARITIMEの全商品'|trans }}" /> #}
                                <br>
                                <br>
                                <p>{{ 'front.what_is_cbd_text_10'|trans|nl2br }}</p>
                                <br>
                                <table>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-left">{{'CBD商品名'|trans}}</th>
                                        <th class="text-left">{{'CBD濃度'|trans}}&nbsp;</th>
                                        <th class="text-left">{{'CBD含有量'|trans}}&nbsp;</th>
                                        <th class="text-left">{{'価格（税込）'|trans}}</th>
                                        <th class="text-left">{{'おすすめポイント'|trans}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-100.png', 'user_data') }}" alt="{{ 'CBD 100 1%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 9}) }}">{{'MARITIME CBDオイル 10ml (1%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>1%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>100mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥3,240</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'はじめての方のCBD濃度1%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-200.png', 'user_data') }}" alt="{{ 'CBD 200 2%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 8}) }}">{{'MARITIME CBDオイル 10ml (2%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>2%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>200mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥4,860</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'はじめての方と薄めがいい方のCBD濃度2%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-300.png', 'user_data') }}" alt="{{ 'CBD 300 3%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 7}) }}">{{'MARITIME CBDオイル 10ml (3%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>3%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>300mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥6,800</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'一番人気のCBD濃度3%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-500.png', 'user_data') }}" alt="{{ 'CBD 500 5%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 6}) }}">{{'MARITIME CBDオイル 10ml (5%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>5%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>500mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥7,800</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'少し高めの濃度を試してみたい方向けのCBD濃度5%'|trans}}</td>
                                    </tr>
                                    <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-1000.png', 'user_data') }}" alt="{{ 'CBD 1000 10%'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 5}) }}">{{'MARITIME CBDオイル 10ml (10%)'|trans}}</a></td>
                                        <td data-label='{{'CBD濃度'|trans}}:'>10%</td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>1000mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥9,801</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'高濃度をお求めの方のCBD濃度10%'|trans}}</td>
                                    </tr>
{#                                  <tr>
                                        <td><img loading=lazy src="{{ asset('assets/img/articles/CBD-Water.png', 'user_data') }}" alt="{{ 'CBDウォーター'|trans }}" /></td>
                                        <td data-label='{{'CBD商品名'|trans}}:'><a href="{{ url('product_detail', {'id': 4}) }}">{{'MARITIME CBD ウォーター 500ml'|trans}}</a></td>
                                        <td></td>
                                        <td data-label='{{'CBD含有量'|trans}}:'>24mg</td>
                                        <td data-label='{{'価格（税込）'|trans}}:'>￥1,253</td>
                                        <td data-label='{{'おすすめポイント'|trans}}:'>{{'CBDを24mg配合の清涼飲料水'|trans}}</td>
                                    </tr>
#}
                                    </tbody>
                                </table>
                                <br>
                                <p>{{ 'front.what_is_cbd_text_11'|trans({'%cbdintakeURL%': url(eccube_config.eccube_user_data_route, {"route": "cbd_intake"})})|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section11">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDを日本で購入する注意点'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_12'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__guide-parts u-dl-sanitize" id="section12">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ '海外での大麻・CBDの取り扱い'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_13'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                
                <dl class="p-help__guide-parts u-dl-sanitize" id="section13">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ '医薬品として承認されているCBD'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_17'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                
                <dl class="p-help__guide-parts u-dl-sanitize" id="section14">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ '日本でのCBDの扱い'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_18'|trans({'%faqURL%': url(eccube_config.eccube_user_data_route, {"route": "faq"}), '%contactURL%' : url("contact") })|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="section15">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ 'CBDオイル販売店MARITIMEの特徴'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <div class="dairiten_gallery">
                                    <img loading=lazy src="{{ asset('assets/img/partner/maritime_all_products_case.jpeg', 'user_data') }}" alt="{{ 'MARITIMEの全商品'|trans }}" />
                                    {# <img loading=lazy src="{{ asset('assets/img/partner/maritime_water_product_case.jpeg', 'user_data') }}" alt="{{ 'MARITIMEのウォーター商品'|trans }}" /> #}
                                    <img loading=lazy src="{{ asset('assets/img/partner/maritime_all_oil_products.jpeg', 'user_data') }}" alt="{{ 'MARITIMEの全オイル商品'|trans }}" />
                                </div>
                                <br>
                                <br>
                                <p>{{ 'front.what_is_cbd_text_14'|trans({'%analysisURL%': url(eccube_config.eccube_user_data_route, {"route": "analysis"}), '%productlistURL%' : url("product_list") })|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                
                <dl class="p-help__guide-parts u-dl-sanitize" id="section16">
                    <dt class="p-help__guide-parts-label">
                        <h2 class="p-help__guide-parts-label-text">{{ '参考文献'|trans }}</h2>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'front.what_is_cbd_text_19'|trans|raw|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>

    </section>
    {#{{ eccube_block_hs_tracking({ HubId: '20937623' }) }}#}
{% endblock %}