{#
  非ログイン時にカート画面から「レジに進む」ボタンを押した際に表示される画面のPayPal(ショートカット)ボタン
#}
<div class="d-none">
  <div id="paypal-container" class="ec-role">
    <div class="ec-pageHeader">
      <h1>{{ 'paypal.shopping.login.title'|trans }}</h1>
    </div>
    <div class="ec-grid3">
      {{'以下の「PayPal」ボタンをクリックすると、よりスピーディで、より安全に、お支払いが可能になります。'|trans}}<br>
      {{'お届け先もPayPal画面でご指定ください。'|trans}}
    </div>
    <div id="paypal-button-container"></div>
  </div>
</div>

<script src="{{ PayPalCheckout.widget_url }}"></script>
<script lang="js">
  $(function() {
    $('#page_shopping_login > div.ec-layoutRole > div.ec-layoutRole__contents > div.ec-layoutRole__main > div:nth-child(1)')
      .first()
      .before($('#paypal-container'));

    window.paypal.Buttons({
      commit: false,
      style: {
        layout: 'horizontal',
        fundingicons: 'false',
        tagline: false,
        height: 55
      },
      createOrder: function() {
        return new Promise(resolve => {
          $.ajax({
            type: 'POST',
            url: "{{ PayPalCheckout.guest_paypal_shortcut_prepare_transaction_url }}"
          }).then(function (data) {
            const { result } = data;
            resolve(result.id);
          }).catch(function (err) {
            throw new Error(err);
          });
        });
      },
      onApprove: function(data) {
        loadingOverlay();
        $.ajax({
          type: 'POST',
          url: "{{ PayPalCheckout.guest_paypal_order_url }}"
        }).then(function (data) {
          window.location.href = "{{ PayPalCheckout.next_page_url }}"
        });
      },
      onCancel: function(data) {
        console.log(`onCancel ${data}`);
      },
      onError: function(data) {
        console.log(`onError ${data}`);
      }
    }).render('#paypal-button-container');
  });
</script>
