{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

	<section class="p-help">
		{#
		<div class="p-help__heading">
			<h1 class="c-page-title">
				<span class="c-page-title__text">{{ '株式会社メディファイン役員変更のお知らせ'|trans }}</span>
			</h1>
		</div>

		<div class="p-help__contents">
			<p>{{ 'front.director_change_txt'|trans({'%kimpictureURL%': asset('assets/img/company/kim_portrait.jpg', 'user_data') })|raw|nl2br }}</p>
		</div>

		<br>
		#}

		<div class="p-help__heading">
			<h1 class="c-page-title">
				<span class="c-page-title__text">{{ '会社概要'|trans }}</span>
			</h1>
		</div>

		<div class="p-help__contents">

			<div class="p-help__about">
				{% if BaseInfo.shop_name | default is not empty %}
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '店名'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
                            <div class="p-help__about-box">
                                <div class="p-help__about-box-item">
                                    <p class="p-help__about-text">{{ BaseInfo.shop_name }}</p>
                                </div>
                            </div>
                        </dd>
					</dl>
				{% endif %}
				{% if BaseInfo.company_name | default is not empty %}
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '会社名'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
                            <div class="p-help__about-box">
                                <div class="p-help__about-box-item">
                                    <p class="p-help__about-text">{{ BaseInfo.company_name|trans }}</p>
                                </div>
                            </div>
                        </dd>
					</dl>
					{#
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '取締役会長'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
							<div class="p-help__about-box">
								<div class="p-help__about-box-item">
									<p class="p-help__about-text">{{ 'Kim Mortensen（キム・モーテンセン）'|trans }}</p>
								</div>
							</div>
						</dd>
					</dl>
					#}
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '代表取締役'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
							<div class="p-help__about-box">
								<div class="p-help__about-box-item">
									<p class="p-help__about-text">{{ '内藤 武久'|trans }}</p>
								</div>
							</div>
						</dd>
					</dl>
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '設立'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
							<div class="p-help__about-box">
								<div class="p-help__about-box-item">
									<p class="p-help__about-text">{{ '2000年　3月　15日'|trans }}</p>
								</div>
							</div>
						</dd>
					</dl>
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '資本金'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
							<div class="p-help__about-box">
								<div class="p-help__about-box-item">
									<p class="p-help__about-text">{{ '9,000万円'|trans }}</p>
								</div>
							</div>
						</dd>
					</dl>
				{% endif %}
				{% if BaseInfo.postal_code | default is not empty %}
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '住所'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
                            <div class="p-help__about-box">
								<div class="p-help__about-box-item">
									<p class="p-help__about-text">{{ '〒'|trans }}650-0026</p>
									<p class="p-help__about-text">{% if app.request.locale == "ja" %}{{ '兵庫県'|trans }}{% endif %}{{ '神戸市中央区古湊通2丁目2番22号'|trans }}{% if app.request.locale != "ja" %}, {{ '兵庫県'|trans }}{% endif %}</p>
								</div>
                            </div>
						</dd>
					</dl>
				{% endif %}
				{% if BaseInfo.phone_number | default is not empty %}
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '電話番号'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
                            <div class="p-help__about-box">
                                <div class="p-help__about-box-item">
                                    <p class="p-help__about-text">{{ BaseInfo.phone_number|slice(0, 3) }}-{{ BaseInfo.phone_number|slice(3, 3) }}-{{ BaseInfo.phone_number|slice(6) }}</p>
                                </div>
                            </div>
                        </dd>
					</dl>
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ 'FAX番号'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
							<div class="p-help__about-box">
								<div class="p-help__about-box-item">
									<p class="p-help__about-text">{{ '078-955-6000' }}</p>
								</div>
							</div>
						</dd>
					</dl>
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ 'URL'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
							<div class="p-help__about-box">
								<div class="p-help__about-box-item">
									<p class="p-help__about-text">{{ 'maritime-cbd.com' }}</p>
								</div>
							</div>
						</dd>
					</dl>
				{% endif %}
				{% if BaseInfo.business_hour | default is not empty %}
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '店舗営業時間'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
                            <div class="p-help__about-box">
                                <div class="p-help__about-box-item">
                                    <p class="p-help__about-text">{{ BaseInfo.business_hour|trans }}</p>
                                </div>
                            </div>
                        </dd>
					</dl>
				{% endif %}
				{% if BaseInfo.good_traded | default is not empty %}
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '取り扱い商品'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
                            <div class="p-help__about-box">
                                <div class="p-help__about-box-item">
                                    <p class="p-help__about-text">{{ BaseInfo.good_traded|trans|nl2br }}</p>
                                </div>
                            </div>
                        </dd>
					</dl>
					{#
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '従業員数'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
							<div class="p-help__about-box">
								<div class="p-help__about-box-item">
									<p class="p-help__about-text">{{ '7名（2021年6月現在）'|trans }}</p>
								</div>
							</div>
						</dd>
					</dl>
					#}
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '取引銀行'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
							<div class="p-help__about-box">
								<div class="p-help__about-box-item">
									<p class="p-help__about-text">{{ '神戸信用金庫'|trans }}<br>{{ '楽天銀行'|trans }}<br>{{ '兵庫信用金庫'|trans }}</p>
								</div>
							</div>
						</dd>
					</dl>
				{% endif %}
				{% if BaseInfo.message | default is not empty %}
					<dl class="p-help__about-parts u-dl-sanitize">
						<dt class="p-help__about-parts-label">
							<span class="p-help__about-parts-label-text">{{ '店舗からメッセージ'|trans }}</span>
						</dt>
						<dd class="p-help__about-parts-detail">
                            <div class="p-help__about-box">
                                <div class="p-help__about-box-item">
                                    <p class="p-help__about-text">{{ BaseInfo.message|trans|nl2br }}</p>
									<p><a href="{{ url('contact') }}">{{ 'お問い合わせはこちら'|trans }}</a></p>
                                </div>
                            </div>
                        </dd>
					</dl>
				{% endif %}
			</div>

		</div>

	</section>

{% endblock %}
