{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{#
{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-help">

        <div class="p-help__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'ご利用ガイド'|trans }}</span>
            </h1>
        </div>

        <div class="p-help__contents">
            <p class="p-help__description">ご利用ガイド説明文</p>
            <div class="p-help__guide">
                <dl class="p-help__guide-parts u-dl-sanitize">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">ご利用ガイド-タイトル1</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>ご利用ガイド-テキストが入ります。ご利用ガイド-テキストが入ります。ご利用ガイド-テキストが入ります。ご利用ガイド-テキストが入ります。ご利用ガイド-テキストが入ります。ご利用ガイド-テキストが入ります。ご利用ガイド-テキストが入ります。ご利用ガイド-テキストが入ります。ご利用ガイド-テキストが入ります。</p>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>

    </section>

{% endblock %}
#}