{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

	<section class="p-help">

		<div class="p-help__heading">
			<h1 class="c-page-title">
				<span class="c-page-title__text">{{ 'プライバシーポリシー'|trans }}</span>
			</h1>
		</div>

		<div class="p-help__contents">
			<p class="p-help__description">{{ '個人情報保護の重要性に鑑み、「個人情報の保護に関する法律」及び本プライバシーポリシーを遵守し、お客さまのプライバシー保護に努めます。'|trans }}</p>
			<div class="p-help__privacy">
				<dl class="p-help__privacy-parts u-dl-sanitize">
					<dt class="p-help__privacy-parts-label">
						<span class="p-help__privacy-parts-label-text">{{ '個人情報の定義'|trans }}</span>
					</dt>
					<dd class="p-help__privacy-parts-detail">
						<div class="p-help__privacy-box">
							<div class="p-help__privacy-box-item">
								<p>{{ 'お客さま個人に関する情報(以下「個人情報」といいます)であって、お客さまのお名前、住所、電話番号など当該お客さま個人を識別することができる情報をさします。他の情報と組み合わせて照合することにより個人を識別することができる情報も含まれます。'|trans }}</p>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="p-help__privacy-parts u-dl-sanitize">
					<dt class="p-help__privacy-parts-label">
						<span class="p-help__privacy-parts-label-text">{{ '個人情報の収集'|trans }}</span>
					</dt>
					<dd class="p-help__privacy-parts-detail">
						<div class="p-help__privacy-box">
							<div class="p-help__privacy-box-item">
								<p>{{ 'front.privacy_text_1'|trans|nl2br }}</p>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="p-help__privacy-parts u-dl-sanitize">
					<dt class="p-help__privacy-parts-label">
						<span class="p-help__privacy-parts-label-text">{{ '個人情報の利用'|trans }}</span>
					</dt>
					<dd class="p-help__privacy-parts-detail">
						<div class="p-help__privacy-box">
							<div class="p-help__privacy-box-item">
								<p>{{ 'front.privacy_text_2'|trans|nl2br }}</p>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="p-help__privacy-parts u-dl-sanitize">
					<dt class="p-help__privacy-parts-label">
						<span class="p-help__privacy-parts-label-text">{{ '個人情報の安全管理'|trans }}</span>
					</dt>
					<dd class="p-help__privacy-parts-detail">
						<div class="p-help__privacy-box">
							<div class="p-help__privacy-box-item">
								<p>{{ 'お客様よりお預かりした個人情報の安全管理はサービス提供会社によって合理的、組織的、物理的、人的、技術的施策を講じるとともに、当社では関連法令に準じた適切な取扱いを行うことで個人データへの不正な侵入、個人情報の紛失、改ざん、漏えい等の危険防止に努めます。'|trans }}</p>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="p-help__privacy-parts u-dl-sanitize">
					<dt class="p-help__privacy-parts-label">
						<span class="p-help__privacy-parts-label-text">{{ '個人情報の訂正、削除'|trans }}</span>
					</dt>
					<dd class="p-help__privacy-parts-detail">
						<div class="p-help__privacy-box">
							<div class="p-help__privacy-box-item">
								<p>{{ 'お客様からお預かりした個人情報の訂正・削除は下記の問合せ先よりお知らせ下さい。<br>また、ユーザー登録された場合、当サイトのメニュー「マイアカウント」より個人情報の訂正が出来ます。'|trans|raw }}</p>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="p-help__privacy-parts u-dl-sanitize">
					<dt class="p-help__privacy-parts-label">
						<span class="p-help__privacy-parts-label-text">{{ 'cookie(クッキー)の使用について'|trans }}</span>
					</dt>
					<dd class="p-help__privacy-parts-detail">
						<div class="p-help__privacy-box">
							<div class="p-help__privacy-box-item">
								<p>{{ '当社は、お客様によりよいサービスを提供するため、cookie （クッキー）を使用することがありますが、これにより個人を特定できる情報の収集を行えるものではなく、お客様のプライバシーを侵害することはございません。<br>※cookie （クッキー）とは、サーバーコンピュータからお客様のブラウザに送信され、お客様が使用しているコンピュータのハードディスクに蓄積される情報です。'|trans|raw }}</p>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="p-help__privacy-parts u-dl-sanitize">
					<dt class="p-help__privacy-parts-label">
						<span class="p-help__privacy-parts-label-text">{{ 'SSLの使用について'|trans }}</span>
					</dt>
					<dd class="p-help__privacy-parts-detail">
						<div class="p-help__privacy-box">
							<div class="p-help__privacy-box-item">
								<p>{{ '個人情報の入力時には、セキュリティ確保のため、これらの情報が傍受、妨害または改ざんされることを防ぐ目的でSSL（Secure Sockets Layer）技術を使用しております。<br>※ SSLは情報を暗号化することで、盗聴防止やデータの改ざん防止送受信する機能のことです。SSLを利用する事でより安全に情報を送信する事が可能となります。'|trans|raw }}</p>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="p-help__privacy-parts u-dl-sanitize">
					<dt class="p-help__privacy-parts-label">
						<span class="p-help__privacy-parts-label-text">{{ 'お問合せ先'|trans }}</span>
					</dt>
					<dd class="p-help__privacy-parts-detail">
						<div class="p-help__privacy-box">
							<div class="p-help__privacy-box-item">
								<p>{{ '特定商取引法に基づく表記をご覧ください。'|trans }}</p>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="p-help__privacy-parts u-dl-sanitize">
					<dt class="p-help__privacy-parts-label">
						<span class="p-help__privacy-parts-label-text">{{ 'プライバシーポリシーの変更'|trans }}</span>
					</dt>
					<dd class="p-help__privacy-parts-detail">
						<div class="p-help__privacy-box">
							<div class="p-help__privacy-box-item">
								<p>{{ '当社では、収集する個人情報の変更、利用目的の変更、またはその他プライバシーポリシーの変更を行う際は、当ページへの変更をもって公表とさせていただきます。'|trans }}</p>
							</div>
						</div>
					</dd>
				</dl>
			</div>
		</div>

	</section>

{% endblock %}
