{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <section class="p-help">

		<div class="p-help__heading">
			<h1 class="c-page-title">
				<span class="c-page-title__text">{{ '特定商取引法に基づく表記'|trans }}</span>
			</h1>
		</div>

		<div class="p-help__contents">
			<div class="p-help__tradelaw">
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '販売業者'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
							<div class="p-help__tradelaw-box-item">
								<p class="p-help__tradelaw-text">{{ '株式会社メディファイン'|trans }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__about-parts u-dl-sanitize">
                    <dt class="p-help__about-parts-label">
                        <span class="p-help__about-parts-label-text">{{ '取締役会長'|trans }}</span>
                    </dt>
                    <dd class="p-help__about-parts-detail">
                        <div class="p-help__about-box">
                            <div class="p-help__about-box-item">
                                <p class="p-help__about-text">{{ 'Kim Mortensen（キム・モーテンセン）'|trans }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '代表取締役'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
							<div class="p-help__tradelaw-box-item">
								<p class="p-help__tradelaw-text">{{ '内藤 武久'|trans }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '所在地'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
                            <div class="p-help__tradelaw-box-item">
                                <p class="p-help__tradelaw-text">{{ '〒'|trans }}{{ '650-0026' }}</p>
                                <p class="p-help__tradelaw-text">{% if app.request.locale == "ja" %}{{ '兵庫県'|trans }}{% endif %}{{ '神戸市中央区古湊通2丁目2番22号'|trans }}{% if app.request.locale != "ja" %}, {{ '兵庫県'|trans }}{% endif %}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '電話番号'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
							<div class="p-help__tradelaw-box-item">
                                <p class="p-help__tradelaw-text">{{ '078-777-7000' }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ 'メールアドレス'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
							<div class="p-help__tradelaw-box-item">
								<p class="p-help__tradelaw-text"><a href="mailto:info@medyfine.co.jp">{{ 'info@medyfine.co.jp' }}</a></p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '商品代金以外の必要料金'|trans|raw }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
							<div class="p-help__tradelaw-box-item">
								<p class="p-help__tradelaw-text">{{ '販売価格とは別に配送料、代引き手数料、振込手数料がかかる場合もございます。'|trans }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '引き渡し時期'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
							<div class="p-help__tradelaw-box-item">
								<p class="p-help__tradelaw-text">{{ 'ご注文を受けてから7日以内に発送いたします。'|trans }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '不良品'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
                            <div class="p-help__tradelaw-box-item">
                                <p class="p-help__tradelaw-text">{{ '商品到着後速やかにご連絡ください。商品に欠陥がある場合を除き、返品には応じかねますのでご了承ください。'|trans }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '申込有効期限'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
                            <div class="p-help__tradelaw-box-item">
                                <p class="p-help__tradelaw-text">{{ 'ご注文後7日以内といたします。ご注文後７日間ご入金がない場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせていただきます。'|trans }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ 'お支払方法'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
							<div class="p-help__tradelaw-box-item">
								<p class="p-help__tradelaw-text">{{ 'front.tradelaw_payment_methods'|trans|nl2br }}</p>
                                <div class="skpr_detail_list_dd">
                                    <img loading=lazy class="payment_img" src="https://img.shop-pro.jp/common/card2.gif" alt="VISA">
                                    <img loading=lazy class="payment_img" src="https://img.shop-pro.jp/common/card6.gif" alt="Diners Club">
                                    <img loading=lazy class="payment_img" src="https://img.shop-pro.jp/common/card18.gif" alt="MasterCard">
                                    <img loading=lazy class="payment_img" src="https://img.shop-pro.jp/common/card0.gif" alt="JCB">
                                    <img loading=lazy class="payment_img" src="https://img.shop-pro.jp/common/card9.gif" alt="American Express">
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ 'お支払い期限'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
                            <div class="p-help__tradelaw-box-item">
                                <p class="p-help__tradelaw-text">{{ 'ご注文後7日以内といたします。ご注文後７日間ご入金がない場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせていただきます。'|trans }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '送料について'|trans|nl2br }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
							<div class="p-help__tradelaw-box-item">
								<p class="p-help__tradelaw-text">{{ 'front.tradelaw_shipping_fees'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '返品・キャンセルについて'|trans|nl2br }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
                            <div class="p-help__tradelaw-box-item">
                                <p class="p-help__tradelaw-text">{{ '商品の性質上、ご注文後のキャンセルはお受けいたしかねます。<br>気になる点がございましたら、ご注文前にメールもしくはお電話で当ショップまでお問い合わせください。'|trans|raw }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '返品について'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
                            <div class="p-help__tradelaw-box-item">
                                <p class="p-help__tradelaw-text">{{ 'front.tradelaw_return'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '返金について'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
                            <div class="p-help__tradelaw-box-item">
                                <p class="p-help__tradelaw-text">{{ 'front.tradelaw_refunds'|trans|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '返品期限'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
                            <div class="p-help__tradelaw-box-item">
                                <p class="p-help__tradelaw-text">{{ '商品到着後７日以内とさせていただきます。'|trans }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="p-help__tradelaw-parts u-dl-sanitize">
                    <dt class="p-help__tradelaw-parts-label">
                        <span class="p-help__tradelaw-parts-label-text">{{ '返品送料'|trans }}</span>
                    </dt>
                    <dd class="p-help__tradelaw-parts-detail">
                        <div class="p-help__tradelaw-box">
                            <div class="p-help__tradelaw-box-item">
                                <p class="p-help__tradelaw-text">{{ 'お客様都合による返品につきましてはお客様のご負担とさせていただきます。不良品に該当する場合は当方で負担いたします。'|trans }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
			</div>
		</div>

	</section>
{% endblock %}
