{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}

{% extends '@admin/default_frame.twig' %}

{% set menus = ['order', 'gmo_payment_gateway_admin_payment_status'] %}

{% block title %}{{ 'gmo_payment_gateway.admin.payment_status.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'gmo_payment_gateway.admin.payment_status.sub_title'|trans }}{% endblock %}

{% form_theme searchForm '@admin/Form/bootstrap_4_layout.html.twig' %}

{% block stylesheet %}
{% endblock stylesheet %}

{% block javascript %}
<script>
    $(function () {
        toggleBtnBulk('input[id^="check_"]', '.btn-bulk-wrapper');
        $('input[id^="check_"]').on('change', function() {
            toggleBtnBulk('input[id^="check_"]', '.btn-bulk-wrapper');
        });

        // 登録チェックボックス
        $('#check_all').on('change', function() {
            var checked = $(this).prop('checked');
            if (checked) {
                $('input[id^="check_"]').prop('checked', true);
            } else {
                $('input[id^="check_"]').prop('checked', false);
            }
            toggleBtnBulk('input[id^="check_"]', '.btn-bulk-wrapper');
        });

        $('#btn_bulk_status').on('bulk-submit', function (event) {
            var value = $('#option_bulk_status').val();
            if (!value) {
                $(this).data('cancel', true);
                alert("{{ 'gmo_payment_gateway.admin.payment_status.bulk_alert'|trans }}");
                return false;
            }
            $(this).data('cancel', false);
            $(this).data('url', value);
        });
        var bulkAction = function (form, modal) {
            modal.find('[data-action="execute"]').on('click', function () {
                form.submit();
            });
            form.find('[data-submit="bulk"]').on('click', function (event) {
                event.preventDefault();

                if (!form.find('input:checkbox[name^="ids"]:checked').length) {
                    alert("{{ 'gmo_payment_gateway.admin.payment_status.bulk_alert'|trans }}");
                    return false;
                }

                $(this).trigger('bulk-submit');
                if ($(this).data('cancel') === true) {
                    return false;
                }

                form.attr('action', $(this).data('url'));
                form.attr('method', $(this).data('method') || 'POST');

                if ($(this).data('confirm')) {
                    modal.modal('show');
                } else {
                    form.submit();
                }

            });
        };
        bulkAction($('#form_bulk'), $('#confirmBulkModal'));
    });
</script>
{% endblock javascript %}

{% block main %}
<!--検索条件設定テーブルここから-->
<div class="c-outsideBlock">
  <form name="search_form" method="POST" action="{{ url('gmo_payment_gateway_admin_payment_status') }}">
    {{ form_widget(searchForm._token) }}
    <div class="c-outsideBlock__contents">
      <div class="row">
        <div class="col-12">
          <div class="form-row">
            <div class="form-group col-12">
              <p class="col-form-label">{{ 'gmo_payment_gateway.admin.payment_status.search_condition_payment'|trans }}</p>
              {{ form_widget(searchForm.Payments, {'label_attr': {'class': 'checkbox-inline'}}) }}
              {{ form_errors(searchForm.Payments) }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-row">
            <div class="form-group col-12">
              <p class="col-form-label">{{ 'gmo_payment_gateway.admin.payment_status.search_condition_order_status'|trans }}</p>
              {{ form_widget(searchForm.OrderStatuses, {'label_attr': {'class': 'checkbox-inline'}}) }}
              {{ form_errors(searchForm.OrderStatuses) }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-row">
            <div class="form-group col-12">
              <p class="col-form-label">{{ 'gmo_payment_gateway.admin.payment_status.search_condition_payment_status'|trans }}</p>
              {{ form_widget(searchForm.PaymentStatuses, {'label_attr': {'class': 'checkbox-inline'}}) }}
              {{ form_errors(searchForm.PaymentStatuses) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-outsideBlock__contents">
      <div class="row">
        <div class="mb-4">
          <div class="col-12">
            <button class="btn btn-ec-conversion px-5" type="submit">{{ 'gmo_payment_gateway.admin.payment_status.search'|trans }}</button>
            {% if pagination %}
            <span class="font-weight-bold ml-2">{{ 'gmo_payment_gateway.admin.payment_status.search_result_count'|trans({ '%count%': pagination.totalItemCount }) }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!--検索条件設定テーブルここまで-->

<div class="c-contentsArea__cols">
  <div class="c-contentsArea__primaryCol">
    <div class="c-primaryCol">
      {% if pagination and pagination.totalItemCount %}
      <div class="modal fade" id="confirmBulkModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ 'gmo_payment_gateway.admin.payment_status.bulk_modal_title'|trans }}</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{ 'gmo_payment_gateway.admin.payment_status.bulk_modal_body'|trans }}</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-ec-conversion" data-action="execute" type="button" data-dismiss="modal">
                {{ 'gmo_payment_gateway.admin.payment_status.bulk_modal_action_exec'|trans }}
              </button>
              <button class="btn btn-ec-sub" data-action="cancel" type="button" data-dismiss="modal">
                {{ 'gmo_payment_gateway.admin.payment_status.bulk_modal_action_cancel'|trans }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <form id="form_bulk" method="POST" action="">
        <input type="hidden" name="{{ constant('Eccube\\Common\\Constant::TOKEN_NAME') }}" value="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
        <div class="row justify-content-between mb-2">
          <div class="col-6">
            <div class="row justify-content-between">
              <div class="col-auto d-none btn-bulk-wrapper">
                <label class="mr-2">{{ 'gmo_payment_gateway.admin.payment_status.bulk_label'|trans }}</label>
                <div class="d-inline-block mr-2">
                  <select class="custom-select" id="option_bulk_status">
                    <option value="" selected>--</option>
                    {% for action in bulkActions %}
                    <option value="{{ url('gmo_payment_gateway_admin_payment_status_bulk_action', {'id': action.id }) }}">{{ action.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button id="btn_bulk_status" class="btn btn-ec-regular mr-2" data-submit="bulk" data-confirm="true">
                  {{ 'gmo_payment_gateway.admin.payment_status.bulk_submit'|trans }}
                </button>
              </div>
            </div>
          </div>
          <div class="col-5 text-right">
            <div class="d-inline-block">
              <select class="custom-select" onchange="location.href = this.value;">
                {% for pageMax in pageMaxis %}
                <option {% if pageMax.name == page_count%} selected {% endif %} value="{{ path('gmo_payment_gateway_admin_payment_status', {'page_no': 1, 'page_count': pageMax.name}) }}">
                  {{ 'gmo_payment_gateway.admin.payment_status.display_count'|trans({ '%count%': pageMax.name|e }) }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="card rounded border-0 mb-4">
          <div class="card-body p-0">
            <table class="table table-sm" id="search_result">
              <thead>
                <tr>
                  <th class="border-top-0 pt-2 pb-2 text-center pl-3">
                    <input type="checkbox" id="check_all" name="filter" value="open">
                  </th>
                  <th class="border-top-0 pt-2 pb-2 text-center">{{ 'gmo_payment_gateway.admin.payment_status.col_pay_status'|trans }}</th>
                  <th class="border-top-0 pt-2 pb-2 text-center">{{ 'gmo_payment_gateway.admin.payment_status.col_order_payment'|trans }}</th>
                  <th class="border-top-0 pt-2 pb-2 text-center">{{ 'gmo_payment_gateway.admin.payment_status.col_order_status'|trans }}</th>
                  <th class="border-top-0 pt-2 pb-2 text-center">{{ 'gmo_payment_gateway.admin.payment_status.col_order_no'|trans }}</th>
                  <th class="border-top-0 pt-2 pb-2 text-center">{{ 'gmo_payment_gateway.admin.payment_status.col_order_date'|trans }}</th>
                  <th class="border-top-0 pt-2 pb-2 text-center">{{ 'gmo_payment_gateway.admin.payment_status.col_order_name'|trans }}</th>
                  <th class="border-top-0 pt-2 pb-2 text-center">{{ 'gmo_payment_gateway.admin.payment_status.col_order_price'|trans }}</th>
                  <th class="border-top-0 pt-2 pb-2 text-center">{{ 'gmo_payment_gateway.admin.payment_status.col_payment_date'|trans }}</th>
                </tr>
              </thead>
              <tbody>
                {% for Order in pagination %}
                <tr>
                  <td class="align-middle text-center pl-3">
                    <input type="checkbox"  name="ids[]" id="check_{{ Order.id }}" value="{{ Order.id }}">
                  </td>
                  <td class="align-middle text-left"  id="pay_status--{{ Order.id }}">
                  {% if paymentStatuses[Order.gmo_payment_gateway_payment_status] is defined %}
                    {{ paymentStatuses[Order.gmo_payment_gateway_payment_status] }}
                  {% endif %}
                  </td>
                  <td class="align-middle text-left" id="payment_method--{{ Order.id }}">{{ Order.payment_method }}</td>
                  <td class="align-middle text-center"  id="order_status--{{ Order.id }}">
                    <span class="badge badge-ec-blue" style="background-color: #fff; color: {{ Order.OrderStatusColor }}; border-color: {{ Order.OrderStatusColor }}">{{ Order.OrderStatus }}</span>
                  </td>
                  <td class="align-middle text-right" id="id--{{ Order.id }}"><a class="action-edit" href="{{ url('admin_order_edit', { id : Order.id }) }}">{{ Order.order_no }}</a></td>
                  <td class="align-middle text-center" id="order_date--{{ Order.id }}">{{ Order.order_date|date("Y/m/d H:i:s") }}</td>
                  <td class="align-middle text-left" id="name--{{ Order.id }}">{{ Order.name01 }} {{ Order.name02 }}</td>
                  <td class="align-middle text-right" id="payment_total--{{ Order.id }}">{{ Order.payment_total|price }}</td>
                  <td class="align-middle text-center" id="payment_date--{{ Order.id }}">
		    {% if Order.payment_date is not null %}
		      {{ Order.payment_date|date("Y/m/d H:i:s") }}
		    {% else %}
		      {{ 'gmo_payment_gateway.admin.payment_status.col_payment_date.not'|trans }}
		    {% endif %}
		  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="row justify-content-md-center mb-4"></div>
          </div>
          <div class="row justify-content-md-center mb-4">
            {% if pagination.totalItemCount > 0 %}
              {% include "@admin/pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'gmo_payment_gateway_admin_payment_status_pageno' } %}
            {% endif %}
          </div>
        </div>
      </form>
      {# 検索条件エラー時 #}
      {% elseif has_errors %}
      <div class="card rounded border-0">
        <div class="card-body p-4">
          <div class="text-center text-muted mb-4 h5">{{ 'gmo_payment_gateway.admin.payment_status.invalid_condition'|trans }}</div>
          <div class="text-center text-muted">{{ 'gmo_payment_gateway.admin.payment_status.change_condition'|trans }}</div>
        </div>
      </div>
      {% else %}
      <div class="card rounded border-0">
        <div class="card-body p-4">
          <div class="text-center text-muted mb-4 h5">{{ 'gmo_payment_gateway.admin.payment_status.no_result'|trans }}</div>
          <div class="text-center text-muted">{{ 'gmo_payment_gateway.admin.payment_status.change_condition'|trans }}</div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
