{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
{% if Payment.getMethodClass matches '{Plugin\\\\GmoPaymentGateway4\\\\.*}' %}
<script>
  $(function () {
    // ページ最下部に移動
    $('#gmo_payment_gateway_payment_edit').appendTo($('#form1 > div.c-contentsArea__cols > div > div'));
  });
</script>
<style type="text/css">
  .form-check {
    display: inline-block;
    margin-right: 20px;
  }
  .caution {
    color: #DE5D50;
    font-size: 80%;
    font-weight: bold;
  }
  .width65 {
    width: 65px;
    display: inline-block;
  }
  .width222 {
    width: 222px;
    display: inline-block;
  }
  .area {
    width: 433px;
  }
  textarea.form-control {
    height: 134px;
  }
</style>
<div id="gmo_payment_gateway_payment_edit" class="card rounded border-0 mb-4">
  <div class="card-header">
    <span>{{ 'gmo_payment_gateway.admin.payment_edit.header'|trans }}</span>
  </div>
  {% if Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CreditCard' %}
    {# クレジットカードフォーム #}
    {{ include('@GmoPaymentGateway4/admin/payment_edit_methods/credit.twig', ignore_missing=true) }}
  {% elseif Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\Cvs' %}
    {# コンビニフォーム #}
    {{ include('@GmoPaymentGateway4/admin/payment_edit_methods/cvs.twig', ignore_missing=true) }}
  {% elseif Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\PayEasyAtm' %}
    {# Pay-easy(銀行ATM) #}
    {{ include('@GmoPaymentGateway4/admin/payment_edit_methods/payeasy_atm.twig', ignore_missing=true) }}
  {% elseif Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\PayEasyNet' %}
    {# Pay-easy(ネットバンク) #}
    {{ include('@GmoPaymentGateway4/admin/payment_edit_methods/payeasy_net.twig', ignore_missing=true) }}
  {% elseif Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CarAu' %}
    {# auかんたん決済 #}
    {{ include('@GmoPaymentGateway4/admin/payment_edit_methods/carrier_au.twig', ignore_missing=true) }}
  {% elseif Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CarDocomo' %}
    {# ドコモケータイ払い #}
    {{ include('@GmoPaymentGateway4/admin/payment_edit_methods/carrier_docomo.twig', ignore_missing=true) }}
  {% elseif Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\CarSoftbank' %}
    {# ソフトバンクまとめて支払い #}
    {{ include('@GmoPaymentGateway4/admin/payment_edit_methods/carrier_softbank.twig', ignore_missing=true) }}
  {% elseif Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\RakutenPay' %}
    {# 楽天ペイ #}
    {{ include('@GmoPaymentGateway4/admin/payment_edit_methods/rakuten_pay.twig', ignore_missing=true) }}
  {% elseif Payment.getMethodClass == 'Plugin\\GmoPaymentGateway4\\Service\\Method\\Ganb' %}
    {# 銀行振込（バーチャル口座 あおぞら） #}
    {{ include('@GmoPaymentGateway4/admin/payment_edit_methods/ganb.twig', ignore_missing=true) }}
  {% endif %}
</div>
{% endif %}
