{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}

    <section class="p-cart">

        <div class="p-cart__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'ショッピングカート'|trans }}</span>
            </h1>
        </div>

        <div class="p-cart__contents">

            <div class="p-cart__progress">
                <ul class="p-cart__progress-list u-list-sanitize">
                    {% set step = 1 %}
                    <li class="p-cart__progress-list-item is-active">
                        <div class="p-cart__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-cart__progress-label">{{ 'カートの<br class="u-break--sp-visible">商品'|trans|raw }}</div>
                    </li>
                    {% if is_granted('ROLE_USER') == false %}
                        <li class="p-cart__progress-list-item">
                            <div class="p-cart__progress-number">{{ step }}{% set step = step + 1 %}</div>
                            <div class="p-cart__progress-label">{{ 'お客様<br class="u-break--sp-visible">情報'|trans|raw }}</div>
                        </li>
                    {% endif %}
                    <li class="p-cart__progress-list-item">
                        <div class="p-cart__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-cart__progress-label">{{ 'ご注文<br class="u-break--sp-visible">手続き'|trans|raw }}</div>
                    </li>
                    <li class="p-cart__progress-list-item">
                        <div class="p-cart__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-cart__progress-label">{{ 'ご注文<br class="u-break--sp-visible">内容確認'|trans|raw }}</div>
                    </li>
                    <li class="p-cart__progress-list-item">
                        <div class="p-cart__progress-number">{{ step }}{% set step = step + 1 %}</div>
                        <div class="p-cart__progress-label">{{ '完了'|trans }}</div>
                    </li>
                </ul>
            </div>

            {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}

            {% for error in app.session.flashbag.get('eccube.front.request.error') %}
                {% set idx = loop.index0 %}
                <p class="p-cart__error">
                    <span class="p-cart__error-icon">
                        <i class="material-icons">error</i>
                    </span>
                    <span class="p-cart__error-text">
                        {% if productStr[idx] is defined %}
                            {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                        {% else %}
                            {{ error|trans|nl2br }}
                        {% endif %}
                    </span>
                </p>
            {% endfor %}
            {% for error in app.session.flashbag.get('eccube.front.cart.error') %}
                <p class="p-cart__error">
                    <span class="p-cart__error-icon">
                        <i class="material-icons">error</i>
                    </span>
                    <span class="p-cart__error-text">{{ error|trans|nl2br }}</span>
                </p>
            {% endfor %}

            {% if totalQuantity > 0 %}

                <div class="p-cart__info">
                    <p class="p-cart__info-message">{{ '商品の合計金額は「<strong class="p-cart__info-message-price">%price%</strong>」です。'|trans({ '%price%': totalPrice|price })|raw }}</p>
                </div>

                {% if Carts|length > 1 %}
                    <p class="p-cart__error">
                        <span class="p-cart__error-icon">
                            <i class="material-icons">error</i>
                        </span>
                        <span class="p-cart__error-text">{{ '同時購入できない商品がカートに含まれています。'|trans|nl2br }}</span>
                    </p>
                {% endif %}

                <form name="form" id="form_cart" class="ec-cartRole" method="post" action="{{ url('cart') }}">

                    {% for CartIndex,Cart in Carts %}
                        {% set cartKey = Cart.cart_key %}
                        {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                            <p class="p-cart__error">
                                <span class="p-cart__error-icon">
                                    <i class="material-icons">error</i>
                                </span>
                                <span class="p-cart__error-text">{{ error|trans|nl2br }}</span>
                            </p>
                        {% endfor %}

                         <div class="p-cart__table">

                            <div class="p-cart__table-heading">
                                <ul class="p-cart__table-heading-list u-list-sanitize">
                                    <li class="p-cart__table-heading-list-item">{{ '削除'|trans }}</li>
                                    <li class="p-cart__table-heading-list-item">{{ '商品内容'|trans }}</li>
                                    <li class="p-cart__table-heading-list-item">{{ '数量'|trans }}</li>
                                    <li class="p-cart__table-heading-list-item">{{ '小計'|trans }}</li>
                                </ul>
                            </div>

                            <div class="p-cart__table-body">
                                {% for CartItem in Cart.CartItems %}
                                    {% set ProductClass = CartItem.ProductClass %}
                                    {% set Product = ProductClass.Product %}
                                    <ul class="p-cart__table-body-list u-list-sanitize">
                                        <li class="p-cart__table-body-list-item">
                                            <div class="p-cart__delete">
                                                <a class="p-cart__delete-button c-ripple-surface mdc-ripple-surface" href="{{ url('cart_handle_item', {'operation': 'remove', 'productClassId': ProductClass.id }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-message="{{'カートから商品を削除してもよろしいですか?'|trans}}">
                                                    <i class="p-cart__delete-button-icon material-icons">delete_forever</i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="p-cart__table-body-list-item">
                                            <div class="p-cart__product">
                                                <div class="p-cart__product-image">
                                                    <a class="p-cart__product-image-link" target="_blank" rel="noopener" href="{{ url('product_detail', {id : Product.id} ) }}">
                                                        <img loading=lazy class="p-cart__product-image-pic" src="{{ asset(Product.MainListImage|no_image_product, 'save_image') }}" alt="{{ Product.name|trans }}">
                                                    </a>
                                                </div>
                                                <div class="p-cart__product-summary">
                                                    <div class="p-cart__product-name">
                                                        <a class="p-cart__product-name-link" target="_blank" rel="noopener" href="{{ url('product_detail', {id : Product.id} ) }}">{{ Product.name|trans }}</a>
                                                    </div>
                                                    {% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
                                                        <p class="p-cart__product-class-category">{{ ProductClass.ClassCategory1.ClassName.name|trans }}：{{ ProductClass.ClassCategory1|trans }}</p>
                                                    {% endif %}
                                                    {% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
                                                        <p class="p-cart__product-class-category">{{ ProductClass.ClassCategory2.ClassName.name|trans }}：{{ ProductClass.ClassCategory2|trans }}</p>
                                                    {% endif %}
                                                    <div class="p-cart__product-unit-price">{{ CartItem.price|price }}</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="p-cart__table-body-list-item">
                                            <div class="p-cart__quantity">
                                                <div class="p-cart__quantity-item">
                                                    <div class="p-cart__amount"><span class="p-cart__amount-label">{{ '数量：'|trans }}</span>{{ CartItem.quantity|number_format }}</div>
                                                </div>
                                                <div class="p-cart__quantity-item">
                                                    <div class="p-cart__calculator">
                                                        {% if CartItem.quantity > 1 %}
                                                            <div class="p-cart__calculator-item">
                                                                <a class="p-cart__calculator-button" href="{{ url('cart_handle_item', {'operation': 'down', 'productClassId': ProductClass.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">
                                                                    <i class="p-cart__calculator-button-icon material-icons">remove</i>
                                                                </a>
                                                            </div>
                                                        {% else %}
                                                            <div class="p-cart__calculator-item">
                                                                <span class="p-cart__calculator-button is-disabled">
                                                                    <i class="p-cart__calculator-button-icon material-icons">remove</i>
                                                                </span>
                                                            </div>
                                                        {% endif %}
                                                        <div class="p-cart__calculator-item">
                                                            <a class="p-cart__calculator-button c-ripple-surface mdc-ripple-surface js-load-overlay" href="{{ url('cart_handle_item', {'operation': 'up', 'productClassId': ProductClass.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">
                                                                <i class="p-cart__calculator-button-icon material-icons">add</i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="p-cart__table-body-list-item">
                                            <div class="p-cart__subtotal">
                                                <span class="p-cart__subtotal-label">{{'小計'|trans}}：</span>
                                                <span class="p-cart__subtotal-price">{{ CartItem.total_price|price }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>


                        {% if BaseInfo.delivery_free_amount and BaseInfo.delivery_free_quantity %}
                            <div class="p-cart__shipping">
                                <p class="p-cart__shipping-text">
                                    {% if is_delivery_free[cartKey] %}
                                        {{ '現在送料無料です。'|trans }}
                                    {% else %}
                                        {{ 'あと「%price%」または「%quantity%個」のお買い上げで<strong class="p-cart__shipping-text--em">送料無料</strong>になります。'|trans({ '%price%': least[cartKey]|price, '%quantity%': quantity[cartKey]|number_format })|raw }}
                                    {% endif %}
                                </p>
                            </div>
                        {% elseif BaseInfo.delivery_free_amount %}
                            <div class="p-cart__shipping">
                                <p class="p-cart__shipping-text">
                                    {% if is_delivery_free[cartKey] %}
                                        {{ '現在送料無料です。'|trans }}
                                    {% else %}
                                        {{ 'あと「%price%」のお買い上げで<strong class="p-cart__shipping-text--em">送料無料</strong>になります。'|trans({ '%price%': least[cartKey]|price })|raw }}
                                    {% endif %}
                                </p>
                            </div>
                        {% elseif BaseInfo.delivery_free_quantity %}
                            <div class="p-cart__shipping">
                                <p class="p-cart__shipping-text">
                                    {% if is_delivery_free[cartKey] %}
                                        {{ '現在送料無料です。'|trans }}
                                    {% else %}
                                        {{ 'あと「%quantity%」のお買い上げで<strong class="p-cart__shipping-text--em">送料無料</strong>になります。'|trans({ '%quantity%': quantity[cartKey]|number_format })|raw }}
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}

                        <div class="p-cart__total">
                            <span class="p-cart__total-label">{{ '合計：'|trans }}</span>
                            <span class="p-cart__total-price">{{ Cart.totalPrice|price }}</span>
                        </div>

                        <div class="p-cart__actions">
                            <div class="p-cart__actions-item">
                                <a class="p-cart__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" href="{{ path('cart_buystep', {'cart_key':cartKey}) }}">
                                    <span class="c-button__label mdc-button__label">{{ 'レジに進む'|trans }}</span>
                                </a>
                            </div>
                            {% if loop.last %}
                                <div class="p-cart__actions-item">
                                    <a class="p-cart__button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" href="{{ path('homepage') }}">
                                        <span class="c-button__label mdc-button__label">{{ 'お買い物を続ける'|trans }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>

                    {% endfor %}
                </form>
            {% else %}
                {% for CartIndex,Cart in Carts %}
                    {% set cartKey = Cart.cart_key %}
                    {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                        <div class="ec-cartRole__error">
                            <div class="ec-alert-warning">
                                <div class="ec-alert-warning__icon"><img loading=lazy src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                                <div class="ec-alert-warning__text">
                                    {{ error|trans|nl2br }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="p-cart__info">
                    <p class="p-cart__info-message">{{ '現在カート内に商品はございません。'|trans }}</p>
                </div>
                <div class="p-cart__actions">
                    <div class="p-cart__actions-item">
                        <a class="p-cart__button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" href="{{ path('product_list') }}">
                            <span class="c-button__label mdc-button__label">{{ 'お買い物を続ける'|trans }}</span>
                        </a>
                        {% if is_granted('ROLE_USER') == false %}
                        <a class="p-cart__button c-button c-button--unelevated is-secondary mdc-button mdc-button--unelevated" href="{{ url('mypage_login') }}">
                            <span class="c-button__label mdc-button__label">{{ 'ログイン'|trans }}</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>

    </section>

{% endblock %}
