{#
Copyright (C) SPREAD WORKS Inc. All Rights Reserved.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}
{% set body_class = 'tabacms_post_page' %}

{# 投稿データの取得 #}
{% set post = TabaCMSPost() %}

{% block javascript %}
{{ TabaCMSAsset('script.min.js','script')|raw }}
{{ post.getScript|raw }}
{% endblock javascript %}

{% block stylesheet %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-grid.min.css" media="all">
{{ TabaCMSAsset('style.min.css','style')|raw }}
{% endblock stylesheet %}

{% block main %}

<section class="p-help">

    <div class="p-help__heading">
        <h2 class="c-page-title">
            <span class="c-page-title__text">{{ type.getTypeName|trans }}</span>
        </h2>
    </div>

    <div class="p-help__contents">

        <div class="container">
            <div class="row">
                <article class="col-12 col-md-9 tabacms_post">
                    <header class="row tabacms_header">
                        {% if post.getCategory is not empty %}
                            <div class="col-12">
                                <label class="text-nowrap tabacms_category_{{ post.getType.getDataKey }}_{{ post.getCategory.getDataKey }}" {{ post.getCategory.getTagAttributes|raw }}>{{ post.getCategory.getCategoryName|trans }}</label>
                            </div>
                        {% endif %}
                        <h1 class="col-12 ec-pageHeader">{{ post.getTitle|raw|trans }}</h1>
                        <time class="col-12 text-right">
                            {{ post.getPublicDate|date('Y/m/d') }}
                        </time>
                    </header>
                    <section class="row tabacms_body">
                        {% if post.getThumbnail is not empty %}
                            <div class="col-12 /*offset-sm-1 col-sm-10*/">
                                <img loading=lazy src="{{ asset(post.getThumbnail,'save_image') }}" class="img-responsive center-block" alt="{{ post.getTitle|raw|trans }}">
                            </div>
                        {% endif %}
                        <div class="col-12">
                            {{ post.getBody|raw }}
                        </div>
                    </section>
                </article>
                <div class="col-12 col-md-3">
                    {{ TabaCMSWidget('category')|raw }}
                </div>
            </div>
        </div>

    </div>

</section>
{% endblock %}