{#
Copyright (C) SPREAD WORKS Inc. All Rights Reserved.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="tabacms_widget">
    <h4>{{'カテゴリー'|trans}}</h4>
    <ul class="tabacms_category_list">
        <li><a href="{{ url(type.getListRoutingName) }}">{{'すべて'|trans}}</a></li>
        {% for category in category_list %}
            <li><a href="{{ url(category.getRoutingName,{category_id:category.getCategoryId}) }}"> {{ category.getCategoryName|trans }} ({{ category.getPostCount|default(0)|number_format }})</a></li>
        {% endfor %}
    </ul>
</div>