<li class="b-category-nav-sp__list-item">{{'ブログ'|trans}}</li>
<ul class="tabacms_category_list">
    <li class="b-category-nav-sp__list-item">
        <a href="{{ url(type.getListRoutingName) }}"><span class="b-category-nav-sp__name">{{'すべて'|trans}}</span></a>
    </li>
    {% for category in category_list %}
        <li class="b-category-nav-sp__list-item">
            <a class="b-category-nav-sp__link" href="{{ url(category.getRoutingName,{category_id:category.getCategoryId}) }}"> {{ category.getCategoryName|trans }} ({{ category.getPostCount|default(0)|number_format }})</a>
        </li>
    {% endfor %}
</ul>
