{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_review_complete' %}

{% block main %}

<section class="p-contact">
    <div class="p-contact__heading">
        <h1 class="c-page-title">
            <span class="c-page-title__text">{{ 'product_review.front.review.title'|trans}}</span>
        </h1>
    </div>
    <div class="p-contact__contents">
        <div class="p-contact__complete">
            <dl class="p-contact__complete-message">
                <dt class="p-contact__complete-message-label">{{ 'product_review.front.review.complete.thanks'|trans }}</dt>
                <dd class="p-contact__complete-message-detail text-center">
                    <p class="p-contact__complete-description">{{ 'product_review.front.review.complete.thanks_detail'|trans|nl2br }}</p>
                    <p class="p-contact__complete-description"><b>
                        {{'%discount%％割引のクーポンコードは「%coupon_code%」です。'|trans({'%discount%': '15', '%coupon_code%': 'REVIEW15'})}}<br>
                        {{'商品をご購入いただく際にクーポンコードをご入力いただくだけで%discount%％割引！'|trans({'%discount%': '15'})}}</b>
                    </p>
                </dd>
            </dl>
        </div>
        <div class="p-contact__actions">
            <div class="p-contact__actions-item">
                <a class="p-contact__button c-button is-primary c-button--outlined mdc-button mdc-button--outlined" href="{{ url('product_detail', { id: id }) }}">
                    <span class="c-button__label mdc-button__label">{{ 'product_review.front.review.complete.back'|trans }}</span>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
