{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_review_confirm' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
<section class="p-contact">
    <div class="p-contact__heading">
        <h1 class="c-page-title">
            <span class="c-page-title__text">{{ 'product_review.front.review.title'|trans }}</span>
        </h1>
    </div>
    <div class="p-contact__contents">
        <p class="p-contact__description">
            {{ 'product_review.front.review.confirm.description'|trans|nl2br }}
        </p>
        <form method="post" action="{{ url('product_review_index', { id: Product.id }) }}">
            {{ form_widget(form._token) }}
            <div class="ec-borderedDefs">
                {# 商品名 #}
                <dl>
                    <dt>
                        <label class="ec-label">{{ 'product_review.front.review.product_name'|trans }}</label>
                    </dt>
                    <dd>
                        <div class="ec-input">
                            {{ Product.name|trans }}
                        </div>
                    </dd>
                </dl>
                {# 投稿者名 #}
                <dl>
                    <dt>
                        {{ form_label(form.reviewer_name, '', {'label_attr': {'class': 'ec-label'}}) }}
                    </dt>
                    <dd>
                        <div class="ec-input{{ has_errors(form.reviewer_name) ? ' error' }}">
                            {{ form.reviewer_name.vars.data }}
                            {{ form_widget(form.reviewer_name, { type: 'hidden' }) }}
                        </div>
                    </dd>
                </dl>
                {# 投稿者URL #}
                {#
                <dl>
                    <dt>
                        {{ form_label(form.reviewer_url, '', {'label_attr': {'class': 'ec-label'}}) }}
                    </dt>
                    <dd>
                        <div class="ec-input{{ has_errors(form.reviewer_url) ? ' error' }}">
                            {{ form.reviewer_url.vars.data }}
                            {{ form_widget(form.reviewer_url, { type: 'hidden' }) }}
                        </div>
                    </dd>
                </dl>
                #}
                {# 性別 #}
                <dl>
                    <dt>
                        {{ form_label(form.sex, 'common.gender', {'label_attr': {'class': 'ec-label'}}) }}
                    </dt>
                    <dd>
                        <div class="ec-radio{{ has_errors(form.sex) ? ' error' }}">
                            {{ form.sex.vars.data|trans }}
                            {{ form_widget(form.sex, { type: 'hidden' }) }}
                        </div>
                    </dd>
                </dl>
                {# おすすめレベル #}
                <dl>
                    <dt>
                        {{ form_label(form.recommend_level, '', {'label_attr': {'class': 'ec-label'}}) }}
                    </dt>
                    <dd>
                        <div class="ec-radio{{ has_errors(form.recommend_level) ? ' error' }}">
                            {% for child in form.recommend_level.children if child.vars.checked %}
                                {{ child.vars.label }}
                            {% endfor %}
                            {{ form_widget(form.recommend_level, { type: 'hidden' }) }}
                        </div>
                    </dd>
                </dl>
                {# タイトル -> 結果 #}
                <dl>
                    <dt>
                        {{ form_label(form.result, '', {'label_attr': {'class': 'ec-label'}}) }}
                    </dt>
                    <dd>
                        <div class="ec-input{{ has_errors(form.title) ? ' error' }}">
                            {{ form.title.vars.data }}
                            {{ form_widget(form.title, { type: 'hidden' }) }}
                        </div>
                    </dd>
                </dl>
                {# コメント #}
                <dl>
                    <dt>
                        {{ form_label(form.comment, '', {'label_attr': {'class': 'ec-label'}}) }}
                    </dt>
                    <dd>
                        <div class="ec-input{{ has_errors(form.comment) ? ' error' }}">
                            {{ form.comment.vars.data }}
                            {{ form_widget(form.comment, { type: 'hidden' }) }}
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="c-form__actions">
                <div class="c-form__actions-item">
                    <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit" name="mode" value="complete">
                        <span class="c-button__label mdc-button__label">{{ 'product_review.front.review.comfirm.post'|trans }}</span>
                    </button>
                </div>
                <div class="c-form__actions-item">
                    <button class="c-form__button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated mdc-ripple-upgraded" type="submit" name="mode" value="back">
                        <span class="c-button__label mdc-button__label">{{ 'product_review.front.review.back'|trans }}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

