{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_review' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
    <style>
        /*
        #product_review_recommend_level {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        #product_review_recommend_level label {
            position: relative;
            bottom: 18px;
            left: 20px;
            line-height: 0;
        }*/
    </style>
{% endblock %}

{% block main %}

<section class="p-contact">
    <div class="p-contact__heading">
        <h1 class="c-page-title">
            <span class="c-page-title__text">{{ 'product_review.front.review.title'|trans }}</span>
        </h1>
    </div>
    <div class="p-contact__contents">
        <p class="p-contact__description">
            {{ 'product_review.front.review.description'|trans|raw }}
        </p>
        <form method="post" action="{{ url('product_review_index', { id: Product.id }) }}">
            {{ form_widget(form._token) }}
            <div class="c-form is-input has-border">
                {# 商品名 #}
                <dl class="c-form__parts u-dl-sanitize">
                    <dt class="c-form__parts-label">
                        {{ 'product_review.front.review.product_name'|trans }}
                    </dt>
                    <dd class="c-form__parts-detail">
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                <div class="ec-input">
                                    {{ Product.name|trans }}
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
                {# 投稿者名 #}
                <dl class="c-form__parts u-dl-sanitize">
                    <dt class="c-form__parts-label">
                        {{ form_label(form.reviewer_name, '', {'label_attr': {'class': 'c-form__parts-label-text'}}) }}
                    </dt>
                    <dd class="c-form__parts-detail">
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.reviewer_name) ? ' mdc-text-field--invalid' }}">
                                    {{ form_widget(form.reviewer_name, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label class="c-floating-label mdc-floating-label" for="reviewer_name">{{'お名前'|trans}}</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                                {{ form_errors(form.reviewer_name, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                            </div>
                        </div>
                    </dd>
                </dl>
                {# 性別 #}
                <dl class="c-form__parts u-dl-sanitize">
                    <dt class="c-form__parts-label is-radio">
                        {{ form_label(form.sex, 'common.gender', {'label_attr': {'class': 'c-form__parts-label-text'}}) }}
                    </dt>
                    <dd class="c-form__parts-detail">
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                {{ form_widget(form.sex, { 'attr': { 'class': 'c-form__radios' }}) }}
                                {{ form_errors(form.sex, {'label_attr': {'class': 'c-form__error-text'}}) }}
                            </div>
                        </div>
                    </dd>
                </dl>
                {# おすすめレベル #}
                <dl class="c-form__parts u-dl-sanitize">
                    <dt class="c-form__parts-label is-radio">
                        {{ form_label(form.recommend_level, '', {'label_attr': {'class': 'c-form__parts-label-text'}}) }}
                    </dt>
                    <dd class="c-form__parts-detail">
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                {{ form_widget(form.recommend_level, { 'attr': { 'class': 'c-form__radios' }}) }}
                                {{ form_errors(form.recommend_level, {'label_attr': {'class': 'c-form__error-text'}}) }}
                            </div>
                        </div>
                    </dd>
                </dl>
                {# タイトル #}
                <dl class="c-form__parts u-dl-sanitize">
                    <dt class="c-form__parts-label">
                        {{ form_label(form.result, '', {'label_attr': {'class': 'c-form__parts-label-text'}}) }}
                    </dt>
                    <dd class="c-form__parts-detail">
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                {{ form_widget(form.result, { 'attr': { 'class': 'c-form__radios' }}) }}
                                {{ form_errors(form.result, {'label_attr': {'class': 'c-form__error-text'}}) }}
                                <div id="result_others_input" class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.title) ? ' mdc-text-field--invalid' }}">
                                    {{ form_widget(form.title, {'attr': { 'class': 'c-text-field__input mdc-text-field__input' }}) }}
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label class="c-floating-label mdc-floating-label" for="title">{{'その他'|trans}}</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                                {{ form_errors(form.title, {'label_attr': {'class': 'c-form__error-text'}}) }}
                            </div>
                        </div>
                    </dd>
                </dl>
                {# コメント #}
                <dl class="c-form__parts u-dl-sanitize">
                    <dt class="c-form__parts-label">
                        {{ form_label(form.comment, '', {'label_attr': {'class': 'c-form__parts-label-text'}}) }}
                    </dt>
                    <dd class="c-form__parts-detail">
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                <div class="c-text-field mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth{{ has_errors(form.comment) ? ' mdc-text-field--invalid' }}">
                                    {{ form_widget(form.comment, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'rows': '12' }}) }}
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label class="c-floating-label mdc-floating-label" for="comment">{{'コメント'|trans}}</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                                {{ form_errors(form.comment, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="c-form__actions">
                <div class="c-form__actions-item">
                    <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit" name="mode" value="confirm">
                        <span class="c-button__label mdc-button__label">{{ 'product_review.front.review.confirm'|trans }}</span>
                    </button>
                </div>
                <div class="c-form__actions-item">
                    <a class="c-form__link c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated mdc-ripple-upgraded"
                       href="{{ url('product_detail', { id: Product.id }) }}">
                        <span class="c-button__label mdc-button__label">{{ 'product_review.front.review.back'|trans }}</span></a>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
$(document).ready(function() {
  var defaultReviewValues = ['{{ 'product_review.form.default_title_1'|trans }}', '{{ 'product_review.form.default_title_2'|trans }}', '{{ 'product_review.form.default_title_3'|trans }}', '{{ '効果実感できました！'|trans }}'];
  $('#product_review_result_0').on('click', function (e) {
    if (!$('#product_review_comment').val() || defaultReviewValues.indexOf($('#product_review_comment').val()) != -1) {
      $('#product_review_comment').focus().val(defaultReviewValues[0]);
    }
    $('#product_review_title').val('');
    $('#result_others_input').hide();
  });
  $('#product_review_result_1').on('click', function (e) {
    if (!$('#product_review_comment').val() || defaultReviewValues.indexOf($('#product_review_comment').val()) != -1) {
      $('#product_review_comment').focus().val(defaultReviewValues[1]);
    }
    $('#product_review_title').val('');
    $('#result_others_input').hide();
  });
  $('#product_review_result_2').on('click', function (e) {
    if (!$('#product_review_comment').val() || defaultReviewValues.indexOf($('#product_review_comment').val()) != -1) {
      $('#product_review_comment').focus().val(defaultReviewValues[2]);
    }
    $('#product_review_title').val('');
    $('#result_others_input').hide();
  });
  $('#product_review_result_3').on('click', function (e) {
    if (!$('#product_review_comment').val() || defaultReviewValues.indexOf($('#product_review_comment').val()) != -1) {
      $('#product_review_comment').focus().val(defaultReviewValues[3]);
    }
    $('#result_others_input').show();
    $('#product_review_title').focus(); // set focus to others input field
  });
  $('#product_review_title').on('click', function (e) {
    if(!$("#product_review_result_3").is(':checked')){
      $('#product_review_result_3').prop('checked', true);
    }
    if (!$('#product_review_comment').val() || defaultReviewValues.indexOf($('#product_review_comment').val()) != -1) {
      $('#product_review_comment').focus().val(defaultReviewValues[3]);
      $('#product_review_title').focus(); // return focus to others input field
    }
  });
});
</script>

{% endblock %}

