
{#
/*
 * This file is part of the ProductReview plugin
 *
 * Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}

{% import _self as stars %}

{# 星テキスト生成用マクロ #}
{% macro stars(positive, negative) %}
    {% set positive_stars = ["", "★", "★★", "★★★", "★★★★", "★★★★★"] %}
    {% set negative_stars = ["", "☆", "☆☆", "☆☆☆", "☆☆☆☆", "☆☆☆☆☆"] %}
    {{- positive_stars[positive] -}}{{- negative_stars[negative] -}}
{% endmacro %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script>
    $(function() {
        $('#product_review_area').appendTo($('div.ec-layoutRole__main, div.ec-layoutRole__mainWithColumn, div.ec-layoutRole__mainBetweenColumn'));

        $('#translate_reviews').on('click', function(e) {
          e.preventDefault();

          $('#product_review_area .review_list').html('<li>{{ 'Loading...'|trans }}</li><i class="material-icons">cached</i>');
          $.ajax({
            url: '{{ url('product_review_translate', { id: Product.id }) }}',
            success: function(html) {
              $('#product_review_area').remove();
              $(html).appendTo($('div.ec-layoutRole__main, div.ec-layoutRole__mainWithColumn, div.ec-layoutRole__mainBetweenColumn'));
            },
          });
        });

        $('#product_review_area .ec-rectHeading').on('click', function() {
            $content = $('#reviewContent');
            if ($content.css('display') == 'none') {
                $(this).addClass('is_active');
                $content.addClass('is_active');
                $content.slideDown(300);
            } else {
                $(this).removeClass('is_active');
                $content.removeClass('is_active');
                $content.slideUp(300);
            }
            return false;
        });
    });
</script>

<!--▼レビューエリア-->
<div id="product_review_area" class="p-product__contents">
    <div class="ec-role">
        {% set positive_avg_star = ProductReviewAvg %}
        {% set nagative_avg_star = 5 - positive_avg_star %}
        {% if app.request.locale == "en" %}
            {% set language = 'English' %}
        {% elseif app.request.locale == "ko"%}
            {% set language = '한국어' %}
        {% elseif app.request.locale == "zh"%}
            {% set language = '中文' %}
        {% else %}
            {% set language = 'English' %}
        {% endif %}

        {% spaceless %}
        <div class="ec-rectHeading is_active">
            <h4>{{- 'product_review.front.product_detail.title'|trans -}}
                <!--平均の星の数-->
                <span class="recommend_average">{{- stars.stars(positive_avg_star, nagative_avg_star) -}}</span>
                <!--レビュー数-->
                <span>({{ ProductReviewCount }})</span>
                <span class="chevron pull-right">
                    <i class="fas fa-angle-up fa-lg"></i>
                </span>
            </h4>
        </div>
        <div id="reviewContent">
            {% if ProductReviews %}
                {% if translated is not defined and app.request.locale != "ja" %}
                <a href="#" id="translate_reviews">{{ 'Translate all reviews to %language%'|trans({'%language%': language}) }}</a>
                {% endif %}
                <ul class="review_list">
                    {% for ProductReview in ProductReviews %}
                        <li>
                            <p class="review_date"><!--投稿日-->
                                {{- ProductReview.create_date|date_day -}}
                                <!--投稿者-->
                                <span class="recommend_name">
                                            {% if ProductReview.reviewer_url %}
                                                <a href="{{ ProductReview.reviewer_url }}"
                                                   target="_blank">{{ 'product_review.front.product_detail.name'|trans({ '%name%': ProductReview.reviewer_name }) }}</a>
                                            {% else %}
                                                {{ 'product_review.front.product_detail.name'|trans({ '%name%': ProductReview.reviewer_name }) }}
                                            {% endif %}
                                        </span>

                                <!--星の数-->
                                {% set positive_star = ProductReview.recommend_level %}
                                {% set nagative_star = 5 - positive_star %}
                                <span class="recommend_level">
                                    {{- stars.stars(positive_star, nagative_star) -}}
                                </span>
                            </p>

                            <!--タイトル-->
                            <strong>{{ ProductReview.title|trans }}</strong>

                            <!--レビューコメント-->
                            <p>{{ ProductReview.comment|nl2br }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ 'product_review.front.product_detail.no_review'|trans }}</p>
            {% endif %}
        </div>
        {% endspaceless %}
        <div class="c-detail-product__actions-item">
            <a href="{{ url('product_review_index', { id: Product.id }) }}"
               class="c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated mdc-ripple-upgraded">{{ 'product_review.front.product_detail.post_review'|trans }}</a>
        </div>
    </div>
</div>
<!-- ▲レビューエリア -->
