{% if productreserve4_is_reserve_status %}

<script>
    $(function () {
        let productreserve4_list = {{ productreserve4_list|json_encode|raw }};

        $('.p-shopping__summary-button.is-secondary').html("{{ '予約する'|trans }}");

        for(let i in productreserve4_list) {
            let reserve = productreserve4_list[i];
            let nth = parseInt(i)+1;
            $( ".p-shopping__deliv-contents-item .p-shopping__deliv-product:nth-child("+(nth)+") div.p-shopping__deliv-product-detail").append('<p class="p-shopping__deliv-product-price reservation4-shipping-date">{{'発送予定日'|trans}}：'+ reserve.shipping_date + '</p>');

        }

    });
</script>

<style type="text/css">
    .reservation4-comment { font-size: 14px; margin: 10px 0px 0px 0px; color: #000000; }
    .reservation4-add-cart-disabled, .reservation4-add-cart { background-color: #30AADD !important; border-color: #30AADD  !important;}
    .reservation4-add-cart:hover { background-color: #C5A540 !important; ; border-color: #C5A540 !important; ;}
    .reservation4-add-cart-disabled:hover {background-color: #30AADD !important; border-color: #30AADD !important;}
    .reservation4-shipping-date { color: #ee1111; font-weight: 600; display: block;}
    .reservation4-status-end { font-weight: 500; font-size: 24px;}
</style>
{% endif %}
