.b-cart {
    position: relative;
    @include mq() {
        position: initial;
    }
    &__trigger {
        &:hover {
            @include mq(hover) {
                cursor: pointer;
            }
        }
    }
    &__menu {
        display: flex;
        position: relative;
        padding-right: 10px;
        &:hover {
            @include mq(hover) {
                opacity: 0.8;
            }
        }
        &-icon {}
        &-badge {
            color: $color-on-secondary;;
            font-size: 10px;
            line-height: 1.6;
            letter-spacing: 0;
            height: 16px;
            background: $color-secondary;
            padding: 0 5px;
            border-radius: 8px;
            position: absolute;
            top: -5px;
            right: 0px;
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 20;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        transform: translateX(0);
        transition: all .3s;
        visibility: hidden;
        &.is-active {
            opacity: 1;
            visibility: visible;
            touch-action: none;
        }
    }
    &__body {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 30;
        width: 400px;
        height: 100vh;
        background: #fff;
        box-sizing: border-box;
        transform: translateX(400px);
        transition: mdc-animation-exit-permanent(transform, 175ms, 150ms);
        @include mq() {
            width: 260px;
            transform: translateX(260px);
            padding-bottom: 80px;
        }
        &.is-active {
            display: block;
            transform: translateX(0px);
            transition: mdc-animation-enter(transform, 175ms, 0ms);
        }
    }
    &__heading {
        padding: 20px;
        border-bottom: solid 1px rgba(0,0,0,0.12);
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq() {
            padding: 16px;
        }
        &-icon {
            font-size: 38px;
            color: rgba($font-color-base, 0.8);
        }
    }
    &__price {
        margin-left: 4px;
        padding-top: 4px;
        &-number {
            font-size: 0.875em;
            font-weight: $font-weight-bold;
            color: rgba($font-color-base,0.8);
            line-height: 1.2;
            white-space: nowrap;
        }
    }

    &__message {
        display: flex;
        flex-direction: column;
        align-items: center;background-color: rgba(0, 0, 0, 0.03);
        border: solid 1px rgba(0, 0, 0, 0.12);
        padding: 20px;
        margin: 20px 20px 0;
        @include mq() {
            padding: 16px;
            margin: 16px 16px 0;
        }
        &-text {
            margin: 0;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        padding: 20px;
        border-bottom: solid 1px rgba(0,0,0,0.12);
        @include mq() {
            padding: 16px;
        }
        &-image {
            width: 100px;
            flex-shrink: 0;
        }
        &-contents {
            flex-grow: 1;
            padding-left: 10px;
            @include mq() {
                padding-left: 8px;
            }
        }
        &-name {
            font-size: 0.875em;
            color: rgba($font-color-base, 0.8);
            font-weight: $font-weight-bold;
            margin: 0 0 5px;
            line-height: 1.5;
            @include mq() {
                line-height: 1.3;
            }
        }
        &-class-category {
            margin: 0;
            color: rgba($font-color-base,.8);
            font-size: 0.75rem;
            @include mq() {
                font-size: 10px;
            }
        }
        &-price {
            display: flex;
            align-items: baseline;
            margin: 10px 0 0;
            line-height: 1.5;
            @include mq() {
                line-height: 1.3;
                margin: 8px 0 0;
            }
            &--main {
                color: rgba($font-color-base, 0.6);
                font-weight: $font-weight-bold;
                font-size: 0.875em;
            }
            &--sub {
                font-size: 0.75rem;
                @include em-ml(0.5);
            }
        }
        &-number {
            margin: 2px 0 0;
            font-size: 0.875rem;
            @include mq() {
                margin: 4px 0 0;
            }
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        @include mq() {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        &-item {
            @include btn-container__item();
        }
    }
    & &__button {
        display: flex;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
        @include mq() {
            max-width: 228px;
        }
    }
}
