.b-category {
    @include container;
    margin: 140px auto 60px;
    @include mq() {
        margin: 70px auto 30px;
    }
    &__body {}
    &__contents {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2px;
    }
    &__item {
        width: 33.33333%;
        padding: 2px;
        box-sizing: border-box;
        @include mq(tb) {
            width: 50%;
        }
        &-link {
            position: relative;
            z-index: 1;
            min-height: 275px;
            text-decoration: none;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 20px;
            box-sizing: border-box;
            overflow: hidden;
            @include mq() {
                padding: 16px;
                min-height: 114px;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: mdc-animation-exit-permanent(background, 175ms, 0ms);
                background: rgba(0,0,0,0);
                z-index: 2;

            }
            &:hover {
                &:after {
                    transition: mdc-animation-enter(background, 250ms, 0ms);
                    background: rgba(0,0,0,0.6);
                }
            }

        }
        &-title {
            position: relative;
            z-index: 2;
            font-family: $font-family-en;
            font-weight: $font-weight-medium;
            font-size: 2em;
            margin: 0;
            letter-spacing: 0.1em;
            line-height: 1.2;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
            @include mq() {
                font-size: 1em;
            }
        }
        &-description {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3;
            width: 100%;
            margin: 0;
            padding: 0 20px;
            box-sizing: border-box;
            font-size: 0.75em;
            transition: mdc-animation-exit-permanent(opacity, 175ms, 0ms);
            opacity: 0;
            transform: translate(-50%, -50%);
            @include mq() {
                margin: 0;
                font-size: 0.75em;
                padding: 0 16px;
            }
            .b-category__item-link:hover & {
                @include mq(hover) {
                    transform: translate(-50%, -50%);
                    transition: mdc-animation-enter(opacity, 250ms, 0ms);
                    opacity: 1;
                }
            }
        }
        &-bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transform: scale(1);
            transition: mdc-animation-exit-permanent(transform, 250ms, 0ms);
            .b-category__item-link:hover & {
                @include mq(hover) {
                    transform: scale(1.05);
                    transition: mdc-animation-enter(transform, 250ms, 0ms);
                }
            }
        }
    }
}
