
.b-category-nav-sp {

    //padding top bottom
    $padding: 8px;

    background: #fff;
    //border-top: solid 1px rgba(0,0,0,.12);
    border-bottom: solid 1px rgba(0,0,0,.12);
    &__heading {
        @include em-pl(1);
        @include em-pr(1);
        padding-top: $padding;
        padding-bottom: $padding;
        outline: none;
        border-bottom: solid 1px rgba(#000,0.12);
        @include mq(tb) {
            background: $bg-color;
            border: none;
        }
        /*
        &.is-active,
        [expanded] > & {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
            .b-category-nav-sp__name {
                font-weight: $font-weight-bold;
            }
        }
        */
        &-contents {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__title {
        display: flex;
        align-items: center;
        padding-top: $padding;
        padding-bottom: $padding;
        &-icon {
            @include  em-mr(0.5);
            color: rgba($font-color-base,0.8);
            @include mq() {
                color: rgba($font-color-base,1);
            }
        }
        &-text {
            @include font(0, false);
            font-weight: $font-weight-bold;
            margin: 0;
            align-self: flex-start;
            color: rgba($font-color-base,0.8);
            @include mq() {
                color: rgba($font-color-base,1);
            }
        }
    }
    &__list {
        &-item {
            border-top: solid 1px rgba(0,0,0,.12);
            overflow: hidden;
            padding-top: $padding;
            padding-bottom: $padding;
            &:first-child {
                border-top: none;
            }
            & & {
                border-top: none;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
    &__link {
        display: block;
        color: $font-color-base;
        text-decoration: none;
        @include  em-pl(1);
        @include  em-pr(1);
        padding-top: $padding;
        padding-bottom: $padding;
        //background-color: rgba(0,0,0,.03);
    }
    &__name {
        display: block;
        font-size: 0.875em;
    }
    &__icon {
        font-size: 18px;
        @include  em-ml(1);
    }

    //下層カテゴリー
    &__list {
        //1階層目
        & {
            .b-category-nav-sp__heading {
                border: none;
                background: none;
            }
        }
        //2階層目
        & & {
            display: none;
            .b-category-nav-sp__heading {
                @include  em-pl(2);
                //background-color: rgba(0,0,0,.02);
            }
            .b-category-nav-sp__link {
                @include  em-pl(2);
                //background-color: rgba(0,0,0,.02);
            }
        }
        //3階層目以降
        & & & {
            .b-category-nav-sp__heading {
                @include  em-pl(3);
                //background-color: rgba(0,0,0,.04);
            }
            .b-category-nav-sp__link  {
                @include  em-pl(3);
                //background-color: rgba(0,0,0,.04);
            }
        }
    }

}
