.b-eyecatch {
    @include container;
    margin: 75px auto 45px;
    @include mq() {
        margin: 45px auto 30px;
    }
    &__body {}
    &__contents {
    }
    &__list {
        margin: 0 -15px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        @include mq(tb) {
            display: block;
            margin: 0;
        }
        &-item {
            list-style: none;
            width: 50%;
            box-sizing: border-box;
            padding: 15px;
            display: flex;
            @include mq(tb) {
                width: 100%;
                max-width: 591px;
                margin: 20px auto;
                padding: 0;
            }
        }
    }
    &__product {
        width: 100%;
        box-shadow: inset 0 0 0px 3px rgba(0, 0, 0, 0.12);
        border-radius: 18px;
        padding: 43px;
        box-sizing: border-box;
        @include mq(tb) {
            padding: 33px;
        }
        @include mq() {
            border-radius: 12px;
            padding: 23px;
        }
        &-category {
            &-list {
                margin: 0 -10px;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                &-item {
                    list-style: none;
                    margin: 0 10px;
                }
            }
            &-link {
                color: rgba($font-color-base,0.6);
                font-family: $font-family-en;
                font-weight: $font-weight-medium;
                font-size: 0.875em;
                letter-spacing: 0.05em;
                text-decoration: none;
            }
        }
        &-title {
            margin: 5px 0;
            font-size: 2em;
            font-weight: $font-weight-bold;
            line-height: 1.4;
            @include mq() {
                font-size: 1.25em;
                line-height: 1.3;
            }
        }
        &-actions {
            margin: 15px -5px;
            &-item {
                margin: 0 5px;
            }
        }
        &-image {
            margin: 15px 0;
            &-pic {}
        }
        &-layout {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 13px -5px 0;
            &-item {
                margin: 2px 5px;
                &:nth-child(1) {
                    flex-grow: 1
                }
            }
        }
        &-name {
            margin: 0;
            font-weight: $font-weight-bold;
            line-height: 1.5;
        }
        &-price {
            font-weight: $font-weight-bold;
            margin: 0;
            color: rgba($font-color-base, 0.6);
        }
        &-text {
            font-size: 0.875em;
            color: rgba($font-color-base,0.8);
        }
    }
}
