.b-footer {
    margin-top: 40px;
    border-top: 1px solid rgba(0,0,0,0.12);
    @include mq() {
        margin-top: 20px;
    }
    &__top {
        padding: 30px 0;
        @include mq(tb) {
            padding: 20px 0;
        }
        &-contents {
            @include container;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include mq(tb) {
                flex-direction: column;
            }
            @include mq() {
                flex-direction: column;
            }
        }
    }
    &__bottom {
        padding: 20px 0;
        background: $font-color-base;
        &-contents {
            @include container;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include mq() {
                flex-direction: column;
            }
        }
    }
    // フッターナビゲーション
    &__navi {
        &-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -10px;
            padding: 0;
            @include mq(tb) {
                justify-content: center;
            }
            &-item {
                list-style: none;
            }
        }
        &-link {
            display: block;
            color: $font-color-base;
            font-size: 0.75em;
            line-height: 1.5;
            text-decoration: none;
            padding: 10px;
            &:hover {
                @include mq(hover) {
                    opacity: 0.8;
                }
            }
        }
    }
    // sns
    &__sns {
        margin: 0 0 0 20px;
        @include mq(tb) {
            margin: 15px 0 10px;
        }
        &-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -7px;
            padding: 0;
            &-item {
                list-style: none;
                margin: 0 7px;
            }
        }
        &-link {
            display: block;
            overflow: hidden;
            position: relative;
            width: 34px;
            height: 0;
            padding: 34px 0 0;
            &:hover {
                @include mq(hover) {
                    opacity: 0.8;
                }
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
            &.is-twitter {
                &:before {
                    @include retina-sprite($sprite-ico-twitter-1x-group);
                }
            }
            &.is-facebook {
                &:before {
                    @include retina-sprite($sprite-ico-facebook-1x-group);
                }
            }
            &.is-instagram {
                &:before {
                    @include retina-sprite($sprite-ico-instagram-1x-group);
                }
            }
        }
    }
    &__logo {
        overflow: hidden;
        font-size: 1px;
        line-height: 1;
        margin: -3px 0 0;
        @include mq() {
            margin: 0 0 10px;
        }
        &-link {
            display: block;
            width: 80px;
            position: relative;
            @include mq() {
                width: 70px;
            }
        }
        &-svg {
            width: 100%;
            height: auto;
            vertical-align: top;
            .st0 {
                fill: #fff;
            }
            .st1 {
                fill: #fff;
            }
        }
    }
    &__copy {
        margin: 20px 0;
        padding-left: 20px;
        @include mq() {
            margin: 10px 0;
            padding-left: 0px;
        }
        &-text {
            display: block;
            color: #fff;
            font-size: 10px;
            line-height: 1.5;
        }
    }
}
