.b-header {
    @include container($width-window);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    position: relative;
    @include mq(tb) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    @include mq() {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    &__button {
        display: none;
        @include mq(tb) {
            display: block;
        }
    }
    &__logo {
        margin: -9px 0 0;
        overflow: hidden;
        font-size: 1px;
        line-height: 1;
        @include mq(tb) {
            margin: -2px 0 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @include mq() {
            margin: -1px 0 0;
        }
        &-link {
            display: block;
            width: 100px;
            position: relative;
            @include mq() {
                width: 70px;
            }
        }
        &-svg {
            width: 100%;
            height: auto;
            vertical-align: top;
            .st0 {
                fill: #333;
            }
            .st1 {
                fill: #25b39f;
            }
        }
        &-text {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            white-space: nowrap;
        }
    }
    &__navi {
        margin-left: 20px;
        @include mq(tb) {
            display: none;
        }
        &-list {
            display: flex;
            align-items: center;
            &-item {
                margin-left: 20px;
                display: flex;
                align-items: center;
            }
        }
        &-link {
            display: block;
            text-decoration: none;
            font-family: $font-family-en;
            font-weight: $font-weight-bold;
            color: $font-color-base;
            font-size: 0.875em;
            letter-spacing: 0.1em;
            white-space: nowrap;
            &:hover {
                @include mq(hover) {
                    opacity: 0.8;
                }
            }
        }
        &-icon {
            font-size: 18px;
            width: 28px;
            height: 28px;
            padding: 3px;
            vertical-align: top;
            margin-left: 4px;
            .is-show & {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
                transition: mdc-animation-exit-permanent(all, 250ms, 0ms);
            }
            .is-hide & {
                opacity: 0;
                visibility: hidden;
                transform: translateX(-100%);
                transition: mdc-animation-enter(all, 250ms, 0ms);
            }
        }
    }
    &__category {
        min-width: 260px;
        &-list {
            &-item {}
        }
        &-link {
            display: block;
            font-size: 0.875em;
            color: $font-color-base;
            text-decoration: none;
            $padding: 8px;
            @include em-pl(1);
            @include em-pr(1);
            padding-top: $padding;
            padding-bottom: $padding;
            -webkit-font-smoothing: auto;
        }
    }
    &__spacer {
        flex-grow: 1;
    }
    &__utility {
        display: flex;
        align-items: center;
        &-navi {}
        &-search {
            display: flex;
            margin-left: 15px;
            @include mq(tb) {
                display: none;
            }
            &:hover {
                @include mq(hover) {
                    opacity: 0.8;
                }
            }
            &-link {
                display: flex;
                text-decoration: none;
                color: $font-color-base;
            }
            &-icon {}
        }
        &-cart {
            margin-left: 15px;
            @include mq(tb) {
                margin-left: 0;
            }
        }
    }
}

 _:lang(x)::-ms-backdrop, .b-header__logo-svg {
     height: 23px;
 }
