.b-login-sp {

    //padding top bottom
    $padding: 16px;

    background: $font-color-base;
    &__list {
        &-item {
            border-top: solid 1px rgba(#fff,0.12);
            &:first-child {
                border-top: none;
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        @include em-pl(1);
        @include em-pr(1);
        padding-top: $padding;
        padding-bottom: $padding;
    }
    &__text {}
}
