.b-login {
    margin-right: 20px;
    @include mq(tb) {
        display: none;
    }
    &__list {
        display: flex;
        align-items: center;
        &-item {
            margin-left: 20px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        color: $font-color-base;
        text-decoration: none;
        &:hover {
            @include mq(hover) {
                opacity: 0.8;
            }
        }
    }
    &__text {
        font-weight: $font-weight-bold;
        letter-spacing: 0.125em;
        font-size: 0.75em;
        white-space: nowrap;
        &.is-kana {
            letter-spacing: 0.0625em;
        }
    }
}
