
.b-nav-sp {
    &__button {
        &--open {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
        }
    }
}
