.b-new-item {
    margin: 90px auto 60px;
    @include mq() {
        margin: 40px auto 30px;
    }
    &__body {}
    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 40px;
        @include mq() {
            margin: 0 0 20px;
        }
    }
    &__title {
        font-size: 2.4em;
        font-weight: $font-weight-bold;
        margin: 0;
        letter-spacing: 0.125em;
        @include mq() {
            font-size: 1.5em;
        }
    }
    &__description {
        margin: 0;
        font-size: 0.875em;
        color: rgba($font-color-base,0.8);
        @include mq() {
            margin: 5px 0 0;
        }
    }
    &__contents {
        padding-top: 44px;
    }
    &__slide {
        &-item {
            outline: none;
        }
        &-arrow {
            &--prev,
            &--next {
                border: none;
                background: rgba(0,0,0,0);
                position: absolute;
                top: -44px;
                z-index: 1;
                display: flex;
                align-items: center;
                padding: 10px;
                outline: none;
            }
            &--prev {
                left: 50%;
                transform: translateX(-100%);
            }
            &--next {
                right: 50%;
                transform: translateX(100%);
            }
            &-icon {
                font-size: 14px;
            }
            &-text {
                font-family: $font-family-en;
                font-weight: $font-weight-medium;
                font-size: 0.75em;
                letter-spacing: 0.125em;
                line-height: 14px;
                padding: 0 10px;
            }
        }
    }
    &__product {
        width: 100%;
        max-width: 275px;
        padding: 0 10px;
        outline: none;
        @include mq() {
            padding: 0 8px;
        }
        &-link {
            display: block;
            color: $font-color-base;
            text-decoration: none;
            outline: none;
        }
        &-image {
            margin: 0;
            overflow: hidden;
            &-pic {
                transform: scale(1);
                transition: mdc-animation-exit-permanent(transform, 250ms, 0ms);
                .b-new-item__product-link:hover & {
                    @include mq(hover) {
                        transform: scale(1.05);
                        transition: mdc-animation-enter(transform, 250ms, 0ms);
                    }
                }
            }
        }
        &-name {
            font-size: 0.875em;
            font-weight: $font-weight-bold;
            margin: 10px 0 5px;
        }
        &-price {
            font-size: 0.75em;
            font-weight: $font-weight-bold;
            margin: 0;
            color: rgba($font-color-base, 0.6);
        }
    }
}
