.b-search-product {
    background: #fff;
    &__title {
        font-size: inherit;
        display: flex;
        align-items: center;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        @include  em-pl(1);
        @include  em-pr(1);
        border-bottom: solid 1px rgba(#000,0.12);
        @include mq(tb) {
            background: $bg-color;
            border: none;
        }
        &-icon {
            @include  em-mr(0.5);
            color: rgba($font-color-base,0.8);
            @include mq() {
                color: rgba($font-color-base,1);
            }
        }
        &-text {
            @include font(0, false);
            font-weight: $font-weight-bold;
            margin: 0;
            align-self: flex-start;
            color: rgba($font-color-base,0.8);
            @include mq() {
                color: rgba($font-color-base,1);
            }
        }
    }
    &__contents {
        padding-top: 16px;
        padding-bottom: 16px;
        @include  em-pl(1);
        @include  em-pr(1);
        @include mq() {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .c-select {
            width: 100%;
        }
    }
    &__actions {
        @include  em-pl(1);
        @include  em-pr(1);
        padding-bottom: 26px;
        @include mq() {
            padding-bottom: 20px;
        }
        &-item {}
    }
    &__button {
        display: flex;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
    }
}
