.b-topic {
    background: $bg-color;
    margin: 100px 0 60px;
    @include mq() {
        margin: 50px 0 30px;
    }
    &__body {
        @include container;
    }
    &__heading {
        display: flex;
        align-items: baseline;
        transform: translateY(-40%);
        @include mq() {
            //justify-content: space-between;
            justify-content: center;
        }
    }
    &__title {
        font-size: inherit;
        margin: 0;
        display: flex;
        align-items: baseline;
        @include mq() {
            flex-direction: column;
            align-items: center;
        }
        &--main {
            font-family: $font-family-en;
            font-weight: $font-weight-bold;
            font-size: 3em;
            letter-spacing: 0.05em;
            @include mq() {
                font-size: 1.7em;
            }
        }
        &--sub {
            font-weight: $font-weight-bold;
            margin-left: 0.5em;
            @include mq() {
                font-size: 0.75em;
            }
        }
    }
    /*
    &__navi {
        margin: 0 0 0 20px;
        @include mq() {
            margin: 0;
        }
        &-link {
            color: $font-color-base;
            text-decoration: none;
            display: flex;
            align-items: center;
            &:hover {
                @include mq(hover) {
                    color: rgba($font-color-base,0.8);
                }
            }
            &-text {
                font-size: 0.875em;
                font-weight: $font-weight-bold;
                @include mq() {
                    font-size: 0.75em;
                }
            }
            &-icon {
                @include mq() {
                    font-size: 19px;
                }
            }
        }
    }
    */
    &__contents {
        padding-bottom: 20px;
        @include mq(tb) {
            padding-bottom: 80px;
        }
        @include mq() {
            padding-top: 8px;
            padding-bottom: 30px;
        }
    }
    &__item {
        position: relative;
        padding-bottom: 40px;
        margin: 0 0 40px;
        @include mq(tb) {
            padding-bottom: 0;
            margin: 0 0 20px;
        }
        &-image {
            max-width: 80%;
            position: relative;
            z-index: 1;
            @include mq(tb) {
                max-width: none;
            }
            .is-odd & {
                margin-left: auto;
            }
            .is-even & {
                margin-right: auto;
            }
        }
        &-contents {
            background: #fff;
            position: absolute;
            bottom: 0;
            z-index: 2;
            width: 100%;
            max-width: 520px;
            padding: 40px 60px;
            box-sizing: border-box;
            @include mq(tb) {
                position: relative;
                bottom: auto;
                max-width: none;
                padding: 40px 30px;
            }
            @include mq() {
                padding: 20px 20px 25px;
            }
            .is-odd & {
                left: 0;
                @include mq(tb) {
                    left: auto;
                }
            }
            .is-even & {
                right: 0;
                @include mq(tb) {
                    left: auto;
                }
            }
        }

        &-name {
            margin: 0;
            font-family: $font-family-en;
            font-weight: $font-weight-medium;
            word-wrap: break-word;
            line-height: 1.3;
            letter-spacing: 0.05em;
            @include mq(tb) {
                max-width: 525px;
                margin: 0 auto;
            }
        }
        &-description {
            color: rgba($font-color-base, 0.6);
            font-weight: $font-weight-bold;
            font-size: 10px;
            margin: 5px 0 0;
            line-height: 2;
            @include mq(tb) {
                max-width: 525px;
                margin: 5px auto 0;
            }
        }
        &-text {
            font-size: 0.875em;
            color: rgba($font-color-base,0.8);
            margin: 15px 0 0;
            @include mq(tb) {
                max-width: 525px;
                margin: 15px auto 0;
            }
        }
        &-actions {
            margin: 25px 0 0;
            @include mq(tb) {
                max-width: 525px;
                margin: 25px auto 0;
            }
            @include mq() {
                margin: 20px auto 0;
            }
            &-item {}
        }
    }
}
