

/*
.u-break--pc-visible
.u-break--pc-hidden
.u-break--tb-visible
.u-break--tb-hidden
.u-break--sp-visible
.u-break--sp-hidden

*/
.u-break {
    &--pc {
        &-visible {
            display: initial;
            @include mq(tb) {
                display: none;
            }
        }
        &-hidden {
            display: none;
            @include mq(tb) {
                display: initial;
            }
        }
    }
    &--tb {
        &-visible {
            display: none;
            @include mq(tb) {
                display: initial;
            }
            @include mq() {
                display: none;
            }
        }
        &-hidden {
            display: initial;
            @include mq(tb) {
                display: none;
            }
            @include mq() {
                display: initial;
            }
        }
    }
    &--sp {
        &-visible {
            display: none;
            @include mq() {
                display: initial;
            }
        }
        &-hidden {
            display: initial;
            @include mq() {
                display: none;
            }
        }
    }
}
