.u-font {
    &--ja {
        font-family: $font-family-ja;
    }
    &--en {
        font-family: $font-family-en;
    }
    &-weight {
        &--bold {
            font-weight: $font-weight-bold;
        }
    }
    &-opacity {
        &--08 {
            color: rgba($font-color-base,0.80);
        }
    }
}