.u-m {
    &t {
        &-0 {
            margin-top: 0;
        }
    }
    &b {
        &-0 {
            margin-bottom: 0;
        }
    }
    &t {
        &-10 {
            margin-top: 10px;
        }
    }
    &b {
        &-10 {
            margin-bottom: 10px;
        }
    }
    &t {
        &-20 {
            margin-top: 20px;
        }
    }
    &b {
        &-20 {
            margin-bottom:40px;
        }
    }
    &b {
        &-1line {
            margin-bottom: $line-height-base * 1 + em;
            @include mq() {
                margin-bottom: $line-height-base-sp * 1 + em;
            }
        }
    }
}