.u-list-sanitize {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
.u-dl-sanitize {
    margin-top: 0;
    margin-bottom: 0;
    dt {}
    dd {
        margin-left: 0;
    }
}