{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <section class="p-forgot">

        <div class="p-forgot__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'パスワードの再発行(メール送信)'|trans }}</span>
            </h1>
        </div>

        <div class="p-forgot__contents">
            <div class="p-forgot__complete">
                <dl class="p-forgot__complete-message">
                    <dt class="p-forgot__complete-message-label">{{ 'パスワード再発行メールの<br>送信が完了しました。'|trans|raw }}</dt>
                    <dd class="p-forgot__complete-message-detail">
                        <p class="p-forgot__complete-description">{{ 'ご登録メールアドレスにパスワードを再発行するためのメールを送信いたしましたので、メールの内容をご確認いただきますよう、お願いいたします。'|trans }}</p>
                        <p class="p-forgot__complete-description">{{ '※メールが届かない場合はメールアドレスをご確認の上、再度お試しください。'|trans }}</p>
                    </dd>
                </dl>
            </div>
        </div>

    </section>

{% endblock %}


