{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
    <section class="p-forgot">
    
        <div class="p-forgot__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'パスワードの再発行'|trans }}</span>
            </h1>
        </div>
        
        <div class="p-forgot__contents">
            <p class="p-forgot__description">{{ 'ご登録時のメールアドレスを入力して「次へ」ボタンをクリックしてください。<br>パスワード再発行メールを送信しますので、メールの内容をご確認の上、新しいパスワードを登録してください。'|trans|raw }}</p>
            <form name="form1" id="form1" method="post" action="{{ url('forgot') }}">
                {{ form_widget(form._token) }}
                <div class="c-form is-input has-border">
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.login_email, 'メールアドレス', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.login_email) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.login_email, {'attr': { 'class': 'c-text-field__input mdc-text-field__input' }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="contact_email">info@medyfine.co.jp</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.login_email, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <div class="c-form__actions">
                        <div class="c-form__actions-item">
                            <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit">
                                <span class="c-button__label mdc-button__label">{{ '次へ'|trans }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
        
    </section>
{% endblock %}


