{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}

    <section class="p-forgot">
    
        <div class="p-forgot__heading">
            <h1 class="c-page-title">
                <span class="c-page-title__text">{{ 'パスワード再発行(再設定)'|trans }}</span>
            </h1>
        </div>
        
        <div class="p-forgot__contents">

            <form id="form1" method="post" novalidate>
                {{ form_widget(form._token) }}
                <div class="c-form is-input">
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.login_email, 'メールアドレス', { 'label_attr': { 'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.login_email) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.login_email, {'attr': { 'class': 'c-text-field__input mdc-text-field__input' }}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="contact_email">info@medyfine.co.jp</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.login_email, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                    {% if error %}
                                        <p class="c-form__error-text">{{ error }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="c-form__parts u-dl-sanitize">
                        <dt class="c-form__parts-label">
                            {{ form_label(form.password, 'パスワード', { 'label_attr': {'class': 'c-form__parts-label-text' }}) }}
                        </dt>
                        <dd class="c-form__parts-detail">
                            <div class="c-form__box">
                                <div class="c-form__box-item is-half">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.password.first) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.password.first, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }, 'type': 'password'}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="entry_password_first">{{'半角英数記号%min%〜%max%文字'|trans({ '%min%': eccube_config.eccube_password_min_len, '%max%': eccube_config.eccube_password_max_len })}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.password.first, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                            <div class="c-form__box">
                                <div class="c-form__box-item is-half">
                                    <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.password.second) ? ' mdc-text-field--invalid' }}">
                                        {{ form_widget(form.password.second, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }, 'type': 'password'}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label class="c-floating-label mdc-floating-label" for="entry_password_second">{{'確認のためもう一度入力してください'|trans}}</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                    {{ form_errors(form.password.second, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <div class="c-form__actions">
                        <div class="c-form__actions-item">
                            <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit">{{ '登録する'|trans }}</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        
    </section>

{% endblock %}

