{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}

{{ 'この度はご予約注文いただき誠にありがとうございます。下記ご予約注文内容にお間違えがないかご確認下さい。'|trans }}：

************************************************
　{{'ご請求金額'|trans}}
************************************************

{{'ご予約注文日時'|trans}}：{{ Order.order_date|date_sec }}
{{'ご予約注文番号'|trans}}：{{ Order.order_no }}
{{ 'お支払い合計'|trans }}：{{ Order.payment_total|price}}
{{ 'お支払い方法'|trans }}：{{ Order.payment_method|trans }}
{% if BaseInfo.isOptionPoint and Order.Customer is not null %}
{{ 'ご利用ポイント'|trans }}：{{ Order.usePoint|number_format }} pt
{{ '加算ポイント'|trans }}：{{ Order.addPoint|number_format }} pt
{% endif %}
{{ 'お問い合わせ内容'|trans }}：{{ Order.message }}


************************************************
　{{'ご予約注文商品明細'|trans}}
************************************************

{% for OrderItem in Order.MergedProductOrderItems %}
{{ '商品コード'|trans }}：{{ OrderItem.product_code }}
{{'商品名'|trans}}：{{ OrderItem.product_name|trans }}  {{ OrderItem.classcategory_name1|trans }}  {{ OrderItem.classcategory_name2|trans }} {{ is_reduced_tax_rate(OrderItem) ? '※' }}
{{ '単価'|trans }}：{{ OrderItem.price_inctax|price }}
{{ '数量'|trans }}：{{ OrderItem.quantity|number_format }}

{% endfor %}
{{'※は軽減税率対象商品です。'|trans}}
-------------------------------------------------
{{ '小　計'|trans }}：{{ Order.subtotal|price }}
{{ '手数料'|trans }}：{{ Order.charge|price }}
{{ '送　料'|trans }}：{{ Order.delivery_fee_total|price}}
{% if Order.taxable_discount < 0 %}
{{ '値引き'|trans }}：{{ Order.taxable_discount|price }}
{% endif %}
-------------------------------------------------
{{ '合　計'|trans }}：{{ Order.taxable_total|price }}
    {% for rate, total in Order.taxable_total_by_tax_rate %}
    ({{ '%rate% %対象'|trans({'%rate%': rate}) }}：{{ total|price }})
    {% endfor %}
{% for item in Order.tax_free_discount_items %}
-------------------------------------------------
{{ item.product_name|trans }}：{{ item.total_price|price }}
{% endfor %}
============================================
{{ 'お支払い合計'|trans }}：{{ Order.payment_total|price }}

************************************************
　{{'ご予約注文者情報'|trans}}
************************************************
{{ 'お名前'|trans }}：{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}
{{ 'お名前(カナ)'|trans }}：{{ Order.kana01 }} {{ Order.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}
{% if Order.company_name %}
{{ '会社名'|trans }}：{{ Order.company_name }}
{% endif %}
{{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Order.postal_code }}
{{ '住所'|trans }}：{{ Order.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Order.addr01 }}{{ Order.addr02 }}
{{ '電話番号'|trans }}：{{ Order.phone_number }}
{{ 'メールアドレス'|trans }}：{{ Order.email }}

************************************************
　{{ '配送情報'|trans }}
************************************************

{%  for Shipping in Order.Shippings %}
◎{{ 'お届け先'|trans }}{% if Order.multiple %}{{ loop.index }}{% endif %}

{{ 'お名前'|trans }}：{{ Shipping.name01 }} {{ Shipping.name02 }} {% if app.request.locale == "ja" %}様{% endif %}
{{ 'お名前(カナ)'|trans }}：{{ Shipping.kana01 }} {{ Shipping.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}
{% if Shipping.company_name %}
{{ '会社名'|trans }}：{{ Shipping.company_name }}
{% endif %}
{{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Shipping.postal_code }}
{{ '住所'|trans }}：{{ Shipping.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Shipping.addr01 }}{{ Shipping.addr02 }}
{{ '電話番号'|trans }}：{{ Shipping.phone_number }}

{{ '配送方法'|trans }}：{{ Shipping.shipping_delivery_name|trans }}
{{ 'お届け日'|trans }}：{{ Shipping.shipping_delivery_date is empty ? '指定なし'|trans : Shipping.shipping_delivery_date|date_day }}
{{ 'お届け時間'|trans }}：{{ Shipping.shipping_delivery_time|trans|default('指定なし'|trans) }}

{%  for OrderItem in Shipping.productOrderItems %}
{{ '商品コード'|trans }}：{{ OrderItem.product_code }}
{{'商品名'|trans}}：{{ OrderItem.product_name|trans }}  {{ OrderItem.classcategory_name1|trans }}  {{ OrderItem.classcategory_name2|trans }}
{{ '数量'|trans }}：{{ OrderItem.quantity|number_format }}
{% if Reserve[OrderItem.Product.id] is defined %}
{{ '発送予定日'|trans }}：{{ attribute(Reserve, OrderItem.Product.id).shipping_date }}
{% else %}
{{ '発送予定日'|trans }}：{{ ClassReserve[OrderItem.Product.id][OrderItem.ProductClass.id].shipping_date }}
{% endif %}
{% endfor %}
{% endfor %}

{% if Order.complete_mail_message is not empty %}
{{ Order.complete_mail_message }}
{% endif %}

============================================

{{ 'front.mail_no_reply_text'|trans|nl2br }}
{% endautoescape %}
