<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
<br>
<br>
<div align="center"><a href="{{ url('homepage') }}" style="font-family:Helvetica, Arial, sans-serif;font-size:30px;color:#333333;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
<!-- 100% background wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
    <tr>
        <td align="center" valign="top" bgcolor="#F0F0F0" style="background-color:#F0F0F0;border-collapse:collapse;">
            <br>
            <!-- 600px container (white background) -->
            <table id="html-mail-table1" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content" align="left" style="border-collapse:collapse;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff;">
                        <br>
                        <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550;">{{ '予約商品の発送予定日が変更されました。'|trans }}：</div>
                        <br>
                        <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;">
                            {{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}<br>
                            <br>
                            {{'%shop_name%でございます。'|trans({'%shop_name%': BaseInfo.shop_name })}}<br/>
                            {{ 'お客さまがご予約注文された以下の商品の予約発送日が変更されました。'|trans }}：<br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            　{{'ご予約注文商品明細'|trans}}<br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                                {{ '商品コード'|trans }}：{{ Product.product_code }}<br/>
                                {{'商品名'|trans}}：{{ Product.product_name }}  {{ Product.classcategory_name1 }}  {{ Product.classcategory_name2 }}<br/>
                                {{ '数量'|trans }}：{{ Product.quantity|number_format }}<br/>
                                {{ '発送予定日'|trans }}：{{ Reserve.shipping_date }}<br/>
                                <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            　{{'ご予約注文者情報'|trans}}<br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            {{ 'お名前'|trans }}：{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}<br/>
                            {{ 'お名前(カナ)'|trans }}：{{ Order.kana01 }} {{ Order.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}<br/>
                            {% if Order.company_name %}
                                {{ '会社名'|trans }}：{{ Order.company_name }}<br/>
                            {% endif %}
                            {{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Order.postal_code }}<br/>
                            {{ '住所'|trans }}：{{ Order.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Order.addr01 }}{{ Order.addr02 }}<br/>
                            {{ '電話番号'|trans }}：{{ Order.phone_number }}<br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            　{{ '配送情報'|trans }}<br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            {{ 'お名前'|trans }}：{{ Shipping.name01 }} {{ Shipping.name02 }} {% if app.request.locale == "ja" %}様{% endif %}<br/>
                            {{ 'お名前(カナ)'|trans }}：{{ Shipping.kana01 }} {{ Shipping.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}<br/>
                            {% if Shipping.company_name %}
                                {{ '会社名'|trans }}：{{ Shipping.company_name }}<br/>
                            {% endif %}
                            {{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Shipping.postal_code }}<br/>
                            {{ '住所'|trans }}：{{ Shipping.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Shipping.addr01 }}{{ Shipping.addr02 }}<br/>
                            {{ '電話番号'|trans }}：{{ Shipping.phone_number }}<br/>
                            <br/>
                        </div>
                    </td>
                </tr>
            </table>
            <!--/600px container -->
            <br>
            <br>
            <table id="html-mail-table2" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content footer-text" align="left" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff;">
                        {{'本メールは、%shop_name%より送信しております。'|trans({'%shop_name%':BaseInfo.shop_name})}}<br/>
                        {{'もしお心当たりが無い場合は、その旨 <a href="mailto:%email%" style="text-decoration:none;">%email%</a> までご連絡いただければ幸いです。'|trans({'%email%':BaseInfo.email02})|raw}}<br/>
                        <br/>
                        <div class="title" style="font-size:14px;font-family:Helvetica, Arial, sans-serif;font-weight:600;color:#374550;"><a href="{{ url('homepage') }}" style="color:#aaaaaa;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
                        <div>copyright &copy; {{ BaseInfo.shop_name }} all rights reserved.</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% background wrapper-->
<br>
<br>
</body>

</html>

