{#
 This file is part of the Coupon plugin

 Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 http://www.ec-cube.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
<script type="text/javascript">
    $(function () {
        // append to layout
        //$(".ec-orderConfirm").last().before($("#coupon").detach());
        $(".p-shopping__contact").last().before($("#coupon").detach());
    })
</script>

<div id="coupon" class="ec-orderCoupon">
    <div class="ec-rectHeading">
        <h2 class="c-contents-title">
            <span class="c-contents-title__text">{{ 'plugin_coupon.front.shopping.header'|trans }}</span>
        </h2>
    </div>

    <div id="customer_detail_box" class="column is-edit p-shopping__point-contents-item">
        {% if CouponOrder %}
            <strong class="text-danger">{{ 'plugin_coupon.front.shopping.message.use_code'|trans({'%code%': CouponOrder.coupon_cd }) }}</strong>
        {% else %}
            {{ 'plugin_coupon.front.shopping.message.empty'|trans }}
        {% endif %}
    </div>
</div>
