{#
 This file is part of the Coupon plugin

 Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 http://www.ec-cube.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}
{% block javascript %}
    <script>
        $(function() {
            $('input[name~="front_plugin_coupon_shopping[coupon_use]"]').change(function () {
                if($(this).val() == 0) {
                    $('#front_plugin_coupon_shopping_coupon_cd').attr('readonly', '');
                    $('#front_plugin_coupon_shopping_coupon_cd').css('background-color', '#eee');
                } else {
                    $('#front_plugin_coupon_shopping_coupon_cd').removeAttr('readonly');
                    $('#front_plugin_coupon_shopping_coupon_cd').css('background-color', 'white');
                }
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
<section class="p-contact">
    <div class="p-contact__heading">
        <h1 class="c-page-title">
            <span class="c-page-title__text">{{ 'plugin_coupon.front.shopping_coupon.header'|trans }}</span>
        </h1>
    </div>
    <div class="p-contact__contents">
        <p class="p-contact__description">
            {{ 'plugin_coupon.front.shopping_coupon.body'|trans|raw }}
        </p>


        <form method="post" action="{{ url('plugin_coupon_shopping') }}">
            {{ form_widget(form._token) }}
            <div class="c-form is-input has-border">
                <dl class="c-form__parts u-dl-sanitize">
                    <dt class="c-form__parts-label">{{ 'ご利用'|trans }}</dt>
                    <dd class="c-form__parts-detail">
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                <div class="ec-input">
                                    {{ form_widget(form.coupon_use) }}
                                    {{ form_errors(form.coupon_use) }}
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl id="coupon_box__cd" class="c-form__parts u-dl-sanitize">
                    <dt class="c-form__parts-label">
                        <label for="coupon_use_coupon_cd">{{ form.coupon_cd.vars.label|trans }}</label>
                    </dt>
                    <dd class="c-form__parts-detail">
                        <div class="c-form__box">
                            <div class="c-form__box-item">
                                <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.coupon_cd) ? ' mdc-text-field--invalid' }}">
                                    {{ form_widget(form.coupon_cd, {'attr': { 'class': 'c-text-field__input mdc-text-field__input', 'placeholder': null }}) }}
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label class="c-floating-label mdc-floating-label" for="reviewer_name">{{'クーポンコード'|trans}}</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                                {{ form_errors(form.coupon_cd, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="c-form__actions">
                <div class="c-form__actions-item">
                    <button class="c-form__button c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated" type="submit" name="mode" value="confirm">
                        <span class="c-button__label mdc-button__label">{{ 'common.registration'|trans }}</span>
                    </button>
                </div>
                <div class="c-form__actions-item">
                    <a class="c-form__link c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated mdc-ripple-upgraded"
                       href="{{ url('shopping') }}">
                        <span class="c-button__label mdc-button__label">{{ 'common.back'|trans }}</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
