@charset "euc-jp";
.container {
  width: 96%;
}

@-ms-viewport {
  width: device-width;
}
.visible-phone {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}

@media (max-width: 980px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .hidden-tablet {
    display: inherit !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .container {
    width: auto;
    padding: 0 20px;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-4 {
    width: 33.3333333%;
  }
  [class*="col-sm-"] {
    padding-right: 1%;
    padding-left: 1%;
    float: left;
    min-height: 1px;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 480px) {
  .container {
    width: auto;
    padding: 0 20px;
  }
}