@charset "euc-jp";
#container {
 max-width: 1000px;
 margin: auto;
}
body {
 background-color: #fff;
 background-image: url(https://www.rakuten.ne.jp/gold/b-goemon/assets/img/bg.gif);
 color: #333;
 -webkit-font-smoothing: antialiased;
}
a {
 color: #333;
}
a:hover {
    color: #ccc;
    text-decoration: none;
}
form {
 margin: 0;
}
/*
 * layout
 */
#wrapper {
 position: relative;
}
/* common */
.heading {
 font-size: 18px;
 font-weight: normal;
 margin: 0;
 padding-bottom: 20px;
 letter-spacing: 0.1em;
 border-bottom: 1px solid #333;
}
.item_img {
 margin: 0 auto;
}
.item_img:hover {
 opacity: 0.8;
}
.item_name {
 padding-top: 5px;
}
.item_regular_price {
 text-decoration: line-through;
}
.item_price {
 font-weight: bold;
}
.btn-more {
 width: 96%;
 margin: 0 auto 60px;
 padding: 10px 12px;
}
/*
 * header
 */
#header {
 margin-bottom: 30px;
}
.header_top {
 width: 100%;
 height: 50px;
 border-bottom: 1px solid #eee;
 position: absolute;
 top: 0;
 background-color: #333;
 z-index: 10;
}
.header_top_cmspbar {
 position: fixed;
}
.header_top_inner {
 max-width: 980px;
 margin: 0 auto;
}
.search_form {
 margin: 0;
 padding-top: 10px;
 float: left;
}
.search_select {
 width: 150px;
 border: 1px solid #101010;
 font-size: 12px;
}
.search_box {
 width: 260px;
}
.btn_search {
 padding: 2px 5px 3px 5px;
 border: 1px solid #101010;
}
.btn_search i {
 vertical-align: -35%;
}
.header_nav_headline {
 text-align: right;
 font-size: 12px;
 margin-top: 14px;
 letter-spacing: 0.1em;
 float: right;
}
.header_nav_headline li a i {
 vertical-align: -40%;
}
.header_nav_headline li a {
 color: #fff;
 margin-right: 5px;
}
.header_nav_headline li a:hover {
 color: #ccc;
 text-decoration: none;
}
.header_nav_headline .headline_viewcart {
 padding-left: 15px;
 border-left: 1px solid #000;
}
.header_nav_headline .contact {
  width:20px;
  padding-left: 12px;
}
.header_nav_headline .contact img {
  width:100%;
}

.header_btm {
 max-width: 980px;
 padding-top: 101px;
 margin: 0 auto;
}
.header_logo {
 margin: 0 auto;
 padding-top: 30px;
 float: left;
}
.header_lead {
 padding-top: 40px;
 font-size: 18px;
 color: #aaa;
 letter-spacing: 0.1em;
/* float: right;*/
}
/*
 * main
 */
.main {
 max-width: 980px;
}
/*
 * contents
 */
.contents {
 padding: 0;
 float: right;
}
/* recommend */
.recommend {
 margin-bottom: 20px;
}
.recommend_heading {}
.recommend_lists {
 margin-top: 20px;
 font-size: 12px;
}
.recommend_list {
 margin-bottom: 40px;
 text-align: center;
 position: relative;
}
/*
 * side
 */
.side {
 padding: 0;
}
.side .unstyled img {
 display: block;
 margin-bottom: 5px;
}
.side_banner {
 margin: 0 0 40px;
}
.side_banner_lists {}
.side_banner_list {
 margin-top: 19px;
}
.side_banner_list:first-child {
 margin-top: 0;
}
/*
 * footer
 */
.footer {
 width: 100%;
 margin-top: 40px;
}
.footer_inner {
 max-width: 980px;
 margin: 0 auto;
}
.footer_heading {}
.footer_lists {
 margin-top: 20px;
}
.footer_list {
 padding: 0 10px;
 text-align: center;
}
.footer_list_img {
 margin: 0 auto;
}
.footer_seller, .footer_recommend, .footer_checked {
 margin-bottom: 40px;
}
.footer_seller_lists, .footer_recommend_lists, .footer_checked_lists {
 font-size: 10px;
}
.footer_seller_list, .footer_recommend_list, .footer_checked_list {
 margin-bottom: 10px;
}
.footer_nav {
 padding: 60px 0;
 background-color: #333;
}
.footer_nav_shopinfo {
 color: #fff;
}
.footer_nav_shopinfo_img {
 padding: 0;
 text-align: left;
}
.footer_nav_shopinfo_img img {
 width: 180px;
}
.footer_nav_shopinfo_caption {
 padding: 0 2%;
}
.footer_nav_shopinfo_name {
 font-size: 18px;
 padding-left: 5px;
}
.footer_nav_shopinfo_memo {
 padding-left: 5px;
}
.footer_nav_lists {}
.footer_nav_list {
 color: #fff;
 padding-top: 15px;
}
.footer_nav_list:first-child {
 padding-top: 0;
}
.footer_nav_list_link {
 color: #fff;
}
.footer_nav_list_link:hover {
 color: #ccc;
 text-decoration: none;
}
.footer_copyright {
 text-align: center;
 padding: 2em 0;
}
/*
 * temp
 */
/* textarea input */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
/* border: 1px solid #101010;
 background-color: #fff;*/
}
/*
 * icons
 */
.icon-lg-b, .icon-lg-w {
 width: 24px;
 height: 24px;
 display: inline-block;
 *display: inline;
 *zoom: 1;
}

.icon-lg-b {
 background-image: url(https://www.rakuten.ne.jp/gold/b-goemon/assets/img/icon24_b.png);
}
.icon-lg-b.icon-search {
    background-position: -312px -24px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
 .icon-lg-b, .icon-lg-w {
  -webkit-background-size: 552px 480px;
  background-size: 552px 480px;
 }
 .icon-lg-b {
  background-image: url(https://www.rakuten.ne.jp/gold/b-goemon/assets/img/icon24_2x_b.png);
 }
}
/*
 * Media Queries
 */
@media (min-width: 980px) {
 .contents {
  width: 670px;
 }
 .side {
  width: 270px;
 }
}
@media (min-width: 769px) {
 .footer_list {
  width: 10%;
 }
}