@charset "UTF-8";


/*@font-face {
 font-family: "EB Garamond";
 src: url(https://www.rakuten.ne.jp/gold/b-goemon/assets/font/EBGaramondSC12-Regular.ttf) format('truetype');
}*/

@font-face {
 font-family: "Yu Gothic";
 src: local("Yu Gothic Medium");
 font-weight: 100
}
@font-face {
 font-family: "Yu Gothic";
 src: local("Yu Gothic Medium");
 font-weight: 200
}
@font-face {
 font-family: "Yu Gothic";
 src: local("Yu Gothic Medium");
 font-weight: 300
}
@font-face {
 font-family: "Yu Gothic";
 src: local("Yu Gothic Medium");
 font-weight: 400
}
@font-face {
 font-family: "Yu Gothic";
 src: local("Yu Gothic Bold");
 font-weight: 700
}
@font-face {
 font-family: "Helvetica Neue";
 src: local("Helvetica Neue Regular");
 font-weight: 100
}
@font-face {
 font-family: "Helvetica Neue";
 src: local("Helvetica Neue Regular");
 font-weight: 200
}
@font-face {
 font-family: "Yu Gothic";
 src: local("Yu Gothic Medium");
 font-weight: 100
}
@font-face {
 font-family: "Yu Gothic";
 src: local("Yu Gothic Medium");
 font-weight: 200
}
@font-face {
 font-family: "Yu Gothic";
 src: local("Yu Gothic Medium");
 font-weight: 300
}
@font-face {
 font-family: "Yu Gothic";
 src: local("Yu Gothic Medium");
 font-weight: 400
}
@font-face {
 font-family: "Yu Gothic";
 src: local("Yu Gothic Bold");
 font-weight: 700
}
@font-face {
 font-family: "Helvetica Neue";
 src: local("Helvetica Neue Regular");
 font-weight: 100
}
@font-face {
 font-family: "Helvetica Neue";
 src: local("Helvetica Neue Regular");
 font-weight: 200
}
.hidden--xs {
 display: none
}
.hidden--mid {
 display: none
}
.hidden--lg {
 display: none
}
.hidden--xl {
 display: none
}
.hidden--flex--xs {
 display: none
}
.hidden--flex--mid {
 display: none
}
.hidden--flex--lg {
 display: none
}
.hidden--flex--xl {
 display: none
}
.hidden--inline--xs {
 display: none
}
.hidden--inline--mid {
 display: none
}
.hidden--inline--lg {
 display: none
}
.hidden--inline--xl {
 display: none
}
.visible--xs {
 display: block
}
.visible--mid {
 display: block
}
.visible--lg {
 display: block
}
.visible--xl {
 display: block
}
.visible--flex--xs {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex
}
.visible--flex--mid {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex
}
.visible--flex--lg {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex
}
.visible--flex--xl {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex
}
.visible--inline--xs {
 display: inline
}
.visible--inline--mid {
 display: inline
}
.visible--inline--lg {
 display: inline
}
.visible--inline--xl {
 display: inline
}
.header_btm, .main {
 width: 100%;
 max-width: 1000px
}
#contents .col {
 padding-left: 3%;
 padding-right: 3%
}
.header_mid_cmspbar, .header_top_cmspbar {
 position: static
}
.header_lead {
 margin: 0;
 padding: 5px;
 color: #fff;
 font-size: 11px;
 text-align: center;
 font-family: "EB Garamond", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 -webkit-font-feature-settings: "palt";
 font-feature-settings: "palt"
}
.header_nav_headline {
 margin: 0;
 padding: 0;
 position: absolute;
 top: 50%;
 right: 10px;
 -webkit-transform: translate(0, -50%);
 -ms-transform: translate(0, -50%);
 transform: translate(0, -50%)
}
.header_nav_headline li {
 margin: 0;
 padding: 0
}
.header_nav_headline li a {
 margin: 0;
 padding: 0;
 color: #2b2b2b;
 font-size: .8125rem
}
.header_nav_headline .headline_viewcart {
 border: none;
 margin: 0;
 padding: 0
}
.header_nav_headline .gemn_icon img {
 -webkit-transform: translate(-50%, -30%);
 -ms-transform: translate(-50%, -30%);
 transform: translate(-50%, -30%)
}
.header_btm {
 padding: 0
}
#header {
 margin-bottom: 10px
}
.header_logo {
 padding: 10px 0;
 float: none;
 font-family: "EB Garamond", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-size: 27px;
 font-weight: 400;
 text-align: center;
 letter-spacing: .18em
}
.header_logo ~ .gnav {
 margin-top: 1.25rem
}
.header_top {
 position: relative;
 border: none;
 background: 0 0;
 height: auto
}
.header_top::after {
 content: "";
 display: block;
 clear: both
}
.header_top .header_top_inner {
 padding: 0;
 background: #2b2b2b
}
.gnav_list {
 margin-top: 10px;
 padding: 0;
 list-style: none inside;
}
.gnav_list_item .gnav_sublist {
 position: absolute;
 left: 0;
 z-index: 10;
 width: 100%;
 height: auto;
 opacity: 0;
 -webkit-transform: scale(0, 1);
 -ms-transform: scale(0, 1);
 transform: scale(0, 1);
 -webkit-transition: opacity 480ms;
 transition: opacity 480ms
}
.gnav_list_item--brand .gnav_list_link {
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-size: 14px
}
.gnav_list_item {
 padding: 0 1em 1.25rem;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.gnav_list_item:first-child {
 margin-left: 0;
 padding-left: 0
}
.gnav_list_item:last-child {
 margin-right: 0
}
.gnav_list_item--has_sublist > a:hover, .gnav_list_item--has_sublist > a:visited {
 color: #2b2b2b
}
.gnav_list_item--has_sublist:hover .gnav_sublist {
 display: block;
 opacity: 1;
 -webkit-transform: scale(1, 1);
 -ms-transform: scale(1, 1);
 transform: scale(1, 1)
}
.gnav_list_item--has_sublist:hover > a::after {
 content: "";
 height: 100%
}
.gnav_list_item--has_sublist > a {
 position: relative;
 z-index: 11
}
.gnav_list_item--has_sublist > a::after {
 content: "";
 display: block;
 position: absolute;
 left: 50%;
 width: 1px;
 height: 0;
 background: #000;
 -webkit-transform: translate(0, 50%);
 -ms-transform: translate(0, 50%);
 transform: translate(0, 50%);
 -webkit-transition: height 640ms;
 transition: height 640ms
}
.gnav_list_link {
 font-size: .875rem
}
.search_form {
 position: relative;
 margin: 0 20px
}
.search_form .search_select {
 padding: 0;
 padding-right: 1.4em;
 background: 0 0;
 border: none;
 border-bottom: 1px solid #2b2b2b;
 border-radius: 0;
 font-size: 14px;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 width: 100%;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 background: url(../img/icons-arrow-down.png) no-repeat;
 background-size: 1em 1em;
 background-position: right 5px top .3em
}
.search_form .search_box {
 border: none;
 border-bottom: 1px solid #2b2b2b;
 border-radius: 0;
 padding-right: 2.4em;
 height: 2.3em;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 width: 100%;
 font-size: 14px
}
.search_form .btn_search {
 border: none;
 background: 0 0;
 margin-top: -30px;
 margin-left: -5px;
 width: auto;
 padding: 0;
 float: right
}
.search_form .btn_search:hover {
 border: none;
 background: 0 0
}
.gnav > .gnav_list {
 display: none
}
.gnav .gnav_sublist {
 margin-top: 1.25rem;
 background: #e5e5e5
}
.gnav .gnav_sublist_inner {
 margin: 1.25rem auto;
 max-width: 1000px
}
.gnav .gnav_sublist .gnav_list {
 width: calc(600 / 1000 * 100%);
 min-width: 320px;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 margin: 0 auto
}
.gnav .gnav_sublist .gnav_list_item {
 display: inline-block;
 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 width: 25%;
 min-width: 320px;
 text-align: left
}
.gnav .gnav_sublist .gnav_list_link {
 display: block;
 margin: 0;
 padding: 1em .5em;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 width: 100%;
 font-size: 11px
}
.gnav .gnav_sublist .gnav_list_link:hover {
 color: #2b2b2b;
 opacity: .74
}
.gnav .search_form {
 margin: 0 20px;
 padding: 0;
 display: block;
 float: none
}
.main {
 margin: 0;
 width: 100%
}
.main::after {
 display: none
}
.side {
 float: none
}
.contents {
 float: none
}
.side_banner_list {
 margin-top: 20px
}
.side_banner_list:hover {
 opacity: .72
}
.widget {
 margin: 20px
}
.widget_heading {
 border: none;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 margin: 0;
 padding: .5em;
 margin-bottom: .3em;
 line-height: 1;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 text-transform: uppercase;
 text-align: center;
 font-size: 1.625rem;
 box-sizing: border-box;
 background: 0 0;
 color: #2b2b2b;
 border: 1px solid #2b2b2b
}
.widget_list {
 border: none
}
.widget_list_item {
 font-size: 15px
}
.widget .widget_link {
 position: relative;
 -webkit-transition: opacity 240ms;
 transition: opacity 240ms
}
.widget .widget_link::after {
 content: "";
 position: absolute;
 top: 0;
 right: 0;
 display: block;
 width: 18px;
 height: 100%;
 background: url(../img/icons-arrow-right.png) no-repeat;
 background-size: 18px;
 background-position: center;
 -webkit-transform: translate(-50%, 0);
 -ms-transform: translate(-50%, 0);
 transform: translate(-50%, 0)
}
.widget .widget_link:hover {
 color: #2b2b2b;
 opacity: .8
}
.widget_link {
 display: block;
 margin: 0;
 padding: .5em 0
}
.widget-global {
 margin: 30px 20px;
 border-bottom: 1px solid #2b2b2b
}
.widget-global .widget_list_item {
 font-size: 17px
}
.widget-global2 {
 margin: 20px 20px;
 padding-top: 20px;
 border-top: 1px solid #2b2b2b
}
.widget-global2 .widget_link::after {
 display: none
}
.widget-global2 .widget_list_item {
 font-size: 17px
}
.widget-category .widget_list_item {
 border: none;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-size: 18px;
 vertical-align: middle
}
.widget-group .widget_list_item {
 border: none;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-size: 15px;
 vertical-align: middle;
 padding: 0
}
.widget-group .widget_list_item .gemn_icon {
 margin-top: -.2em
}
.widget-group .widget_link {
 margin: 0;
 padding-left: 0;
 padding-right: 0;
 padding: .5em 20px .5em 0;
 -webkit-box-sizing: border-box;
 box-sizing: border-box
}
.widget-group .widget_link:hover .gemn_icon {
 opacity: .8
}
.brand_lists {
 margin: 0 calc(60 / 750 * 50%);
 padding: 0;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 list-style: none inside
}
.brand_list {
 margin: calc(30 / 750 * 50%) calc(30 / 750 * 50%);
 padding: 0;
 border: none;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-size: 16px;
 width: calc(100% / 2 - 15px)
}
.brand_list:nth-child(2n+1) {
 margin-left: 0
}
.brand_list:nth-child(2n) {
 margin-right: 0
}
.brand_list_link {
 position: relative;
 display: block;
 text-align: center;
 border: 1px solid #000;
 padding: 2em .3em;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 line-height: 1.2
}
.cbd {
 margin: 80px 0 80px 0;
 padding: 30px 20px;
 background: #f7f7f7
}
.cbd_heading {
 border: none;
 text-align: center
}
.cbd_heading ~ .cbd_msg {
 margin-top: -10px
}
.cbd_msg {
 margin: 20px 0;
 text-align: center
}
.cbd_msg p {
 font-family: "EB Garamond", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 -webkit-font-feature-settings: "palt";
 font-feature-settings: "palt";
 font-size: .875rem
}
.cbd_msg p ~ p {
 margin-top: -.5em
}
.cbd_items {
 margin: 0;
 padding: 0;
 list-style: none inside
}
.cbd_item {
 margin: calc(20 / 720 * 50%) auto;
 padding: 0;
 text-align: center
}
.cbd_item_img {
 max-width: 100%
}
.cbd_item a:hover {
 opacity: .72
}
.gemn_icon {
 position: relative;
 display: block;
 margin-right: .8em;
 margin-left: .2em;
 width: 1.66667em;
 height: 1.66667em;
 overflow: hidden;
 float: left
}
.gemn_icon-sm {
 width: 1.46154em;
 height: 1.46154em
}
.gemn_icon img {
 width: auto;
 height: auto;
 max-height: 100%;
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%)
}
.item_name {
 font-size: .875rem
}
.item_price {
 font-weight: 300;
 font-size: .875rem
}
.item_intax {
 font-size: .875rem;
 margin-left: .5em
}
.recommend ~ .recommend {
 margin-top: 80px
}
#contents .recommend_list {
 margin-bottom: 20px
}
.recommend_heading {
 border: none;
 display: block;
 text-align: center;
 font-family: "EB Garamond", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-size: .875rem
}
.recommend_heading::before {
 content: "";
 margin-bottom: 1.125rem;
 display: block;
 width: 100%;
 height: 45px;
 background: url(../img/headline-recommenditems.png) no-repeat center
}
.recommend_heading-grp_brand::before {
 width: 100%;
 height: 45px;
 background-image: url(../img/headline-brabditems.png)
}
.checked_heading, .footer_checked_heading {
 border: none;
 display: block;
 text-align: center;
 font-family: "EB Garamond", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-size: .875rem;
 color: #2b2b2b;
 background: 0 0
}
.checked_heading::before, .footer_checked_heading::before {
 content: "";
 margin-bottom: 1.125rem;
 display: block;
 width: 100%;
 height: 45px;
 background: url(../img/headline-checkeditems.png) no-repeat center
}
.footer_checked {
 padding-bottom: 90px;
 max-width: none;
 background: #f9f9f9;
 border: none
}
.footer_checked .footer_checked_heading {
 -webkit-transform: translate(0, -18px);
 -ms-transform: translate(0, -18px);
 transform: translate(0, -18px)
}
.footer_checked_lists {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap
}
.footer_checked_lists::after, .footer_checked_lists::before {
 display: none
}
.footer_checked_lists.unstyled {
 max-width: 1000px;
 margin: 30px auto
}
.footer_checked_list {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 width: calc(100% / 3 - 2%);
 height: auto !important
}
.footer_checked_list a {
 display: block
}
.footer_checked_list:nth-child(n+7) {
 display: none !important
}
.main_banner {
 margin: 20px 0 32px
}
.main_banner_inner {
 margin: 0 auto;
 max-width: 1000px;
 text-align: center
}
.main_banner:first-child {
 margin-top: 0
}
.main_banner:last-child {
 margin-bottom: 0
}
.footer_assessment {
 position: relative;
 margin: 120px 20px 60px;
 border: 1px solid #2b2b2b
}
.footer_assessment::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 margin: 10px;
 width: calc(100% - 20px);
 height: calc(100% - 20px);
 border: 1px solid #2b2b2b
}
.btn {
 position: relative;
 display: inline-block;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 padding: 1em 2em;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 border: none;
 background: #2b2b2b;
 border-radius: 0;
 color: #fff;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-size: 16px;
 -webkit-transition: background 240ms, color 240ms;
 transition: background 240ms, color 240ms;
 font-size: 1em
}
.btn-ghost {
 background: #fff;
 color: #2b2b2b;
 border: 1px solid #2b2b2b
}
.btn-arrow_right::after {
 content: "";
 position: absolute;
 top: 0;
 right: 0;
 display: block;
 width: 1em;
 height: 100%;
 background: url(../img/icons-arrow-right.png) no-repeat;
 background-size: 1em;
 background-position: center;
 -webkit-transform: translate(-50%, 0);
 -ms-transform: translate(-50%, 0);
 transform: translate(-50%, 0)
}
.aligncenter {
 text-align: center
}
.assessment {
 overflow: hidden;
 padding: 40px 10px
}
.assessment h2, .assessment h3 {
 text-align: center;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-weight: 300;
 font-size: 18px;
 font-size: 15px
}
.assessment hr {
 background: #2b2b2b;
 border: none;
 margin: 0 auto;
 width: calc(630 / 672 * 100%);
 height: 1px
}
.assessment_title {
 margin-bottom: 30px;
 font-size: 14px
}
.assessment_title::before {
 content: "Free assessment\A&\APurchase";
 display: block;
 font-size: 1.857em;
 margin-bottom: .3em;
 text-transform: uppercase;
 white-space: pre
}
.assessment_text {
 margin: 1em;
 font-size: 14px;
 line-height: 1.8;
 text-align: left
}
.assessment_kanban {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -webkit-justify-content: center;
 -ms-flex-pack: center;
 justify-content: center;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif
}
.assessment_kanban .col {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 display: block;
 margin: 0 1%;
 padding: 1em;
 text-align: center;
 background: #f5f5f5;
 min-width: 72px;
 width: calc(224 / 986 * 100% - 10px);
 font-size: 14px;
 font-size: 11px
}
.assessment_address {
 margin: 0;
 text-align: center;
 line-height: 1.6
}
.assessment_hour {
 margin: 0 0 1em;
 font-size: 14px
}
.assessment_tel {
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-size: 33px
}
.assessment_tel::before {
 content: "TEL:";
 font-size: 18px
}
.assessment_line {
 margin-top: 40px
}
.assessment_banner {
 text-align: center
}
.assessment .btn {
 font-size: 14px
}
.shopinfo {
 padding: 0;
 margin: 0 auto;
 width: 100%;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif
}

.shopinfo img {
  max-width: 100%;
}

.shopinfo h2, .shopinfo h3 {
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 font-weight: 300;
 font-size: 18px
}
.shopinfo_title {
 margin-bottom: 30px;
 font-size: 14px;
 width: 100%;
 text-align: center
}
.shopinfo_title::before {
 content: "SHOP";
 display: block;
 font-size: 1.857em;
 margin-bottom: .3em;
 text-transform: uppercase;
 white-space: pre
}
.shopinfo_img {
 margin: 0;
 padding: 0
}
.shopinfo_address {
 margin: 0;
 padding: 0
}
.shopinfo_text {
 font-size: 15px;
 line-height: 1.8;
 text-align: left
}
.shopinfo_name {
 font-size: 16px;
 line-height: 1.8;
 text-align: left
}
.shopinfo-content_bottom {
 width: 100%;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap
}
.shopinfo-content_bottom .shopinfo_img {
 margin: 0;
 padding: 0
}
.shopinfo-content_bottom .shopinfo_address {
 margin: 0;
 padding: 0
}
.footer_nav {
 padding: 0;
 background: #000;
 color: #fff
}
.footer_nav > .footer_inner {
 margin: 0 20px;
 width: auto;
 -webkit-box-pack: justify;
 -webkit-justify-content: space-between;
 -ms-flex-pack: justify;
 justify-content: space-between
}
.footer_nav_shopinfo.shopinfo {
 margin: 0;
 padding: 40px 0 0;
 width: 100%;
 text-align: center
}
.footer_nav_shopinfo.shopinfo .shopinfo_name {
 margin: 0;
 padding: 0;
 line-height: 1.4;
 letter-spacing: .2em;
 font-family: "EB Garamond", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 text-align: center;
 font-size: 21px
}
.footer_nav_shopinfo.shopinfo .shopinfo_name a {
 color: #fff
}
.footer_nav_shopinfo.shopinfo .shopinfo_name a:hover, .footer_nav_shopinfo.shopinfo .shopinfo_name a:visited {
 color: #fff
}
.footer_nav_shopinfo.shopinfo .shopinfo_tel {
 margin: 0;
 padding: 0;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 line-height: 1.4;
 font-size: 19px
}
.footer_nav_shopinfo.shopinfo .shopinfo_tel:before {
 content: "TEL:"
}
.footer_nav_shopinfo.shopinfo .shopinfo_tel a {
 color: #fff
}
.footer_nav_shopinfo.shopinfo .shopinfo_hour {
 margin-bottom: .8em;
 font-size: 14px
}
.footer_nav_shopinfo.shopinfo .btn {
 font-size: 16px
}
.footer_nav_menu {
 margin: 0;
 padding: 0;
 background: 0 0;
 text-align: left;
 font-size: 14px;
 width: calc(500 / 1000 * 100%);
 display: none
}
.footer_nav_menu .footer_nav_lists {
 width: calc(200 / 500 * 100%)
}
.footer_nav_list {
 margin: 1em 0;
 padding: 0;
 line-height: 1.4;
 font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif
}
.footer_nav_list:first-child {
 margin-top: 0
}
.footer_nav_list:last-child {
 margin-bottom: 0
}
.footer_nav .btn {
 padding-top: .6em;
 padding-bottom: .6em;
 color: #000;
 min-width: 250px
}
.footer_nav .btn ~ .btn {
 margin-top: 10px
}
.footer_shopinfo {
 margin: 0 20px 40px
}
.footer_other {
 width: 100%;
 margin-top: 30px;
 margin-bottom: 30px;
 text-align: center
}
.footer_licence {
 margin-bottom: 30px;
 display: block;
 font-size: 12px;
 line-height: 1.8
}
.footer_link {
 font-size: 14px;
 text-align: center
}
.footer_copyright {
 display: block;
 margin: 0;
 padding: 0 0 20px;
 font-family: "EB Garamond", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
 text-align: center;
 font-size: 13px
}
.header_drawer_switch {
 position: absolute;
 top: 50%;
 left: 0;
 -webkit-transform: translate(0, -50%);
 -ms-transform: translate(0, -50%);
 transform: translate(0, -50%);
 z-index: 10
}
.drawer_switch {
 cursor: pointer
}
.drawer_switch_inner {
 position: relative;
 width: 40px;
 height: 40px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box
}
.drawer_switch_item {
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 display: block;
 width: 20px;
 height: 1px;
 background: #2b2b2b;
 -webkit-box-shadow: 0 -8px 0 #2b2b2b, 0 8px 0 #2b2b2b;
 box-shadow: 0 -8px 0 #2b2b2b, 0 8px 0 #2b2b2b;
 -webkit-transition: width 120ms, height 120ms, -webkit-transform 120ms;
 transition: width 120ms, height 120ms, -webkit-transform 120ms;
 transition: width 120ms, height 120ms, transform 120ms;
 transition: width 120ms, height 120ms, transform 120ms, -webkit-transform 120ms
}
.drawer_switch_item:first-child {
 display: none
}
.drawer_switch_item:last-child {
 display: none;
 -webkit-transform: translate(-50%, -50%) scale(0, 1);
 -ms-transform: translate(-50%, -50%) scale(0, 1);
 transform: translate(-50%, -50%) scale(0, 1)
}
#gemn_drawer {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 11;
 background: #e5e5e5;
 width: 100%;
 height: 100%;
 overflow: auto;
 -webkit-overflow-scrolling: touch;
 -webkit-transform: translate(-100%, 0);
 -ms-transform: translate(-100%, 0);
 transform: translate(-100%, 0);
 -webkit-transition: -webkit-transform 420ms ease-out;
 transition: -webkit-transform 420ms ease-out;
 transition: transform 420ms ease-out;
 transition: transform 420ms ease-out, -webkit-transform 420ms ease-out
}
#gemn_drawer .drawer_switch {
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1
}
body.drawer_open .drawer_switch_item {
 -webkit-transform: translate(-50%, -50%) rotate(45deg);
 -ms-transform: translate(-50%, -50%) rotate(45deg);
 transform: translate(-50%, -50%) rotate(45deg);
 -webkit-transform-origin: center center;
 -ms-transform-origin: center center;
 transform-origin: center center;
 -webkit-box-shadow: none;
 box-shadow: none
}
body.drawer_open .drawer_switch_item:last-child {
 display: block;
 -webkit-transform: translate(-50%, -50%) rotate(-45deg);
 -ms-transform: translate(-50%, -50%) rotate(-45deg);
 transform: translate(-50%, -50%) rotate(-45deg)
}
body.drawer_open #gemn_drawer {
 -webkit-transform: translate(0, 0);
 -ms-transform: translate(0, 0);
 transform: translate(0, 0)
}
.gemn_header {
 display: block;
 position: -webkit-sticky;
 position: sticky;
 width: 100%;
 top: 0;
 background: #fff;
 z-index: 10
}
.gemn-accordion_toggle {
 cursor: pointer
}
.main_banner .carousel.slick-dotted {
 margin-bottom: 80px
}
.main_banner .carousel img {
 width: 100%;
 height: auto
}
.main_banner .carousel .slick-next, .main_banner .carousel .slick-prev {
 width: 17px;
 height: 48px;
 display: none !important
}
.main_banner .carousel .slick-next::before, .main_banner .carousel .slick-prev::before {
 content: "";
 display: block;
 width: 17px;
 height: 48px;
 background: no-repeat center center
}
.main_banner .carousel .slick-prev {
 -webkit-transform: translate(-40px, 0);
 -ms-transform: translate(-40px, 0);
 transform: translate(-40px, 0);
 left: 0
}
.main_banner .carousel .slick-prev::before {
 background-image: url(../img/arrow-left.png)
}
.main_banner .carousel .slick-next {
 -webkit-transform: translate(40px, 0);
 -ms-transform: translate(40px, 0);
 transform: translate(40px, 0);
 right: 0
}
.main_banner .carousel .slick-next::before {
 background-image: url(../img/arrow-right.png)
}
.main_banner .carousel .slick-dots {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -webkit-justify-content: center;
 -ms-flex-pack: center;
 justify-content: center
}
.main_banner .carousel .slick-dots li {
 margin: 0 calc(5 / 720 * 100%);
 padding: 0;
 width: calc(60 / 720 * 100%)
}
.main_banner .carousel .slick-dots li button {
 margin: 0;
 padding: 10px 0;
 width: 100%
}
.main_banner .carousel .slick-dots li button::before {
 position: relative;
 content: "";
 display: block;
 width: 100%;
 height: 2px;
 background: #dcdcdc;
 opacity: 1;
 -webkit-transition: background .2s;
 transition: background .2s
}
.main_banner .carousel .slick-dots li button:hover::before {
 background: #2b2b2b
}
.main_banner .carousel .slick-dots li.slick-active button::before {
 background: #2b2b2b
}


 .hidden--xs {
  display: block
 }
 .hidden--flex--xs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
 }
 .hidden--inline--xs {
  display: inline
 }
 .visible--xs {
  display: none
 }
 .visible--flex--xs {
  display: none
 }
 .visible--inline--xs {
  display: none
 }
 a[href^="tel:"] {
  pointer-events: none
 }
 .header_lead {
  margin: .3em 0 0;
  padding: 0;
  font-size: 12px;
  float: left;
  color: #2b2b2b;
  text-align: left
 }
 .header_nav_headline {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none
 }
 .header_nav_headline li a {
  font-size: .8125rem
 }
 #header {
  margin-bottom: 30px
 }
 .header_logo {
  padding-top: 30px;
  font-size: 34px
 }
 .header_logo ~ .gnav {
  margin-top: 1.25rem;
  display: block
 }
 .header_top {
  position: relative
 }
 .header_top .header_top_inner {
  margin-top: 1.25rem
 }
 .gnav_list_item--brand .gnav_list_link {
  font-size: calc(.875rem + ((1vw - 7.68px) * 0))
 }
 .gnav_list_link {
  font-size: .875rem
 }
 .gnav > .gnav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
 }
 .gnav .gnav_sublist .gnav_list_item {
  min-width: 0
 }
 .gnav .gnav_sublist .gnav_list_link {
  font-size: calc(.6875rem + ((1vw - 7.68px) * 1.2931))
 }
 .main {
  margin: 0 1%;
  width: 98%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
 }
 .side {
  min-width: 200px;
  width: calc(200 / 1000 * 100%);
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0
 }
 .contents {
  width: calc(100% - 200px);
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1
 }
 .widget {
  margin: 30px 0
 }
 .widget_heading {
  margin: 0;
  padding: 0;
  margin-bottom: .8em;
  background: 0 0;
  color: #2b2b2b;
  border: none;
  border-left: 1px solid #2b2b2b;
  border-right: 1px solid #2b2b2b
 }
 .widget .widget_link::after {
  display: none
 }
 .widget_link {
  padding: .5em 0 .5em 1em
 }
 .widget-group .widget_list_item {
  padding: 0
 }
 .brand_lists {
  margin: 0;
  padding-left: 40px
 }
 .brand_list {
  font-size: 22px;
  margin: calc(15 / 720 * 50%);
  width: calc(100% / 3 - 11px)
 }
 .brand_list:nth-child(2n+1) {
  margin-left: calc(15 / 720 * 50%)
 }
 .brand_list:nth-child(2n) {
  margin-right: calc(15 / 720 * 50%)
 }
 .brand_list:nth-child(3n+1) {
  margin-left: 0
 }
 .brand_list:nth-child(3n) {
  margin-right: 0
 }
 .gemn_icon {
  width: 1.66667em;
  height: 2em
 }
 .gemn_icon-sm {
  width: 1.46154em;
  height: 1.46154em
 }
 .item_name {
  font-size: 1rem
 }
 .item_price {
  font-size: 1rem
 }
 .recommend_lists {
  padding-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
 }
 .checked_heading, .footer_checked_heading {
  color: #2b2b2b;
  background: 0 0
 }
 .footer_checked .footer_checked_heading {
  -webkit-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px)
 }
 .footer_checked_lists {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
 }
 .footer_checked_list {
  width: calc(100% / 6)
 }
 .assessment h2, .assessment h3 {
  font-size: calc(.9375rem + ((1vw - 7.68px) * 4.74138))
 }
 .assessment_kanban .col {
  font-size: calc(.6875rem + ((1vw - 7.68px) * 4.74138))
 }
 .assessment_address {
  margin: 40px 0
 }
 .shopinfo {
  width: calc(100% - 30px)
 }
 .shopinfo_title {
  margin-bottom: 60px
 }
 .shopinfo_title::before {
  white-space: normal
 }
 .shopinfo_text {
  font-size: 18px
 }
 .shopinfo_name {
  font-size: 20px
 }
 .shopinfo-content_bottom {
  width: 98%;
  padding: 0 0 80px
 }
 .shopinfo-content_bottom {
  width: 100%
 }
 .shopinfo-content_bottom .shopinfo_img {
  margin: 0 30px 0 0;
  width: calc(270 / 960 * 100%)
 }
 .shopinfo-content_bottom .shopinfo_address {
  margin: 0;
  width: calc(100% - 306px)
 }
 .shopinfo-content_bottom .shopinfo_title {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0
 }
 .shopinfo-content_bottom .shopinfo_img {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1
 }
 .shopinfo-content_bottom .shopinfo_address {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1
 }
 .footer_nav {
  padding: 60px 0 30px
 }
 .footer_nav > .footer_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
 }
 .footer_nav_shopinfo.shopinfo {
  margin: 0;
  padding: 0;
  width: calc(340 / 1000 * 100%);
  text-align: left
 }
 .footer_nav_shopinfo.shopinfo .shopinfo_name {
  text-align: left;
  font-size: 28px
 }
 .footer_nav_shopinfo.shopinfo .shopinfo_tel {
  font-size: 24px
 }
 .footer_nav_shopinfo.shopinfo .shopinfo_hour {
  font-size: 16px
 }
 .footer_nav_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
 }
 .footer_nav .btn {
  min-width: 0
 }
 .footer_other {
  margin-top: 50px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  text-align: left
 }
 .footer_licence {
  margin: 0;
  font-size: 14px;
  width: 50%
 }
 .footer_link {
  width: 50%;
  text-align: left
 }
 .footer_copyright {
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 14px
 }
 #gemn_drawer {
  display: none
 }
 .gemn_header {
  display: none
 }
 .gemn-accordion-open.gemn-accordion-xs .gemn-accordion_toggle::after {
  display: none
 }
 .gemn-accordion-open.gemn-accordion-xs .widget_list {
  display: block !important
 }


 .hidden--mid {
  display: block
 }
 .hidden--flex--mid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
 }
 .hidden--inline--mid {
  display: inline
 }
 .visible--mid {
  display: none
 }
 .visible--flex--mid {
  display: none
 }
 .visible--inline--mid {
  display: none
 }
 .header_top .header_top_inner {
  background: #fff;
  margin-top: 2.5rem
 }
 .gnav_list {
  margin-top: 0
 }
 .search_form {
  margin: 0
 }
 .search_form .search_select {
  margin-right: 1em;
  width: auto;
  float: left;
  min-width: 190px;
  font-size: 13px
 }
 .search_form .search_box {
  width: 210px;
  font-size: 13px
 }
 .search_form .btn_search {
  position: absolute;
  right: 0;
  bottom: auto;
  margin: 0;
  width: auto
 }
 .gnav > .gnav_list {
  float: left
 }
 .gnav .gnav_sublist .gnav_list {
  margin: 0;
  margin-right: auto;
 }
 .gnav .search_form {
  margin: 0;
  float: right;
  width: auto
 }
 .aligncenter--mid {
  text-align: center
 }


 .hidden--lg {
  display: block
 }
 .hidden--flex--lg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
 }
 .hidden--inline--lg {
  display: inline
 }
 .visible--lg {
  display: none
 }
 .visible--flex--lg {
  display: none
 }
 .visible--inline--lg {
  display: none
 }
 .gnav_list_item--brand .gnav_list_link {
  font-size: 14px
 }
 .gnav > .gnav_list {
  margin-left: 0
 }
 .gnav .gnav_sublist .gnav_list_link {
  font-size: 14px
 }
 .main {
  width: 100%;
  margin: 0 auto
 }
 .cbd {
  margin: 80px 20px 80px 40px;
  padding: 50px
 }
 .cbd_msg .copy {
  font-size: 18px
 }
 .cbd_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
 }
 .cbd_item {
  margin: calc(20 / 720 * 50%);
  width: calc(100% / 2 - 20px)
 }
 .main_banner {
  margin: 40px 0 64px
 }
 .footer_assessment {
  margin-left: auto;
  margin-right: auto
 }
 .aligncenter--lg {
  text-align: center
 }
 .assessment {
  padding: 80px 10px
 }
 .assessment h2, .assessment h3 {
  font-size: 26px
 }
 .assessment_title {
  margin-bottom: 60px
 }
 .assessment_title::before {
  white-space: normal
 }
 .assessment_text {
  font-size: 16px;
  margin: 1.5em
 }
 .assessment_kanban .col {
  font-size: 22px
 }
 .assessment_kanban .col {
  margin: 0 10px;
  padding: 2em;
  font-size: 22px
 }
 .assessment_hour {
  font-size: 16px
 }
 .assessment_tel {
  pointer-events: none
 }
 .footer_nav > .footer_inner {
  margin: 0 auto
 }
 .footer_shopinfo {
  margin: 0 auto
 }
 .main_banner .carousel.slick-dotted {
  margin-bottom: 80px
 }


 .hidden--xl {
  display: block
 }
 .hidden--flex--xl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
 }
 .hidden--inline--xl {
  display: inline
 }
 .visible--xl {
  display: none
 }
 .visible--flex--xl {
  display: none
 }
 .visible--inline--xl {
  display: none
 }
 .main_banner .carousel .slick-next, .main_banner .carousel .slick-prev {
  display: block !important
 }

