@charset "euc-jp";
/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */


.col-lg-3 {
  width: 25%;
  *width: 22%;
}

p {
  margin: 0 0 10px;
}
small {
  font-size: 85%;
}
ul {
  margin: 0 0 10px 25px;
  padding: 0;
}
ul ul {
  margin-bottom: 0;
}
ul.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  *display: inline;
  *zoom: 1;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

form {
  margin: 0 0 20px;
}

input,
button,
select {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

input,
button,
select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select,
[type="text"] {
  display: inline-block;
  padding: 4px 6px;
  height: 20px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: #555;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
}

input {
}

select {
  height: 30px;
  /* For IE7, add top margin to align select with labels */
  line-height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
}

select {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
}

select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input:-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

input {
  margin-left: 0;
}

/* Allow for input prepend/append in search forms */

.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 4px 12px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #f5f5f5;
  color: #333;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  *display: inline;
  *margin-left: .3em;
  *background-color: #e6e6e6;
  *border: 0;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #e6e6e6;
  color: #333;
  *background-color: #d9d9d9;
}

.btn:active {
  background-color: #ccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:active {
  outline: 0;
  background-image: none;
}

.btn-xs {
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-xs {
  padding: 1px 5px;
}

.btn-block {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.show {
  display: block;
}

#header, #footer {
  min-width: 1000px;
}




