
@import "@material/animation/functions";

/*
transition: mdc-animation-exit-permanent($name, $duration, $delay);
transition: mdc-animation-enter($name, $duration, $delay);
transition: mdc-animation-exit-temporary($name, $duration, $delay);
*/

.c-animation {
    /*
    &-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 2147483647;
        opacity: 1;
        &.is-loaded {
            z-index: -1;
            opacity: 0;
            animation-name: screen;
            animation-duration: 900ms;
        }
    }
    &-cross {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-primary;
        z-index: 2147483648;
        transform: translateX(-100%);
        &.is-loaded {
            transform: translateX(100%);
            animation-name: cross;
            animation-duration: 900ms;
            animation-timing-function: cubic-bezier(.99,.07,.05,.92);
        }
    }
    */
    $duration: 750ms;
    &-image {
        position: relative;
        overflow: hidden;
        &:before,
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        &:before {
            .b-eyecatch &,
            .b-new-item & {
                background: #fff;
            }
            .b-topic & {
                background: $bg-color;
            }
            opacity: 1;
        }
        &:after {
            .b-eyecatch &,
            .b-new-item & {
                background: #e5e6e8;
            }
            .b-topic & {
                background: #e5e6e8;
            }
            transform: translateX(-100%);
        }
        &.is-show,
        .is-show & {
            &:before {
                opacity: 0;
                animation-name: imageBeforeShow;
                animation-duration: $duration;
            }
            &:after {
                transform: translateX(100%);
                animation-name: imageAfterSlide;
                animation-duration: $duration;
            }
        }
        &-pic {
            position: relative;
            z-index: 1;
            transform: translateX(-50%);
            .is-show & {
                transform: translateX(0%);
                animation-name: imageSlide;
                animation-duration: $duration;
            }
        }
    }
    &--rotate {
        &-forward {
            transition: mdc-animation-exit-permanent(transform, 175ms, 150ms);
            transform: rotate(0deg);
            .is-active > .b-news__post-heading &,
            .is-active > .b-category-nav-sp__heading-contents &,
            [expanded] > .b-news__post-heading &,
            [expanded] > .b-category-nav-sp__heading & {
                transition: mdc-animation-enter(transform, 175ms, 0ms);
                transform: rotate(540deg);
            }
        }
        &-reverse {
            transition: mdc-animation-exit-permanent(transform, 175ms, 150ms);
            transform: rotate(0deg);
            .is-active & {
                transition: mdc-animation-enter(transform, 175ms, 0ms);
                transform: rotate(-540deg);
            }
        }
    }
}
@keyframes screen {
    0% {
        z-index: 2147483647;
        opacity: 1;
    }
    45% {
        z-index: 2147483647;
        opacity: 1;
    }
    55% {
        z-index: -1;
        opacity: 0;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}
@keyframes cross {
    0% {
        transform: translateX(-100%);
    }
    45% {
        transform: translateX(0%);
    }
    55% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes imageBeforeShow {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes imageAfterSlide {
    0% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(0%);
    }
    70% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes imageSlide {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}
