
@import "@material/button/mdc-button";

.c-button {

    $radius: 2px;
    $radius-circle: 18px;

    border-radius: $radius;
    font-weight: $font-weight-bold;

    &--raised {}
    &--unelevated {
        &.is-primary {
            background-color: $color-primary;
            color: $color-on-primary;
            border-radius: $radius-circle;
            padding-left: 2 + $letter-spacing-base * 2;
            padding-right: 2 + $letter-spacing-base * 2;
            @include mq() {
                padding-left: 2 + $letter-spacing-base-sp * 2;
                padding-right: 2 + $letter-spacing-base-sp * 2;
            }
            &:disabled {
                background-color: rgba($color-primary,0.60);
            }
        }
        &.is-secondary {
            background-color: $color-secondary;
            color: $color-on-secondary;
            border-radius: $radius-circle;
            padding-left: 2 + $letter-spacing-base * 2;
            padding-right: 2 + $letter-spacing-base * 2;
            @include mq() {
                padding-left: 2 + $letter-spacing-base-sp * 2;
                padding-right: 2 + $letter-spacing-base-sp * 2;
            }
            &:disabled {
                background-color: rgba($color-secondary,0.60);
            }
        }
        &.is-tertiary {
            background-color: $color-tertiary;
            color: $color-on-tertiary;
            border-radius: $radius-circle;
            padding-left: 2 + $letter-spacing-base * 2;
            padding-right: 2 + $letter-spacing-base * 2;
            @include mq() {
                padding-left: 2 + $letter-spacing-base-sp * 2;
                padding-right: 2 + $letter-spacing-base-sp * 2;
            }
            &:disabled {
                background-color: rgba($color-tertiary,0.60);
            }
        }
        &.is-quaternary {
            background-color: $bg-color;
            color: rgba(0,0,0,0.60);
            &:disabled {
                background-color: rgba($bg-color,0.60);
            }
        }
    }
    &--outlined {
        &.is-primary {
            border-color: $color-primary;
            color: $color-primary;
            border-radius: $radius-circle;
            padding-left: 2 + $letter-spacing-base * 2;
            padding-right: 2 + $letter-spacing-base * 2;
            @include mq() {
                padding-left: 2 + $letter-spacing-base-sp * 2;
                padding-right: 2 + $letter-spacing-base-sp * 2;
            }
        }
        &.is-secondary {
            border-color: $color-secondary;
            color: $color-secondary;
            border-radius: $radius-circle;
            padding-left: 2 + $letter-spacing-base * 2;
            padding-right: 2 + $letter-spacing-base * 2;
            @include mq() {
                padding-left: 2 + $letter-spacing-base-sp * 2;
                padding-right: 2 + $letter-spacing-base-sp * 2;
            }
        }
        &.is-tertiary {
            border-color: $color-tertiary;
            color: $color-tertiary;
            border-radius: $radius-circle;
            padding-left: 2 + $letter-spacing-base * 2;
            padding-right: 2 + $letter-spacing-base * 2;
            @include mq() {
                padding-left: 2 + $letter-spacing-base-sp * 2;
                padding-right: 2 + $letter-spacing-base-sp * 2;
            }
        }
        &.is-quaternary {
            border-color: rgba(0,0,0,0.24);
            color: rgba(0,0,0,0.60);
            background-color: $bg-color;
            border-width: 1px;
        }
    }
    &--dense {}

    &.c-button--dense {
        border-radius: $radius;
    }

    &__icon {}
    &__label {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.875em;
        font-weight: $font-weight-bold;
        @include mq() {
            font-size: 0.75em;
        }
    }
}
