
.c-contents-title {
    @include font(1.25, false, false);
    margin: 0;
    background-color: $bg-color;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0.5 + $letter-spacing-base * 0.5;
    padding-right: 0.5 + $letter-spacing-base * 0.5;
    @include mq() {
        padding-left: 0.5 + $letter-spacing-base-sp * 0.5;
        padding-right: 0.5 + $letter-spacing-base-sp * 0.5;
    }
    &__text {
        display: inline-block;
        color: rgba($font-color-base, 0.8);
        font-weight: $font-weight-bold; 
    }
}
