.c-detail-product {
    display: flex;
    margin: 0 -30px;
    @include mq(tb) {
        margin: 0 -20px;
    }
    @include mq() {
        flex-direction: column;
        margin: 0;
    }

    //画像
    &__image {
        width: 60%;
        padding: 0 30px;
        box-sizing: border-box;
        flex-shrink: 0;
        position: relative;
        @include mq(tb) {
            width: 45%;
            padding: 0 10px 0 20px;
        }
        @include mq() {
            width: auto;
            padding: 0;
        }
        &-slide {
            &-item {
            }
        }
        &-pic {
            min-width: 1px;
            margin: 0 auto;
        }
        &-navi {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -2px;
            padding: 2px 0 0;
            @include mq() {
                display: none;
            }
        }
        &-thumb {
            width: 20%;
            padding: 2px;
        }
    }

    //詳細
    &__profile {
        width: 40%;
        padding: 0 30px;
        box-sizing: border-box;
        @include mq(tb) {
            padding: 0 20px 0 10px;
        }
        @include mq() {
            width: auto;
            padding: 0;
            margin-top: $line-height-base-sp * 1 + em;
        }
        &-layout {
            display: flex;
            align-items: center;
            margin: 0 -5px;
            &-item {
                margin: 0 5px;
            }
        }
    }
    &__tag {
        &-list {
            display: flex;
            flex-wrap: wrap;
            margin: -2px;
            padding: 0;
            &-item {
                list-style: none;
                font-size: 0.75em;
                margin: 2px;
                background: $bg-color;
                border: rgba(0,0,0,0.12) solid 1px;
                border-radius: 2px;
                padding: 0px 6px;
            }
        }
        &-text {
            display: block;
            font-size: 1.4/1.6 + em;
            line-height: 17px;
        }
    }
    &__favorite {
        &-button {
            background: rgba(0, 0, 0, 0);
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            &-icon {
                transform: translateY(1px);
                .is-disabled & {
                    color: $color-tertiary;
                }
            }
        }
    }
    &__title {
        margin: 9px 0 0;
        font-size: 2.0/1.6 + em;
        line-height: 1.5;
        font-weight: $font-weight-bold;
        @include mq(tb) {
            font-size: 1.5/1.6 + em;
            margin: 7px 0 0;
        }
    }
    &__code {
        margin: 18px 0 0;
        display: flex;
        align-items: center;
        font-size: 0.875em;
        @include mq(tb) {
            flex-wrap: wrap;
        }
        @include mq() {
            margin: 15px 0 0;
        }
        &--label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: ((1 + $letter-spacing-base) * 5.25) + ((1 + $letter-spacing-base) * 1.25);
            white-space: nowrap;
            @include mq(tb) {
                font-size: 0.75rem;
                font-weight: $font-weight-bold;
                color: rgba($font-color-base, 0.7);
                width: 100%;
            }
            @include mq() {
                margin-bottom: 2px;
            }
            &:after {
                content: ":";
                width: (1 + $letter-spacing-base) * 1.25;
                text-align: center;
                @include mq(tb) {
                    display: none;
                }
            }
        }
        &--number {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__price {
        &-normal {
            display: flex;
            align-items: center;
            font-size: 0.875em;
            @include mq(tb) {
                flex-wrap: wrap;
            }
            @include mq() {
                margin: 5px 0 0;
            }
            &--label {
                @extend .c-detail-product__code--label;
            }
            &--number {
                @extend .c-detail-product__code--number;
            }
            &--tax {
                @include em-ml(0.5);
                white-space: nowrap;
            }
        }
        &-selling {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            margin-top: 5px;
            @include mq() {
                margin-top: 12px;
            }
            &--number {
                @include font(2, false);
                font-weight: $font-weight-bold;
                color: rgba($font-color-base, 0.8);
            }
            &--tax {
                @include em-ml(0.5);
                white-space: nowrap;
            }
        }
    }
    &__category {
        margin: 15px 0;
        @include mq() {
            margin: 12px 0 18px;
        }
        &-label {
            color: rgba($font-color-base, 0.7);
            font-size: 0.875em;
            font-weight: $font-weight-bold;
            margin-bottom: 2px;
        }
        &-detail {
            margin: 0;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            &-item {
                display: flex;
                align-items: center;
                font-size: 0.875em;
                &:after {
                    content: ">";
                    width: (1 + $letter-spacing-base) * 2;
                    text-align: center;
                    @include mq() {
                        width: (1 + $letter-spacing-base-sp) * 2;
                    }
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    &__form {
        @include contents-margin(true, false);
        border-top: rgba(0,0,0,.12) dotted 1px;
        padding-top: 10px;
        @include mq() {
            padding-top: 8px;
        }
        &-box {
            //display: flex;
            //margin: 0 -10px;
            @include mq() {
                //margin: 0 -8px;
            }
            &-item {
                //flex-grow: 1;
                padding: 10px 0;
                //margin: 0 10px;
                @include mq() {
                    padding: 8px 0;
                    //margin: 0 8px;
                }
                & > .mdc-select {
                    width: 100%;
                    max-width: 400px;
                    @include mq() {
                        max-width: none;
                    }
                }
                & > .c-text-field {
                    width: 100%;
                    max-width: 240px;
                    @include mq() {
                        max-width: none;
                    }
                }
            }
        }
    }
    &__actions {
        margin-top: auto;
        @include btn-container(column);
        padding-top: 10px;
        @include mq() {
            @include contents-margin(false);
        }
        &-item {
            @include btn-container__item();
            @include mq() {
                text-align: center;
            }
        }
    }
    &__button {
        //display: flex;
        width: 100%;
        max-width: 240px;
        //margin: 0 auto;
    }
    &__comment {
        @include contents-margin();
    }
    &__attention {
        color: $mdc-theme-error;
        font-size: .75rem;
        line-height: normal;
        letter-spacing: .03333em;
    }

    //slick dot
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px 0 0;
        padding: 0;
        li {
            list-style: none;
            margin: 0 4px;
            font-size: 0;
            &.slick-active {
                button {
                    background: $color-primary;
                }
            }
        }
        button {
            width: 10px;
            height: 0;
            padding: 10px 0 0;
            background: rgba(0,0,0,.24);
            border: none;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}
