.c-form {
    @include contents-margin();
    &.has-border {
        border-top: dotted 1px rgba(0,0,0,0.12);
    }

    &__parts {
        display: flex;
        padding: 10px 0;
        border-bottom: dotted 1px rgba(0,0,0,0.12);
        &.is-border-none {
            border-bottom: none;
        }
        @include mq(tb) {
            flex-direction: column;
        }
        @include mq() {
            padding: 8px 0;
        }
        &-label {
            display: flex;
            align-items: flex-start;
            margin-right: 1 + $letter-spacing-base * 1;
            min-width: 300px;
            .is-input & {
                padding: 23px 0 0;
                @include mq(tb) {
                    padding: 4px 0;
                }
            }
            .is-confirm & {
                padding: 10px 0 0;
                @include mq(tb) {
                    padding: 4px 0;
                }
            }
            &.is-radio {
                padding: 16px 0 0;
                @include mq(tb) {
                    padding: 4px 0;
                }
            }
            &.is-checkbox {
                padding: 16px 0 0;
                @include mq(tb) {
                    padding: 4px 0;
                }
            }
            @include mq(tb) {
                min-width: inherit;
            }
            &-text {
                color: rgba($font-color-base,.8);
                font-weight: $font-weight-bold;
                @include mq(tb) {
                    font-size: 0.75rem;
                }
            }
            &-required {
                font-size: 10px;
                color: $mdc-theme-error;
                @include em-ml(0.5);
            }
        }
        &-detail {
            width: 100%;
            flex-grow: 1;
        }
    }
    &__box {
        display: flex;
        margin: 0 -10px;
        @include mq() {
            margin: 0 -8px;
        }
        &-item {
            width: 100%;
            flex-grow: 1;
            padding: 10px 0;
            margin: 0 10px;
            @include mq() {
                padding: 8px 0;
                margin: 0 8px;
            }
            &.is-half {
                flex-grow: initial;
                flex-basis: calc(50% - 20px);
                @include mq(tb) {
                    flex-grow: 1;
                    flex-basis: auto;
                }
            }
            & > .c-text-field {
                width: 100%;
            }
        }
    }

    &__radios {
        display: flex;
        flex-wrap: wrap;
        &-item {
            @include em-mr();
        }
    }

    &__postcode {
        display: flex;
        align-items: center;
        @include mq() {
            flex-direction: column;
            align-items: stretch;
        }
        &-item {
            display: flex;
            align-items: center;
            margin: 0 10px 0 0;
            @include mq() {
                margin: 0 0 8px;
            }
            &:last-child {
                margin: 0;
            }
        }
        &-mark {
            @include em-mr(0.5);
        }
        &-link {
            text-decoration: none;
            &-icon {}
            &-text {}
        }
        &-dash {
            width: 1.5 + $letter-spacing-base;
            text-align: center;
            flex-shrink: 0;
            @include mq() {
                width: 0.75 + $letter-spacing-base-sp;
            }
        }
    }
    &__tel,
    &__fax {
        display: flex;
        align-items: center;
        &-item {}
        &-dash {
            display: block;
            width: 1.5 + $letter-spacing-base;
            text-align: center;
            @include mq() {
                width: 1 + $letter-spacing-base-sp;
            }
        }
    }
    &__price {
        display: flex;
        align-items: center;
        &-unit {
            display: block;
            width: 1.5 + $letter-spacing-base;
            text-align: center;
            @include em-ml(0.25);
            @include mq() {
                width: 1.5 + $letter-spacing-base-sp;
            }
        }
    }
    &__image {
        &-item {
            padding-bottom: 15px;
            &:last-child {
                padding-bottom: 0;
            }
        }
        &-text {
            font-size: 0.875em;
            margin: 5px 0 0;
        }
    }
    &__birth {
        display: flex;
        align-items: center;
        @include mq() {
            flex-wrap: wrap;
        }
        &-item {
            &.is-birth-year {
                @include mq() {
                    width: 100%;
                    margin: 0 0 16px;
                }
            }
        }
        &-slash {
            @extend .c-form__tel-dash;
        }
    }
    &__get-address {
        display: flex;
        align-items: center;
        margin: 0 -10px;
        @include mq() {
            margin: 0 -8px;
        }
        &-item {
            margin: 0 10px;
            @include mq() {
                margin: 0 8px;
            }
        }
        &-text {
            margin: 0;
            font-size: 0.85em;
        }
    }

    &__note {
        margin: 0;
        font-size: 0.875em;
        color: rgba($font-color-base,.80);
        @include mq() {
            font-size: 0.75em;
        }
    }
    &__result {
        margin: 0;
        word-break: break-all;
    }

    &__actions {
        @include contents-margin();
        @include btn-container(row, center);
        flex-direction: row-reverse;
        @include mq() {
            flex-direction: column;
        }
        &-item {
            @include btn-container__item();
        }
    }
    &__button {
        @include mq() {
            display: flex;
            width: 100%;
            max-width: 240px;
            margin: 0 auto;
        }
    }

    &__notes {
        color: $color-secondary;
        font-size: .75rem;
        line-height: normal;
        letter-spacing: .03333em;
        margin: 0 16px;
        -webkit-font-smoothing: antialiased;
        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 16px;
            vertical-align: 0;
        }
    }

    &__error-text {
        color: $mdc-theme-error;
        font-size: .75rem;
        line-height: normal;
        letter-spacing: .03333em;
        margin: 0 16px;
        -webkit-font-smoothing: antialiased;
        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 16px;
            vertical-align: 0;
        }
    }
}
