.c-list-product {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    &__link {
        display: block;
        color: $font-color-base;
        text-decoration: none;
    }
    &__image {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        overflow: hidden;
        @include mq() {
            margin-bottom: 10px;
        }
        &:after {
            content:"";
            display: block;
            padding-top: 100%;
        }
        &-contents {
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }
        &-pic {
            min-width: 1px;
        }
    }
    &__name {
        font-size: 0.875em;
        font-weight: $font-weight-bold;
        line-height: 1.5;
        margin: 0;
        word-break: break-word;
        @include mq() {
            line-height: $line-height-base-sp;
        }
    }
    &__price {
        color: rgba($font-color-base, 0.6);
        font-size: 0.75em;
        font-weight: $font-weight-bold;
        margin: 4px 0 0;
    }
    &__form {
        padding-top: 5px;
        @include mq() {
            padding-top: 4px;
        }
        &-box {
            //display: flex;
            //margin: 0 -10px;
            @include mq() {
                //margin: 0 -8px;
            }
            &-item {
                //flex-grow: 1;
                padding: 10px 0;
                //margin: 0 10px;
                @include mq() {
                    padding: 8px 0;
                    //margin: 0 8px;
                }
                & > .c-select {
                    width: 100%;
                }
                & > .c-text-field {
                    width: 100%;
                }
            }
        }
    }
    &__actions {
        margin-top: auto;
        //padding-top: 5px;
        //@include btn-container(row, center);
        //flex-direction: row-reverse;
        padding-top: 10px;
        @include mq() {
            //padding-top: 4px;
            //flex-direction: column;
            padding-top: 8px;
        }
        &-item {
            //@include btn-container__item();
            text-align: center;
        }
    }
    &__button {
        @include mq() {
            //display: flex;
            width: 100%;
            max-width: 240px;
            //margin: 0 auto;
        }
    }
    &__attention {
        color: $mdc-theme-error;
        font-size: .75rem;
        line-height: normal;
        letter-spacing: .03333em;
    }
}
