
@import "@material/animation/functions";

.c-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2147483646;
    opacity: 1;
    visibility: visible;
    &.is-loaded {
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: mdc-animation-enter(all, 250ms, 50ms);
    }
}
