.c-load-overlay {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    opacity: 1;
}
