
@import "modaal/source/css/modaal.scss";

.c-modaal {
    .modaal-container {
        max-width: 400px;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
    .modaal-content-container {
        padding: 0;
    }
    .modaal-close {
        position: absolute;
        top: -20px;
        right: -20px;
        background: $font-color-base;
        &:before,
        &:after {
            border-radius: 2px;
        }
        &:focus,
        &:hover {
            background: #3c3c3c;
            &:before,
            &:after {
                background: #fff;
            }
        }
    }
}
