
.c-pager {
    @include contents-margin();
    padding-bottom: $line-height-base * 1 + em;
    @include mq() {
        padding-bottom: $line-height-base-sp * 1 + em;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -2px;
        &-item {
            margin: 0 2px;
            font-size: 0.75em;
            font-weight: $font-weight-bold;
        }
    }
    &__link {
        &--number,
        &--text {
            color: $font-color-base;
            display: block;
            padding: 4px;
            text-decoration: none;
            padding: 8px 14px;
            border-radius: 2px;
        }
        &--number {
            background: initial;
            border: rgba(0,0,0,0.12) solid 1px;
            .is-active & {
                background: $bg-color;
            }
            @include mq(hover) {
                &:hover {
                     background: $bg-color;
                }
            }
        }
        &--text {
            @include mq(hover) {
                &:hover {
                     background: $bg-color;
                }
            }
        }
    }
}
