
.c-page-title {
    @include font(2.5, false, false);
    margin: 0;
    padding: 8px 0;
    border-bottom: rgba(0,0,0,0.12) solid 1px;
    @include mq() {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        background: $bg-color;
        border-bottom: none;
    }
    &__text {
        display: inline-block;
        color: rgba($font-color-base, 0.8);
        font-weight: $font-weight-bold;
    }
}
