.c-scroll-to-top {
    position: fixed;
    top: 50%;
    right:0;
    z-index: 10;
    transform: translate(0%, 100%) rotate(90deg);
    transform-origin: top right;
    padding: 20px;
    cursor: pointer;
    &.is-show {
        transition: mdc-animation-enter(transform, 250ms, 0ms);
    }
    &.is-hide {
        transition: mdc-animation-exit-permanent(transform, 250ms, 0ms);
        transform: translate(100%, 100%) rotate(90deg);
    }
    @include mq(tb) {
        display: none;
    }
    &__contents {
        display: flex;
        align-items: center;
        &:before,
        &:after {
            content: "";
            display: block;
            width: 20px;
            height: 1px;
            background: $font-color-base;
        }
    }
    &__text {
        font-size: 0.6em;
        font-family: $font-family-en;
        font-weight: $font-weight-medium;
        line-height: 1.2;
        letter-spacing: 0.125em;
        padding: 0 10px;
    }
}
