
@import "@material/select/mdc-select";

.c-select {
    overflow: hidden;
    &__label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        white-space: nowrap;
        transform: translate(0%, -100%);
    }
    & &__native-control {
        z-index: auto;
    }
}
