
@import "@material/textfield/mdc-text-field";

.c-text-field {
    vertical-align: top;
    & &__input {
        z-index: auto;
    }
}
input[type="number"].c-text-field__input {
    -moz-appearance:textfield;
}
