@import "@material/top-app-bar/mdc-top-app-bar";

.c-top-app-bar {
	top: 0;
	color: $font-color-base;
	background: #fff;
	box-shadow: 0 1px rgba(0, 0, 0, 0.12);
	&.is-transparent {
		background: none;
		box-shadow: none;
		@include mq(tb) {
			background: #fff;
		}
	}
	& &__row {
		height: auto;
		z-index: 2;
	}
}
