
html {
    //font-size: 62.5%; //font-size 10px
    text-size-adjust: 100%;
}

body {
    color: $font-color-base;
    font-family: $font-family-ja;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    letter-spacing: $letter-spacing-base;
    @include mq() {
        font-size: $font-size-base-sp;
        line-height: $line-height-base-sp;
        letter-spacing: $letter-spacing-base-sp;
    }
}

h1 {
    @include font(6);
    font-weight: $font-weight-normal;
}
h2 {
    @include font(5);
    font-weight: $font-weight-normal;
}
h3 {
    @include font(4);
    font-weight: $font-weight-normal;
}
h4 {
    @include font(3);
    font-weight: $font-weight-normal;
}
h5 {
    @include font(2);
    font-weight: $font-weight-normal;
}
h6 {
    @include font(1);
    font-weight: $font-weight-normal;
}
dl {
    @include font(0, true, false);
}
dt {
    @include font(0, false);
}
dd {
    @include font(0, false);
}
p {
    @include font(0, true, false);
}
a {
    color: $font-color-anchor;
    @include mq(hover) {
        &:hover {
            text-decoration: none;
        }
    }
}
ul, ol {
    @include font(0, true, false);
}
li {
    @include font(0, false);
}
input, textarea {
    font-family: inherit;
    font-size: $font-size-base;
    line-height: $line-height-base;
}
select {
    font-family: inherit;
    font-size: $font-size-base;
    line-height: $line-height-base;
}
address {}
blockquote {}
figure {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
table {
    th {}
    td {}
}
i {}
hr {}
label {
    word-break: break-all;
}
