// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-ico-facebook-1x-name: 'sprite-ico_facebook@1x';
$sprite-ico-facebook-1x-x: 0px;
$sprite-ico-facebook-1x-y: 0px;
$sprite-ico-facebook-1x-offset-x: 0px;
$sprite-ico-facebook-1x-offset-y: 0px;
$sprite-ico-facebook-1x-width: 34px;
$sprite-ico-facebook-1x-height: 34px;
$sprite-ico-facebook-1x-total-width: 88px;
$sprite-ico-facebook-1x-total-height: 88px;
$sprite-ico-facebook-1x-image: '../../assets/img/common-sprites.png';
$sprite-ico-facebook-1x: (0px, 0px, 0px, 0px, 34px, 34px, 88px, 88px, '../../assets/img/common-sprites.png', 'sprite-ico_facebook@1x', );
$sprite-ico-instagram-1x-name: 'sprite-ico_instagram@1x';
$sprite-ico-instagram-1x-x: 54px;
$sprite-ico-instagram-1x-y: 0px;
$sprite-ico-instagram-1x-offset-x: -54px;
$sprite-ico-instagram-1x-offset-y: 0px;
$sprite-ico-instagram-1x-width: 34px;
$sprite-ico-instagram-1x-height: 34px;
$sprite-ico-instagram-1x-total-width: 88px;
$sprite-ico-instagram-1x-total-height: 88px;
$sprite-ico-instagram-1x-image: '../../assets/img/common-sprites.png';
$sprite-ico-instagram-1x: (54px, 0px, -54px, 0px, 34px, 34px, 88px, 88px, '../../assets/img/common-sprites.png', 'sprite-ico_instagram@1x', );
$sprite-ico-twitter-1x-name: 'sprite-ico_twitter@1x';
$sprite-ico-twitter-1x-x: 0px;
$sprite-ico-twitter-1x-y: 54px;
$sprite-ico-twitter-1x-offset-x: 0px;
$sprite-ico-twitter-1x-offset-y: -54px;
$sprite-ico-twitter-1x-width: 34px;
$sprite-ico-twitter-1x-height: 34px;
$sprite-ico-twitter-1x-total-width: 88px;
$sprite-ico-twitter-1x-total-height: 88px;
$sprite-ico-twitter-1x-image: '../../assets/img/common-sprites.png';
$sprite-ico-twitter-1x: (0px, 54px, 0px, -54px, 34px, 34px, 88px, 88px, '../../assets/img/common-sprites.png', 'sprite-ico_twitter@1x', );
$sprite-ico-facebook-2x-name: 'sprite-ico_facebook@2x';
$sprite-ico-facebook-2x-x: 0px;
$sprite-ico-facebook-2x-y: 0px;
$sprite-ico-facebook-2x-offset-x: 0px;
$sprite-ico-facebook-2x-offset-y: 0px;
$sprite-ico-facebook-2x-width: 68px;
$sprite-ico-facebook-2x-height: 68px;
$sprite-ico-facebook-2x-total-width: 176px;
$sprite-ico-facebook-2x-total-height: 176px;
$sprite-ico-facebook-2x-image: '../../assets/img/common-sprites@2x.png';
$sprite-ico-facebook-2x: (0px, 0px, 0px, 0px, 68px, 68px, 176px, 176px, '../../assets/img/common-sprites@2x.png', 'sprite-ico_facebook@2x', );
$sprite-ico-instagram-2x-name: 'sprite-ico_instagram@2x';
$sprite-ico-instagram-2x-x: 108px;
$sprite-ico-instagram-2x-y: 0px;
$sprite-ico-instagram-2x-offset-x: -108px;
$sprite-ico-instagram-2x-offset-y: 0px;
$sprite-ico-instagram-2x-width: 68px;
$sprite-ico-instagram-2x-height: 68px;
$sprite-ico-instagram-2x-total-width: 176px;
$sprite-ico-instagram-2x-total-height: 176px;
$sprite-ico-instagram-2x-image: '../../assets/img/common-sprites@2x.png';
$sprite-ico-instagram-2x: (108px, 0px, -108px, 0px, 68px, 68px, 176px, 176px, '../../assets/img/common-sprites@2x.png', 'sprite-ico_instagram@2x', );
$sprite-ico-twitter-2x-name: 'sprite-ico_twitter@2x';
$sprite-ico-twitter-2x-x: 0px;
$sprite-ico-twitter-2x-y: 108px;
$sprite-ico-twitter-2x-offset-x: 0px;
$sprite-ico-twitter-2x-offset-y: -108px;
$sprite-ico-twitter-2x-width: 68px;
$sprite-ico-twitter-2x-height: 68px;
$sprite-ico-twitter-2x-total-width: 176px;
$sprite-ico-twitter-2x-total-height: 176px;
$sprite-ico-twitter-2x-image: '../../assets/img/common-sprites@2x.png';
$sprite-ico-twitter-2x: (0px, 108px, 0px, -108px, 68px, 68px, 176px, 176px, '../../assets/img/common-sprites@2x.png', 'sprite-ico_twitter@2x', );
$spritesheet-width: 88px;
$spritesheet-height: 88px;
$spritesheet-image: '../../assets/img/common-sprites.png';
$spritesheet-sprites: ($sprite-ico-facebook-1x, $sprite-ico-instagram-1x, $sprite-ico-twitter-1x, );
$spritesheet: (88px, 88px, '../../assets/img/common-sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 176px;
$retina-spritesheet-height: 176px;
$retina-spritesheet-image: '../../assets/img/common-sprites@2x.png';
$retina-spritesheet-sprites: ($sprite-ico-facebook-2x, $sprite-ico-instagram-2x, $sprite-ico-twitter-2x, );
$retina-spritesheet: (176px, 176px, '../../assets/img/common-sprites@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sprite-ico-facebook-1x-group-name: 'sprite-ico_facebook@1x';
$sprite-ico-facebook-1x-group: ('sprite-ico_facebook@1x', $sprite-ico-facebook-1x, $sprite-ico-facebook-2x, );
$sprite-ico-instagram-1x-group-name: 'sprite-ico_instagram@1x';
$sprite-ico-instagram-1x-group: ('sprite-ico_instagram@1x', $sprite-ico-instagram-1x, $sprite-ico-instagram-2x, );
$sprite-ico-twitter-1x-group-name: 'sprite-ico_twitter@1x';
$sprite-ico-twitter-1x-group: ('sprite-ico_twitter@1x', $sprite-ico-twitter-1x, $sprite-ico-twitter-2x, );
$retina-groups: ($sprite-ico-facebook-1x-group, $sprite-ico-instagram-1x-group, $sprite-ico-twitter-1x-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
