
// mediaquery
$breakpoints: (
    'pc': 'screen and (max-width: 1024px)',
    'tb': 'screen and (max-width: 839px)',
    'sp': 'screen and (max-width: 479px)',
    'hover': 'screen and (min-width: 769px)',
    'retina': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)'
) !default;
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.mq {
    @include mq(pc) {
        width: auto;
    }
    @include mq(tb) {
        width: auto;
    }
    @include mq(sp) {
        width: auto;
    }
    @include mq(hover) {
        width: auto;
    }
    @include mq(retina) {
        width: auto;
    }
}

// font
@mixin font($num: 0, $margin: true, $heading: true) {

    //PC
    font-size: $font-size-base + ($font-rate * $num);
    line-height: $line-height-base - ($line-height-adjust * $num);
    @if $margin {
        @if $heading {
            margin-top: ($line-height-base - ($line-height-adjust * $num)) * 1.5 + em;
            margin-bottom: ($line-height-base - ($line-height-adjust * $num)) * 0.75 + em;
        } @else {
            margin-top: ($line-height-base - ($line-height-adjust * $num)) + em;
            margin-bottom: ($line-height-base - ($line-height-adjust * $num)) + em;
        }
    }

    //SP
    @include mq() {
        font-size: $font-size-base-sp + ($font-rate-sp * $num);
        line-height: ($line-height-base-sp) - ($line-height-adjust-sp * $num);
        @if $margin {
            @if $heading {
                margin-top: ($line-height-base-sp - ($line-height-adjust-sp * $num)) * 1.5 + em;
                margin-bottom: ($line-height-base-sp - ($line-height-adjust-sp * $num)) * 0.75 + em;
            } @else {
                margin-top: ($line-height-base-sp - ($line-height-adjust-sp * $num)) + em;
                margin-bottom: ($line-height-base-sp - ($line-height-adjust-sp * $num)) + em;
            }
        }
    }

}

//container
@mixin container($width: $width-base){
    width: 100%;
    max-width: $width;
    margin: 0 auto;
    padding-left:  20px;
    padding-right: 20px;
    box-sizing: border-box;
    @include mq() {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@mixin container-item--full () {
    margin-left: -20px;
    margin-right: -20px;
    @include mq() {
        margin-left: -16px;
        margin-right: -16px;
    }
}

@mixin container-inner($width: $width-base) {
    width: 100%;
    max-width:  $width;
    margin-left: auto;
    margin-right: auto;
}

@mixin btn-container($state: row, $align: stretch) {
    display: flex;
    @if $state == row {
        flex-wrap: wrap;
        @if $align == center {
            justify-content: center;
        } @if $align == start {
            justify-content: flex-start;
        } @if $align == end {
            justify-content: flex-end;
        }
    } @if $state == column {
        flex-direction: column;
         @if $align == center {
            align-items: center;
        } @if $align == start {
            align-items: flex-start;
        } @if $align == end {
            align-items: flex-end;
        }
    }
    margin-left: -10px;
    margin-right: -10px;
    @include mq() {
        margin-left: -8px;
        margin-right: -8px;
    }
}
@mixin btn-container__item() {
    padding: 5px 10px;
    @include mq() {
        padding: 4px 8px;
    }
    box-sizing: border-box;
}

// space
@mixin em-ml($num: 1) {
    margin-left: $num + $letter-spacing-base * $num;
    @include mq() {
        margin-left: $num + $letter-spacing-base-sp * $num;
    }
}
@mixin em-mr($num: 1) {
    margin-right: $num + $letter-spacing-base * $num;
    @include mq() {
        margin-right: $num + $letter-spacing-base-sp * $num;
    }
}
@mixin em-pl($num: 1) {
    padding-left: $num + $letter-spacing-base * $num;
    @include mq() {
        padding-left: $num + $letter-spacing-base-sp * $num;
    }
}
@mixin em-pr($num: 1) {
    padding-right: $num + $letter-spacing-base * $num;
    @include mq() {
        padding-right: $num + $letter-spacing-base-sp * $num;
    }
}

@mixin page-margin() {
    margin-top: $line-height-base * 2 + em;
    margin-bottom: $line-height-base * 2 + em;
    //SP
    @include mq() {
        margin-top: $line-height-base-sp * 1 + em;
        margin-bottom: $line-height-base-sp * 1 + em;
    }
}
@mixin contents-margin($top: true, $bottom: true) {
    @if $top {
        margin-top: $line-height-base * 1.5 + em;
        @include mq() {
            margin-top: $line-height-base-sp * 0.75 + em;
        }
    }
    @if $bottom {
        margin-bottom: $line-height-base * 1 + em;
        @include mq() {
            margin-bottom: $line-height-base-sp * 0.5 + em;
        }
    }
}
