
// -----------------------------------------------------------------
// font
// -----------------------------------------------------------------

$font-color-base: #333;
$font-color-anchor: #00b0d0;

$font-family-ja: Hiragino Kaku Gothic ProN, Meiryo, system-ui, sans-seri;
$font-family-en: 'Roboto', sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-base: 1.0rem; //root: font-size 10px
$font-rate: 0.2; //dt,h6〜h1の順に「数値+rem」づつサイズアップ
$line-height-base: 1.75;
$line-height-adjust: 0.04; //dt,h6〜h1の順に数値づつline-heightを縮小
$letter-spacing-base: 0.05em;

$font-size-base-sp: 1.0rem;
$font-rate-sp: 0.1;
$line-height-base-sp: 1.5;
$line-height-adjust-sp: 0.02;
$letter-spacing-base-sp: 0.025em;



// -----------------------------------------------------------------
// width
// -----------------------------------------------------------------

$width-window: 100%;
$width-base: 1280px;
$width-thin: 1024px;



// -----------------------------------------------------------------
// color
// -----------------------------------------------------------------

$color-primary: #797979;
$color-on-primary: #fff;
$color-secondary: #25b39f;
$color-on-secondary: #fff;
$color-tertiary: #ff7fa1;
$color-on-tertiary: #fff;
$color-quaternary: #f6f6f6;
$color-on-quaternary: #333;
//$color-quinary: #ff3636; //注意書き
//$title-color: #333; //タイトルカラー

$color-error: #CF3F34;
$bg-color: #f2f3f5; //グレー背景
