{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block stylesheet %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
{% endblock %}

{% block javascript %}
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" integrity="sha256-DHF4zGyjT7GOMPBwpeehwoey18z8uiz98G4PRu2lV0A=" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/eccube.min.js') }}"></script>
    <script>
        eccube.productsClassCategories = eccube.productsClassCategories || {};
        eccube.classCategories = {{ class_categories_as_json(Product)|raw }};
        eccube.productsClassCategories[{{ Product.id }}] = {{ class_categories_as_json(Product)|raw }};

        // 規格2に選択肢を割り当てる。
        function fnSetClassCategories(form, classcat_id2_selected) {
            var $form = $(form);
            var product_id = $form.find('input[name=product_id]').val();
            var $sele1 = $form.find('select[name=classcategory_id1]');
            var $sele2 = $form.find('select[name=classcategory_id2]');
            eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
        }

        {% if form.classcategory_id2 is defined %}
            fnSetClassCategories(
                $('#form1'), {{ form.classcategory_id2.vars.value|json_encode|raw }}
            );
        {% elseif form.classcategory_id1 is defined %}
            eccube.checkStock($('#form1'), {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
        {% endif %}

    </script>
    <script>
        $(function() {
            // bfcache無効化
            $(window).bind('pageshow', function(event) {
                if (event.originalEvent.persisted) {
                    location.reload(true);
                }
            });
            
            $('#js-product__detail-image-slide').slick({
                dots: false,
                arrows: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        dots: true,
                        adaptiveHeight: true
                    }
                }]
            });

            $('.js-product__detail-image-thumb').on('click', function() {
                var index = $(this).attr('data-index');
                $('#js-product__detail-image-slide').slick('slickGoTo', index, false);
            });

        });
    </script>
    <script>
        $(function() {
            $('.add-cart').on('click', function(event) {
                {% if form.classcategory_id1 is defined %}
                    // 規格1フォームの必須チェック
                    if ($('#classcategory_id1').val() == '__unselected' || $('#classcategory_id1').val() == '') {
                        $('#classcategory_id1')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
                        return true;
                    } else {
                        $('#classcategory_id1')[0].setCustomValidity('');
                    }
                {% endif %}

                {% if form.classcategory_id2 is defined %}
                    // 規格2フォームの必須チェック
                    if ($('#classcategory_id2').val() == '__unselected' || $('#classcategory_id2').val() == '') {
                        $('#classcategory_id2')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
                        return true;
                    } else {
                        $('#classcategory_id2')[0].setCustomValidity('');
                    }
                {% endif %}

                // 個数フォームのチェック
                if ($('#quantity').val() < 1) {
                    $('#quantity')[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
                    return true;
                } else {
                    $('#quantity')[0].setCustomValidity('');
                }

                event.preventDefault();
                $form = $('#form1');
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#js-product__modal-message').html(this);
                    });

                    $('.js-product__modal-checkbox').prop('checked', true);

                    // カートブロックを更新する
                    $.ajax({
                        url: "{{ url('block_cart') }}",
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('#js-header__utility-cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'カートへの追加に失敗しました。'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });

            $('.add-cart-list').on('click', function(e) {
                var $form = $(this).parents('li').find('form');

                // 個数フォームのチェック
                var $quantity = $form.parent().find('.quantity');
                if ($quantity.val() < 1) {
                    $quantity[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
                    setTimeout(function() {
                        loadingOverlay('hide');
                    }, 100);
                    return true;
                } else {
                    $quantity[0].setCustomValidity('');
                }
                e.preventDefault();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart-list').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#js-product__modal-message').html(this);
                    });

                    $('#p-product__modal-checkbox').prop('checked', true);

                    // カートブロックを更新する
                    $.ajax({
                        url: '{{ url('block_cart') }}',
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('#js-header__utility-cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'カートへの追加に失敗しました。'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart-list').prop('disabled', false);
                });
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="p-product ec-layoutRole__main">
        <div class="p-product__contents" id="js-product__contents">
            <section class="p-product__detail" id="js-product__detail">
                <div class="c-detail-product">
                    <div class="c-detail-product__image">
                        <div class="c-detail-product__image-slide" id="js-product__detail-image-slide">
                            {% for ProductImage in Product.ProductImage %}
                                <div class="c-detail-product__image-slide-item">
                                    <a href="{{ asset(ProductImage, 'save_image') }}" target="_blank" rel="noopener">
                                        <img loading=lazy class="c-detail-product__image-pic" src="{{ asset(ProductImage, 'save_image') }}" alt="{{ Product.name|trans }}">
                                    </a>
                                </div>
                            {% else %}
                                <div class="c-detail-product__image-slide-item">
                                    <img loading=lazy class="c-detail-product__image-pic" src="{{ asset(''|no_image_product, 'save_image') }}" alt="{{ Product.name|trans }}">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="c-detail-product__image-navi">
                            {% for ProductImage in Product.ProductImage %}
                                <div class="c-detail-product__image-thumb js-product__detail-image-thumb" data-index="{{ loop.index0 }}">
                                    <img loading=lazy src="{{ asset(ProductImage, 'save_image') }}" alt="{{ Product.name|trans }}">
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Placeholder for Reviews -->
                    </div>
                    <div class="c-detail-product__profile">

                        <div class="c-detail-product__profile-layout">
                            {# タグ #}
                            {% if Product.Tags is not empty %}
                                <div class="c-detail-product__profile-layout-item">
                                    <div class="c-detail-product__tag">
                                        <ul class="c-detail-product__tag-list">
                                            {% for Tag in Product.Tags %}
                                                <li class="c-detail-product__tag-list-item" id="c-detail-product__tag-list-item--{{ Tag.id }}">
                                                    <span class="c-detail-product__tag-text">{{ Tag }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="c-detail-product__profile-layout-item">
                                <div class="c-detail-product__favorite">
                                    {# お気に入り #}
                                    {% if BaseInfo.option_favorite_product %}
                                        <form action="{{ url('product_add_favorite', {id:Product.id}) }}" method="post">
                                            {% if is_favorite == false %}
                                                <button class="c-detail-product__favorite-button c-ripple-surface mdc-ripple-surface" type="submit" id="favorite">
                                                    <i class="c-detail-product__favorite-button-icon material-icons">favorite_border</i>
                                                </button>
                                            {% else %}
                                                <button class="c-detail-product__favorite-button is-disabled c-ripple-surface mdc-ripple-surface" type="submit" id="favorite" disabled="disabled">
                                                    <i class="c-detail-product__favorite-button-icon material-icons">favorite</i>
                                                </button>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {# 商品名 #}
                        <h1 class="c-detail-product__title">{{ Product.name|trans }}</h1>
                        {# 商品コード #}
                        {% if Product.code_min is not empty %}
                            <div class="c-detail-product__code">
                                <span class="c-detail-product__code--label">{{ '商品コード'|trans }}</span>
                                <span class="c-detail-product__code--number product-code-default">{{ Product.code_min }}{% if Product.code_min != Product.code_max %} ～ {{ Product.code_max }}{% endif %}</span>
                            </div>
                        {% endif %}
                        <div class="c-detail-product__price">
                            {# 通常価格 #}
                            <div class="c-detail-product__price-normal">
                                {% if Product.hasProductClass -%}
                                    {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin == Product.getPrice01IncTaxMax %}
                                        <span class="c-detail-product__price-normal--label">{{ '通常価格'|trans }}</span>
                                        <span class="c-detail-product__price-normal--number price01-default">{{ Product.getPrice01IncTaxMin|price }}</span>
                                        <span class="c-detail-product__price-normal--tax">{{ '（税込）'|trans }}</span>
                                    {% elseif Product.getPrice01Min is not null and Product.getPrice01Max is not null %}
                                        <span class="c-detail-product__price-normal--label">{{ '通常価格'|trans }}</span>
                                        <span class="c-detail-product__price-normal--number price01-default">{{ Product.getPrice01IncTaxMin|price }}～ {{ Product.getPrice01IncTaxMax|price }}</span>
                                        <span class="c-detail-product__price-normal--tax">{{ '（税込）'|trans }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if Product.getPrice01Max is not null %}
                                        <span class="c-detail-product__price-normal--label">{{ '通常価格'|trans }}</span>
                                        <span class="c-detail-product__price-normal--number">{{ Product.getPrice01IncTaxMin|price }}</span>
                                        <span class="c-detail-product__price-normal--tax">{{ '（税込）'|trans }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {# 販売価格 #}
                            <div class="c-detail-product__price-selling">
                                {% if Product.hasProductClass -%}
                                    {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
                                        <span class="c-detail-product__price-selling--number price02-default">{{ Product.getPrice02IncTaxMin|price }}</span>
                                        <span class="c-detail-product__price-selling--tax">{{ '（税込）'|trans }}</span>
                                    {% else %}
                                        <span class="c-detail-product__price-selling--number price02-default">{{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}</span>
                                        <span class="c-detail-product__price-selling--tax">{{ '（税込）'|trans }}</span>
                                    {% endif %}
                                {% else %}
                                    <span class="c-detail-product__price-selling--number">{{ Product.getPrice02IncTaxMin|price }}</span>
                                    <span class="c-detail-product__price-selling--tax">{{ '（税込）'|trans }}</span>
                                {% endif %}
                            </div>
                        </div>
                        {# 関連カテゴリ #}
                        {% if Product.ProductCategories is not empty %}
                            <dl class="c-detail-product__category">
                                <dt class="c-detail-product__category-label">{{ '関連カテゴリ'|trans }}</dt>
                                <dd class="c-detail-product__category-detail">
                                    {% for ProductCategory in Product.ProductCategories %}
                                        {%  if loop.last %}
                                        <ul class="c-detail-product__category-list u-list-sanitize">
                                            {% for Category in ProductCategory.Category.path %}
                                                <li class="c-detail-product__category-list-item">
                                                    <a class="c-detail-product__category-link" href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name|trans }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    {% endfor %}
                                </dd>
                            </dl>
                        {% endif %}

                        <form action="{{ url('product_add_cart', {id:Product.id}) }}" method="post" id="form1" name="form1">
                            {% if Product.stock_find %}
                                {% if form.classcategory_id1 is defined %}
                                    <div class="c-detail-product__form-box">
                                        <div class="c-detail-product__form-box-item">
                                            <div class="c-select mdc-select mdc-select--outlined">
                                                <i class="mdc-select__dropdown-icon"></i>
                                                {{ form_widget(form.classcategory_id1, {'attr': { 'class': 'mdc-select__native-control' }}) }}
                                                <div class="mdc-notched-outline">
                                                    <div class="mdc-notched-outline__leading"></div>
                                                    <div class="mdc-notched-outline__notch"></div>
                                                    <div class="mdc-notched-outline__trailing"></div>
                                                </div>
                                            </div>
                                            {{ form_errors(form.classcategory_id1, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                        </div>
                                    </div>
                                    {% if form.classcategory_id2 is defined %}
                                        <div class="c-detail-product__form-box">
                                            <div class="c-detail-product__form-box-item">
                                                <div class="c-select mdc-select mdc-select--outlined">
                                                    <i class="mdc-select__dropdown-icon"></i>
                                                    {{ form_widget(form.classcategory_id2, {'attr': { 'class': 'mdc-select__native-control' }}) }}
                                                    <div class="mdc-notched-outline">
                                                        <div class="mdc-notched-outline__leading"></div>
                                                        <div class="mdc-notched-outline__notch"></div>
                                                        <div class="mdc-notched-outline__trailing"></div>
                                                    </div>
                                                </div>
                                                {{ form_errors(form.classcategory_id2, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="c-detail-product__form-box">
                                    <div class="c-detail-product__form-box-item">
                                        <div class="c-text-field mdc-text-field mdc-text-field--outlined{{ has_errors(form.quantity) ? ' mdc-text-field--invalid' }}">
                                            {{ form_widget(form.quantity, {'attr': { 'class': 'c-text-field__input mdc-text-field__input' }}) }}
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label class="c-floating-label mdc-floating-label" for="quantity">{{ '数量'|trans }}</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>
                                        {{ form_errors(form.quantity, {'label_attr': {'class': 'mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg'}}) }}
                                    </div>
                                </div>
                                <div class="c-detail-product__actions">
                                    <div class="c-detail-product__actions-item">
                                        <button class="c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated add-cart" type="submit">
                                            <span class="c-detail-product__button-label">{{ 'カートに入れる'|trans }}</span>
                                        </button>
                                    </div>
                                </div>
                            {% else %}
                                <div class="c-detail-product__actions">
                                    <div class="c-detail-product__actions-item">
                                        <button class="c-button c-button--unelevated mdc-button mdc-button--unelevated" type="button" disabled="disabled">
                                            <span class="c-detail-product__button-label">{{ 'SOLD OUT'|trans }}</span>
                                        </button>
                                    </div>
                                </div>
                            {% endif %}

                            {{ form_rest(form) }}
                        </form>

                        <div class="p-product__modal">
                            <input class="p-product__modal-checkbox js-product__modal-checkbox" id="p-product__modal-checkbox" type="checkbox">
                            <div class="p-product__modal-overlay">
                                <label class="p-product__modal-overlay-close" for="p-product__modal-checkbox"></label>
                                <div class="p-product__modal-contents">
                                    <label class="p-product__modal-close" for="p-product__modal-checkbox">
                                        <i class="p-product__modal-close-icon material-icons">close</i>
                                    </label>
                                    <div class="p-product__modal-header">
                                        <p class="p-product__modal-message" id="js-product__modal-message">{{ 'カートに追加しました。'|trans }}</p>
                                    </div>
                                    <div class="p-product__modal-actions">
                                        <div class="p-product__modal-actions-item">
                                            <a class="p-product__modal-button c-button c-button--unelevated is-secondary mdc-button mdc-button--unelevated" href="{{ url('cart') }}">
                                                <span class="c-button__label mdc-button__label">{{ 'カートへ進む'|trans }}</span>
                                            </a>
                                        </div>
                                        <div class="p-product__modal-actions-item">
                                            <label class="p-product__modal-button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" for="p-product__modal-checkbox">
                                                <span class="c-button__label mdc-button__label">{{ 'お買い物を続ける'|trans }}</span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        {% if Product.description_detail %}
                            <div class="c-detail-product__comment">{{ Product.description_detail|trans|raw|nl2br }}</div>
                        {% endif %}

                        <div class="c-detail-product__comment">
                            <img loading=lazy src="{{ asset('assets/img/100_THC_free_logo_black.png', 'user_data') }}" alt="{{ '100% THC Free'|trans }}">
                        </div>

                        {% if Product.freearea %}
                            {{ include(template_from_string(Product.freearea)) }}
                        {% endif %}

                    </div>
                </div>
            </section>

        </div>

    </div>
{% endblock %}
