{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% import _self as stars %}
{% macro stars(positive, negative) %}
    {% set positive_stars = ["", "★", "★★", "★★★", "★★★★", "★★★★★"] %}
    {% set negative_stars = ["", "☆", "☆☆", "☆☆☆", "☆☆☆☆", "☆☆☆☆☆"] %}
    {{- positive_stars[positive] -}}{{- negative_stars[negative] -}}
{% endmacro %}

{% set body_class = 'product_page' %}

{% block stylesheet %}{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/eccube.min.js') }}"></script>
    <script>
        eccube.productsClassCategories = {
            {% for Product in pagination %}
                "{{ Product.id|escape('js') }}": {{ class_categories_as_json(Product)|raw }}{% if loop.last == false %}, {% endif %}
            {% endfor %}
        };

        $(function() {

            // 表示件数を変更
            $('.disp-number').change(function() {
                var dispNumber = $(this).val();
                $('#disp_number').val(dispNumber);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            // 並び順を変更
            $('.order-by').change(function() {
                var orderBy = $(this).val();
                $('#orderby').val(orderBy);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            $('.add-cart').on('click', function(e) {
                var $form = $(this).parents('li').find('form');

                // 個数フォームのチェック
                var $quantity = $form.parent().find('.quantity');
                if ($quantity.val() < 1) {
                    $quantity[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
                    setTimeout(function() {
                        loadingOverlay('hide');
                    }, 100);
                    return true;
                } else {
                    $quantity[0].setCustomValidity('');
                }
                e.preventDefault();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#js-product__modal-message').html(this);
                    });

                    $('#p-product__modal-checkbox').prop('checked', true);

                    // カートブロックを更新する
                    $.ajax({
                        url: '{{ url('block_cart') }}',
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('#js-header__utility-cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'カートへの追加に失敗しました。'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });
        });
    </script>
{% endblock %}

{% block main %}

    <div class="p-product">
        <div class="p-product__contents">
            {% if search_form.category_id.vars.errors|length > 0 %}
                <p>{{ 'ご指定のカテゴリは存在しません'|trans }}</p>
            {% else %}
                <div class="p-product__search">
                    <form name="form1" id="form1" method="get" action="?">
                        {% for item in search_form %}
                            <input type="hidden" id="{{ item.vars.id }}" name="{{ item.vars.full_name }}" {% if item.vars.value is not empty %}value="{{ item.vars.value }}" {% endif %}/>
                        {% endfor %}
                    </form>
                    <div class="p-product__topicpath">
                        <ul class="p-product__topicpath-list u-list-sanitize">
                            <li class="p-product__topicpath-list-item">
                                <a class="p-product__topicpath-link" href="{{ url('product_list') }}">{{ 'common.select__all_products'|trans }}</a>
                            </li>
                            {% if Category is not null %}
                                {% for Path in Category.path %}
                                    <li class="p-product__topicpath-list-item{% if loop.last %} is-active{% endif %}">
                                        <a class="p-product__topicpath-link" href="{{ url('product_list') }}?category_id={{ Path.id }}">{{ Path.name }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {% if search_form.vars.value and search_form.vars.value.name %}
                                <li class="p-product__topicpath-list-item is-result">
                                    <p class="p-product__topicpath-result">{{ '「%name%」の検索結果'|trans({ '%name%': search_form.vars.value.name }) }}</p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="p-product__controller">
                        <p class="p-product__controller-result">
                            {% if pagination.totalItemCount > 0 %}
                                {{ '<span class="p-product__controller-result--number">%count%件</span><span class="p-product__controller-result--text">の商品が見つかりました</span>'|trans({ '%count%': pagination.totalItemCount })|raw }}
                            {% else %}
                                <span class="p-product__controller-result--text">{{ 'お探しの商品は見つかりませんでした'|trans }}</span>
                            {% endif %}
                        </p>
                        {% if pagination.totalItemCount > 0 %}
                            <div class="p-product__controller-actions">
                                <div class="p-product__controller-actions-item">
                                    <div class="c-select mdc-select mdc-select--outlined">
                                        <i class="mdc-select__dropdown-icon"></i>
                                        <label class="c-select__label" for="disp-number">{{'件数'|trans}}</label>
                                        {{ form_widget(disp_number_form, {'id': 'disp-number', 'attr': {'class': 'mdc-select__native-control disp-number'}, 'choice_translation_domain': 'messages'}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch"></div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-product__controller-actions-item">
                                    <div class="c-select mdc-select mdc-select--outlined">
                                        <i class="mdc-select__dropdown-icon"></i>
                                        <label class="c-select__label" for="order-by">{{'並び順'|trans}}</label>
                                        {{ form_widget(order_by_form, {'id': 'order-by', 'attr': {'class': 'mdc-select__native-control order-by'}, 'choice_translation_domain': 'messages'}) }}
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch"></div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if pagination.totalItemCount > 0 %}
                    <ul class="p-product__list u-list-sanitize">
                        {% for Product in pagination %}
                            <li class="p-product__list-item">
                                <div class="c-list-product">
                                    <a class="c-list-product__link" href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <div class="c-list-product__image js-list-product__image">
                                            <div class="c-list-product__image-contents">
                                                <img loading=lazy class="c-list-product__image-pic" src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name|trans }}">
                                            </div>
                                        </div>
                                        <p class="c-list-product__name js-list-product__name">{{ Product.name|trans }}</p>
                                        {% set positive_avg_star = ProductReviewAvgs[Product.id].avg %}
                                        {% set nagative_avg_star = 5 - positive_avg_star %}
                                        <div class="product_review_area">
                                          <div class="c-list-product__link" {#href="{{ url('product_detail', {'id': Product.id}) }}" #}>
                                            <span class="recommend_average">{{ stars.stars(positive_avg_star, nagative_avg_star) }}</span>
                                            <span>({{ ProductReviewAvgs[Product.id].count }})</span>
                                          </div>
                                        </div>
                                        <p class="c-list-product__price">
                                            <span class="price1-default-normal">
                                                {% if Product.hasProductClass -%}
                                                    {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin != Product.getPrice02IncTaxMin %}
                                                        {{ Product.getPrice01IncTaxMin|price }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <span class="price02-default {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin != Product.getPrice02IncTaxMin %}salesprice{%  endif %}">
                                                {% if Product.hasProductClass %}
                                                    {% if Product.getPrice02Min == Product.getPrice02Max %}
                                                        {{ Product.getPrice02IncTaxMin|price }}
                                                    {% else %}
                                                        {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}B
                                                    {% endif %}
                                                {% else %}
                                                    {{ Product.getPrice02IncTaxMin|price }}
                                                {% endif %}
                                            </span>
                                            <span>{{ '（税込）'|trans }}</span>
                                        </p>
                                    </a>
                                    {% if Product.stock_find %}
                                        {% set form = forms[Product.id] %}
                                        <form name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">
                                            <div class="c-list-product__form">
                                                {% if form.classcategory_id1 is defined %}
                                                    <div class="c-list-product__form-box">
                                                        <div class="c-list-product__form-box-item">
                                                            <div class="c-select mdc-select mdc-select--outlined{{ has_errors(form.classcategory_id1) ? ' mdc-select--invalid' }}">
                                                                <i class="mdc-select__dropdown-icon"></i>
                                                                <label class="c-select__label" for="{{ form.children.classcategory_id1.vars.id }}">{{ form.children.classcategory_id1.vars.label }}</label>
                                                                {{ form_widget(form.classcategory_id1, { 'attr': {'class': 'mdc-select__native-control' }}) }}
                                                                <div class="mdc-notched-outline">
                                                                    <div class="mdc-notched-outline__leading"></div>
                                                                    <div class="mdc-notched-outline__notch"></div>
                                                                    <div class="mdc-notched-outline__trailing"></div>
                                                                </div>
                                                            </div>
                                                            {{ form_errors(form.classcategory_id1, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                                        </div>
                                                    </div>
                                                    <script>
                                                    $(function() {
                                                      eccube.checkStock($('#productForm{{ Product.id }}'), {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
                                                    });
                                                    </script>
                                                    {% if form.classcategory_id2 is defined %}
                                                        <div class="c-list-product__form-box">
                                                            <div class="c-list-product__form-box-item">
                                                                <div class="c-select mdc-select mdc-select--outlined{{ has_errors(form.classcategory_id2) ? ' mdc-select--invalid' }}">
                                                                    <i class="mdc-select__dropdown-icon"></i>
                                                                    <label class="c-select__label" for="{{ form.children.classcategory_id2.vars.id }}">{{ form.children.classcategory_id2.vars.label }}</label>
                                                                    {{ form_widget(form.classcategory_id2, { 'attr': {'class': 'mdc-select__native-control' }}) }}
                                                                    <div class="mdc-notched-outline">
                                                                        <div class="mdc-notched-outline__leading"></div>
                                                                        <div class="mdc-notched-outline__notch"></div>
                                                                        <div class="mdc-notched-outline__trailing"></div>
                                                                    </div>
                                                                </div>
                                                                {{ form_errors(form.classcategory_id2, {'label_attr': {'class': 'mdc-select-helper-text mdc-select-helper-text--validation-msg'}}) }}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                <div class="c-list-product__form-box">
                                                    <div class="c-list-product__form-box-item">
                                                        <div class="c-text-field mdc-text-field mdc-text-field--outlined">
                                                            {{ form_widget(form.quantity, {'attr': {'class': 'c-text-field__input mdc-text-field__input quantity' }}) }}
                                                            <div class="mdc-notched-outline">
                                                                <div class="mdc-notched-outline__leading"></div>
                                                                <div class="mdc-notched-outline__notch">
                                                                    <label class="c-floating-label mdc-floating-label" for="quantity{{ Product.id }}">{{ '数量'|trans }}</label>
                                                                </div>
                                                                <div class="mdc-notched-outline__trailing"></div>
                                                            </div>
                                                        </div>
                                                        {{ form_errors(form.quantity) }}
                                                    </div>
                                                </div>
                                                {{ form_rest(form) }}
                                            </div>
                                        </form>
                                        <div class="c-list-product__actions">
                                            <div class="c-list-product__actions-item">
                                                <button class="c-button is-secondary c-button--unelevated mdc-button mdc-button--unelevated add-cart" type="submit" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                                                    <span class="c-button__label mdc-button__label">{{ 'カートに入れる'|trans }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="c-list-product__actions">
                                            <div class="c-list-product__actions-item">
                                                <button class="c-button c-button--unelevated mdc-button mdc-button--unelevated" type="button" disabled="disabled">
                                                    <span class="c-button__label mdc-button__label">{{ 'SOLD OUT'|trans }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="p-product__modal">
                        <input class="p-product__modal-checkbox" id="p-product__modal-checkbox" type="checkbox">
                        <div class="p-product__modal-overlay">
                            <label class="p-product__modal-overlay-close" for="p-product__modal-checkbox"></label>
                            <div class="p-product__modal-contents">
                                <label class="p-product__modal-close" for="p-product__modal-checkbox">
                                    <i class="p-product__modal-close-icon material-icons">close</i>
                                </label>
                                <div class="p-product__modal-header">
                                    <p class="p-product__modal-message" id="js-product__modal-message">{{ 'カートに追加しました。'|trans }}</p>
                                </div>
                                <div class="p-product__modal-actions">
                                    <div class="p-product__modal-actions-item">
                                        <a class="p-product__modal-button c-button c-button--unelevated is-secondary mdc-button mdc-button--unelevated" href="{{ url('cart') }}">
                                            <span class="c-button__label mdc-button__label">{{ 'カートへ進む'|trans }}</span>
                                        </a>
                                    </div>
                                    <div class="p-product__modal-actions-item">
                                        <label class="p-product__modal-button c-button c-button--unelevated is-primary mdc-button mdc-button--unelevated" for="p-product__modal-checkbox">
                                            <span class="c-button__label mdc-button__label">{{ 'お買い物を続ける'|trans }}</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% include "pager.twig" with {'pages': pagination.paginationData} %}
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
