{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
{{ '※本メールは自動配信メールです。'|trans }}

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
　{{'front.email_contact_reason1_txt'|trans({'%shop_name%': BaseInfo.shop_name })|nl2br}}
　{{'front.email_contact_reason2_txt'|trans({'%email%': BaseInfo.email02 })|nl2br}}
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

{{ data.name01 }} {{ data.name02 }} {% if app.request.locale == "ja" %}様{% endif %}

{{'以下のお問い合わせを受付致しました。'|trans}}
{{'確認次第ご連絡いたしますので、少々お待ちください。'|trans}}

{{'お名前'|trans}}：{{ data.name01 }} {{ data.name02 }}{% if data.kana01 or data.kana02 %} ({{ data.kana01 }} {{ data.kana02 }}){% endif %} {% if app.request.locale == "ja" %}様{% endif %}
{{'郵便番号'|trans}}：{% if data.postal_code %}{{'〒'|trans}}{{ data.postal_code }}{% endif %}

{{'住所'|trans}}：{% if data.pref.name is defined %} {{ data.pref.name|trans }}{% if app.request.locale != "ja" %} {% endif %}{% endif %}{{ data.addr01 }}{{ data.addr02 }}
{{'電話番号'|trans}}：{{ data.phone_number }}
{{'メールアドレス'|trans}}：{{ data.email }}
{{'お問い合わせ内容'|trans}}：

{{ data.contents }}
{% endautoescape  %}
