{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
{{ '※本メールは自動配信メールです。'|trans }}

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
　{{'front.email_cancel_reason1_txt'|trans({'%shop_name%': BaseInfo.shop_name })|nl2br}}
　{{'front.email_contact_reason2_txt'|trans({'%email%': BaseInfo.email02 })|nl2br}}
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

{{ Customer.name01 }} {{ Customer.name02 }} {% if app.request.locale == "ja" %}様{% endif %}

{{'%shop_name%でございます。'|trans({'%shop_name%': BaseInfo.shop_name })}}

{{'退会手続きが完了いたしました。'|trans}}
{{'%shop_name%をご利用いただき誠にありがとうございました。'|trans({'%shop_name%': BaseInfo.shop_name })}}

{{'またのご利用を心よりお待ち申し上げます。'|trans}}
{% endautoescape %}
