{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
<br>
<br>
<div align="center"><a href="{{ url('homepage') }}" style="font-family:Helvetica, Arial, sans-serif;font-size:30px;color:#333333;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
<!-- 100% background wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
    <tr>
        <td align="center" valign="top" bgcolor="#F0F0F0" style="background-color:#F0F0F0;border-collapse:collapse;">
            <br>
            <!-- 600px container (white background) -->
            <table id="html-mail-table1" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content" align="left" style="border-collapse:collapse;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff;">
                        <br>
                        <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550;">{{'本会員登録が完了いたしました。'|trans}}</div>
                        <br>
                        <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;">
                            {{ Customer.name01 }} {{ Customer.name02 }} {% if app.request.locale == "ja" %}様{% endif %}<br>
                            <br>
                            {{'%shop_name%でございます。'|trans({'%shop_name%': BaseInfo.shop_name })}}<br/>
                            {{'この度は会員登録依頼をいただきまして誠にありがとうございます。'|trans}}<br/>
                            {# 10%　クーポン #}
                            {% if Customer.mailmagaFlg == "1" %}
                            <br/>
                            {{'メルマガに登録頂きありがとうございます。'|trans}}<br/>
                            {{'%discount%％割引のクーポンコードは「<b>%coupon_code%</b>」です。'|trans({'%discount%': '10', '%coupon_code%': 'MARITIME10'})|raw}}<br/>
                            {{'商品をご購入いただく際にクーポンコードをご入力いただくだけで%discount%％割引！'|trans({'%discount%': '10'})}}<br/>
                            <br/>
                            {% endif %}
                            {{'ショッピングをお楽しみくださいませ。'|trans}}<br/>
                            <br/>
                            {{'今後ともどうぞ%shop_name%をよろしくお願い申し上げます。'|trans({'%shop_name%': BaseInfo.shop_name })}}<br/>
                            <br/>
                            <br/>
                        </div>
                    </td>
                </tr>
            </table>
            <!--/600px container -->
            <br>
            <br>
            <table id="html-mail-table2" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content footer-text" align="left" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff;">
                        本メールは、{{ BaseInfo.shop_name }}より会員登録を希望された方にお送りしています。
                        {{'本メールは、%shop_name%より会員登録を希望された方にお送りしています。'|trans({'%shop_name%':BaseInfo.shop_name})}}<br/>
                        {{'もしお心当たりが無い場合は、その旨 <a href="mailto:%email%" style="text-decoration:none;">%email%</a> までご連絡いただければ幸いです。'|trans({'%email%':BaseInfo.email02})|raw}}<br/>
                        <br/>
                        <div class="title" style="font-size:14px;font-family:Helvetica, Arial, sans-serif;font-weight:600;color:#374550;"><a href="{{ url('homepage') }}" style="color:#aaaaaa;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
                        <div>copyright &copy; {{ BaseInfo.shop_name }} all rights reserved.</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% background wrapper-->
<br>
<br>
</body>

</html>