{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
{{ '※本メールは自動配信メールです。'|trans }}

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
　{{'front.email_register_reason1_text'|trans({'%shop_name%': BaseInfo.shop_name })|nl2br}}
　{{'front.email_register_reason2_text'|trans({'%email%': BaseInfo.email02 })|nl2br}}
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

{{ Customer.name01 }} {{ Customer.name02 }} {% if app.request.locale == "ja" %}様{% endif %}

{{'%shop_name%でございます。'|trans({'%shop_name%': BaseInfo.shop_name })}}

{{'この度は会員登録依頼をいただきまして誠にありがとうございます。'|trans}}

{{ '現在は仮登録の状態です。'|trans }}
　　　~~~~~~
{{ '本会員登録を完了するには下記URLにアクセスしてください。'|trans }}

{{ activateUrl }}

{{ '上記URLにて本会員登録が完了いたしましたら改めてご登録内容ご確認メールをお送り致します。'|trans }}
{% endautoescape %}
