{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
{{ '※本メールは自動配信メールです。'|trans }}

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
　{{'front.email_register_reason1_text'|trans({'%shop_name%': BaseInfo.shop_name })|nl2br}}
　{{'front.email_contact_reason2_txt'|trans({'%email%': BaseInfo.email02 })|nl2br}}
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

{{ Customer.name01 }} {{ Customer.name02 }} {% if app.request.locale == "ja" %}様{% endif %}

{{'%shop_name%でございます。'|trans({'%shop_name%': BaseInfo.shop_name })}}

{{'この度は会員登録依頼をいただきまして誠にありがとうございます。'|trans}}

{{'本会員登録が完了いたしました。'|trans}}

{# 10%　クーポン #}
{% if Customer.mailmagaFlg == "1" %}
{{'メルマガに登録頂きありがとうございます。'|trans}}

{{'%discount%％割引のクーポンコードは「%coupon_code%」です。'|trans({'%discount%': '10', '%coupon_code%': 'MARITIME10'})}}

{{'商品をご購入いただく際にクーポンコードをご入力いただくだけで%discount%％割引！'|trans({'%discount%': '10'})}}
{% endif %}

{{'ショッピングをお楽しみくださいませ。'|trans}}

{{'今後ともどうぞ%shop_name%をよろしくお願い申し上げます。'|trans({'%shop_name%': BaseInfo.shop_name })}}

{% endautoescape %}