{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
{{ '※本メールは自動配信メールです。'|trans }}

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
　{{'front.email_password_reason1_text'|trans({'%shop_name%': BaseInfo.shop_name })|nl2br}}
　{{'front.email_contact_reason2_txt'|trans({'%email%': BaseInfo.email02 })|nl2br}}
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

{{'パスワードを変更するには下記URLにアクセスし、パスワードの再設定を行ってください。'|trans}}

{{ reset_url }}

{{'※URLの有効期限は%expire%分以内です。有効期限を過ぎますとURLは無効となりますので、その場合、もう一度最初から手続きを行ってください。'|trans({'%expire%': expire})}}

{% endautoescape %}
