{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}

{{ 'この度はご注文いただき誠にありがとうございます。'|trans }}{{ '下記ご注文内容にお間違いがないかご確認下さい。'|trans }}

************************************************
　{{'ご請求金額'|trans}}
************************************************

{{'ご注文日時'|trans}}：{{ Order.create_date|date_sec }}
{{'ご注文番号'|trans}}：{{ Order.order_no }}
{{'お支払い合計'|trans}}：{{ Order.payment_total|price}}
{{'お支払い方法'|trans}}：{{ Order.payment_method|trans }}
{% if BaseInfo.isOptionPoint and Order.Customer is not null %}
{{'ご利用ポイント'|trans}}：{{ Order.usePoint }} pt
{% endif %}
{{'お問い合わせ内容'|trans}}：{{ Order.message }}

{# 銀行振込の場合　#}
{% if Order.payment_method == "銀行振込" %}
************************************************
　{{ '銀行口座情報'|trans }}
************************************************

{{'銀行名'|trans}}：楽天銀行
{{'支店名'|trans}}：第四営業支店
{{'口座番号'|trans}}：7061570
{{'預金種別'|trans}}：普通
{{'口座名義'|trans}}：株式会社メディファイン

{% endif %}
************************************************
　{{'ご注文商品明細'|trans}}
************************************************

{% for OrderItem in Order.MergedProductOrderItems %}
{{ '商品コード'|trans }}：{{ OrderItem.product_code }}
{{ '商品名'|trans }}：{{ OrderItem.product_name|trans }}  {{ OrderItem.classcategory_name1|trans }}  {{ OrderItem.classcategory_name2|trans }}
{{ '単価'|trans }}：{{ OrderItem.total_price|price }}
{{ '数量'|trans }}：{{ OrderItem.quantity|number_format }}

{% endfor %}

-------------------------------------------------
{{ '小　計'|trans }}：{{ Order.subtotal|price }}

{{ '手数料'|trans }}：{{ Order.charge|price }}
{{ '送　料'|trans }}：{{ Order.delivery_fee_total|price}}
{% if Order.discount > 0 %}
{{ '値引き'|trans }}：{{ (0 - Order.discount)|price}}
{% endif %}
============================================
{{ '合　計'|trans }}：{{ Order.payment_total|price }}

************************************************
　{{ 'ご注文者情報'|trans }}
************************************************
{{ 'お名前'|trans }}：{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}
{{ 'お名前(カナ)'|trans }}：{{ Order.kana01 }} {{ Order.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}
{% if Order.company_name %}
{{ '会社名'|trans }}：{{ Order.company_name }}
{% endif %}
{{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Order.postal_code }}
{{ '住所'|trans }}：{{ Order.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Order.addr01 }}{{ Order.addr02 }}
{{ '電話番号'|trans }}：{{ Order.phone_number }}
{{ 'メールアドレス'|trans }}：{{ Order.email }}

************************************************
　{{ '配送情報'|trans }}
************************************************

{%  for Shipping in Order.Shippings %}
◎{{ 'お届け先'|trans }}{% if Order.multiple %}{{ loop.index }}{% endif %}

{{ 'お名前'|trans }}：{{ Shipping.name01 }} {{ Shipping.name02 }} {% if app.request.locale == "ja" %}様{% endif %}
{{ 'お名前(カナ)'|trans }}：{{ Shipping.kana01 }} {{ Shipping.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}
{% if Shipping.company_name %}
{{ '会社名'|trans }}：{{ Shipping.company_name }}
{% endif %}
{{ '郵便番号'|trans }}：{{'〒'|trans}}{{ Shipping.postal_code }}
{{ '住所'|trans }}：{{ Shipping.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Shipping.addr01 }}{{ Shipping.addr02 }}
{{ '電話番号'|trans }}：{{ Shipping.phone_number }}

{{ '配送方法'|trans }}：{{ Shipping.shipping_delivery_name|trans }}
{{ 'お届け日'|trans }}：{{ Shipping.shipping_delivery_date is empty ? '指定なし'|trans : Shipping.shipping_delivery_date|date_day }}
{{ 'お届け時間'|trans }}：{{ Shipping.shipping_delivery_time|trans|default('指定なし'|trans) }}

{%  for OrderItem in Shipping.productOrderItems %}
{{ '商品コード'|trans }}：{{ OrderItem.product_code }}
{{ '商品名'|trans }}：{{ OrderItem.product_name|trans }}  {{ OrderItem.classcategory_name1|trans }}  {{ OrderItem.classcategory_name2|trans }}
{{ '数量'|trans }}：{{ OrderItem.quantity|number_format }}

{% endfor %}
{% endfor %}

{% if Order.complete_mail_message is not empty %}
{{ Order.complete_mail_message }}
{% endif %}

============================================

{{ 'front.mail_no_reply_text'|trans|nl2br }}
{% endautoescape %}
