{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}

{{'マリタイムCBDショップをご利用いただき誠にありがとうございます。'|trans}}

{{'先日お買い求めいただきました、'|trans}}

{% if CartItems is defined %}
{% for CartItem in CartItems %}
{% set ProductClass = CartItem.ProductClass %}
{% set Product = ProductClass.Product %}
{{'商品名'|trans}}：{{ Product.name|trans }}
{% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
    {{ ProductClass.ClassCategory1.ClassName.name|trans }}：{{ ProductClass.ClassCategory1|trans }}
{% endif %}
{% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
    {{ ProductClass.ClassCategory2.ClassName.name|trans }}：{{ ProductClass.ClassCategory2|trans }}
{% endif %}

{{'単価'|trans}}：{{ CartItem.price_inctax|price }}
{{'数量'|trans}}：{{ CartItem.quantity|number_format }}

{% endfor %}
{% else %}
{% for OrderItem in Shipping.productOrderItems %}
{{'商品名'|trans}}：{{ OrderItem.product_name|trans }}  {{ OrderItem.classcategory_name1|trans }}  {{ OrderItem.classcategory_name2|trans }}
{{'単価'|trans}}：{{ OrderItem.price_inctax|price }}
{{'数量'|trans}}：{{ OrderItem.quantity|number_format }}

{% endfor %}

{% endif %}


{{'無事に届いておりますでしょうか？'|trans}}

{{'当店では、リピートいただいお客様もレビュー投稿いただくと、その都度、次回ご利用いただけるクーポンをプレゼントしております。'|trans}

☆★☆{{'レビューを書いてクーポンをプレゼント'|trans}}☆★☆

{{'レビュー確認後、15%割引クーポンをいただきます。'}}

{{'ささやかではございますが、ご利用いただけますと幸いです。'}}

＜{{'レビューの書き方'|trans}}＞
{{ url('product_list') }} → 購入した商品をクリック →【この商品のレビュー】→【レビューを投稿】

{{'最後になりますが、この度は当店をご利用いただきまして'|trans}}

{{'誠にありがとうございました。'|trans}}

{{'またのご来店をスタッフ一同心よりお待ちしております。'|trans}}

＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊

{{BaseInfo.email02}}

{{ '〒'|trans }} {{ BaseInfo.postal_code }}
{{ BaseInfo.pref }}{{ BaseInfo.addr01 }}{{ BaseInfo.addr02 }}
TEL：{{ BaseInfo.phone_number }}

E:mail　{{BaseInfo.email02}}
URL ：{{ url('homepage') }}

============================================

{{'当店のCBD商品はメイド・イン・ジャパンの品質、エクストラバージンオリーブオイルを使った天然由来CBDオイルです。「安心して毎日飲み続けられるCBDオイルをつくりたい。」そんな想いから生まれました。'|trans}}

{{'ショッピングカートの内容は2日間保存しています。今ならCBDオイルをご購入のお客さまにもれなく、マリタイムCBDウォーターをプレゼントのキャンペーン中です。この機会にぜひお買い求めください。'|trans}}

{{'何かお困りのことはありませんか？お問い合わせは <a href="mailto:%email%" style="text-decoration:none;">%email%</a> まで。CBDオイルのよくある質問はこちらからご覧ください。'|trans({'%email%':BaseInfo.email02})|raw}}（https://maritime-cbd.com/user_data/faq)

{% endautoescape %}
