{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
{{ Shipping.name01 }} {{ Shipping.name02 }} {% if app.request.locale == "ja" %}様{% endif %}

{{'お客さまがご注文された以下の商品を発送いたしました。商品の到着まで、今しばらくお待ちください。'|trans}}

{% if Shipping.tracking_number %}
{{ 'お問い合わせ番号'|trans }}：{{ Shipping.tracking_number }}
{% if Shipping.Delivery.confirm_url %}
{{ 'お問い合わせURL'|trans }}：{{ Shipping.Delivery.confirm_url }}
{% endif %}
{% endif %}

************************************************
　{{'ご注文商品明細'|trans}}
************************************************

{% for OrderItem in Shipping.productOrderItems %}
{{ '商品コード'|trans }}：{{ OrderItem.product_code }}
{{'商品名'|trans}}：{{ OrderItem.product_name|trans }}  {{ OrderItem.classcategory_name1|trans }}  {{ OrderItem.classcategory_name2|trans }}
{{ '数量'|trans }}：{{ OrderItem.quantity|number_format }}

{% endfor %}

============================================

************************************************
　{{ 'ご注文者情報'|trans }}
************************************************
{{ 'お名前'|trans }}：{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}
{{ 'お名前(カナ)'|trans }}：{{ Order.kana01 }} {{ Order.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}
{% if Order.company_name %}
{{ '会社名'|trans }}：{{ Order.company_name }}
{% endif %}
{{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Order.postal_code }}
{{ '住所'|trans }}：{{ Order.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Order.addr01 }}{{ Order.addr02 }}
{{ '電話番号'|trans }}：{{ Order.phone_number }}

************************************************
　{{ '配送情報'|trans }}
************************************************

{{ 'お名前'|trans }}：{{ Shipping.name01 }} {{ Shipping.name02 }} {% if app.request.locale == "ja" %}様{% endif %}
{{ 'お名前(カナ)'|trans }}：{{ Shipping.kana01 }} {{ Shipping.kana02 }} {% if app.request.locale == "ja" %}様{% endif %}
{% if Shipping.company_name %}
{{ '会社名'|trans }}：{{ Shipping.company_name }}
{% endif %}
{{ '郵便番号'|trans }}：{{ '〒'|trans }}{{ Shipping.postal_code }}
{{ '住所'|trans }}：{{ Shipping.Pref.name|trans }}{% if app.request.locale != "ja" %}, {% endif %}{{ Shipping.addr01 }}{{ Shipping.addr02 }}
{{ '電話番号'|trans }}：{{ Shipping.phone_number }}

{{ 'お届け日'|trans }}：{{ Shipping.shipping_delivery_date is empty ? '指定なし'|trans : Shipping.shipping_delivery_date|date_day }}
{{ 'お届け時間'|trans }}：{{ Shipping.shipping_delivery_time|trans|default('指定なし'|trans) }}
{% endautoescape %}
