{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
{{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}

{{'マリタイムCBDショップをご利用いただき誠にありがとうございます。お買い忘れはありませんか？ショッピングカートに入ったままの商品があるようです。'|trans}}

{{'下記URLからご確認をお願いいたします。'|trans}}
=> {{ url('cart') }}

************************************************
　{{'商品明細'|trans}}
************************************************

{% if CartItems is defined %}
{% for CartItem in CartItems %}
{% set ProductClass = CartItem.ProductClass %}
{% set Product = ProductClass.Product %}
{{'商品名'|trans}}：{{ Product.name|trans }}
{% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
    {{ ProductClass.ClassCategory1.ClassName.name|trans }}：{{ ProductClass.ClassCategory1|trans }}
{% endif %}
{% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
    {{ ProductClass.ClassCategory2.ClassName.name|trans }}：{{ ProductClass.ClassCategory2|trans }}
{% endif %}

{{'単価'|trans}}：{{ CartItem.price_inctax|price }}
{{'数量'|trans}}：{{ CartItem.quantity|number_format }}

{% endfor %}
{% else %}
{% for OrderItem in Shipping.productOrderItems %}
{{'商品名'|trans}}：{{ OrderItem.product_name|trans }}  {{ OrderItem.classcategory_name1|trans }}  {{ OrderItem.classcategory_name2|trans }}
{{'単価'|trans}}：{{ OrderItem.price_inctax|price }}
{{'数量'|trans}}：{{ OrderItem.quantity|number_format }}

{% endfor %}

{% endif %}
============================================

{{'当店のCBD商品はメイド・イン・ジャパンの品質、エクストラバージンオリーブオイルを使った天然由来CBDオイルです。「安心して毎日飲み続けられるCBDオイルをつくりたい。」そんな想いから生まれました。'|trans}}

{{'ショッピングカートの内容は2日間保存しています。今ならCBDオイルをご購入のお客さまにもれなく、マリタイムCBDウォーターをプレゼントのキャンペーン中です。この機会にぜひお買い求めください。'|trans}}

{{'何かお困りのことはありませんか？お問い合わせは <a href="mailto:%email%" style="text-decoration:none;">%email%</a> まで。CBDオイルのよくある質問はこちらからご覧ください。'|trans({'%email%':BaseInfo.email02})|raw}}（https://maritime-cbd.com/user_data/faq)

{% endautoescape %}
