{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
<br>
<br>
<div align="center"><a href="{{ url('homepage') }}" style="font-family:Helvetica, Arial, sans-serif;font-size:30px;color:#333333;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
<!-- 100% background wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
    <tr>
        <td align="center" valign="top" bgcolor="#F0F0F0" style="background-color:#F0F0F0;border-collapse:collapse;">
            <br>
            <!-- 600px container (white background) -->
            <table id="html-mail-table1" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content" align="left" style="border-collapse:collapse;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff;">
                        <br>
                        <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;">
                            {{ Order.name01 }} {{ Order.name02 }} {% if app.request.locale == "ja" %}様{% endif %}<br/>
                            <br/>
                            {{'マリタイムCBDショップをご利用いただき誠にありがとうございます。お買い忘れはありませんか？ショッピングカートに入ったままの商品があるようです。'|trans}}<br/>
                            <br/>
                            {{'下記URLからご確認をお願いいたします。'|trans}}<br/>
                            => <a href="{{ url('cart') }}" target="_blank">{{ url('cart') }}</a><br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            　{{'商品明細'|trans}}<br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            {% if CartItems is defined %}
                                {% for CartItem in CartItems %}
                                {% set ProductClass = CartItem.ProductClass %}
                                {% set Product = ProductClass.Product %}
                            {{'商品名'|trans}}：{{ Product.name|trans }}
                                {% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
                                    {{ ProductClass.ClassCategory1.ClassName.name|trans }}：{{ ProductClass.ClassCategory1|trans }}
                                {% endif %}
                                {% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
                                    {{ ProductClass.ClassCategory2.ClassName.name|trans }}：{{ ProductClass.ClassCategory2|trans }}
                                {% endif %}<br/>
                            {{'単価'|trans}}：{{ CartItem.price_inctax|price }}<br/>
                            {{'数量'|trans}}：{{ CartItem.quantity|number_format }}<br/>
                                <br/>
                                {% endfor %}

                            {% else %}
                                {% for OrderItem in Shipping.productOrderItems %}
                            {{'商品名'|trans}}：{{ OrderItem.product_name|trans }}  {{ OrderItem.classcategory_name1|trans }}  {{ OrderItem.classcategory_name2|trans }}<br/>
                            {{'単価'|trans}}：{{ OrderItem.price_inctax|price }}<br/>
                            {{'数量'|trans}}：{{ OrderItem.quantity|number_format }}<br/>
                                    <br/>
                                {% endfor %}
                            {% endif %}
                            <hr style="border-top: 2px double #8c8b8b;">
                            {{'当店のCBD商品はメイド・イン・ジャパンの品質、エクストラバージンオリーブオイルを使った天然由来CBDオイルです。「安心して毎日飲み続けられるCBDオイルをつくりたい。」そんな想いから生まれました。'|trans}}<br/>
                            <br/>
                            {{'ショッピングカートの内容は2日間保存しています。今ならCBDオイルをご購入のお客さまにもれなく、マリタイムCBDウォーターをプレゼントのキャンペーン中です。この機会にぜひお買い求めください。'|trans}}<br/>
                            <br/>
                            {{'何かお困りのことはありませんか？お問い合わせは <a href="mailto:%email%" style="text-decoration:none;">%email%</a> まで。CBDオイルのよくある質問はこちらからご覧ください。'|trans({'%email%':BaseInfo.email02})|raw}}（<a href="https://maritime-cbd.com/user_data/faq" style="color:#aaaaaa;>{{'CBDオイルのよくある質問'|trans}}</a>）<br/>
                            <hr style="border-top: 2px dotted #8c8b8b;">
                            {{ 'front.mail_no_reply_text'|trans|nl2br }}<br/>
                        </div>
                    </td>
                </tr>
            </table>
            <!--/600px container -->
            <br>
            <br>
            <table id="html-mail-table2" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content footer-text" align="left" style="border-collapse:collapse;font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff;">
                        {{'本メールは、%shop_name%より送信しております。'|trans({'%shop_name%':BaseInfo.shop_name})}}<br/>
                        {{'もしお心当たりが無い場合は、その旨 <a href="mailto:%email%" style="text-decoration:none;">%email%</a> までご連絡いただければ幸いです。'|trans({'%email%':BaseInfo.email02})|raw}}<br/>
                        <br/>
                        <div class="title" style="font-size:14px;font-family:Helvetica, Arial, sans-serif;font-weight:600;color:#374550;"><a href="{{ url('homepage') }}" style="color:#aaaaaa;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
                        <div>copyright &copy; {{ BaseInfo.shop_name }} all rights reserved.</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% background wrapper-->
<br>
<br>
</body>

</html>
