{#
  ショッピングカートのPayPal(ショートカット)ボタン
  ・ログイン時
  ・継続決済商品ありの場合
#}
<div class="d-none">
  <div id="paypal-container">
    <div id="paypal-button-container"></div>
  </div>
</div>
<script src="{{ PayPalCheckout.widget_url }}"></script>
<script>
  $(function() {
    $('#form_cart a.p-cart__button.is-secondary')
      .first()
      .after($("#paypal-container"));

    window.paypal.Buttons({
      style: {
        layout: 'horizontal',
        fundingicons: 'false',
        tagline: false,
        height: 55
      },
      createBillingAgreement: function() {
        return new Promise(resolve => {
          $.ajax({
            type: 'POST',
            url: "{{ PayPalCheckout.paypal_shortcut_ordering_subscription_product_url }}"
          }).then(function (data) {
            const { result } = data;
            resolve(result.id);
          }).catch(function (err) {
            throw new Error(err);
          });
        });
      },
      onApprove: function(data) {
        loadingOverlay();
        window.location.href = "{{ PayPalCheckout.next_page_url }}"
      },
      onCancel: function(data) {
        console.log(`onCancel ${data}`);
      },
      onError: function(data) {
        console.log(`onError ${data}`);
      }
    }).render('#paypal-button-container');
  });
</script>
